<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۱۱۴: مردم (الناس)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 114: People (Al-Naas)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="مردم (الناس), آیه ۱">۱۱۴:۱</span>)&nbsp; بگو، "پناه می‌برم به پروردگار مردم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="People (Al-Naas), verse 1">114:1</span>]&nbsp; Say, "I seek refuge in the Lord of the people.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="مردم (الناس), آیه ۲">۱۱۴:۲</span>)&nbsp; "پادشاه مردم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="People (Al-Naas), verse 2">114:2</span>]&nbsp; "The King of the people.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="مردم (الناس), آیه ۳">۱۱۴:۳</span>)&nbsp; "خدای مردم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="People (Al-Naas), verse 3">114:3</span>]&nbsp; "The god of the people.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="مردم (الناس), آیه ۴">۱۱۴:۴</span>)&nbsp; "از شر آنان که پنهانی وسوسه می‌کنند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="People (Al-Naas), verse 4">114:4</span>]&nbsp; "From the evils of sneaky whisperers.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="مردم (الناس), آیه ۵">۱۱۴:۵</span>)&nbsp; "که در سینه مردم وسوسه می‌کنند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="People (Al-Naas), verse 5">114:5</span>]&nbsp; "Who whisper into the chests of the people.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="مردم (الناس), آیه ۶">۱۱۴:۶</span>)&nbsp; "چه از جنها باشند، و چه از مردم."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="People (Al-Naas), verse 6">114:6</span>]&nbsp; "Be they of the jinns, or the people."</p>


                    </div>



                    <div>&nbsp;</div>





                    <div dir="rtl" class="lang-fa rtl">
                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* بنابراين، مجموع تکرار کلمه مهم "خدا" (الله) در تمام قرآن ۲۶۹۸ مرتبه است يا ۱۴۲×۱۹. خواننده ميتواند جهت امتحان صحت اين مجموع، تعداد کلمه "خدا" را که در پايين صفحات اين کتاب نوشته شده است، بررسى کند. بعلاوه، اگر شماره آياتى
                                    را که در آنها کلمه "خدا" تکرار شده است، با هم جمع کنيم، مجموع ۱۱۸۱۲۳ ميشود که اين عدد نيز بر ۱۹ قابل قسمت است. (۶۲۱۷×۱۹=۱۱۸۱۲۳). توضيحات کامل انشاى رياضى هيبت انگيز قرآن در ضميمه هاى ۱، ۲، ۲۴، ۲۵، ۲۶، و ۲۹ آمده است.</p>
                            </div>
                        </div>
                    </div>



                    <div dir="ltr" class="lang-en ltr">
                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*Thus, the total occurrence of the crucial word "God" (Allah) throughout the Quran is 2698, 19x142. The reader can ascertain the accuracy of this total by randomly checking the numbers of the word "God" at the bottom of
                                    any pages in this book. Additionally, if one adds the verse numbers wherever the word "God" occurs, the total comes to 118123, also a multiple of 19 (118123 = 19x6217). Details of the Quran's unique mathematical composition
                                    are given in Appendices 1, 2, 24, 25, 26, and 29.</p>
                            </div>
                        </div>
                    </div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۶۹۸</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۸۱۲۳</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>

</html>
