<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۶۵: طلاق (الطلاق)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 65: Divorce (Al-Talaaq)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="طلاق (الطلاق), آیه ۱">۶۵:۱</span>)&nbsp; ای پیغمبر، هنگامی که شما مردم زنان را طلاق می‌دهید، شما باید اطمینان پیدا کنید تا عده طلاق تمام شده باشد. باید مدت آن عده را دقیقاً حساب کنید. شما باید به هیبت <strong>خدا</strong>،
                            پروردگارتان حرمت نهید. آنها را از خانه‏‌هایشان بیرون نکنید، و نباید زندگی را برایشان سخت کنید، تا آنها را مجبور کنید به اختیار خود بروند، مگر اینکه ثابت شود که مرتکب زنا شده‏‌اند. اینها قوانین <strong>خدا</strong> است. هر کس
                            از قوانین <strong>خدا</strong> سرپیچی کند، بر علیه خود بی‏عدالتی کرده است. تو هرگز نمی‌دانی؛ ممکنست <strong>خدا</strong> بخواهد چیز خوبی از این امر پدید آید.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۶۵:۱ زمان عده زن طلاق گرفته، قبل از اینکه واجد شرایط ازدواج مجدد گردد، به مدت زمان سه قاعدگی است. این اطمینان می‌دهد که زن طلاق گرفته حامله نبوده است (۲:۲۲۸).</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="Divorce (Al-Talaaq), verse 1">65:1</span>]&nbsp; O you prophet, when you people divorce the women, you shall ensure that a divorce interim is fulfilled. You shall measure such an interim precisely.* You shall reverence
                            <strong>GOD</strong> your Lord. Do not evict them from their homes, nor shall you make life miserable for them, to force them to leave on their own, unless they commit a proven adultery. These are <strong>GOD</strong>'s laws.
                            Anyone who transgresses <strong>GOD</strong>'s laws commits an injustice against himself. You never know; maybe <strong>GOD</strong> wills something good to come out of this.</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*65:1 The divorcee's interim, before becoming eligible for remarriage, is a waiting period of three menstruations. This ensures that the divorcee was not pregnant (2:228).

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="طلاق (الطلاق), آیه ۲">۶۵:۲</span>)&nbsp; زمانی که عده تمام شود، می‌توانید منصفانه با آنها آشتی کنید، یا منصفانه جدا شوید. شما باید دو شاهد عادل برای شهادت طلاق نزد <strong>خدا</strong> داشته باشید. این برای روشن شدن
                            کسانی است که به <strong>خدا</strong> و روز آخر ایمان دارند. هر کس به هیبت <strong>خدا</strong> حرمت نهد، او راه خروجی برایش به وجود خواهد آورد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="Divorce (Al-Talaaq), verse 2">65:2</span>]&nbsp; Once the interim is fulfilled, you may reconcile with them equitably, or go through with the separation equitably. You shall have two equitable witnesses witness the
                            divorce before <strong>GOD</strong>. This is to enlighten those who believe in <strong>GOD</strong> and the Last Day. Anyone who reverences <strong>GOD</strong>, He will create an exit for him.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="طلاق (الطلاق), آیه ۳">۶۵:۳</span>)&nbsp; و از جایی که هیچ انتظارش را ندارد برای او روزی تهیه خواهد کرد. هر کس به <strong>خدا</strong> توکل کند، او برایش کافی است. اوامر <strong>خدا</strong> انجام شده است. <strong>خدا</strong>                            سرنوشت همه چیز را تعیین کرده است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="Divorce (Al-Talaaq), verse 3">65:3</span>]&nbsp; And will provide for him whence he never expected. Anyone who trusts in <strong>GOD</strong>, He suffices him. <strong>GOD</strong>'s commands are done. <strong>GOD</strong>                            has decreed for everything its fate.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="طلاق (الطلاق), آیه ۴">۶۵:۴</span>)&nbsp; و اما زنانی که به یائسگی رسیده‏‌اند، اگر هر گونه شکی دارید، عده آنها باید سه ماه باشد. و اما کسانی که عادت ماهانه نمی‌شوند، و متوجه می‌شوند که حامله هستند، عده آنها تا هنگام
                            زاییدن است. هر کس به هیبت <strong>خدا</strong> حرمت نهد، او برایش همه چیز را آسان می‌کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="Divorce (Al-Talaaq), verse 4">65:4</span>]&nbsp; As for the women who have reached menopause, if you have any doubts, their interim shall be three months. As for those who do not menstruate, and discover that they
                            are pregnant, their interim ends upon giving birth. Anyone who reverences <strong>GOD</strong>, He makes everything easy for him.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="طلاق (الطلاق), آیه ۵">۶۵:۵</span>)&nbsp; این فرمان <strong>خدا</strong> است که او بر شما پایین می‌فرستد. هر کس به هیبت <strong>خدا</strong> حرمت نهد، او گناهانش را پاک می‌کند، و به او پاداش سخاوتمندانه می‌دهد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="Divorce (Al-Talaaq), verse 5">65:5</span>]&nbsp; This is <strong>GOD</strong>'s command that He sends down to you. Anyone who reverences <strong>GOD</strong>, He remits his sins, and rewards him generously.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="طلاق (الطلاق), آیه ۶">۶۵:۶</span>)&nbsp; شما باید بگذارید تا آنها در همان خانه‏‌ای که با شما زندگی می‌کردند، زندگی کنند، و زندگی را برایشان آنقدر سخت نکنید که به اختیار خود بروند. اگر حامله هستند، شما باید خرج‏شان
                            را بدهید تا وضع حمل کنند. اگر به نوزاد شیر می‌دهند، باید به خاطر این خدمت به ایشان پرداخت کنید. شما باید روابط دوستانه را در میان خود حفظ کنید. اگر به توافق نرسیدید، می‌توانید زن دیگری برای شیر دادن بچه استخدام کنید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="Divorce (Al-Talaaq), verse 6">65:6</span>]&nbsp; You shall allow them to live in the same home in which they lived with you, and do not make life so miserable for them that they leave on their own. If they are pregnant,
                            you shall spend on them until they give birth. If they nurse the infant, you shall pay them for this service. You shall maintain the amicable relations among you. If you disagree, you may hire another woman to nurse the child.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="طلاق (الطلاق), آیه ۷">۶۵:۷</span>)&nbsp; شوهر ثروتمند باید نسبت به دارایی خود خرجی دهد، و تهی‏دست باید نسبت به آنچه <strong>خدا</strong> به او عطا کرده است، خرجی دهد. <strong>خدا</strong> هیچ نفسی را بیش از آنچه به
                            او داده است، تکلیف نمی‌کند. <strong>خدا</strong> پس از مشکلات، راحتی فراهم می‌آورد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="Divorce (Al-Talaaq), verse 7">65:7</span>]&nbsp; The rich husband shall provide support in accordance with his means, and the poor shall provide according to the means that <strong>GOD</strong> bestowed upon him.
                            <strong>GOD</strong> does not impose on any soul more than He has given it. <strong>GOD</strong> will provide ease after difficulty.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="طلاق (الطلاق), آیه ۸">۶۵:۸</span>)&nbsp; چه بسیار جمعیت‏هایی که بر علیه فرمان پروردگار و بر علیه رسولانش سرکشی کردند. در نتیجه، ما به شدت به حساب آنها رسیدگی کردیم، و آنها را به جزایی سهمناک مجازات کردیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="Divorce (Al-Talaaq), verse 8">65:8</span>]&nbsp; Many a community rebelled against the commands of its Lord and against His messengers. Consequently, we held them strictly accountable, and requited them a terrible
                            requital.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <p>(<span title="طلاق (الطلاق), آیه ۹">۶۵:۹</span>)&nbsp; آنها از نتیجه تصمیمات خود رنج بردند؛ زیانی آشکار.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <p>[<span title="Divorce (Al-Talaaq), verse 9">65:9</span>]&nbsp; They suffered the consequences of their decisions; a profound loss.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <p>(<span title="طلاق (الطلاق), آیه ۱۰">۶۵:۱۰</span>)&nbsp;
                            <strong>خدا</strong> عذاب شدیدی برای آنها تهیه دیده است. بنابراین، شما باید به هیبت <strong>خدا</strong> حرمت نهید، ای کسانی که صاحب خرد هستید، و ایمان آوردید. <strong>خدا</strong> برای شما پیغامی پایین فرستاده است -</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۶۵:۱۰-۱۱ کاملاً واضح است که «رسول» در اینجا، قرآن است. آیه‌ شماره ۱۰ در باره «فرستادن پیغام» صحبت می‌کند و این نشان می‌دهد که رسول در آیه ۶۵:۱۱ قرآن است (ضمیمه ۲۰).</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <p>[<span title="Divorce (Al-Talaaq), verse 10">65:10</span>]&nbsp;
                            <strong>GOD</strong> has prepared for them severe retribution. Therefore, you shall reverence <strong>GOD</strong>, O you who possess intelligence and believed. <strong>GOD</strong> has sent down to you a message&mdash;*</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*65:10-11 The "Messenger" here is clearly the Quran. Verse 10 talks about "sending down a message," and this points to the Quran as the messenger in 65:11 (App. 20).

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <p>(<span title="طلاق (الطلاق), آیه ۱۱">۶۵:۱۱</span>)&nbsp; رسولی که آیات <strong>خدا</strong> را به وضوح برای شما می‌خواند، تا کسانی را که ایمان دارند و پرهیزکار هستند، از تاریکی به روشنایی هدایت کند. هر کس به <strong>خدا</strong>                            ایمان داشته باشد و زندگی پرهیزکارانه‏‌ای را در پیش گیرد، او، او را به باغهایی با نهرهای جاری داخل خواهد کرد؛ آنها در آن جاودان می‌مانند. <strong>خدا</strong> سخاوتمندانه به او پاداش خواهد داد.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۶۵:۱۰-۱۱ کاملاً واضح است که «رسول» در اینجا، قرآن است. آیه‌ شماره ۱۰ در باره «فرستادن پیغام» صحبت می‌کند و این نشان می‌دهد که رسول در آیه ۶۵:۱۱ قرآن است (ضمیمه ۲۰).</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <p>[<span title="Divorce (Al-Talaaq), verse 11">65:11</span>]&nbsp; a messenger* who recites to you <strong>GOD</strong>'s revelations, clearly, to lead those who believe and work righteousness out of the darkness into the light.
                            Anyone who believes in <strong>GOD</strong> and leads a righteous life, He will admit him into gardens with flowing streams; they abide therein forever. <strong>GOD</strong> will generously reward him.</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*65:10-11 The "Messenger" here is clearly the Quran. Verse 10 talks about "sending down a message," and this points to the Quran as the messenger in 65:11 (App. 20).


                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="12" name="12"></a>

                        <div class="footnote-subtitle">هفت جهان و هفت زمین*</div>

                        <p>(<span title="طلاق (الطلاق), آیه ۱۲">۶۵:۱۲</span>)&nbsp;
                            <strong>خدا</strong> هفت جهان را خلق کرد و به همان تعداد، زمین. اوامر در میان آنها برقرار است. این برای آن است که بدانید <strong>خدا</strong> قادر مطلق است، و <strong>خدا</strong> کاملاً بر همه چیز آگاه است.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۶۵:۱۲ اگر چه خدا شش کره دیگر آفریده است که همگی مانند کره زمین ما هستند، اما فقط در کره ما حیات وجود دارد. بنابراین، به علمای تکامل در روز قضاوت نشان داده خواهد شد که زندگی همینطوری روی کره زمین بخاطر شرایط خاص آن «تکامل»
                                    نیافته است.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="12" name="12"></a>

                        <div class="footnote-subtitle">Seven Universes And Seven Earths*</div>

                        <p>[<span title="Divorce (Al-Talaaq), verse 12">65:12</span>]&nbsp;
                            <strong>GOD</strong> created seven universes and the same number of earths. The commands flow among them. This is to let you know that <strong>GOD</strong> is Omnipotent, and that <strong>GOD</strong> is fully aware of all
                            things.</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*65:12 Although God created six other planets that are identical to our Earth, there is life only on our planet. Thus, the evolutionists will be shown on the Day of Judgment that life did not just "evolve" on the planet
                                    because of its particular circumstances.

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۶۲۷</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۷۳۸۴</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>

</html>

<!-- // DEFINITIONS

base.html contains all the functionality specific code. There is layout code in this document. All other templates inherit from this document.

-->