<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۹۱: خورشید (الشمس)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 91: The Sun (Al-Shams)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="خورشید (الشمس), آیه ۱">۹۱:۱</span>)&nbsp; به خورشید و درخشندگی آن.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="The Sun (Al-Shams), verse 1">91:1</span>]&nbsp; By the sun and its brightness.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="خورشید (الشمس), آیه ۲">۹۱:۲</span>)&nbsp; ماه که آن را دنبال می‌کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="The Sun (Al-Shams), verse 2">91:2</span>]&nbsp; The moon that follows it.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="خورشید (الشمس), آیه ۳">۹۱:۳</span>)&nbsp; روز که آشکار می‌سازد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="The Sun (Al-Shams), verse 3">91:3</span>]&nbsp; The day that reveals.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="خورشید (الشمس), آیه ۴">۹۱:۴</span>)&nbsp; شب که می‌پوشاند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="The Sun (Al-Shams), verse 4">91:4</span>]&nbsp; The night that covers.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="خورشید (الشمس), آیه ۵">۹۱:۵</span>)&nbsp; آسمان و او که آن را بنا کرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="The Sun (Al-Shams), verse 5">91:5</span>]&nbsp; The sky and Him who built it.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="خورشید (الشمس), آیه ۶">۹۱:۶</span>)&nbsp; زمین و او که آن را نگاه می‌دارد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="The Sun (Al-Shams), verse 6">91:6</span>]&nbsp; The earth and Him who sustains it.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="خورشید (الشمس), آیه ۷">۹۱:۷</span>)&nbsp; نفس و او که آن را آفرید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="The Sun (Al-Shams), verse 7">91:7</span>]&nbsp; The soul and Him who created it.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="خورشید (الشمس), آیه ۸">۹۱:۸</span>)&nbsp; سپس به آن نشان داد آنچه بد است و آنچه خوب.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="The Sun (Al-Shams), verse 8">91:8</span>]&nbsp; Then showed it what is evil and what is good.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <p>(<span title="خورشید (الشمس), آیه ۹">۹۱:۹</span>)&nbsp; پیروز کسی است که آن را بخشوده سازد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <p>[<span title="The Sun (Al-Shams), verse 9">91:9</span>]&nbsp; Successful is one who redeems it.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <p>(<span title="خورشید (الشمس), آیه ۱۰">۹۱:۱۰</span>)&nbsp; بازنده کسی است که از آن غافل شود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <p>[<span title="The Sun (Al-Shams), verse 10">91:10</span>]&nbsp; Failing is one who neglects it.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <p>(<span title="خورشید (الشمس), آیه ۱۱">۹۱:۱۱</span>)&nbsp; بی‏ اعتقادی ثمود باعث سرپیچی‏شان شد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <p>[<span title="The Sun (Al-Shams), verse 11">91:11</span>]&nbsp; Tham?d?s disbelief caused them to transgress.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="12" name="12"></a>

                        <p>(<span title="خورشید (الشمس), آیه ۱۲">۹۱:۱۲</span>)&nbsp; آنها از بدترین در میان خود پیروی کردند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="12" name="12"></a>

                        <p>[<span title="The Sun (Al-Shams), verse 12">91:12</span>]&nbsp; They followed the worst among them.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="13" name="13"></a>

                        <p>(<span title="خورشید (الشمس), آیه ۱۳">۹۱:۱۳</span>)&nbsp; رسول <strong>خدا</strong> به آنها گفت، "این شتر <strong>خدا</strong> است؛ بگذارید بنوشد."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="13" name="13"></a>

                        <p>[<span title="The Sun (Al-Shams), verse 13">91:13</span>]&nbsp;
                            <strong>GOD</strong>'s messenger said to them, "This is <strong>GOD</strong>'s camel; let her drink."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="14" name="14"></a>

                        <p>(<span title="خورشید (الشمس), آیه ۱۴">۹۱:۱۴</span>)&nbsp; آنها او را باور نکردند و آن را کشتند. سپس پروردگارشان آنها را به خاطر گناهانشان مجازات کرد، و آنها را هلاک کرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="14" name="14"></a>

                        <p>[<span title="The Sun (Al-Shams), verse 14">91:14</span>]&nbsp; They disbelieved him and slaughtered her. Their Lord then requited them for their sin and annihilated them.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="15" name="15"></a>

                        <p>(<span title="خورشید (الشمس), آیه ۱۵">۹۱:۱۵</span>)&nbsp; با اینحال، کسانی که بعد از ایشان آمدند بی‏ اعتناء باقی می‌مانند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="15" name="15"></a>

                        <p>[<span title="The Sun (Al-Shams), verse 15">91:15</span>]&nbsp; Yet, those who came after them remain heedless.</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۶۸۸</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۸۰۷۴</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>

</html>

