<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۸۶: ستاره درخشان (الطارق)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 86: The Bright Star (Al-Taareq)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="ستاره درخشان (الطارق), آیه ۱">۸۶:۱</span>)&nbsp; به آسمان و الطارق.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="The Bright Star (Al-Taareq), verse 1">86:1</span>]&nbsp; By the sky and Al-Taareq.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="ستاره درخشان (الطارق), آیه ۲">۸۶:۲</span>)&nbsp; آیا می‌دانی الطارق چیست؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="The Bright Star (Al-Taareq), verse 2">86:2</span>]&nbsp; Do you know what Al-Taareq is?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="ستاره درخشان (الطارق), آیه ۳">۸۶:۳</span>)&nbsp; آن ستاره درخشان.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="The Bright Star (Al-Taareq), verse 3">86:3</span>]&nbsp; The bright star.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="ستاره درخشان (الطارق), آیه ۴">۸۶:۴</span>)&nbsp; مسلماً از هر کسی کاملاً محافظت می‌شود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="The Bright Star (Al-Taareq), verse 4">86:4</span>]&nbsp; Absolutely, everyone is well guarded.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="ستاره درخشان (الطارق), آیه ۵">۸۶:۵</span>)&nbsp; بگذار تا انسان به خلقت خویش فکر کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="The Bright Star (Al-Taareq), verse 5">86:5</span>]&nbsp; Let the human reflect on his creation.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="ستاره درخشان (الطارق), آیه ۶">۸۶:۶</span>)&nbsp; او از مایعی دفع شده خلق شد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="The Bright Star (Al-Taareq), verse 6">86:6</span>]&nbsp; He was created from ejected liquid.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="ستاره درخشان (الطارق), آیه ۷">۸۶:۷</span>)&nbsp; از میان ستون فقرات و اعضای داخل شکم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="The Bright Star (Al-Taareq), verse 7">86:7</span>]&nbsp; From between the spine and the viscera.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="ستاره درخشان (الطارق), آیه ۸">۸۶:۸</span>)&nbsp; او مسلماً قادر است او را برانگیزد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="The Bright Star (Al-Taareq), verse 8">86:8</span>]&nbsp; He is certainly able to resurrect him.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <p>(<span title="ستاره درخشان (الطارق), آیه ۹">۸۶:۹</span>)&nbsp; آن روز که همه اسرار آشکار شود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <p>[<span title="The Bright Star (Al-Taareq), verse 9">86:9</span>]&nbsp; The day all secrets become known.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <p>(<span title="ستاره درخشان (الطارق), آیه ۱۰">۸۶:۱۰</span>)&nbsp; او نه قدرتی خواهد داشت، نه کمکی.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <p>[<span title="The Bright Star (Al-Taareq), verse 10">86:10</span>]&nbsp; He will have no power, nor a helper.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <p>(<span title="ستاره درخشان (الطارق), آیه ۱۱">۸۶:۱۱</span>)&nbsp; به آسمان که (آب را) باز می‌گرداند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <p>[<span title="The Bright Star (Al-Taareq), verse 11">86:11</span>]&nbsp; By the sky that returns <em>(the water)</em>.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="12" name="12"></a>

                        <p>(<span title="ستاره درخشان (الطارق), آیه ۱۲">۸۶:۱۲</span>)&nbsp; به زمین که (برای روییدن گیاهان) شکافته می‌شود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="12" name="12"></a>

                        <p>[<span title="The Bright Star (Al-Taareq), verse 12">86:12</span>]&nbsp; By the earth that cracks <em>(to grow plants)</em>.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="13" name="13"></a>

                        <p>(<span title="ستاره درخشان (الطارق), آیه ۱۳">۸۶:۱۳</span>)&nbsp; این حکایتی است جدی.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="13" name="13"></a>

                        <p>[<span title="The Bright Star (Al-Taareq), verse 13">86:13</span>]&nbsp; This is a serious narration.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="14" name="14"></a>

                        <p>(<span title="ستاره درخشان (الطارق), آیه ۱۴">۸۶:۱۴</span>)&nbsp; بیهوده گرفته نشود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="14" name="14"></a>

                        <p>[<span title="The Bright Star (Al-Taareq), verse 14">86:14</span>]&nbsp; Not to be taken lightly.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="15" name="15"></a>

                        <p>(<span title="ستاره درخشان (الطارق), آیه ۱۵">۸۶:۱۵</span>)&nbsp; آنها نقشه می‌کشند و توطئه می‌کنند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="15" name="15"></a>

                        <p>[<span title="The Bright Star (Al-Taareq), verse 15">86:15</span>]&nbsp; They plot and scheme.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="16" name="16"></a>

                        <p>(<span title="ستاره درخشان (الطارق), آیه ۱۶">۸۶:۱۶</span>)&nbsp; اما من هم همینطور.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="16" name="16"></a>

                        <p>[<span title="The Bright Star (Al-Taareq), verse 16">86:16</span>]&nbsp; But so do I.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="17" name="17"></a>

                        <p>(<span title="ستاره درخشان (الطارق), آیه ۱۷">۸۶:۱۷</span>)&nbsp; فقط به کافران فرصت بده، فرصتی کوتاه.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="17" name="17"></a>

                        <p>[<span title="The Bright Star (Al-Taareq), verse 17">86:17</span>]&nbsp; Just respite the disbelievers a short respite.</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۶۸۴</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۸۰۳۰</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>

</html>
