<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۶۹: تحقق یافتنی (الحاقه)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 69: Incontestable (Al-Haaqqah)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۱">۶۹:۱</span>)&nbsp; آن (واقعه) غیرقابل بحث.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 1">69:1</span>]&nbsp; The incontestable <em>(event)</em>.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۲">۶۹:۲</span>)&nbsp; چه (واقعه) غیرقابل بحثی!</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 2">69:2</span>]&nbsp; What an incontestable <em>(event)</em>!</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۳">۶۹:۳</span>)&nbsp; حقیقتاً غیرقابل بحث است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 3">69:3</span>]&nbsp; It is truly incontestable.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۴">۶۹:۴</span>)&nbsp; ثمود و عاد آن تکان دهنده را باور نکردند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 4">69:4</span>]&nbsp; Tham&#251;d and '&#195;d disbelieved in the Shocker.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۵">۶۹:۵</span>)&nbsp; و اما ثمود، به واسطه (زلزله) ویران کننده هلاک شدند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 5">69:5</span>]&nbsp; As for Tham&#251;d, they were annihilated by the devastating <em>(quake)</em>.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۶">۶۹:۶</span>)&nbsp; و اما عاد، به واسطه طوفانی مهیب و پی در پی هلاک شدند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 6">69:6</span>]&nbsp; As for '&#195;d, they were annihilated by a persistent, violent storm.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۷">۶۹:۷</span>)&nbsp; او هفت شب و هشت روز آن را بر آنها بشدت رها ساخت. مردم را می‌دیدی که مانند تنه خشک نخل‏های خرما به این طرف و آنطرف پرتاب می‌شدند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 7">69:7</span>]&nbsp; He unleashed it upon them for seven nights and eight days, violently. You could see the people tossed around like decayed palm trunks.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۸">۶۹:۸</span>)&nbsp; آیا می‌توانی هیچ اثری از آنها پیدا کنی؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 8">69:8</span>]&nbsp; Can you find any trace of them?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۹">۶۹:۹</span>)&nbsp; فرعون، دیگران قبل از او، و گناهکاران (سدوم) ستمکار بودند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 9">69:9</span>]&nbsp; Pharaoh, others before him, and the sinners <em>(of Sodom)</em> were wicked.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۱۰">۶۹:۱۰</span>)&nbsp; آنها از رسول پروردگارشان نافرمانی کردند. در نتیجه، او آنها را مجازات کرد، مجازاتی ویران کننده.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 10">69:10</span>]&nbsp; They disobeyed the messenger of their Lord. Consequently, He requited them a devastating requital.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۱۱">۶۹:۱۱</span>)&nbsp; سیل ویران کننده بود، پس ما شما را بر آن (سفینه) شناور حمل کردیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 11">69:11</span>]&nbsp; The flood was devastating, so we carried you on the floating <em>(ark)</em>.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="12" name="12"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۱۲">۶۹:۱۲</span>)&nbsp; ما آن را درس عبرتی برای شما قرار دادیم، تا هر گوش شنوایی آن را درک کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="12" name="12"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 12">69:12</span>]&nbsp; We rendered it a lesson for you, that any listening ear may understand.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="13" name="13"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۱۳">۶۹:۱۳</span>)&nbsp; هنگامی که شیپور یک بار دمیده شود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="13" name="13"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 13">69:13</span>]&nbsp; When the horn is blown once.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="14" name="14"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۱۴">۶۹:۱۴</span>)&nbsp; زمین و کوهها برداشته و خرد خواهند شد؛ کاملاً خرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="14" name="14"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 14">69:14</span>]&nbsp; The earth and the mountains will be carried off and crushed; utterly crushed.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="15" name="15"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۱۵">۶۹:۱۵</span>)&nbsp; آن روزی است که آن واقعه اجتناب‏ناپذیر به وقوع خواهد پیوست.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="15" name="15"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 15">69:15</span>]&nbsp; That is the day when the inevitable event will come to pass.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="16" name="16"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۱۶">۶۹:۱۶</span>)&nbsp; آسمان شکافته، و قطعه قطعه خواهد شد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="16" name="16"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 16">69:16</span>]&nbsp; The heaven will crack, and fall apart.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="17" name="17"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۱۷">۶۹:۱۷</span>)&nbsp; فرشتگان همه جا خواهند بود، و قلمرو پروردگارت آنوقت هشت (جهان) را احاطه خواهد کرد.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۶۹:۱۷ اين زمين پر از بدبختى است بخاطر دورى آن از خدا، زيرا در آسمان هفتم است (۷:۱۴۳). در آخرت، آسمان هشتمى خلق خواهد شد که حتى از آسمان هفتم ما هم دورتر خواهد بود؛ آن "جهنم" خوانده خواهد شد (۸۹:۲۳).</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="17" name="17"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 17">69:17</span>]&nbsp; The angels will be all around, and Your Lord's dominion will then encompass eight <em>(universes)</em>.*</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*69:17 This earth is full of misery because of its physical distance from God, since it is in the seventh universe (7:143). In the Hereafter, an eighth universe will be created that will be even farther than our seventh
                                    universe; it will be called "Hell" (89:23).

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="18" name="18"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۱۸">۶۹:۱۸</span>)&nbsp; در آن روز، شما برملا خواهید شد، هیچ چیزی در باره شما مخفی نمی‌ماند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="18" name="18"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 18">69:18</span>]&nbsp; On that day, you will be exposed, nothing of you can be hidden.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="19" name="19"></a>

                        <div class="footnote-subtitle">مؤمنان</div>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۱۹">۶۹:۱۹</span>)&nbsp; و اما کسی که پرونده خود را با دست راستش دریافت کند، خواهد گفت، "بیایید نامه اعمال من را بخوانید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="19" name="19"></a>

                        <div class="footnote-subtitle">The Believers</div>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 19">69:19</span>]&nbsp; As for the one who receives his record with his right hand, he will say, "Come read my record.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="20" name="20"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۲۰">۶۹:۲۰</span>)&nbsp; "من باور داشتم که حساب پس خواهم داد."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="20" name="20"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 20">69:20</span>]&nbsp; "I did believe that I was going to be held accountable."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="21" name="21"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۲۱">۶۹:۲۱</span>)&nbsp; او سزاوار زندگی خوشی شده است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="21" name="21"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 21">69:21</span>]&nbsp; He has deserved a happy life.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="22" name="22"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۲۲">۶۹:۲۲</span>)&nbsp; در پردیسی عالی.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="22" name="22"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 22">69:22</span>]&nbsp; In an exalted Paradise.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="23" name="23"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۲۳">۶۹:۲۳</span>)&nbsp; میوه‏‌هایش در دسترس است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="23" name="23"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 23">69:23</span>]&nbsp; Its fruits are within reach.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="24" name="24"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۲۴">۶۹:۲۴</span>)&nbsp; با خوشحالی بخورید و بنوشید در عوض اعمالتان در روزهای گذشته.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="24" name="24"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 24">69:24</span>]&nbsp; Eat and drink happily in return for your works in days past.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="25" name="25"></a>

                        <div class="footnote-subtitle">کافران</div>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۲۵">۶۹:۲۵</span>)&nbsp; و اما کسی که نامه اعمالش به دست چپش داده شود، خواهد گفت، "آه ای کاش هرگز نامه اعمال خود را دریافت نکرده بودم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="25" name="25"></a>

                        <div class="footnote-subtitle">The Disbelievers</div>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 25">69:25</span>]&nbsp; As for him who is given his record in his left hand, he will say, "Oh, I wish I never received my record.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="26" name="26"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۲۶">۶۹:۲۶</span>)&nbsp; "ای کاش هرگز حساب خود را نمی‌دانستم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="26" name="26"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 26">69:26</span>]&nbsp; "I wish I never knew my account.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="27" name="27"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۲۷">۶۹:۲۷</span>)&nbsp; "ای کاش مرگ من جاودانی بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="27" name="27"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 27">69:27</span>]&nbsp; "I wish my death was eternal.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="28" name="28"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۲۸">۶۹:۲۸</span>)&nbsp; "پول من نمی‌تواند من را کمک کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="28" name="28"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 28">69:28</span>]&nbsp; "My money cannot help me.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="29" name="29"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۲۹">۶۹:۲۹</span>)&nbsp; "همه قدرتم از بین رفته است."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="29" name="29"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 29">69:29</span>]&nbsp; "All my power is gone."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="30" name="30"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۳۰">۶۹:۳۰</span>)&nbsp; بگیرید او را و غل و زنجیرش کنید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="30" name="30"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 30">69:30</span>]&nbsp; Take him and shackle him.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="31" name="31"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۳۱">۶۹:۳۱</span>)&nbsp; او را در جهنم بسوزانید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="31" name="31"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 31">69:31</span>]&nbsp; Burn him in Hell.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="32" name="32"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۳۲">۶۹:۳۲</span>)&nbsp; به زنجیری که طولش هفتاد ذرع است، او را ببندید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="32" name="32"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 32">69:32</span>]&nbsp; In a chain that is seventy arms long, tie him up.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="33" name="33"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۳۳">۶۹:۳۳</span>)&nbsp; زیرا او به <strong>خدا</strong> ایمان نیاورد، بزرگوارترین.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="33" name="33"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 33">69:33</span>]&nbsp; For he did not believe in <strong>GOD</strong>, Most Great.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="34" name="34"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۳۴">۶۹:۳۴</span>)&nbsp; و نه طرفدار غذا دادن به مسکینان بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="34" name="34"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 34">69:34</span>]&nbsp; Nor did he advocate the feeding of the poor.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="35" name="35"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۳۵">۶۹:۳۵</span>)&nbsp; در نتیجه، او در اینجا هیچ رفیقی ندارد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="35" name="35"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 35">69:35</span>]&nbsp; Consequently, he has no friend here.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="36" name="36"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۳۶">۶۹:۳۶</span>)&nbsp; نه هیچ غذایی، بجز از انواع تلخ.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="36" name="36"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 36">69:36</span>]&nbsp; Nor any food, except the bitter variety.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="37" name="37"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۳۷">۶۹:۳۷</span>)&nbsp; غذا برای گناهکاران.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="37" name="37"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 37">69:37</span>]&nbsp; Food for the sinners.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="38" name="38"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۳۸">۶۹:۳۸</span>)&nbsp; من قسم می‌خورم به آنچه می‌بینید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="38" name="38"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 38">69:38</span>]&nbsp; I swear by what you see.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="39" name="39"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۳۹">۶۹:۳۹</span>)&nbsp; و به آنچه نمی‌بینید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="39" name="39"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 39">69:39</span>]&nbsp; And what you do not see.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="40" name="40"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۴۰">۶۹:۴۰</span>)&nbsp; این گفته رسولی است محترم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="40" name="40"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 40">69:40</span>]&nbsp; This is the utterance of an honorable messenger.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="41" name="41"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۴۱">۶۹:۴۱</span>)&nbsp; نه گفته یک شاعر؛ شما بندرت ایمان می‌آورید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="41" name="41"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 41">69:41</span>]&nbsp; Not the utterance of a poet; rarely do you believe.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="42" name="42"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۴۲">۶۹:۴۲</span>)&nbsp; نه گفته یک غیبگو؛ شما بندرت توجه می‌کنید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="42" name="42"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 42">69:42</span>]&nbsp; Nor the utterance of a soothsayer; rarely do you take heed.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="43" name="43"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۴۳">۶۹:۴۳</span>)&nbsp; تنزیلی از طرف پروردگار جهان.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="43" name="43"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 43">69:43</span>]&nbsp; A revelation from the Lord of the universe.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="44" name="44"></a>

                        <div class="footnote-subtitle">محمد از هرگونه تدریس دینی منع شده بود</div>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۴۴">۶۹:۴۴</span>)&nbsp; اگر او از هر تعلیمات دیگری سخن گفته بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="44" name="44"></a>

                        <div class="footnote-subtitle">Muhammad Forbidden from Issuing Any Religious Teachings</div>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 44">69:44</span>]&nbsp; Had he uttered any other teachings.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="45" name="45"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۴۵">۶۹:۴۵</span>)&nbsp; ما او را تنبیه کرده بودیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="45" name="45"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 45">69:45</span>]&nbsp; We would have punished him.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="46" name="46"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۴۶">۶۹:۴۶</span>)&nbsp; ما وحی را بر او متوقف کرده بودیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="46" name="46"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 46">69:46</span>]&nbsp; We would have stopped the revelations to him.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="47" name="47"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۴۷">۶۹:۴۷</span>)&nbsp; هیچیک از شما نمی‌توانست به او کمک کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="47" name="47"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 47">69:47</span>]&nbsp; None of you could have helped him.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="48" name="48"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۴۸">۶۹:۴۸</span>)&nbsp; این تذکری است برای پرهیزکاران.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="48" name="48"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 48">69:48</span>]&nbsp; This is a reminder for the righteous.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="49" name="49"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۴۹">۶۹:۴۹</span>)&nbsp; ما می‌دانیم؛ بعضی از شما از تکذیب کنندگان هستید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="49" name="49"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 49">69:49</span>]&nbsp; We know; some of you are rejectors.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="50" name="50"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۵۰">۶۹:۵۰</span>)&nbsp; این فقط حسرتی است برای کافران.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="50" name="50"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 50">69:50</span>]&nbsp; It is but sorrow for the disbelievers.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="51" name="51"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۵۱">۶۹:۵۱</span>)&nbsp; این حقیقت مطلق است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="51" name="51"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 51">69:51</span>]&nbsp; It is the absolute truth.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="52" name="52"></a>

                        <p>(<span title="تحقق یافتنی (الحاقه), آیه ۵۲">۶۹:۵۲</span>)&nbsp; بنابراین، باید نام پروردگارت را ستایش کنی، بزرگوارترین.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="52" name="52"></a>

                        <p>[<span title="Incontestable (Al-Haaqqah), verse 52">69:52</span>]&nbsp; Therefore, you shall glorify the name of your Lord, Most Great.</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۶۴۴</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۷۵۲۵</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>

</html>

<!-- // DEFINITIONS

base.html contains all the functionality specific code. There is layout code in this document. All other templates inherit from this document.

-->