<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۱۰۷: انفاق (الماعون)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 107: Charity (Al-Maa'oon)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="انفاق (الماعون), آیه ۱">۱۰۷:۱</span>)&nbsp; آیا می‌دانی چه کسی واقعاً دین را تکذیب می‌کند؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="Charity (Al-Maa'oon), verse 1">107:1</span>]&nbsp; Do you know who really rejects the faith?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="انفاق (الماعون), آیه ۲">۱۰۷:۲</span>)&nbsp; آن کسی است که با یتیمان بد رفتاری می‌کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="Charity (Al-Maa'oon), verse 2">107:2</span>]&nbsp; That is the one who mistreats the orphans.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="انفاق (الماعون), آیه ۳">۱۰۷:۳</span>)&nbsp; و غذا دادن به فقیران را تشویق نمی‌کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="Charity (Al-Maa'oon), verse 3">107:3</span>]&nbsp; And does not advocate the feeding of the poor.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="انفاق (الماعون), آیه ۴">۱۰۷:۴</span>)&nbsp; و وای بر کسانی که دعای ارتباطی (نماز) بجا می‌آورند-</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="Charity (Al-Maa'oon), verse 4">107:4</span>]&nbsp; And woe to those who observe the contact prayers <em>(Salat)</em>&mdash;</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="انفاق (الماعون), آیه ۵">۱۰۷:۵</span>)&nbsp; که کاملاً به نمازشان بی‏توجه هستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="Charity (Al-Maa'oon), verse 5">107:5</span>]&nbsp; who are totally heedless of their prayers.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="انفاق (الماعون), آیه ۶">۱۰۷:۶</span>)&nbsp; آنها فقط خودنمایی می‌کنند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="Charity (Al-Maa'oon), verse 6">107:6</span>]&nbsp; They only show off.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="انفاق (الماعون), آیه ۷">۱۰۷:۷</span>)&nbsp; و آنها انفاق را منع می‌کنند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="Charity (Al-Maa'oon), verse 7">107:7</span>]&nbsp; And they forbid charity.</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۶۹۴</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۸۱۱۷</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>

</html>

