<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۳۲: سجده (السجده)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 32: Prostration (Al-Sajdah)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="سجده (السجده), آیه ۱">۳۲:۱</span>)&nbsp; ا.ل.م.
                        </p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۳۲:۱ معنى اين حروف در آيه بعدى داده شده است: "اين کتاب، بدون شک است، تنزيلى است از طرف پروردگار جهان". جهت توضيحات بيشتر به ضميمه ۱ توجه کنيد.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="Prostration (Al-Sajdah), verse 1">32:1</span>]&nbsp; A. L. M.*</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*32:1 The meaning of these letters is given in the next verse: "This book is, without a doubt, a revelation from the Lord of the universe." See Appendix 1 for the details.

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="سجده (السجده), آیه ۲">۳۲:۲</span>)&nbsp; این کتاب، بدون شک است، تنزیلی است از طرف پروردگار جهان</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="Prostration (Al-Sajdah), verse 2">32:2</span>]&nbsp; The book is, without a doubt, a revelation from the Lord of the universe.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="سجده (السجده), آیه ۳">۳۲:۳</span>)&nbsp; آنها گفتند، "او آن را جعل کرده است." مسلماً، این حقیقتی است از طرف پروردگارت، برای هشدار به مردمی که هرگز هشدار دهنده‏‌ای قبل از تو دریافت نکرده‏‌اند، تا باشد که هدایت شوند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="Prostration (Al-Sajdah), verse 3">32:3</span>]&nbsp; They said, "He fabricated it." Indeed, this is the truth from your Lord, to warn people who never received a warner before you, that they may be guided.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <div class="footnote-subtitle">هیچ واسطه‏‌ای بین شما و خدا نیست</div>

                        <p>(<span title="سجده (السجده), آیه ۴">۳۲:۴</span>)&nbsp;
                            <strong>خدا</strong> آن یکتایی است که آسمانها و زمین و هر چه را در بین آنها است، در شش روز خلق کرد، سپس همه اقتدار را به عهده گرفت. شما در کنار او نه پروردگاری دارید و نه شفاعت کننده‏‌ای. آیا متوجه نمی‌شوید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <div class="footnote-subtitle">No Mediator Between God And You</div>

                        <p>[<span title="Prostration (Al-Sajdah), verse 4">32:4</span>]&nbsp;
                            <strong>GOD</strong> is the One who created the heavens and the earth, and everything between them in six days, then assumed all authority. You have none beside Him as Lord, nor do you have an intercessor. Would you not take
                            heed?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="سجده (السجده), آیه ۵">۳۲:۵</span>)&nbsp; همه امور از آسمان تا زمین در کنترل او است. برای او، یک روز مساوی است با هزار سال شما.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="Prostration (Al-Sajdah), verse 5">32:5</span>]&nbsp; All matters are controlled by Him from the heaven to the earth. To Him, the day is equivalent to one thousand of your years.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="سجده (السجده), آیه ۶">۳۲:۶</span>)&nbsp; دانای نهان و آشکار؛ بزرگوار، مهربانترین.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="Prostration (Al-Sajdah), verse 6">32:6</span>]&nbsp; Knower of all secrets and declarations; the Almighty, Most Merciful.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <div class="footnote-subtitle">منشاء انسان</div>

                        <p>(<span title="سجده (السجده), آیه ۷">۳۲:۷</span>)&nbsp; او آن یکتایی است که هر چه را آفرید، کامل کرد، و آفرینش انسان را از گِل آغاز کرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <div class="footnote-subtitle">The Origin of Man</div>

                        <p>[<span title="Prostration (Al-Sajdah), verse 7">32:7</span>]&nbsp; He is the One who perfected everything He created, and started the creation of the human from clay.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="سجده (السجده), آیه ۸">۳۲:۸</span>)&nbsp; سپس او تولید مثل او را از مایع پست خاصی ادامه داد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="Prostration (Al-Sajdah), verse 8">32:8</span>]&nbsp; Then He continued his reproduction through a certain lowly liquid.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <p>(<span title="سجده (السجده), آیه ۹">۳۲:۹</span>)&nbsp; او، او را شکل داد و از روح خود در او دمید. و او به شما شنوایی و بینایی و عقل داد؛ شما بندرت متشکر هستید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <p>[<span title="Prostration (Al-Sajdah), verse 9">32:9</span>]&nbsp; He shaped him and blew into him from His spirit. And He gave you the hearing, the eyesight, and the brains; rarely are you thankful.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <p>(<span title="سجده (السجده), آیه ۱۰">۳۲:۱۰</span>)&nbsp; آنها متعجب می‌شوند، "بعد از اینکه درون زمین ناپدید شویم، آیا دوباره بصورتی جدید خلق می‌شویم؟" بنابراین، آنها نسبت به ملاقات با پروردگارشان، کافر هستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <p>[<span title="Prostration (Al-Sajdah), verse 10">32:10</span>]&nbsp; They wonder, "After we vanish into the earth, do we get created anew?" Thus, as regards meeting their Lord, they are disbelievers.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <p>(<span title="سجده (السجده), آیه ۱۱">۳۲:۱۱</span>)&nbsp; بگو، "به واسطه فرشته‏‌ای که مأمور شما است به مرگ در خواهید آمد، سپس به سوی پروردگارتان بازگشت خواهید کرد."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <p>[<span title="Prostration (Al-Sajdah), verse 11">32:11</span>]&nbsp; Say, "You will be put to death by the angel in whose charge you are placed, then to your Lord you will be returned."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="12" name="12"></a>

                        <div class="footnote-subtitle">خیلی دیر</div>

                        <p>(<span title="سجده (السجده), آیه ۱۲">۳۲:۱۲</span>)&nbsp; اگر فقط می‌توانستی گناهکاران را وقتی نزد پروردگارشان سرافکنده می‌شوند، ببینی: "پروردگار ما، اکنون ما دیده‏‌ایم و شنیده‏‌ایم. ما را بازگردان و ما پرهیزکار خواهیم شد. اکنون
                            ما یقین آورده‏‌ایم."</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۳۲:۱۲ اگر باز گردانده شوند، دوباره همان گناهان را مرتکب خواهند شد. به زيرنويس ۶:۲۸ توجه کنيد.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="12" name="12"></a>

                        <div class="footnote-subtitle">Too Late</div>

                        <p>[<span title="Prostration (Al-Sajdah), verse 12">32:12</span>]&nbsp; If only you could see the guilty when they bow down their heads before their Lord: "Our Lord, now we have seen and we have heard. Send us back and we will be
                            righteous. Now we have attained certainty."*</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*32:12 If sent back, they would commit the same transgressions. See Footnote 6:28.

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="13" name="13"></a>

                        <p>(<span title="سجده (السجده), آیه ۱۳">۳۲:۱۳</span>)&nbsp; اگر ما می‌خواستیم، می‌توانستیم به هر نفسی هدایتش را عطا کنیم، اما از قبل تعیین شده است که من جهنم را از انسان‏ها و جن‏ها پر خواهم کرد، همه با هم.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۳۲:۱۳ اکثر مردم "اصرار دارند" به جهنم بروند، با بى اعتنايى به دعوت خدا براى بخشوده شدنشان. خدا هيچکس را به جهنم نمى اندازد. کسانى که موفق نميشوند تا با مخالفت با بت پرستى و وقف خود به تنها خدا، خود را بخشوده سازند، و
                                    روح خود را از طريق اعماليکه آفريدگارمان امر کرده است، تکامل نميدهند، بايد به اراده خود به سوى جهنم روان شوند. آنها بسيار ضعيف تر از آن خواهند بود که انرژى حضور جسمى خدا را تحمل کنند.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="13" name="13"></a>

                        <p>[<span title="Prostration (Al-Sajdah), verse 13">32:13</span>]&nbsp; Had we willed, we could have given every soul its guidance, but it is already predetermined that I will fill Hell with jinns and humans, all together.*</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*32:13 The majority of humans "insist" upon going to Hell, by choosing to ignore God's invitations to redeem them. God will not put a single person in Hell. Those who fail to redeem themselves by denouncing idolatry and
                                    devoting themselves to God ALONE, and fail to develop their souls through the practices prescribed by our Creator, will have to run to Hell on their own volition. They will be too weak to stand the physical presence
                                    of God's energy.

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="14" name="14"></a>

                        <p>(<span title="سجده (السجده), آیه ۱۴">۳۲:۱۴</span>)&nbsp; نتیجه فراموشی این روز را بچشید؛ حالا ما شما را فراموش می‌کنیم. شما در عوض اعمالتان سزاوار عذاب ابدی شده‏‌اید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="14" name="14"></a>

                        <p>[<span title="Prostration (Al-Sajdah), verse 14">32:14</span>]&nbsp; Taste the consequences of your forgetting this day; now we forget you. You have incurred eternal retribution in return for your own works.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="15" name="15"></a>

                        <p>(<span title="سجده (السجده), آیه ۱۵">۳۲:۱۵</span>)&nbsp; تنها مردمی که حقیقتاً به آیات ما ایمان دارند، کسانی هستند که هنگامی که آنها را می‌شنوند، به سجده می‌افتند. آنها پروردگارشان را سپاس و ستایش می‌کنند، بدون هیچ تکبری.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="15" name="15"></a>

                        <p>[<span title="Prostration (Al-Sajdah), verse 15">32:15</span>]&nbsp; The only people who truly believe in our revelations are those who fall prostrate upon hearing them. They glorify and praise their Lord, without any arrogance.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="16" name="16"></a>

                        <p>(<span title="سجده (السجده), آیه ۱۶">۳۲:۱۶</span>)&nbsp; پهلوی‏شان مشتاقانه رختخواب‏شان را ترک می‌کند، تا پروردگارشان را از روی حرمت و امید پرستش کنند، و از روزیهایی که ما به ایشان داده‏‌ایم، انفاق می‌کنند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="16" name="16"></a>

                        <p>[<span title="Prostration (Al-Sajdah), verse 16">32:16</span>]&nbsp; Their sides readily forsake their beds, in order to worship their Lord, out of reverence and hope, and from our provisions to them, they give.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="17" name="17"></a>

                        <div class="footnote-subtitle">بهشت: زیبایی غیرقابل توصیف</div>

                        <p>(<span title="سجده (السجده), آیه ۱۷">۳۲:۱۷</span>)&nbsp; هیچ نمی‌دانید که چقدر خشنودی و خوشبختی بعنوان پاداش کارهای (پرهیزکارانه) شما، منتظر شما است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="17" name="17"></a>

                        <div class="footnote-subtitle">Heaven: Indescribably Beautiful</div>

                        <p>[<span title="Prostration (Al-Sajdah), verse 17">32:17</span>]&nbsp; You have no idea how much joy and happiness are waiting for you as a reward for your <em>(righteous)</em> works.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="18" name="18"></a>

                        <p>(<span title="سجده (السجده), آیه ۱۸">۳۲:۱۸</span>)&nbsp; آیا کسی که مؤمن است با کسی که ستمکار است یکسان است؟ آنها یکسان نیستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="18" name="18"></a>

                        <p>[<span title="Prostration (Al-Sajdah), verse 18">32:18</span>]&nbsp; Is one who is a believer the same as one who is wicked? They are not equal.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="19" name="19"></a>

                        <p>(<span title="سجده (السجده), آیه ۱۹">۳۲:۱۹</span>)&nbsp; و اما کسانی که ایمان دارند و زندگی پرهیزکارانه‏‌ای را در پیش می‌گیرند، مستحق بهشت ابدی شده‏‌اند. چنین است مسکن آنها، در عوض اعمالشان.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="19" name="19"></a>

                        <p>[<span title="Prostration (Al-Sajdah), verse 19">32:19</span>]&nbsp; As for those who believe and lead a righteous life, they have deserved the eternal Paradise. Such is their abode, in return for their works.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="20" name="20"></a>

                        <p>(<span title="سجده (السجده), آیه ۲۰">۳۲:۲۰</span>)&nbsp; و اما کسانی که ستمکار شدند، سرنوشت‏شان جهنم است. هرگاه سعی کنند از آن خارج شوند، به زور باز گردانیده خواهند شد. به آنها گفته خواهد شد، "بچشید مزه عذاب جهنمی را که باور نمی‌کردید."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="20" name="20"></a>

                        <p>[<span title="Prostration (Al-Sajdah), verse 20">32:20</span>]&nbsp; As for the wicked, their destiny is Hell. Every time they try to leave it, they will be forced back. They will be told, "Taste the agony of Hell which you used
                            to disbelieve in."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="21" name="21"></a>

                        <div class="footnote-subtitle">به خود آیید</div>

                        <p>(<span title="سجده (السجده), آیه ۲۱">۳۲:۲۱</span>)&nbsp; ما می‌گذاریم تا آنها عذاب کوچکتر (این دنیا) را بچشند، قبل از اینکه به عذاب بزرگتر (آخرت) گرفتار شوند، تا باشد که (به خود آیند) و اصلاح شوند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="21" name="21"></a>

                        <div class="footnote-subtitle">Take A Hint</div>

                        <p>[<span title="Prostration (Al-Sajdah), verse 21">32:21</span>]&nbsp; We let them taste the smaller retribution <em>(of this world)</em>, before they incur the greater retribution <em>(of the Hereafter)</em>, that they may <em>(take a hint and)</em>                            reform.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="22" name="22"></a>

                        <p>(<span title="سجده (السجده), آیه ۲۲">۳۲:۲۲</span>)&nbsp; چه کسی پلیدتر از آنکسی است که آیات پروردگارش به او یادآوری شود، سپس در بی‏ اعتنایی کردن به آنها، پافشاری کند؟ ما مسلماً گناهکاران را تنبیه خواهیم کرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="22" name="22"></a>

                        <p>[<span title="Prostration (Al-Sajdah), verse 22">32:22</span>]&nbsp; Who is more evil than one who is reminded of these revelations of his Lord, then insists upon disregarding them? We will certainly punish the guilty.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="23" name="23"></a>

                        <p>(<span title="سجده (السجده), آیه ۲۳">۳۲:۲۳</span>)&nbsp; ما به موسی کتاب آسمانی داده‏‌ایم-نسبت به ملاقات با او به خود هیچ شکی راه نده-و ما آن را هدایتی برای فرزندان اسراییل قرار دادیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="23" name="23"></a>

                        <p>[<span title="Prostration (Al-Sajdah), verse 23">32:23</span>]&nbsp; We have given Moses the scripture&mdash;do not harbor any doubt about meeting Him&mdash;and we made it a guide for the Children of Israel.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="24" name="24"></a>

                        <p>(<span title="سجده (السجده), آیه ۲۴">۳۲:۲۴</span>)&nbsp; مااز میانشان امام‏هایی تعیین کردیم که بر طبق دستورات ما هدایت کردند، زیرا آنها ثابت‏قدمانه استقامت کردند، و درباره آیات ما به یقین رسیدند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="24" name="24"></a>

                        <p>[<span title="Prostration (Al-Sajdah), verse 24">32:24</span>]&nbsp; We appointed from among them imams who guided in accordance with our commandments, because they steadfastly persevered and attained certainty about our revelations.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="25" name="25"></a>

                        <p>(<span title="سجده (السجده), آیه ۲۵">۳۲:۲۵</span>)&nbsp; پروردگار تو آن یکتایی است که در روز قیامت نسبت به هرچه اختلاف داشتند قضاوت خواهد کرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="25" name="25"></a>

                        <p>[<span title="Prostration (Al-Sajdah), verse 25">32:25</span>]&nbsp; Your Lord is the One who will judge them on the Day of Resurrection, regarding everything they disputed.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="26" name="26"></a>

                        <p>(<span title="سجده (السجده), آیه ۲۶">۳۲:۲۶</span>)&nbsp; آیا هرگز به فکرشان رسیده است که ما چندین نسل قبل از ایشان را هلاک کرده‏‌ایم؟ آنها اکنون در خانه‏‌های اجدادشان زندگی می‌کنند، و راه می‌روند. این باید نشانه‏‌هایی کافی باشد.
                            آیا آنها نمی‌شنوند؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="26" name="26"></a>

                        <p>[<span title="Prostration (Al-Sajdah), verse 26">32:26</span>]&nbsp; Does it ever occur to them how many generations we have annihilated before them? They now live and walk in their ancestors' homes. This should provide sufficient
                            proofs. Do they not hear?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="27" name="27"></a>

                        <p>(<span title="سجده (السجده), آیه ۲۷">۳۲:۲۷</span>)&nbsp; آیا آنها درک نمی‌کنند که ما آب را به زمینهای لم‏یزرع می‌رانیم، و با آن محصولاتی تولید می‌کنیم که چهارپایانشان را روزی دهد، و همینطور خودشان را؟ آیا آنها نمی‌بینند؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="27" name="27"></a>

                        <p>[<span title="Prostration (Al-Sajdah), verse 27">32:27</span>]&nbsp; Do they not realize that we drive the water to barren lands, and produce with it crops to feed their livestock, as well as themselves? Do they not see?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="28" name="28"></a>

                        <p>(<span title="سجده (السجده), آیه ۲۸">۳۲:۲۸</span>)&nbsp; آنها به اعتراض گویند: "آن پیروزی کجا است، اگر راست می‌گویی؟"</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="28" name="28"></a>

                        <p>[<span title="Prostration (Al-Sajdah), verse 28">32:28</span>]&nbsp; They challenge: "Where is that victory, if you are truthful?"</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="29" name="29"></a>

                        <p>(<span title="سجده (السجده), آیه ۲۹">۳۲:۲۹</span>)&nbsp; بگو، "آن روز که چنین پیروزیی بیاید، ایمان آوردن برای کسانی که قبلاً ایمان نیاوردند، سودی نخواهد داشت، و نه فرصت دیگری به ایشان داده خواهد شد."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="29" name="29"></a>

                        <p>[<span title="Prostration (Al-Sajdah), verse 29">32:29</span>]&nbsp; Say, "The day such a victory comes, believing will not benefit those who did not believe before that, nor will they be given another chance."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="30" name="30"></a>

                        <p>(<span title="سجده (السجده), آیه ۳۰">۳۲:۳۰</span>)&nbsp; بنابراین، به آنها اعتناء نکن، و منتظر باش، آن‏ها هم منتظر هستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="30" name="30"></a>

                        <p>[<span title="Prostration (Al-Sajdah), verse 30">32:30</span>]&nbsp; Therefore, disregard them and wait, they too are waiting.</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۱۹۶۱</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۰۵۲۵۸</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
     