<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۳۵: آغازکننده (فاطر)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 35: Initiator (F&#227;ter)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="آغازکننده (فاطر), آیه ۱">۳۵:۱</span>)&nbsp; ستایش <strong>خدا</strong> را، آغاز کننده آسمانها و زمین، و تعیین کننده فرشتگان بعنوان رسول با بال‏ها-دو، سه یا چهار (بال). او بخواست خود به خلقت می‌افزاید. <strong>خدا</strong>                            قادر مطلق است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="Initiator (F&#227;ter), verse 1">35:1</span>]&nbsp; Praise be to <strong>GOD</strong>, Initiator of the heavens and the earth, and appointer of the angels to be messengers with wings&mdash;two, three, and four <em>(wings)</em>.
                            He increases the creation as He wills. <strong>GOD</strong> is Omnipotent.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="آغازکننده (فاطر), آیه ۲">۳۵:۲</span>)&nbsp; هنگامی که <strong>خدا</strong> رحمت خود را بر مردم می‌بارد، هیچ قدرتی نمی‌تواند آن را متوقف سازد. و اگر او آن را متوقف سازد، هیچ قدرتی بغیر از او نمی‌تواند آن را بفرستد.
                            او بزرگوار است، حکیم‏ترین.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="Initiator (F&#227;ter), verse 2">35:2</span>]&nbsp; When <strong>GOD</strong> showers the people with mercy, no force can stop it. And if He withholds it, no force, other than He, can send it. He is the Almighty,
                            Most Wise.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="آغازکننده (فاطر), آیه ۳">۳۵:۳</span>)&nbsp; ای مردم، نعمت‏های <strong>خدا</strong> را بر خود بیادآورید. آیا غیر از <strong>خدا</strong> خالق دیگری وجود دارد که از آسمان و زمین برای شما روزی فراهم می‌آورد؟ هیچ خدایی
                            در کنار او نیست. چطور توانستید منحرف شوید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="Initiator (F&#227;ter), verse 3">35:3</span>]&nbsp; O people, remember <strong>GOD</strong>'s blessings upon you. Is there any creator other than <strong>GOD</strong> who provides for you from the heaven and the earth?
                            There is no other god beside Him. How could you deviate?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="آغازکننده (فاطر), آیه ۴">۳۵:۴</span>)&nbsp; اگر تو را باور نکنند، رسولان قبل از تو را هم باور نکردند. همه چیز تحت کنترل <strong>خدا</strong> است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="Initiator (F&#227;ter), verse 4">35:4</span>]&nbsp; If they disbelieve you, messengers before you have been disbelieved. <strong>GOD</strong> is in control of all things.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="آغازکننده (فاطر), آیه ۵">۳۵:۵</span>)&nbsp; ای مردم، وعده <strong>خدا</strong> حقیقت است؛ بنابراین، فریب زندگی پست این دنیا را نخورید. به خاطر موهومات از <strong>خدا</strong> منحرف نشوید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="Initiator (F&#227;ter), verse 5">35:5</span>]&nbsp; O people, <strong>GOD</strong>'s promise is the truth; therefore, do not be distracted by this lowly life. Do not be diverted from <strong>GOD</strong> by mere illusions.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="آغازکننده (فاطر), آیه ۶">۳۵:۶</span>)&nbsp; شیطان دشمن شما است، پس مانند دشمن با او رفتار کنید. او فقط گروه خود را دعوت می‌کند تا ساکنان دوزخ باشند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="Initiator (F&#227;ter), verse 6">35:6</span>]&nbsp; The devil is your enemy, so treat him as an enemy. He only invites his party to be the dwellers of Hell.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="آغازکننده (فاطر), آیه ۷">۳۵:۷</span>)&nbsp; کسانی که ایمان نیاورند سزاوار عذاب شدیدی شده‏‌اند، و کسانی که ایمان آورند و زندگی پرهیزکارانه‏‌ای را در پیش گیرند، مستحق بخشش و پاداشی عظیم شده‏‌اند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="Initiator (F&#227;ter), verse 7">35:7</span>]&nbsp; Those who disbelieve have incurred a severe retribution, and those who believe and lead a righteous life have deserved forgiveness and a great recompense.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="آغازکننده (فاطر), آیه ۸">۳۵:۸</span>)&nbsp; توجه کن به کسی که عمل پلیدش در نظرش زیبا جلوه کرده است، تا جایی که فکر می‌کند پرهیزکارانه است. <strong>خدا</strong> اینچنین هر کس را بخواهد (گمراه شود)، به گمراهی می‌فرستد،
                            و او هر کس را بخواهد (هدایت شود)، هدایت می‌کند. بنابراین، برای آنها غمگین نباش. <strong>خدا</strong> کاملاً به آنچه انجام می‌دهند آگاه است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="Initiator (F&#227;ter), verse 8">35:8</span>]&nbsp; Note the one whose evil work is adorned in his eyes, until he thinks that it is righteous. <strong>GOD</strong> thus sends astray whoever wills <em>(to go astray)</em>,
                            and He guides whoever wills <em>(to be guided)</em>. Therefore, do not grieve over them. <strong>GOD</strong> is fully aware of everything they do.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <p>(<span title="آغازکننده (فاطر), آیه ۹">۳۵:۹</span>)&nbsp;
                            <strong>خدا</strong> آن یکتایی است که بادها را می‌فرستد تا ابرها را درهم آمیزد، سپس ما آنها را به سوی سرزمینهای لم‏یزرع می‌فرستیم، و آن سرزمین‏ها را پس از اینکه مرده بودند دوباره زنده می‌کنیم. چنین است برانگیخته شدن.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <p>[<span title="Initiator (F&#227;ter), verse 9">35:9</span>]&nbsp;
                            <strong>GOD</strong> is the One who sends the winds to stir up clouds, then we drive them towards barren lands, and revive such lands after they were dead. Thus is the resurrection.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <div class="footnote-subtitle">همه عزتها از آن خدا است</div>

                        <p>(<span title="آغازکننده (فاطر), آیه ۱۰">۳۵:۱۰</span>)&nbsp; هر کسی به دنبال عزت است، بداند که همه عزت‏ها از آن <strong>خدا</strong> است. کلمات خوب بسوی او بالا می‌رود، و او اعمال پرهیزکارانه را بلندمرتبه می‌دارد. و اما کسانی که
                            نقشه کارهای پلید می‌کشند، سزاوار عذاب شدیدی می‌شوند؛ توطئه چنین مردمی شکست می‌خورد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <div class="footnote-subtitle">All Dignity Belongs With God</div>

                        <p>[<span title="Initiator (F&#227;ter), verse 10">35:10</span>]&nbsp; Anyone seeking dignity should know that to <strong>GOD</strong> belongs all dignity. To Him ascends the good words, and He exalts the righteous works. As for those
                            who scheme evil works, they incur severe retribution; the scheming of such people is destined to fail.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <div class="footnote-subtitle">همه چیز تحت کنترل کامل خدا است</div>

                        <p>(<span title="آغازکننده (فاطر), آیه ۱۱">۳۵:۱۱</span>)&nbsp;
                            <strong>خدا</strong> شما را از خاک خلق کرد، سپس از قطره‏‌ای کوچک، سپس او باعث می‌شود تا به واسطه همسرانتان تولید مثل کنید. هیچ مؤنثی نه حامله شود و نه بزاید، بدون دانش او. هیچکس عمر طولانی نکند، و عمر هیچکس کوتاه نشود، مگر
                            برطبق پرونده‏‌ای موجود. این برای <strong>خدا</strong> آسان است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <div class="footnote-subtitle">God is in Full Control</div>

                        <p>[<span title="Initiator (F&#227;ter), verse 11">35:11</span>]&nbsp;
                            <strong>GOD</strong> created you from dust, then from a tiny drop, then He causes you to reproduce through your spouses. No female becomes pregnant, nor gives birth, without His knowledge. No one survives for a long life, and
                            no one's life is snapped short, except in accordance with a pre-existing record. This is easy for <strong>GOD</strong>.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="12" name="12"></a>

                        <div class="footnote-subtitle">قدردانی از عظمت خدا*</div>

                        <p>(<span title="آغازکننده (فاطر), آیه ۱۲">۳۵:۱۲</span>)&nbsp; آن دو دریا یکسان نیستند؛ یکی تازه و گوارا، در حالی که دیگری شور و غیرقابل نوشیدن است. از هر کدام از آنها گوشتهای لذیذ می‌خورید، و جواهرات استخراج می‌کنید که می‌آویزید.
                            و کشتی‏ها را در آن در جستجوی روزی او در گردش می‌بینید، تا باشد که سپاسگزار باشید.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۱۳- ۳۵:۱۲ وقتى ما فضانوردانمان را به فضا ميفرستيم، حداقل احتياجاتشان را از نظر مواد غذايى، آب، و اکسيژن تهيه ميکنيم. بيليون ها سال پيش، هنگاميکه ما در آن کفر بزرگ طرف شيطان را گرفتيم (ضميمه ۷)، خدا ما را سوار سفينه اى
                                    به اسم کره زمين کرد و به فضا فرستاد. اما خدا سفينه فضايى ما را با زوش هاى قابل تجديد هيبت انگيزى تهيه کرده است که انواع غذاهاى تازه، آب و اکسيژن فراهم ميکند، و حتى توليد مثل فضانوردان را هم تأمين ميکند.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="12" name="12"></a>

                        <div class="footnote-subtitle">Appreciating God's Greatness*</div>

                        <p>[<span title="Initiator (F&#227;ter), verse 12">35:12</span>]&nbsp; The two seas are not the same; one is fresh and delicious, while the other is salty and undrinkable. From each of them you eat tender meat, and extract jewelry
                            to wear. And you see the ships sailing through them, seeking His provisions, that you may be appreciative.</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*35:12-13 When we send our astronauts into space, we provide them with their minimum needs of food, water, and oxygen. When we sided with Satan's blasphemy billions of years ago (Appendix 7), God launched us into space
                                    aboard the spaceship Earth. But God has supplied our spaceship with awesome renewable systems that provide a great variety of fresh foods, water, oxygen, and even the reproduction of us astronauts.

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="13" name="13"></a>

                        <p>(<span title="آغازکننده (فاطر), آیه ۱۳">۳۵:۱۳</span>)&nbsp; او شب را به روز درمی‌آورد، و روز را به شب. او خورشید و ماه را قرار داده است تا برای مدتی معین گردش کنند. چنین است <strong>خدا</strong>، پروردگار شما؛ همه سلطنت از آن او
                            است. معبودانی که در کنار او قرار می‌دهید حتی صاحب پوست دانه‏‌ای هم نیستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="13" name="13"></a>

                        <p>[<span title="Initiator (F&#227;ter), verse 13">35:13</span>]&nbsp; He merges the night into the day, and merges the day into the night. He has committed the sun and the moon to run for a predetermined period of time. Such is <strong>GOD</strong>                            your Lord; to Him belongs all kingship. Any idols you set up beside Him do not possess as much as a seed's shell.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="14" name="14"></a>

                        <div class="footnote-subtitle">معبودان مطلقاً بی‏قدرت هستند*</div>

                        <p>(<span title="آغازکننده (فاطر), آیه ۱۴">۳۵:۱۴</span>)&nbsp; اگر آنها را بخوانید، شما را نمی‌شنوند حتی اگر شما را بشنوند نمی‌توانند به شما جوابی بدهند. آنها در روز قیامت، شما را طرد می‌کنند. هیچکس نمی‌تواند تو را مانند آگاه‏‌ترین،
                            آگاه سازد.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۳۵:۱۴ مردم از عيسى، مريم، محمد، على، و يا مقدسين بت ساخته اند؛ چنين بتهايى مرده، بى خبر و کاملا بدون قدرت هستند. آنها حتى در زمان حياتشان هم بدون قدرت بودند.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="14" name="14"></a>

                        <div class="footnote-subtitle">The Idols Utterly Powerless*</div>

                        <p>[<span title="Initiator (F&#227;ter), verse 14">35:14</span>]&nbsp; If you call on them, they cannot hear you. Even if they hear you, they cannot respond to you. On the Day of Resurrection, they will disown you. None can inform
                            you like the Most Cognizant.</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*35:14 People idolize Jesus, Mary, Muhammad, Ali, and/or the saints; such idols are dead, unaware, and utterly powerless. Even when they were alive, they were powerless.

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="15" name="15"></a>

                        <p>(<span title="آغازکننده (فاطر), آیه ۱۵">۳۵:۱۵</span>)&nbsp; ای مردم، شما هستید که به <strong>خدا</strong> احتیاج دارید، در حالی که <strong>خدا</strong> به هیچکس احتیاج ندارد، شایسته‏‌ترین برای ستایش.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="15" name="15"></a>

                        <p>[<span title="Initiator (F&#227;ter), verse 15">35:15</span>]&nbsp; O people, you are the ones who need <strong>GOD</strong>, while <strong>GOD</strong> is in no need for anyone, the Most Praiseworthy.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="16" name="16"></a>

                        <p>(<span title="آغازکننده (فاطر), آیه ۱۶">۳۵:۱۶</span>)&nbsp; اگر او بخواهد، می‌تواند شما را نابود کند و خلقت جدیدی جایگزین نماید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="16" name="16"></a>

                        <p>[<span title="Initiator (F&#227;ter), verse 16">35:16</span>]&nbsp; If He wills, He can get rid of you and substitute a new creation.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="17" name="17"></a>

                        <p>(<span title="آغازکننده (فاطر), آیه ۱۷">۳۵:۱۷</span>)&nbsp; این برای <strong>خدا</strong> اصلاً مشکل نیست.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="17" name="17"></a>

                        <p>[<span title="Initiator (F&#227;ter), verse 17">35:17</span>]&nbsp; This is not too difficult for <strong>GOD</strong>.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="18" name="18"></a>

                        <p>(<span title="آغازکننده (فاطر), آیه ۱۸">۳۵:۱۸</span>)&nbsp; هیچ نفسی نمی‌تواند گناهان نفس دیگری را حمل کند. اگر نفسی که بار گناهانش سنگین است، از دیگری درخواست کند که قسمتی از بارش را بردارد، هیچ نفس دیگری نمی‌تواند هیچ قسمتی از
                            آن را حمل کند، حتی اگر خویشاوند هم باشند. تنها مردمی که به هشدارهای تو توجه می‌کنند، کسانی هستند که به هیبت پروردگارشان حرمت می‌نهند، حتی وقتی در خلوت خود تنها هستند، و دعای ارتباطی (نماز) بجا می‌آورند. هر کس نفس خود را پاک
                            کند، به نفع خود کرده است. سرنوشت نهایی به سوی <strong>خدا</strong> است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="18" name="18"></a>

                        <p>[<span title="Initiator (F&#227;ter), verse 18">35:18</span>]&nbsp; No soul can carry the sins of another soul. If a soul that is loaded with sins implores another to bear part of its load, no other soul can carry any part of it,
                            even if they were related. The only people to heed your warnings are those who reverence their Lord, even when alone in their privacy, and observe the Contact Prayers <em>(Salat)</em>. Whoever purifies his soul, does so for
                            his own good. To <strong>GOD</strong> is the final destiny.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="19" name="19"></a>

                        <p>(<span title="آغازکننده (فاطر), آیه ۱۹">۳۵:۱۹</span>)&nbsp; کور و بینا یکسان نیستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="19" name="19"></a>

                        <p>[<span title="Initiator (F&#227;ter), verse 19">35:19</span>]&nbsp; The blind and the seer are not equal.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="20" name="20"></a>

                        <p>(<span title="آغازکننده (فاطر), آیه ۲۰">۳۵:۲۰</span>)&nbsp; و نه تاریکی و روشنایی.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="20" name="20"></a>

                        <p>[<span title="Initiator (F&#227;ter), verse 20">35:20</span>]&nbsp; Nor are the darkness and the light.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="21" name="21"></a>

                        <p>(<span title="آغازکننده (فاطر), آیه ۲۱">۳۵:۲۱</span>)&nbsp; و نه خنکی سایه، و حرارت خورشید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="21" name="21"></a>

                        <p>[<span title="Initiator (F&#227;ter), verse 21">35:21</span>]&nbsp; Nor are the coolness of the shade and the heat of the sun.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="22" name="22"></a>

                        <p>(<span title="آغازکننده (فاطر), آیه ۲۲">۳۵:۲۲</span>)&nbsp; و نه زنده و مرده؛ <strong>خدا</strong> باعث می‌شود تا هر کس که او بخواهد بشنود. کسانی را که در قبرها هستند، نمی‌توانی شنوا کنی.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="22" name="22"></a>

                        <p>[<span title="Initiator (F&#227;ter), verse 22">35:22</span>]&nbsp; Nor are the living and the dead; <strong>GOD</strong> causes whomever He wills to hear. You cannot make hearers out of those in the graves.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="23" name="23"></a>

                        <p>(<span title="آغازکننده (فاطر), آیه ۲۳">۳۵:۲۳</span>)&nbsp; تو هشدار دهنده‏‌ای بیش نیستی.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="23" name="23"></a>

                        <p>[<span title="Initiator (F&#227;ter), verse 23">35:23</span>]&nbsp; You are no more than a warner.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="24" name="24"></a>

                        <div class="footnote-subtitle">رسول میثاق خدا*</div>

                        <p>(<span title="آغازکننده (فاطر), آیه ۲۴">۳۵:۲۴</span>)&nbsp; ما تو را فرستاده‏‌ایم با حقیقت، بعنوان مژده دهند، و همینطور هشدار دهنده. هر جامعه‏‌ای باید هشدار دهنده‏‌ای دریافت کند.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۳۵:۲۴ از مقدار عددى "رشاد خليفه" (۱۲۳۰)، باضافه آيه (۲۴) مجموعى حاصل ميشود که بر ۱۹ قابل قسمت است (۶۶۱۹=۱۲۵۴=۲۴+۱۲۳۰).</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="24" name="24"></a>

                        <div class="footnote-subtitle">God's Messenger of the Covenant*</div>

                        <p>[<span title="Initiator (F&#227;ter), verse 24">35:24</span>]&nbsp; We have sent you* with the truth, a bearer of good news, as well as a warner. Every community must receive a warner.</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*35:24 The gematrical value of "Rashad Khalifa" (1230), plus the verse number (24) give us a total that is a multiple of 19 (1230+24=1254=19x66).

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="25" name="25"></a>

                        <p>(<span title="آغازکننده (فاطر), آیه ۲۵">۳۵:۲۵</span>)&nbsp; اگر آنها تو را باور نکردند، کسانی که قبل از آنها بودند هم باور نکردند. رسولانشان با نشانه‏‌های آشکار نزد آنها رفتند، و زبور و کتابهای آسمانی روشنگر.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="25" name="25"></a>

                        <p>[<span title="Initiator (F&#227;ter), verse 25">35:25</span>]&nbsp; If they disbelieve you, those before them have also disbelieved. Their messengers went to them with clear proofs, and the Psalms, and the enlightening scriptures.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="26" name="26"></a>

                        <p>(<span title="آغازکننده (فاطر), آیه ۲۶">۳۵:۲۶</span>)&nbsp; در نتیجه، من کسانی را که ایمان نیاوردند، تنبیه کردم؛ چه وحشتناک بود مجازات من!</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="26" name="26"></a>

                        <p>[<span title="Initiator (F&#227;ter), verse 26">35:26</span>]&nbsp; Subsequently, I punished those who disbelieved; how terrible was My retribution!</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="27" name="27"></a>

                        <div class="footnote-subtitle">مخلوقات رنگارنگ خدا</div>

                        <p>(<span title="آغازکننده (فاطر), آیه ۲۷">۳۵:۲۷</span>)&nbsp; آیا درک نمی‌کنی که <strong>خدا</strong> آب را از آسمان پایین می‌فرستد که با آن ما میوه‏‌هایی به رنگهای مختلف تولید می‌کنیم؟ حتی کوهها هم رنگهای مختلف دارند؛ قله‏‌ها سفید
                            هستند، یا قرمز، یا رنگهای دیگر. و کلاغ‏ها سیاه هستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="27" name="27"></a>

                        <div class="footnote-subtitle">God's Colorful Creations</div>

                        <p>[<span title="Initiator (F&#227;ter), verse 27">35:27</span>]&nbsp; Do you not realize that <strong>GOD</strong> sends down from the sky water, whereby we produce fruits of various colors? Even the mountains have different colors;
                            the peaks are white, or red, or some other color. And the ravens are black.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="28" name="28"></a>

                        <p>(<span title="آغازکننده (فاطر), آیه ۲۸">۳۵:۲۸</span>)&nbsp; همچنین، مردم، جانوران و چهارپایان به رنگهای مختلف هستند. به این دلیل است که مردمی که واقعاً به هیبت <strong>خدا</strong> حرمت می‌نهند، خردمندان هستند. <strong>خدا</strong>                            بزرگوار است، عفو کننده.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="28" name="28"></a>

                        <p>[<span title="Initiator (F&#227;ter), verse 28">35:28</span>]&nbsp; Also, the people, the animals, and the livestock come in various colors. This is why the people who truly reverence <strong>GOD</strong> are those who are knowledgeable.
                            <strong>GOD</strong> is Almighty, Forgiving.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="29" name="29"></a>

                        <p>(<span title="آغازکننده (فاطر), آیه ۲۹">۳۵:۲۹</span>)&nbsp; مسلماً، کسانی که کتاب <strong>خدا</strong> را می‌خوانند، دعای ارتباطی (نماز) بجا می‌آورند، و از روزی ما به ایشان-پنهان و آشکار-انفاق می‌کنند، وارد سرمایه‏گذاری شده‏‌اند
                            که هرگز ضرر نمی‌کنند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="29" name="29"></a>

                        <p>[<span title="Initiator (F&#227;ter), verse 29">35:29</span>]&nbsp; Surely, those who recite the book of <strong>GOD</strong>, observe the Contact Prayers <em>(Salat)</em>, and from our provisions to them they spend&mdash;secretly
                            and publicly&mdash;are engaged in an investment that never loses.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="30" name="30"></a>

                        <p>(<span title="آغازکننده (فاطر), آیه ۳۰">۳۵:۳۰</span>)&nbsp; او پاداش آنها را سخاوتمندانه خواهد داد، و نعمتش را بر آنها چندین برابر خواهد کرد. او عفو کننده است، قدردان.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="30" name="30"></a>

                        <p>[<span title="Initiator (F&#227;ter), verse 30">35:30</span>]&nbsp; He will recompense them generously, and will multiply His blessings upon them. He is Forgiving, Appreciative.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="31" name="31"></a>

                        <div class="footnote-subtitle">قرآن: تکمیل کننده همه کتابهای آسمانی</div>

                        <p>(<span title="آغازکننده (فاطر), آیه ۳۱">۳۵:۳۱</span>)&nbsp; آنچه ما در این کتاب آسمانی به تو وحی کردیم حقیقت است، کامل‏کننده همه کتابهای آسمانی قبلی. <strong>خدا</strong> کاملاً بر بندگانش آگاه است، بینا.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="31" name="31"></a>

                        <div class="footnote-subtitle">Quran: The Consummation of All the Scriptures</div>

                        <p>[<span title="Initiator (F&#227;ter), verse 31">35:31</span>]&nbsp; What we revealed to you in this scripture is the truth, consummating all previous scriptures. <strong>GOD</strong> is fully Cognizant of His servants, Seer.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="32" name="32"></a>

                        <p>(<span title="آغازکننده (فاطر), آیه ۳۲">۳۵:۳۲</span>)&nbsp; ما کتاب آسمانی را از نسلی به نسل دیگر منتقل کردیم، و ما اجازه دادیم تا هر کس از میان بندگانمان که انتخاب کردیم آن را دریافت دارد. در نتیجه، بعضی از آنها به نفس خود ستم
                            کردند، دیگران فقط بعضی اوقات از آن پیروی کردند. در حالی که دیگران بر طبق خواست <strong>خدا</strong> در انجام کارهای پرهیزکارانه مشتاق بودند؛ این بزرگترین پیروزی است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="32" name="32"></a>

                        <p>[<span title="Initiator (F&#227;ter), verse 32">35:32</span>]&nbsp; We passed the scripture from generation to generation, and we allowed whomever we chose from among our servants to receive it. Subsequently, some of them wronged
                            their souls, others upheld it only part of the time, while others were eager to work righteousness in accordance with <strong>GOD</strong>'s will; this is the greatest triumph.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="33" name="33"></a>

                        <div class="footnote-subtitle">مؤمنان</div>

                        <p>(<span title="آغازکننده (فاطر), آیه ۳۳">۳۵:۳۳</span>)&nbsp; آنها به باغهای عدن داخل خواهند شد، جایی که با دستبندهای طلا و مروارید زینت داده خواهند شد، و لباس‏هایشان در آنجا از ابریشم خواهد بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="33" name="33"></a>

                        <div class="footnote-subtitle">The Believers</div>

                        <p>[<span title="Initiator (F&#227;ter), verse 33">35:33</span>]&nbsp; They will enter the gardens of Eden, where they will be adorned with bracelets of gold and pearls, and their garments in it will be made of silk.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="34" name="34"></a>

                        <p>(<span title="آغازکننده (فاطر), آیه ۳۴">۳۵:۳۴</span>)&nbsp; آنها خواهند گفت، "ستایش <strong>خدا</strong> را که همه نگرانی‏های ما را برطرف کرد. پروردگار ما عفو کننده است، قدردان.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="34" name="34"></a>

                        <p>[<span title="Initiator (F&#227;ter), verse 34">35:34</span>]&nbsp; They will say, "Praise <strong>GOD</strong> for removing all our worries. Our Lord is Forgiving, Appreciative.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="35" name="35"></a>

                        <p>(<span title="آغازکننده (فاطر), آیه ۳۵">۳۵:۳۵</span>)&nbsp; "او از رحمتش ما را به جایگاه مفرح ابدی داخل کرده است. در اینجا هرگز حوصله ما سر نمی‌رود، و هرگز خسته نمی‌شویم."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="35" name="35"></a>

                        <p>[<span title="Initiator (F&#227;ter), verse 35">35:35</span>]&nbsp; "He has admitted us into the abode of eternal bliss, out of His grace. Never do we get bored herein, never do we get tired."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="36" name="36"></a>

                        <div class="footnote-subtitle">کافران</div>

                        <p>(<span title="آغازکننده (فاطر), آیه ۳۶">۳۵:۳۶</span>)&nbsp; و اما کسانی که ایمان ندارند، سزاوار آتش جهنم شده‏‌اند، جایی که هرگز مرگ پایان عمرشان نیست، و نه هرگز از عذاب آنها کاسته شود. ما اینچنین جزای ناسپاسان را می‌دهیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="36" name="36"></a>

                        <div class="footnote-subtitle">The Disbelievers</div>

                        <p>[<span title="Initiator (F&#227;ter), verse 36">35:36</span>]&nbsp; As for those who disbelieve, they have incurred the fire of Hell, where they are never finished by death, nor is the retribution ever commuted for them. We thus
                            requite the unappreciative.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="37" name="37"></a>

                        <p>(<span title="آغازکننده (فاطر), آیه ۳۷">۳۵:۳۷</span>)&nbsp; آنها در آن فریاد خواهند کشید، "پروردگار ما، اگر ما را از اینجا خارج کنی، اعمال پرهیزکارانه انجام خواهیم داد، بجای کارهایی که انجام می‌دادیم." آیا ما به اندازه یک زندگی
                            به شما فرصت ندادیم، با تذکرات مکرر برای کسانی که توجه می‌کنند؟ آیا هشدار دهنده دریافت نکردید؟ بنابراین، (نتیجه اعمال را) بچشید. متجاوزین هیچ کس را نخواهند داشت که به آنها کمک کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="37" name="37"></a>

                        <p>[<span title="Initiator (F&#227;ter), verse 37">35:37</span>]&nbsp; They will scream therein, "Our Lord, if you get us out of here, we will work righteousness, instead of the works we used to do." Did we not give you a life-long
                            chance, with continuous reminders for those who would take heed? Did you not receive the warner? Therefore, taste <em>(the consequences)</em>. The transgressors will have no one to help them.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="38" name="38"></a>

                        <p>(<span title="آغازکننده (فاطر), آیه ۳۸">۳۵:۳۸</span>)&nbsp;
                            <strong>خدا</strong> دانای آینده آسمانها و زمین است. او به درونی‏ترین افکار آگاه است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="38" name="38"></a>

                        <p>[<span title="Initiator (F&#227;ter), verse 38">35:38</span>]&nbsp;
                            <strong>GOD</strong> is the Knower of the future of the heavens and the earth. He is the Knower of all innermost thoughts.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="39" name="39"></a>

                        <div class="footnote-subtitle">برندگان و بازندگان</div>

                        <p>(<span title="آغازکننده (فاطر), آیه ۳۹">۳۵:۳۹</span>)&nbsp; او آن یکتایی است که شما را وارث زمین قرار داد. در نتیجه، هر کس بی‏ ایمانی را انتخاب کند، به زیان خود کرده است. بی‏ اعتقادی کافران فقط تنفر پروردگارشان را نسبت به ایشان
                            می‌افزاید. بی‏ اعتقادی کافران آنها را در زیان عمیق‏تری فرو می‌برد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="39" name="39"></a>

                        <div class="footnote-subtitle">The Winners and the Losers</div>

                        <p>[<span title="Initiator (F&#227;ter), verse 39">35:39</span>]&nbsp; He is the One who made you inheritors of the earth. Subsequently, whoever chooses to disbelieve does so to his own detriment. The disbelief of the disbelievers
                            only augments their Lord's abhorrence towards them. The disbelief of the disbelievers plunges them deeper into loss.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="40" name="40"></a>

                        <p>(<span title="آغازکننده (فاطر), آیه ۴۰">۳۵:۴۰</span>)&nbsp; بگو، "معبودانی را که در کنار <strong>خدا</strong> قرار داده‏‌اید، در نظر بگیرید؛ به من نشان دهید تا بحال در زمین چه خلق کرده‏‌اند." آیا آنها شراکتی در آسمان‏ها دارند؟
                            آیا ما به آنها کتابی داده‏‌ایم که در آن هیچگونه شکی نیست؟ درواقع، آنچه متجاوزین به یکدیگر وعده می‌دهند، موهوماتی بیش نیست.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="40" name="40"></a>

                        <p>[<span title="Initiator (F&#227;ter), verse 40">35:40</span>]&nbsp; Say, "Consider the idols you have set up beside <strong>GOD</strong>; show me what on earth have they created." Do they own any partnership in the heavens? Have
                            we given them a book wherein there is no doubt? Indeed, what the transgressors promise one another is no more than an illusion.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="41" name="41"></a>

                        <p>(<span title="آغازکننده (فاطر), آیه ۴۱">۳۵:۴۱</span>)&nbsp;
                            <strong>خدا</strong> است که آسمانها و زمین را نگاه می‌دارد، تا مبادا ناپدید شوند. اگر کس دیگری آنها را نگه دارد، مسلماً ناپدید خواهند شد. او رئوف است، عفو کننده.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="41" name="41"></a>

                        <p>[<span title="Initiator (F&#227;ter), verse 41">35:41</span>]&nbsp;
                            <strong>GOD</strong> is the One who holds the heavens and the earth, lest they vanish. If anyone else is to hold them, they will most certainly vanish. He is Clement, Forgiving.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="42" name="42"></a>

                        <div class="footnote-subtitle">به امتحان گذاشتن آنها</div>

                        <p>(<span title="آغازکننده (فاطر), آیه ۴۲">۳۵:۴۲</span>)&nbsp; آنها رسماً به <strong>خدا</strong> قسم یاد می‌کنند که اگر هشدار دهنده‏‌ای نزدشان رفته بود، بهتر از جمعیت خاصی هدایت می‌شدند! اگرچه، اکنون که هشدار دهنده‏‌ای نزد ایشان
                            آمد، این فقط باعث شد تا در نفرت بیشتری فرو روند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="42" name="42"></a>

                        <div class="footnote-subtitle">Putting Them to the Test</div>

                        <p>[<span title="Initiator (F&#227;ter), verse 42">35:42</span>]&nbsp; They swore by <strong>GOD</strong> solemnly that if a warner went to them, they would be better guided than a certain congregation! However, now that the warner
                            did come to them, this only plunged them deeper into aversion.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="43" name="43"></a>

                        <p>(<span title="آغازکننده (فاطر), آیه ۴۳">۳۵:۴۳</span>)&nbsp; آنها در زمین متکبر شدند، و توطئه‏‌های پلید کردند، و توطئه‏‌های پلید فقط به کسانی که آن توطئه را بکار می‌برند، باز می‌گردد. پس آیا آنها باید انتظار چیزی غیر از سرنوشت کسانی
                            که در گذشته همین کارها را انجام دادند، داشته باشند؟ تو خواهی فهمید که روش <strong>خدا</strong> هرگز تغییر نخواهد کرد؛ تو خواهی فهمید که روش <strong>خدا</strong> پابرجا است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="43" name="43"></a>

                        <p>[<span title="Initiator (F&#227;ter), verse 43">35:43</span>]&nbsp; They resorted to arrogance on earth, and evil scheming, and the evil schemes only backfire on those who scheme them. Should they then expect anything but the fate
                            of those who did the same things in the past? You will find that <strong>GOD</strong>'s system is never changeable; you will find that <strong>GOD</strong>'s system is immutable.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="44" name="44"></a>

                        <p>(<span title="آغازکننده (فاطر), آیه ۴۴">۳۵:۴۴</span>)&nbsp; آیا آنها در زمین گردش نکرده‏‌اند، و چگونگی عاقبت کسانی را که قبل از ایشان بودند، ندیده‏‌اند؟ آنها حتی قوی‏تر از ایشان بودند. هیچ چیز نمی‌تواند از <strong>خدا</strong>                            پنهان بماند، چه در آسمان‏ها، چه در زمین. او دانای مطلق است، قادر مطلق.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="44" name="44"></a>

                        <p>[<span title="Initiator (F&#227;ter), verse 44">35:44</span>]&nbsp; Have they not roamed the earth and noted the consequences for those who preceded them? They were even stronger than they. Nothing can be hidden from <strong>GOD</strong>                            in the heavens, nor on earth. He is Omniscient, Omnipotent.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="45" name="45"></a>

                        <p>(<span title="آغازکننده (فاطر), آیه ۴۵">۳۵:۴۵</span>)&nbsp; اگر <strong>خدا</strong> مردم را به خاطر گناهانشان تنبیه می‌کرد، او هیچ موجودی را روی زمین باقی نمی‌گذاشت. اما او تا زمانی از قبل تعیین شده به آنها مهلت می‌دهد. هنگامی
                            که مهلت آنها سرآید، سپس <strong>خدا</strong> بر بندگانش بینا است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="45" name="45"></a>

                        <p>[<span title="Initiator (F&#227;ter), verse 45">35:45</span>]&nbsp; If <strong>GOD</strong> punished the people for their sins, He would not leave a single creature on earth. But He respites them for a predetermined interim. Once
                            their interim is fulfilled, then <strong>GOD</strong> is Seer of His servants.</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۰۹۵</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۰۷۹۳۰</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
       