<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۷۶: انسان (الانسان)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 76: The Human (Al-Insaan)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="انسان (الانسان), آیه ۱">۷۶:۱</span>)&nbsp; آیا این واقعیت نیست که زمانی انسان چیزی نبود که ذکر شود؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="The Human (Al-Insaan), verse 1">76:1</span>]&nbsp; Is it not a fact that there was a time when the human being was nothing to be mentioned?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="انسان (الانسان), آیه ۲">۷۶:۲</span>)&nbsp; ما انسان را از مخلوطی مایع، از هر دو والدین خلق کردیم تا او را امتحان کنیم. بنابراین، ما او را شنوا و بینا قرار دادیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="The Human (Al-Insaan), verse 2">76:2</span>]&nbsp; We created the human from a liquid mixture, from two parents, in order to test him. Thus, we made him a hearer and a seer.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="انسان (الانسان), آیه ۳">۷۶:۳</span>)&nbsp; ما دو راه را به او نشان دادیم، سپس او یا سپاسگزار است، یا ناسپاس.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="The Human (Al-Insaan), verse 3">76:3</span>]&nbsp; We showed him the two paths, then, he is either appreciative, or unappreciative.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="انسان (الانسان), آیه ۴">۷۶:۴</span>)&nbsp; ما برای کافران زنجیرها، پابندها، و جهنمی فروزان فراهم آوردیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="The Human (Al-Insaan), verse 4">76:4</span>]&nbsp; We prepared for the disbelievers chains, shackles, and a blazing Hell.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="انسان (الانسان), آیه ۵">۷۶:۵</span>)&nbsp; و اما برای پرهیزکاران، آنها از جامهایی با طعم شهد خواهند نوشید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="The Human (Al-Insaan), verse 5">76:5</span>]&nbsp; As for the virtuous, they will drink from cups spiced with nectar.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="انسان (الانسان), آیه ۶">۷۶:۶</span>)&nbsp; چشمه‏‌ای که برای بندگان <strong>خدا</strong> در نظر گرفته شده است؛ به میل آنها بیرون خواهد آمد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="The Human (Al-Insaan), verse 6">76:6</span>]&nbsp; A spring that is reserved for <strong>GOD</strong>'s servants; it will gush out as they will.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="انسان (الانسان), آیه ۷">۷۶:۷</span>)&nbsp; آنها به عهد خود وفا می‌کنند، و به هیبت روزی که بسیار سخت است حرمت می‌نهند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="The Human (Al-Insaan), verse 7">76:7</span>]&nbsp; They fulfill their pledges, and reverence a day that is extremely difficult.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="انسان (الانسان), آیه ۸">۷۶:۸</span>)&nbsp; آنها غذای مورد علاقه خود را به مسکین، یتیم، و اسیر می‌دهند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="The Human (Al-Insaan), verse 8">76:8</span>]&nbsp; They donate their favorite food to the poor, the orphan, and the captive.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <p>(<span title="انسان (الانسان), آیه ۹">۷۶:۹</span>)&nbsp; "ما به خاطر <strong>خدا</strong> به شما غذا می‌دهیم؛ ما از شما نه انتظار پاداش داریم، و نه تشکر.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <p>[<span title="The Human (Al-Insaan), verse 9">76:9</span>]&nbsp; "We feed you for the sake of <strong>GOD</strong>; we expect no reward from you, nor thanks.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <p>(<span title="انسان (الانسان), آیه ۱۰">۷۶:۱۰</span>)&nbsp; "ما از پروردگارمان می‌ترسیم از روزی که پر از بدبختی و سختی است."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <p>[<span title="The Human (Al-Insaan), verse 10">76:10</span>]&nbsp; "We fear from our Lord a day that is full of misery and trouble."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <p>(<span title="انسان (الانسان), آیه ۱۱">۷۶:۱۱</span>)&nbsp; در نتیجه، <strong>خدا</strong> آنها را از بدیهای آن روز در امان می‌دارد، و آنها را با شادی و رضایت پاداش می‌دهد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <p>[<span title="The Human (Al-Insaan), verse 11">76:11</span>]&nbsp; Consequently, <strong>GOD</strong> protects them from the evils of that day, and rewards them with joy and contentment.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="12" name="12"></a>

                        <p>(<span title="انسان (الانسان), آیه ۱۲">۷۶:۱۲</span>)&nbsp; او پاداش آنها را به خاطر ثابت‏قدم بودنشان با پردیس و ابریشم می‌دهد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="12" name="12"></a>

                        <p>[<span title="The Human (Al-Insaan), verse 12">76:12</span>]&nbsp; He rewards them for their steadfastness with Paradise, and silk.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="13" name="13"></a>

                        <p>(<span title="انسان (الانسان), آیه ۱۳">۷۶:۱۳</span>)&nbsp; آنها بر روی مبلمانهای مجلل در آنجا استراحت می‌کنند. آنها نه از گرمای خورشید ناراحت می‌شوند و نه از سرما.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="13" name="13"></a>

                        <p>[<span title="The Human (Al-Insaan), verse 13">76:13</span>]&nbsp; They relax therein on luxurious furnishings. They suffer neither the heat of the sun, nor any cold.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="14" name="14"></a>

                        <p>(<span title="انسان (الانسان), آیه ۱۴">۷۶:۱۴</span>)&nbsp; در آنجا سایه آنها را می‌پوشاند، و میوه‏‌ها در دسترس قرار می‌گیرند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="14" name="14"></a>

                        <p>[<span title="The Human (Al-Insaan), verse 14">76:14</span>]&nbsp; The shade covers them therein, and the fruits are brought within reach.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="15" name="15"></a>

                        <p>(<span title="انسان (الانسان), آیه ۱۵">۷۶:۱۵</span>)&nbsp; از آنها با نوشیدنیهایی در ظرفهای نقره‏‌ای و جام‏های شفاف پذیرایی می‌شود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="15" name="15"></a>

                        <p>[<span title="The Human (Al-Insaan), verse 15">76:15</span>]&nbsp; They are served drinks in silver containers and cups that are translucent.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="16" name="16"></a>

                        <p>(<span title="انسان (الانسان), آیه ۱۶">۷۶:۱۶</span>)&nbsp; جام‏هایی شفاف، اگر چه از نقره ساخته شده است؛ آنها به حق سزاوار همه اینها شده‏‌اند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="16" name="16"></a>

                        <p>[<span title="The Human (Al-Insaan), verse 16">76:16</span>]&nbsp; Translucent cups, though made of silver; they rightly deserved all this.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="17" name="17"></a>

                        <p>(<span title="انسان (الانسان), آیه ۱۷">۷۶:۱۷</span>)&nbsp; آنها از نوشیدنیهای خوش طعم لذت می‌برند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="17" name="17"></a>

                        <p>[<span title="The Human (Al-Insaan), verse 17">76:17</span>]&nbsp; They enjoy drinks of delicious flavors.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="18" name="18"></a>

                        <p>(<span title="انسان (الانسان), آیه ۱۸">۷۶:۱۸</span>)&nbsp; از چشمه‏‌ای در آن معروف به "سلسبیل."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="18" name="18"></a>

                        <p>[<span title="The Human (Al-Insaan), verse 18">76:18</span>]&nbsp; From a spring therein known as "Salsabeel."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="19" name="19"></a>

                        <p>(<span title="انسان (الانسان), آیه ۱۹">۷۶:۱۹</span>)&nbsp; پیشخدمتهایی جاودانی از آنها پذیرایی خواهند کرد. هنگامی که به آنها نگاه می‌کنی، مانند مرواریدهایی پراکنده خواهند بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="19" name="19"></a>

                        <p>[<span title="The Human (Al-Insaan), verse 19">76:19</span>]&nbsp; Serving them will be immortal servants. When you see them, they will look like scattered pearls.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="20" name="20"></a>

                        <p>(<span title="انسان (الانسان), آیه ۲۰">۷۶:۲۰</span>)&nbsp; به هر کجا که نگاه کنید، برکت و سلطنتی شگرف خواهید دید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="20" name="20"></a>

                        <p>[<span title="The Human (Al-Insaan), verse 20">76:20</span>]&nbsp; Wherever you look, you will see bliss, and a wonderful dominion.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="21" name="21"></a>

                        <p>(<span title="انسان (الانسان), آیه ۲۱">۷۶:۲۱</span>)&nbsp; بر تن آنها لباسهایی از مخمل سبز، اطلس، و زینت‏آلات نقره‏‌ای خواهد بود. پروردگارشان برایشان نوشیدنیهای پاک فراهم خواهد کرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="21" name="21"></a>

                        <p>[<span title="The Human (Al-Insaan), verse 21">76:21</span>]&nbsp; On them will be clothes of green velvet, satin, and silver ornaments. Their Lord will provide them with pure drinks.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="22" name="22"></a>

                        <p>(<span title="انسان (الانسان), آیه ۲۲">۷۶:۲۲</span>)&nbsp; این پاداشی است که منتظر شما است، زیرا از کوششهای شما قدردانی شده است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="22" name="22"></a>

                        <p>[<span title="The Human (Al-Insaan), verse 22">76:22</span>]&nbsp; This is the reward that awaits you, for your efforts have been appreciated.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="23" name="23"></a>

                        <p>(<span title="انسان (الانسان), آیه ۲۳">۷۶:۲۳</span>)&nbsp; ما این قرآن را بر تو نازل کرده‏‌ایم؛ تنزیلی خاص از طرف ما.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="23" name="23"></a>

                        <p>[<span title="The Human (Al-Insaan), verse 23">76:23</span>]&nbsp; We have revealed to you this Quran; a special revelation from us.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="24" name="24"></a>

                        <p>(<span title="انسان (الانسان), آیه ۲۴">۷۶:۲۴</span>)&nbsp; باید ثابت‏قدمانه دستورات پروردگارت را اجرا کنی، و از هیچ کافر گناهکاری در میانشان پیروی نکنی.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="24" name="24"></a>

                        <p>[<span title="The Human (Al-Insaan), verse 24">76:24</span>]&nbsp; You shall steadfastly carry out your Lord's commandments, and do not obey any sinful disbeliever among them.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="25" name="25"></a>

                        <p>(<span title="انسان (الانسان), آیه ۲۵">۷۶:۲۵</span>)&nbsp; و نام پروردگارت را روز و شب ذکر گو.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="25" name="25"></a>

                        <p>[<span title="The Human (Al-Insaan), verse 25">76:25</span>]&nbsp; And commemorate the name of your Lord day and night.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="26" name="26"></a>

                        <p>(<span title="انسان (الانسان), آیه ۲۶">۷۶:۲۶</span>)&nbsp; در طول شب، در پیشگاه او سجده کن، و او را ستایش کن در بسیاری از شبهای دراز.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="26" name="26"></a>

                        <p>[<span title="The Human (Al-Insaan), verse 26">76:26</span>]&nbsp; During the night, fall prostrate before Him, and glorify Him many a long night.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="27" name="27"></a>

                        <p>(<span title="انسان (الانسان), آیه ۲۷">۷۶:۲۷</span>)&nbsp; این مردم سرگرم این زندگی زودگذر شده‏‌اند، در حالی که به روزی سخت-درست در جلویشان- بی‏ اعتناء هستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="27" name="27"></a>

                        <p>[<span title="The Human (Al-Insaan), verse 27">76:27</span>]&nbsp; These people are preoccupied with this fleeting life, while disregarding&mdash;just ahead of them&mdash;a heavy day.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="28" name="28"></a>

                        <p>(<span title="انسان (الانسان), آیه ۲۸">۷۶:۲۸</span>)&nbsp; ما آنها را خلق کردیم، و آنها را برقرار نمودیم، و هر وقت که بخواهیم می‌توانیم دیگران را جانشین ایشان قرار دهیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="28" name="28"></a>

                        <p>[<span title="The Human (Al-Insaan), verse 28">76:28</span>]&nbsp; We created them, and established them, and, whenever we will, we can substitute others in their place.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="29" name="29"></a>

                        <p>(<span title="انسان (الانسان), آیه ۲۹">۷۶:۲۹</span>)&nbsp; این تذکری است: هر کس بخواهد باید راه پروردگارش را انتخاب کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="29" name="29"></a>

                        <p>[<span title="The Human (Al-Insaan), verse 29">76:29</span>]&nbsp; This is a reminder: whoever wills shall choose the path to his Lord.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="30" name="30"></a>

                        <p>(<span title="انسان (الانسان), آیه ۳۰">۷۶:۳۰</span>)&nbsp; هر چه شما بخواهید بر طبق خواست <strong>خدا</strong> است. <strong>خدا</strong> دانای مطلق است، حکیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="30" name="30"></a>

                        <p>[<span title="The Human (Al-Insaan), verse 30">76:30</span>]&nbsp; Whatever you will is in accordance with <strong>GOD</strong>'s will. <strong>GOD</strong> is Omniscient, Wise.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="31" name="31"></a>

                        <p>(<span title="انسان (الانسان), آیه ۳۱">۷۶:۳۱</span>)&nbsp; او هر کس را بخواهد به رحمت خود داخل می‌کند. و اما متجاوزین، او برای آنها عذابی دردناک فراهم کرده است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="31" name="31"></a>

                        <p>[<span title="The Human (Al-Insaan), verse 31">76:31</span>]&nbsp; He admits whomever He wills into His mercy. As for the transgressors, He has prepared for them a painful retribution.</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۶۷۷</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۷۸۹۷</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>

</html>

