<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۷۷: فرستاده شدگان (المرسلات)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 77: Dispatched (Al-Mursalaat)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۱">۷۷:۱</span>)&nbsp; (فرشتگان) پی در پی فرستاده شدند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 1">77:1</span>]&nbsp;
                            <em>(Angels)</em> dispatched in succession.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۲">۷۷:۲</span>)&nbsp; تا باد را برانند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 2">77:2</span>]&nbsp; To drive the wind.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۳">۷۷:۳</span>)&nbsp; ابرها را بهم درآمیزند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 3">77:3</span>]&nbsp; Stir up clouds.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۴">۷۷:۴</span>)&nbsp; روزی‏ها را تقسیم کنند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 4">77:4</span>]&nbsp; Distribute the provisions.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۵">۷۷:۵</span>)&nbsp; پیغام‏ها را تحویل دهند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 5">77:5</span>]&nbsp; Deliver messages.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۶">۷۷:۶</span>)&nbsp; اخبار خوب، و همینطور هشدارها.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 6">77:6</span>]&nbsp; Good news, as well as warnings.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۷">۷۷:۷</span>)&nbsp; آنچه وعده داده شده، انجام خواهد شد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 7">77:7</span>]&nbsp; What is promised will come to pass.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۸">۷۷:۸</span>)&nbsp; پس، هنگامی که ستارگان خاموش شوند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 8">77:8</span>]&nbsp; Thus, when the stars are put out.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۹">۷۷:۹</span>)&nbsp; آسمان باز شود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 9">77:9</span>]&nbsp; The sky is opened up.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۱۰">۷۷:۱۰</span>)&nbsp; کوهها منفجر شوند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 10">77:10</span>]&nbsp; The mountains are blown up.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۱۱">۷۷:۱۱</span>)&nbsp; رسولان احضار شوند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 11">77:11</span>]&nbsp; The messengers are summoned.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="12" name="12"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۱۲">۷۷:۱۲</span>)&nbsp; آن روز موعود است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="12" name="12"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 12">77:12</span>]&nbsp; That is the appointed day.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="13" name="13"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۱۳">۷۷:۱۳</span>)&nbsp; روز تصمیم‏گیری.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="13" name="13"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 13">77:13</span>]&nbsp; The Day of Decision.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="14" name="14"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۱۴">۷۷:۱۴</span>)&nbsp; چه روز تصمیم‏گیریی!</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="14" name="14"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 14">77:14</span>]&nbsp; What a Day of Decision!</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="15" name="15"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۱۵">۷۷:۱۵</span>)&nbsp; در آن روز، وای بر تکذیب کنندگان.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="15" name="15"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 15">77:15</span>]&nbsp; Woe on that day to the rejectors.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="16" name="16"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۱۶">۷۷:۱۶</span>)&nbsp; آیا ما نسلهای پیشین را هلاک نکردیم؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="16" name="16"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 16">77:16</span>]&nbsp; Did we not annihilate the earlier generations?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="17" name="17"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۱۷">۷۷:۱۷</span>)&nbsp; سپس دیگران را پیرو ایشان ساختیم؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="17" name="17"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 17">77:17</span>]&nbsp; Then we made others follow them?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="18" name="18"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۱۸">۷۷:۱۸</span>)&nbsp; اینست کاری که ما با مجرمان انجام می‌دهیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="18" name="18"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 18">77:18</span>]&nbsp; This is what we do to the criminals.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="19" name="19"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۱۹">۷۷:۱۹</span>)&nbsp; در آن روز، وای بر تکذیب کنندگان.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="19" name="19"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 19">77:19</span>]&nbsp; Woe on that day to the rejectors.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="20" name="20"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۲۰">۷۷:۲۰</span>)&nbsp; آیا ما شما را از مایعی پست خلق نکردیم؟</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۲۳- ۷۷:۲۰ بر طبق نطقه شناسى طبى لنگمن (Langman's Medical Embryology)، نوشته ت.دابليو. سدلر(T. W. Sadler)، چاپ پنجم، صفحه ۸۸: "بطور کلى مدت زمان حاملگى براى يک جنين کامل ۲۶۶ روز يا ۳۸ هفته پس از تخم گذارى است." ۲۶۶ و ۳۸
                                    هر دو بر ۱۹ قابل قسمت است( ضميمه ۱).</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="20" name="20"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 20">77:20</span>]&nbsp; Did we not create you from a lowly liquid?*</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*77:20-23 According to Langman's Medical Embryology, by T. W. Sadler (Fifth Edition, Page 88): "In general the length of pregnancy for a full term fetus is 266 days or 38 weeks after fertilization." Both 266 and 38 are
                                    multiples of 19 (Appendix 1).

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="21" name="21"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۲۱">۷۷:۲۱</span>)&nbsp; سپس آن را در مکانی محفوظ قرار دادیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="21" name="21"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 21">77:21</span>]&nbsp; Then we placed it in a well-protected repository.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="22" name="22"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۲۲">۷۷:۲۲</span>)&nbsp; برای مدتی معین.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="22" name="22"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 22">77:22</span>]&nbsp; For a specific period.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="23" name="23"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۲۳">۷۷:۲۳</span>)&nbsp; ما آن را دقیقاً اندازه گرفتیم. ما بهترین طراحان هستیم.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۲۳- ۷۷:۲۰ بر طبق نطقه شناسى طبى لنگمن (Langman's Medical Embryology)، نوشته ت.دابليو. سدلر(T. W. Sadler)، چاپ پنجم، صفحه ۸۸: "بطور کلى مدت زمان حاملگى براى يک جنين کامل ۲۶۶ روز يا ۳۸ هفته پس از تخم گذارى است." ۲۶۶ و ۳۸
                                    هر دو بر ۱۹ قابل قسمت است( ضميمه ۱).</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="23" name="23"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 23">77:23</span>]&nbsp; We measured it precisely.* We are the best designers.</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*77:20-23 According to Langman's Medical Embryology, by T. W. Sadler (Fifth Edition, Page 88): "In general the length of pregnancy for a full term fetus is 266 days or 38 weeks after fertilization." Both 266 and 38 are
                                    multiples of 19 (Appendix 1).


                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="24" name="24"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۲۴">۷۷:۲۴</span>)&nbsp; در آن روز، وای بر تکذیب کنندگان.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="24" name="24"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 24">77:24</span>]&nbsp; Woe on that day to the rejectors.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="25" name="25"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۲۵">۷۷:۲۵</span>)&nbsp; آیا ما زمین را مسکن قرار ندادیم؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="25" name="25"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 25">77:25</span>]&nbsp; Did we not make the earth an abode?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="26" name="26"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۲۶">۷۷:۲۶</span>)&nbsp; برای زنده و مرده؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="26" name="26"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 26">77:26</span>]&nbsp; For the living and the dead?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="27" name="27"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۲۷">۷۷:۲۷</span>)&nbsp; ما بر روی آن کوههای بلند قرار دادیم، و برای شما آب گوارا جهت نوشیدن تهیه نمودیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="27" name="27"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 27">77:27</span>]&nbsp; We placed on it high mountains, and provided you with fresh water to drink.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="28" name="28"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۲۸">۷۷:۲۸</span>)&nbsp; در آن روز، وای بر تکذیب کنندگان.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="28" name="28"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 28">77:28</span>]&nbsp; Woe on that day to the rejectors.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="29" name="29"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۲۹">۷۷:۲۹</span>)&nbsp; بروید به سوی آنچه قبلاً آن را باور نمی‌کردید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="29" name="29"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 29">77:29</span>]&nbsp; Go to what you used to disbelieve in.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="30" name="30"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۳۰">۷۷:۳۰</span>)&nbsp; بروید به سوی سایه‏‌ای از سه غلظت مختلف.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="30" name="30"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 30">77:30</span>]&nbsp; Go to a shade of three different densities.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="31" name="31"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۳۱">۷۷:۳۱</span>)&nbsp; با وجود این، آن نه خنکی فراهم می‌کند، نه محافظت از گرما.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="31" name="31"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 31">77:31</span>]&nbsp; Yet, it provides neither coolness, nor protection from the heat.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="32" name="32"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۳۲">۷۷:۳۲</span>)&nbsp; جرقه‏‌هایی به بزرگی قصرها پرتاب می‌کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="32" name="32"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 32">77:32</span>]&nbsp; It throws sparks as big as mansions.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="33" name="33"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۳۳">۷۷:۳۳</span>)&nbsp; به زردی رنگ شترها.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="33" name="33"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 33">77:33</span>]&nbsp; As yellow as the color of camels.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="34" name="34"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۳۴">۷۷:۳۴</span>)&nbsp; در آن روز، وای بر تکذیب کنندگان.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="34" name="34"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 34">77:34</span>]&nbsp; Woe on that day to the rejectors.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="35" name="35"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۳۵">۷۷:۳۵</span>)&nbsp; آن روزی است که آنها صحبت نمی‌کنند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="35" name="35"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 35">77:35</span>]&nbsp; That is the day they do not speak.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="36" name="36"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۳۶">۷۷:۳۶</span>)&nbsp; و نه اجازه عذرخواهی به آنها داده می‌شود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="36" name="36"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 36">77:36</span>]&nbsp; Nor are they given permission to apologize.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="37" name="37"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۳۷">۷۷:۳۷</span>)&nbsp; در آن روز، وای بر تکذیب کنندگان.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="37" name="37"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 37">77:37</span>]&nbsp; Woe on that day to the rejectors.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="38" name="38"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۳۸">۷۷:۳۸</span>)&nbsp; این است روز تصمیم‏گیری. ما، شما و نسلهای قبلی را احضار کرده‏‌ایم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="38" name="38"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 38">77:38</span>]&nbsp; This is the Day of Decision. We have summoned you and the previous generations.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="39" name="39"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۳۹">۷۷:۳۹</span>)&nbsp; اگر توطئه‏‌هایی دارید، بفرمایید و توطئه کنید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="39" name="39"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 39">77:39</span>]&nbsp; If you have any schemes, go ahead and scheme.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="40" name="40"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۴۰">۷۷:۴۰</span>)&nbsp; در آن روز، وای بر تکذیب کنندگان.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="40" name="40"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 40">77:40</span>]&nbsp; Woe on that day to the rejectors.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="41" name="41"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۴۱">۷۷:۴۱</span>)&nbsp; پرهیزکاران از سایه و چشمه‏‌ها لذت خواهند برد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="41" name="41"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 41">77:41</span>]&nbsp; The righteous will enjoy shade and springs.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="42" name="42"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۴۲">۷۷:۴۲</span>)&nbsp; و میوه‏‌هایی که آرزو کنند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="42" name="42"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 42">77:42</span>]&nbsp; And fruits that they desire.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="43" name="43"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۴۳">۷۷:۴۳</span>)&nbsp; با خوشحالی بخورید و بیاشامید در عوض اعمالتان.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="43" name="43"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 43">77:43</span>]&nbsp; Eat and drink happily in return for your works.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="44" name="44"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۴۴">۷۷:۴۴</span>)&nbsp; ما اینچنین نیکوکاران را پاداش می‌دهیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="44" name="44"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 44">77:44</span>]&nbsp; We thus reward the virtuous.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="45" name="45"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۴۵">۷۷:۴۵</span>)&nbsp; در آن روز، وای بر تکذیب کنندگان.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="45" name="45"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 45">77:45</span>]&nbsp; Woe on that day to the rejectors.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="46" name="46"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۴۶">۷۷:۴۶</span>)&nbsp; بخورید و لذت ببرید موقتاً؛ شما گناهکار هستید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="46" name="46"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 46">77:46</span>]&nbsp; Eat and enjoy temporarily; you are guilty.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="47" name="47"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۴۷">۷۷:۴۷</span>)&nbsp; در آن روز، وای بر تکذیب کنندگان.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="47" name="47"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 47">77:47</span>]&nbsp; Woe on that day to the rejectors.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="48" name="48"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۴۸">۷۷:۴۸</span>)&nbsp; هنگامی که به آنها گفته شود، "به رکوع بروید،" به رکوع نمی‌روند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="48" name="48"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 48">77:48</span>]&nbsp; When they are told, "Bow down," they do not bow down.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="49" name="49"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۴۹">۷۷:۴۹</span>)&nbsp; در آن روز، وای بر تکذیب کنندگان.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="49" name="49"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 49">77:49</span>]&nbsp; Woe on that day to the rejectors.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="50" name="50"></a>

                        <p>(<span title="فرستاده شدگان (المرسلات), آیه ۵۰">۷۷:۵۰</span>)&nbsp; از کدام "حدیث" غیر از این، پیروی می‌کنند؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="50" name="50"></a>

                        <p>[<span title="Dispatched (Al-Mursalaat), verse 50">77:50</span>]&nbsp; Which Hadith, other than this, do they uphold?</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
        </div>
</body>

</html>

