<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۵۲: کوه سینا (الطور)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 52: Mt. Sinai (Al-Toor)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۱">۵۲:۱</span>)&nbsp; کوه سینا.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 1">52:1</span>]&nbsp; Mt. Sinai.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۲">۵۲:۲</span>)&nbsp; آن کتاب آسمانی ثبت شده.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 2">52:2</span>]&nbsp; The recorded scripture.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۳">۵۲:۳</span>)&nbsp; منتشر شده در کتابها.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 3">52:3</span>]&nbsp; Published in books.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۴">۵۲:۴</span>)&nbsp; آن زیارتگاه پر رفت و آمد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 4">52:4</span>]&nbsp; The frequented Shrine.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۵">۵۲:۵</span>)&nbsp; آن سقف مرتفع.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 5">52:5</span>]&nbsp; The exalted ceiling.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۶">۵۲:۶</span>)&nbsp; آن دریایی که به آتش کشیده شده است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 6">52:6</span>]&nbsp; The sea that is set aflame.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۷">۵۲:۷</span>)&nbsp; جزای پروردگارت اجتناب‏ناپذیر است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 7">52:7</span>]&nbsp; Your Lord's requital is unavoidable.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۸">۵۲:۸</span>)&nbsp; هیچ قدرتی در جهان نمی‌تواند آن را متوقف سازد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 8">52:8</span>]&nbsp; No force in the universe can stop it.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۹">۵۲:۹</span>)&nbsp; آن روز خواهد آمد که آسمان بشدت غرش خواهد کرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 9">52:9</span>]&nbsp; The day will come when the sky will violently thunder.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۱۰">۵۲:۱۰</span>)&nbsp; کوهها از بین خواهند رفت.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 10">52:10</span>]&nbsp; The mountains will be wiped out.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۱۱">۵۲:۱۱</span>)&nbsp; در آن روز وای بر کافران-</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 11">52:11</span>]&nbsp; Woe on that day to the disbelievers&mdash;</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="12" name="12"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۱۲">۵۲:۱۲</span>)&nbsp; که در اشتباه خود بی‏توجه هستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="12" name="12"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 12">52:12</span>]&nbsp; who are in their blundering, heedless.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="13" name="13"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۱۳">۵۲:۱۳</span>)&nbsp; آنها به زور به جهنم رانده خواهند شد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="13" name="13"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 13">52:13</span>]&nbsp; They will be herded into Gehenna, forcibly.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="14" name="14"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۱۴">۵۲:۱۴</span>)&nbsp; این است آتشی که شما آن را باور نمی‌کردید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="14" name="14"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 14">52:14</span>]&nbsp; This is the Fire in which you used to disbelieve.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="15" name="15"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۱۵">۵۲:۱۵</span>)&nbsp; آیا این شعبده است، یا اینکه شما نمی‌بینید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="15" name="15"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 15">52:15</span>]&nbsp; Is this magic, or do you not see?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="16" name="16"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۱۶">۵۲:۱۶</span>)&nbsp; از سوختن رنج ببرید، چه صبور باشید و چه نباشید، برای شما یکسان خواهد بود. این جزای عادلانه کارهایی است که انجام دادید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="16" name="16"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 16">52:16</span>]&nbsp; Suffer the burning. Whether you are patient or impatient, it will be the same for you. This is the just requital for what you did.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="17" name="17"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۱۷">۵۲:۱۷</span>)&nbsp; پرهیزکاران لیاقت باغها و شادی را دارند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="17" name="17"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 17">52:17</span>]&nbsp; The righteous have deserved gardens and bliss.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="18" name="18"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۱۸">۵۲:۱۸</span>)&nbsp; آنها از آنچه پروردگارشان برای آنها اختصاص داده است لذت می‌برند؛ پروردگارشان آنها را از عذاب جهنم رهایی داده است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="18" name="18"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 18">52:18</span>]&nbsp; They enjoy what their Lord has reserved for them; their Lord has spared them the retribution of Hell.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="19" name="19"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۱۹">۵۲:۱۹</span>)&nbsp; با خوشحالی بخورید و بیاشامید، در جواب اعمالتان.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="19" name="19"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 19">52:19</span>]&nbsp; Eat and drink happily, in return for your works.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="20" name="20"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۲۰">۵۲:۲۰</span>)&nbsp; آنها روی مبلمانهای مجلل استراحت می‌کنند، و ما آنها را با همسران زیبا پیوند می‌دهیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="20" name="20"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 20">52:20</span>]&nbsp; They relax on luxurious furnishings, and we match them with beautiful spouses.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="21" name="21"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۲۱">۵۲:۲۱</span>)&nbsp; کسانی که ایمان آوردند، و فرندانشان هم در ایمان از آنها پیروی کردند، ما فرزندانشان را به ایشان ملحق خواهیم کرد. ما هرگز از پاداش دادن به آنها برای هر کاری غافل نمی‌شویم.
                            هر شخصی هر کاری انجام داده است، پاداش آن را دریافت می‌کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="21" name="21"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 21">52:21</span>]&nbsp; For those who believed, and their children also followed them in belief, we will have their children join them. We never fail to reward them for any work. Every person
                            is paid for what he did.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="22" name="22"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۲۲">۵۲:۲۲</span>)&nbsp; ما برای آنها میوه‏‌ها و گوشت‏هایی که دوست دارند فراهم خواهیم کرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="22" name="22"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 22">52:22</span>]&nbsp; We will supply them with fruits and meats that they love.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="23" name="23"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۲۳">۵۲:۲۳</span>)&nbsp; آنها از نوشیدنی‏هایی که هرگز آلوده نیستند، و هرگز نوشیدن آنها گناه نیست لذت خواهند برد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="23" name="23"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 23">52:23</span>]&nbsp; They will enjoy drinks that are never polluted, and never sinful to drink.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="24" name="24"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۲۴">۵۲:۲۴</span>)&nbsp; خدمتکارانی مانند مرواریدهای محافظت شده، در خدمت آنها خواهند بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="24" name="24"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 24">52:24</span>]&nbsp; Serving them will be servants like protected pearls.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="25" name="25"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۲۵">۵۲:۲۵</span>)&nbsp; آنها یکدیگر را ملاقات می‌کنند، و از خاطرات خود با هم سخن می‌گویند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="25" name="25"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 25">52:25</span>]&nbsp; They will meet each other and reminisce among themselves.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="26" name="26"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۲۶">۵۲:۲۶</span>)&nbsp; آنها خواهند گفت، "ما در میان مردم خود مهربان و فروتن بودیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="26" name="26"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 26">52:26</span>]&nbsp; They will say, "We used to be kind and humble among our people.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="27" name="27"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۲۷">۵۲:۲۷</span>)&nbsp; "
                            <strong>خدا</strong> به ما نعمت عطا کرده است، و ما را از رنج بادهای زیان‏آور رهایی داده است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="27" name="27"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 27">52:27</span>]&nbsp; "
                            <strong>GOD</strong> has blessed us, and has spared us the agony of ill winds.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="28" name="28"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۲۸">۵۲:۲۸</span>)&nbsp; "ما او را دعا می‌کردیم؛ او بامحبت‏ترین است، مهربانترین."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="28" name="28"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 28">52:28</span>]&nbsp; "We used to implore Him; He is the Most Kind, Most Merciful."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="29" name="29"></a>

                        <div class="footnote-subtitle">رسول</div>

                        <p>(<span title="کوه سینا (الطور), آیه ۲۹">۵۲:۲۹</span>)&nbsp; باید مردم را یادآوری کنی. با نعمت‏های پروردگارت بر تو، تو نه غیبگو هستی، و نه دیوانه.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="29" name="29"></a>

                        <div class="footnote-subtitle">The Messenger</div>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 29">52:29</span>]&nbsp; You shall remind the people. With your Lord's blessings upon you, you are neither a soothsayer, nor crazy.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="30" name="30"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۳۰">۵۲:۳۰</span>)&nbsp; آنها ممکنست بگویند، "او یک شاعر است؛ بیایید منتظر شویم تا او بمیرد."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="30" name="30"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 30">52:30</span>]&nbsp; They may say, "He is a poet; let us just wait until he is dead."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="31" name="31"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۳۱">۵۲:۳۱</span>)&nbsp; بگو، "منتظر باشید؛ من هم با شما منتظر خواهم بود."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="31" name="31"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 31">52:31</span>]&nbsp; Say, "Go on waiting; I will wait along with you."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="32" name="32"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۳۲">۵۲:۳۲</span>)&nbsp; آیا خوابهایشان است که رفتارشان را به آنها دیکته می‌کند، یا طبیعتاً ستمکار هستند؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="32" name="32"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 32">52:32</span>]&nbsp; Is it their dreams that dictate their behavior, or are they naturally wicked?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="33" name="33"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۳۳">۵۲:۳۳</span>)&nbsp; آیا می‌گویند، "او همه را از خود ساخته است؟" در عوض، آنها فقط کافر هستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="33" name="33"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 33">52:33</span>]&nbsp; Do they say, "He made it all up?" Instead, they are simply disbelievers.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="34" name="34"></a>

                        <div class="footnote-subtitle">"محمدی‏ها" خدا را به مبارزه می‌طلبند و حدیث میسازند</div>

                        <p>(<span title="کوه سینا (الطور), آیه ۳۴">۵۲:۳۴</span>)&nbsp; بگذار "حدیثی" مانند این بسازند، اگر راست می‌گویند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="34" name="34"></a>

                        <div class="footnote-subtitle">"Mohammedans" Challenge God and Produce Hadith</div>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 34">52:34</span>]&nbsp; Let them produce a Hadith like this, if they are truthful.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="35" name="35"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۳۵">۵۲:۳۵</span>)&nbsp; آیا آنها از هیچ خلق شدند؟ آیا آنها خالق هستند؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="35" name="35"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 35">52:35</span>]&nbsp; Were they created from nothing? Are they the creators?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="36" name="36"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۳۶">۵۲:۳۶</span>)&nbsp; آیا آنها آسمانها و زمین را آفریدند؟ به درستی که آنها یقین ندارند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="36" name="36"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 36">52:36</span>]&nbsp; Did they create the heavens and the earth? Indeed, they have no certainty.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="37" name="37"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۳۷">۵۲:۳۷</span>)&nbsp; آیا آنها صاحب گنجهای پروردگارت هستند؟ آیا کنترل در دست آنهاست؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="37" name="37"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 37">52:37</span>]&nbsp; Do they possess the treasures of your Lord? Are they in control?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="38" name="38"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۳۸">۵۲:۳۸</span>)&nbsp; آیا از نردبانی بالا می‌روند که آنها را قادر به شنیدن می‌کند؟ بگذار شنوندگانشان اثبات خود را نشان دهند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="38" name="38"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 38">52:38</span>]&nbsp; Do they climb a ladder that enables them to listen? Let their listeners show their proof.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="39" name="39"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۳۹">۵۲:۳۹</span>)&nbsp; آیا او صاحب دختران است، در حالی که شما صاحب پسران هستید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="39" name="39"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 39">52:39</span>]&nbsp; Does He have daughters, while you have sons?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="40" name="40"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۴۰">۵۲:۴۰</span>)&nbsp; آیا تو از آنها حقوقی می‌خواهی، و پرداخت آن برایشان دشوار است؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="40" name="40"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 40">52:40</span>]&nbsp; Are you asking them for any wage, and they are burdened thereby?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="41" name="41"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۴۱">۵۲:۴۱</span>)&nbsp; آیا آنها از آینده خبر دارند، و آن را ضبط کرده دارند؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="41" name="41"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 41">52:41</span>]&nbsp; Do they know the future, and have it recorded?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="42" name="42"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۴۲">۵۲:۴۲</span>)&nbsp; آیا آنها نقشه می‌کشند و توطئه می‌کنند؟ توطئه کافران به خودشان باز خواهد گشت.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="42" name="42"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 42">52:42</span>]&nbsp; Are they plotting and scheming? The disbelievers' schemes backfire against them.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="43" name="43"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۴۳">۵۲:۴۳</span>)&nbsp; آیا آنها خدای دیگری در کنار <strong>خدا</strong> دارند؟ ستایش <strong>خدا</strong> را، بسیار بالاتر از اینکه شرکایی داشته باشد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="43" name="43"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 43">52:43</span>]&nbsp; Do they have another god besides <strong>GOD</strong>? <strong>GOD</strong> be glorified, far above having partners.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="44" name="44"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۴۴">۵۲:۴۴</span>)&nbsp; هنگامی که می‌بینند توده‏‌هایی از آسمان پایین می‌افتد، خواهند گفت، "ابرهای متراکم!"</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="44" name="44"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 44">52:44</span>]&nbsp; When they see masses falling from the sky, they will say, "Piled clouds!"</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="45" name="45"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۴۵">۵۲:۴۵</span>)&nbsp; به آنها بی‏ اعتنایی کن تا آن روز را که ضربه می‌خورند، ببینند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="45" name="45"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 45">52:45</span>]&nbsp; Disregard them until they meet the day in which they are struck.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="46" name="46"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۴۶">۵۲:۴۶</span>)&nbsp; در آن روز، توطئه‏‌هایشان از آنها محافظت نخواهد کرد، و نه به آنها کمکی خواهد شد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="46" name="46"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 46">52:46</span>]&nbsp; On that day, their schemes will not protect them, nor will they be helped.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="47" name="47"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۴۷">۵۲:۴۷</span>)&nbsp; کسانی که سرپیچی می‌کنند در اینجا از عذاب رنج می‌برند، اما اکثرشان نمی‌دانند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="47" name="47"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 47">52:47</span>]&nbsp; Those who transgress suffer retribution here, but most of them do not know.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="48" name="48"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۴۸">۵۲:۴۸</span>)&nbsp; تو باید در انجام فرمان پروردگارت ثابت‏قدمانه استقامت کنی-تو زیر نظر ما هستی-و هنگامی که برمی‌خیزی پروردگارت را سپاس و ستایش کن.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="48" name="48"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 48">52:48</span>]&nbsp; You shall steadfastly persevere in carrying out your Lord's command&mdash;you are in our eyes&mdash;and glorify and praise your Lord when you get up.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="49" name="49"></a>

                        <p>(<span title="کوه سینا (الطور), آیه ۴۹">۵۲:۴۹</span>)&nbsp; همچنین در خلال شب او را ستایش کن، و سحرگاه هنگامی که ستارگان محو می‌شوند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="49" name="49"></a>

                        <p>[<span title="Mt. Sinai (Al-Toor), verse 49">52:49</span>]&nbsp; Also during the night glorify Him, and at dawn as the stars fade away.</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۴۱۱</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۵۸۹۳</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>