<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۹۲: شب (اللیل)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 92: The Night (Al-Layl)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="شب (اللیل), آیه ۱">۹۲:۱</span>)&nbsp; به شب که می‌پوشاند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="The Night (Al-Layl), verse 1">92:1</span>]&nbsp; By the night as it covers.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="شب (اللیل), آیه ۲">۹۲:۲</span>)&nbsp; روز که آشکار می‌سازد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="The Night (Al-Layl), verse 2">92:2</span>]&nbsp; The day as it reveals.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="شب (اللیل), آیه ۳">۹۲:۳</span>)&nbsp; و او که مؤنث و مذکر را خلق کرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="The Night (Al-Layl), verse 3">92:3</span>]&nbsp; And Him who created the male and the female.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="شب (اللیل), آیه ۴">۹۲:۴</span>)&nbsp; کارهای شما متفاوت است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="The Night (Al-Layl), verse 4">92:4</span>]&nbsp; Your works are of various kinds.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="شب (اللیل), آیه ۵">۹۲:۵</span>)&nbsp; و اما کسی که صدقه می‌دهد و پرهیزکار می‌ماند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="The Night (Al-Layl), verse 5">92:5</span>]&nbsp; As for him who gives to charity and maintains righteousness.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="شب (اللیل), آیه ۶">۹۲:۶</span>)&nbsp; و از کتاب آسمانی پیروی می‌کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="The Night (Al-Layl), verse 6">92:6</span>]&nbsp; And upholds the scripture.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="شب (اللیل), آیه ۷">۹۲:۷</span>)&nbsp; ما او را به سوی خوشبختی راهنمایی می‌کنیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="The Night (Al-Layl), verse 7">92:7</span>]&nbsp; We will direct him towards happiness.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="شب (اللیل), آیه ۸">۹۲:۸</span>)&nbsp; و اما کسی که بخیل است، اگر چه ثروتمند است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="The Night (Al-Layl), verse 8">92:8</span>]&nbsp; But he who is stingy, though he is rich.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <p>(<span title="شب (اللیل), آیه ۹">۹۲:۹</span>)&nbsp; و به کتاب آسمانی ایمان ندارند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <p>[<span title="The Night (Al-Layl), verse 9">92:9</span>]&nbsp; And disbelieves in the scripture.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <p>(<span title="شب (اللیل), آیه ۱۰">۹۲:۱۰</span>)&nbsp; ما او را به سوی بدبختی راهنمایی می‌کنیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <p>[<span title="The Night (Al-Layl), verse 10">92:10</span>]&nbsp; We will direct him towards misery.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <p>(<span title="شب (اللیل), آیه ۱۱">۹۲:۱۱</span>)&nbsp; پول او نمی‌تواند به او هیچ کمکی کند هنگامی که سقوط می‌کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <p>[<span title="The Night (Al-Layl), verse 11">92:11</span>]&nbsp; His money cannot help him when he falls.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="12" name="12"></a>

                        <p>(<span title="شب (اللیل), آیه ۱۲">۹۲:۱۲</span>)&nbsp; ما هدایت را فراهم می‌کنیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="12" name="12"></a>

                        <p>[<span title="The Night (Al-Layl), verse 12">92:12</span>]&nbsp; We provide the guidance.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="13" name="13"></a>

                        <p>(<span title="شب (اللیل), آیه ۱۳">۹۲:۱۳</span>)&nbsp; ما آخرت را کنترل می‌کنیم، همینطور این زندگی را.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="13" name="13"></a>

                        <p>[<span title="The Night (Al-Layl), verse 13">92:13</span>]&nbsp; We control the Hereafter, as well as this life.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="14" name="14"></a>

                        <p>(<span title="شب (اللیل), آیه ۱۴">۹۲:۱۴</span>)&nbsp; من شما را به آتش فروزان جهنم هشدار داده‏‌ام.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="14" name="14"></a>

                        <p>[<span title="The Night (Al-Layl), verse 14">92:14</span>]&nbsp; I have warned you about the blazing Hellfire.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="15" name="15"></a>

                        <p>(<span title="شب (اللیل), آیه ۱۵">۹۲:۱۵</span>)&nbsp; هیچکس در آن نمی‌سوزد، بجز ستمکار.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="15" name="15"></a>

                        <p>[<span title="The Night (Al-Layl), verse 15">92:15</span>]&nbsp; None burns therein except the wicked.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="16" name="16"></a>

                        <p>(<span title="شب (اللیل), آیه ۱۶">۹۲:۱۶</span>)&nbsp; که ایمان نمی‌آورد و روی می‌گرداند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="16" name="16"></a>

                        <p>[<span title="The Night (Al-Layl), verse 16">92:16</span>]&nbsp; Who disbelieves and turns away.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="17" name="17"></a>

                        <p>(<span title="شب (اللیل), آیه ۱۷">۹۲:۱۷</span>)&nbsp; پرهیزکار از آن اجتناب خواهد کرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="17" name="17"></a>

                        <p>[<span title="The Night (Al-Layl), verse 17">92:17</span>]&nbsp; Avoiding it will be the righteous.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="18" name="18"></a>

                        <p>(<span title="شب (اللیل), آیه ۱۸">۹۲:۱۸</span>)&nbsp; کسی که از پول خود صدقه می‌دهد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="18" name="18"></a>

                        <p>[<span title="The Night (Al-Layl), verse 18">92:18</span>]&nbsp; Who gives from his money to charity.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="19" name="19"></a>

                        <p>(<span title="شب (اللیل), آیه ۱۹">۹۲:۱۹</span>)&nbsp; در عوض چیزی نمی‌خواهد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="19" name="19"></a>

                        <p>[<span title="The Night (Al-Layl), verse 19">92:19</span>]&nbsp; Seeking nothing in return.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="20" name="20"></a>

                        <p>(<span title="شب (اللیل), آیه ۲۰">۹۲:۲۰</span>)&nbsp; فقط در جستجوی پروردگارش است، بلند مرتبه‏‌ترین.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="20" name="20"></a>

                        <p>[<span title="The Night (Al-Layl), verse 20">92:20</span>]&nbsp; Seeking only his Lord, the Most High.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="21" name="21"></a>

                        <p>(<span title="شب (اللیل), آیه ۲۱">۹۲:۲۱</span>)&nbsp; او مسلماً نجات خواهد یافت.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="21" name="21"></a>

                        <p>[<span title="The Night (Al-Layl), verse 21">92:21</span>]&nbsp; He will certainly attain salvation.</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۶۸۸</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۸۰۷۴</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>

</html>

