<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->
        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۵۱: حرکت دهندگان بادها (الذاریّات)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 51: Drivers of the Winds (Al-Dh&#227;rey&#227;t)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۱">۵۱:۱</span>)&nbsp; بادهای وزنده.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 1">51:1</span>]&nbsp; The blowing winds.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۲">۵۱:۲</span>)&nbsp; حامل باران.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 2">51:2</span>]&nbsp; Bearing rain.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۳">۵۱:۳</span>)&nbsp; روزی‏ها را می‌آورند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 3">51:3</span>]&nbsp; Bringing provisions.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۴">۵۱:۴</span>)&nbsp; آنها را توزیع می‌کنند، همانطور که دستور داده شده.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 4">51:4</span>]&nbsp; Distributing them as commanded.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۵">۵۱:۵</span>)&nbsp; آنچه به شما وعده داده شده است، مطمئناً فرا خواهد رسید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 5">51:5</span>]&nbsp; What is promised to you will surely come to pass.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۶">۵۱:۶</span>)&nbsp; روز قضاوت اجتناب‏ناپذیر است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 6">51:6</span>]&nbsp; The Day of Judgment is inevitable.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۷">۵۱:۷</span>)&nbsp; با وجود آسمانی که بدون نقص خلق شده.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 7">51:7</span>]&nbsp; Despite the perfectly created sky.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۸">۵۱:۸</span>)&nbsp; شما به مخالفت با حقیقت ادامه می‌دهید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 8">51:8</span>]&nbsp; You continue to dispute the truth.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۹">۵۱:۹</span>)&nbsp; منحرف می‌شوند از آن کسانی که منحرف هستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 9">51:9</span>]&nbsp; Deviating therefrom are the deviators.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۱۰">۵۱:۱۰</span>)&nbsp; وای بر دروغ سازان.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 10">51:10</span>]&nbsp; Woe to the falsifiers.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۱۱">۵۱:۱۱</span>)&nbsp; آنها در اشتباه خود، کاملاً بی‏توجه هستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 11">51:11</span>]&nbsp; In their blundering, they are totally heedless.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="12" name="12"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۱۲">۵۱:۱۲</span>)&nbsp; آنها روز قضاوت را مورد سئوال قرار می‌دهند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="12" name="12"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 12">51:12</span>]&nbsp; They question the Day of Judgment.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="13" name="13"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۱۳">۵۱:۱۳</span>)&nbsp; آن روز که به آتش ارائه شوند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="13" name="13"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 13">51:13</span>]&nbsp; The day they are presented to the fire.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="14" name="14"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۱۴">۵۱:۱۴</span>)&nbsp; عذاب را بچشید؛ این است آنچه آن را به مبارزه می‌طلبیدید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="14" name="14"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 14">51:14</span>]&nbsp; Taste the retribution; this is what you used to challenge.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="15" name="15"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۱۵">۵۱:۱۵</span>)&nbsp; پرهیزکاران سزاوار باغ‏ها و چشمه‏‌ها شده‏‌اند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="15" name="15"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 15">51:15</span>]&nbsp; The righteous have deserved gardens and springs.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="16" name="16"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۱۶">۵۱:۱۶</span>)&nbsp; آنها پاداش پروردگارشان را دریافت می‌کنند، زیرا آنها پرهیزکار بودند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="16" name="16"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 16">51:16</span>]&nbsp; They receive their Lord's rewards, for they used to be pious.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="17" name="17"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۱۷">۵۱:۱۷</span>)&nbsp; آنها بندرت تمام شب را خوابیدند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="17" name="17"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 17">51:17</span>]&nbsp; Rarely did they sleep the whole night.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="18" name="18"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۱۸">۵۱:۱۸</span>)&nbsp; در سحرگاه، برای بخشش دعا کردند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="18" name="18"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 18">51:18</span>]&nbsp; At dawn, they prayed for forgiveness.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="19" name="19"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۱۹">۵۱:۱۹</span>)&nbsp; مقداری از پولشان برای گدایان و محتاجان کنار گذاشته می‌شد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="19" name="19"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 19">51:19</span>]&nbsp; A portion of their money was set aside for the beggar and the needy.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="20" name="20"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۲۰">۵۱:۲۰</span>)&nbsp; زمین پر از علامت‏ها است برای کسانی که یقین دارند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="20" name="20"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 20">51:20</span>]&nbsp; The earth is full of signs for those who are certain.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="21" name="21"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۲۱">۵۱:۲۱</span>)&nbsp; و در وجود خودتان؛ آیا می‌توانید ببینید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="21" name="21"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 21">51:21</span>]&nbsp; And within yourselves; can you see?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="22" name="22"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۲۲">۵۱:۲۲</span>)&nbsp; در آسمان است روزی شما، و همه چیزهایی که به شما وعده داده شده.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="22" name="22"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 22">51:22</span>]&nbsp; In the heaven is your provision, and everything that is promised to you.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="23" name="23"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۲۳">۵۱:۲۳</span>)&nbsp; قسم به پروردگار آسمان و زمین، این همانقدر حقیقت دارد که شما سخن می‌گویید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="23" name="23"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 23">51:23</span>]&nbsp; By the Lord of the heaven and the earth, this is as true as the fact that you speak.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="24" name="24"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۲۴">۵۱:۲۴</span>)&nbsp; آیا به داستان میهمانان گرامی ابراهیم توجه کرده‏‌ای؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="24" name="24"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 24">51:24</span>]&nbsp; Have you noted the history of Abraham's honorable guests?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="25" name="25"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۲۵">۵۱:۲۵</span>)&nbsp; آنها او را ملاقات کردند، گفتند، "صلح." او گفت، "صلح بر شما، غریبه‏‌ها!"</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="25" name="25"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 25">51:25</span>]&nbsp; They visited him, saying, "Peace." He said, "Peace to you, strangers!"</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="26" name="26"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۲۶">۵۱:۲۶</span>)&nbsp; او از خانواده خود خواست تا گوساله فربه‏‌ای آماده کنند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="26" name="26"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 26">51:26</span>]&nbsp; He asked his family to prepare a fat calf.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="27" name="27"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۲۷">۵۱:۲۷</span>)&nbsp; هنگامی که به ایشان تعارف کرد، گفت، "آیا نمی‌خورید؟"</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="27" name="27"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 27">51:27</span>]&nbsp; When he offered it to them, he remarked, "Do you not eat?"</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="28" name="28"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۲۸">۵۱:۲۸</span>)&nbsp; او از آنها بیمناک شد. آنها گفتند، "نترس،" و به او مژده پسر دانایی دادند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="28" name="28"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 28">51:28</span>]&nbsp; He harbored fear of them. They said, "Have no fear," and they gave good news of a knowledgeable son.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="29" name="29"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۲۹">۵۱:۲۹</span>)&nbsp; زن او متحیر شده بود. با ملاحظه به صورت چروکیده‏‌اش، گفت: "من پیرزن نازایی هستم."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="29" name="29"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 29">51:29</span>]&nbsp; His wife was astonished. Noting her wrinkled face: "I am a sterile old woman."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="30" name="30"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۳۰">۵۱:۳۰</span>)&nbsp; آنها گفتند، "چنین گفت پروردگارت. او حکیم‏ترین است، دانای مطلق."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="30" name="30"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 30">51:30</span>]&nbsp; They said, "Thus said your Lord. He is the Most Wise, the Omniscient."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="31" name="31"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۳۱">۵۱:۳۱</span>)&nbsp; او گفت، "شما برای چه کار آمده‏‌اید، ای رسولان؟"</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="31" name="31"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 31">51:31</span>]&nbsp; He said, "What are you up to, O messengers?"</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="32" name="32"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۳۲">۵۱:۳۲</span>)&nbsp; آنها گفتند، "ما بر مردمی تبهکار فرستاده شده‏‌ایم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="32" name="32"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 32">51:32</span>]&nbsp; They said, "We have been dispatched to criminal people.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="33" name="33"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۳۳">۵۱:۳۳</span>)&nbsp; "ما بر آنها سنگهایی از گل رس می‌باریم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="33" name="33"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 33">51:33</span>]&nbsp; "We will shower them with rocks of clay.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="34" name="34"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۳۴">۵۱:۳۴</span>)&nbsp; "علامت گذارده شده توسط پروردگارت برای متجاوزین."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="34" name="34"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 34">51:34</span>]&nbsp; "Marked by your Lord for the transgressors."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="35" name="35"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۳۵">۵۱:۳۵</span>)&nbsp; سپس ما همه مؤمنان را نجات دادیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="35" name="35"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 35">51:35</span>]&nbsp; We then delivered all the believers.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="36" name="36"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۳۶">۵۱:۳۶</span>)&nbsp; ما در آنجا بجز یک خانه از تسلیم شدگان نیافتیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="36" name="36"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 36">51:36</span>]&nbsp; We did not find in it except one house of submitters.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="37" name="37"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۳۷">۵۱:۳۷</span>)&nbsp; ما آن را درس عبرتی قرار دادیم برای کسانی که از عذاب دردناک می‌ترسند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="37" name="37"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 37">51:37</span>]&nbsp; We set it up as a lesson for those who fear the painful retribution.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="38" name="38"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۳۸">۵۱:۳۸</span>)&nbsp; در موسی (درسی است). ما او را با نشانه‏‌های آشکار نزد فرعون فرستادیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="38" name="38"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 38">51:38</span>]&nbsp; In Moses <em>(there is a lesson)</em>. We sent him to Pharaoh with manifest signs.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="39" name="39"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۳۹">۵۱:۳۹</span>)&nbsp; اما او روی گرداند، متکبرانه، و گفت، "شعبده‏‌باز، یا دیوانه."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="39" name="39"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 39">51:39</span>]&nbsp; But he turned away, in arrogance, and said, "Magician, or crazy."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="40" name="40"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۴۰">۵۱:۴۰</span>)&nbsp; در نتیجه، ما او و سپاهیانش را تنبیه کردیم. ما آنها را به دریا انداختیم، و او آن کسی است که مقصر است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="40" name="40"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 40">51:40</span>]&nbsp; Consequently, we punished him and his troops. We threw them into the sea, and he is the one to blame.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="41" name="41"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۴۱">۵۱:۴۱</span>)&nbsp; در عاد (درسی است). ما بر آنها بادی مصیبت‏بار فرستادیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="41" name="41"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 41">51:41</span>]&nbsp; In '&#195;d <em>(there is a lesson)</em>. We sent upon them disastrous wind.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="42" name="42"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۴۲">۵۱:۴۲</span>)&nbsp; به طرف هر چه آمد، کاملاً از بین رفت.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="42" name="42"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 42">51:42</span>]&nbsp; Anything that it came upon was utterly destroyed.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="43" name="43"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۴۳">۵۱:۴۳</span>)&nbsp; در ثمود (درسی است). به آنها گفته شد، "موقتاً لذت ببرید."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="43" name="43"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 43">51:43</span>]&nbsp; In Tham&#251;d <em>(there is a lesson)</em>. They were told, "Enjoy temporarily."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="44" name="44"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۴۴">۵۱:۴۴</span>)&nbsp; آنها بر علیه فرمان پروردگارشان سرکشی کردند. در نتیجه، همانطور که نگاه می‌کردند رعد و برق به ایشان اصابت کرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="44" name="44"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 44">51:44</span>]&nbsp; They rebelled against the command of their Lord. Consequently, the lightning struck them as they looked.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="45" name="45"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۴۵">۵۱:۴۵</span>)&nbsp; آنها هرگز نمی‌توانستند برخیزند، و نه به ایشان کمکی شد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="45" name="45"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 45">51:45</span>]&nbsp; They could never get up, nor were they helped.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="46" name="46"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۴۶">۵۱:۴۶</span>)&nbsp; و مردم نوح قبل از آن؛ مردمی ستمکار بودند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="46" name="46"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 46">51:46</span>]&nbsp; And the people of Noah before that; they were wicked people.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="47" name="47"></a>

                        <div class="footnote-subtitle">فرضیه "توسعه پیدا کردن جهان" تأیید شد</div>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۴۷">۵۱:۴۷</span>)&nbsp; ما آسمان را با دستهای خود بنا کردیم، و ما به توسعه آن ادامه خواهیم داد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="47" name="47"></a>

                        <div class="footnote-subtitle">"Expansion of the Universe Theory" Confirmed</div>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 47">51:47</span>]&nbsp; We constructed the sky with our hands, and we will continue to expand it.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="48" name="48"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۴۸">۵۱:۴۸</span>)&nbsp; و ما زمین را قابل سکونت قرار دادیم؛ طرحی کامل.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="48" name="48"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 48">51:48</span>]&nbsp; And we made the earth habitable; a perfect design.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="49" name="49"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۴۹">۵۱:۴۹</span>)&nbsp; ما هر چیزی را جفت (نر و ماده) خلق کردیم تا باشد که متوجه شوید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="49" name="49"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 49">51:49</span>]&nbsp; We created a pair <em>(male and female)</em> of everything, that you may take heed.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="50" name="50"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۵۰">۵۱:۵۰</span>)&nbsp; شما باید به سوی <strong>خدا</strong> بگریزید. من از طرف او بعنوان هشدار دهنده‏‌ای آشکار بر شما فرستاده شده‏‌ام.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="50" name="50"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 50">51:50</span>]&nbsp; You shall escape to <strong>GOD</strong>. I am sent by Him to you as a manifest warner.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="51" name="51"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۵۱">۵۱:۵۱</span>)&nbsp; در کنار <strong>خدا</strong>، خدای دیگری قرار ندهید. من از طرف او بعنوان هشدار دهنده‏‌ای آشکار بر شما فرستاده شده‏‌ام.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="51" name="51"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 51">51:51</span>]&nbsp; Do not set up besides <strong>GOD</strong> any other god. I am sent by Him to you as a manifest warner.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="52" name="52"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۵۲">۵۱:۵۲</span>)&nbsp; پیوسته، هنگامی که رسولی نزد نسلهای قبلی رفت، آنها گفتند، "شعبده‏‌باز،" یا، "دیوانه."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="52" name="52"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 52">51:52</span>]&nbsp; Consistently, when a messenger went to the previous generations, they said, "Magician," or, "Crazy."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="53" name="53"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۵۳">۵۱:۵۳</span>)&nbsp; آیا با یکدیگر توافق کرده بودند؟ به درستی که آنها متجاوز هستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="53" name="53"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 53">51:53</span>]&nbsp; Did they make an agreement with each other? Indeed, they are transgressors.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="54" name="54"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۵۴">۵۱:۵۴</span>)&nbsp; می‌توانی به آنها بی‏ اعتنا باشی؛ تو ملامت نخواهی شد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="54" name="54"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 54">51:54</span>]&nbsp; You may disregard them; you cannot be blamed.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="55" name="55"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۵۵">۵۱:۵۵</span>)&nbsp; و یادآوری کن، زیرا یادآوری کردن بنفع مؤمنان است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="55" name="55"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 55">51:55</span>]&nbsp; And remind, for the reminder benefits the believers.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="56" name="56"></a>

                        <div class="footnote-subtitle">دلیل بودن ما</div>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۵۶">۵۱:۵۶</span>)&nbsp; من جنها و انسانها را خلق نکردم، مگر برای پرستیدن تنها من.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="56" name="56"></a>

                        <div class="footnote-subtitle">The Purpose of Our Existence</div>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 56">51:56</span>]&nbsp; I did not create the jinns and the humans except to worship Me alone.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="57" name="57"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۵۷">۵۱:۵۷</span>)&nbsp; من از آنها روزی نمی‌خواهم، و نه احتیاجی دارم که آنها به من غذا دهند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="57" name="57"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 57">51:57</span>]&nbsp; I need no provisions from them, nor do I need them to feed Me.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="58" name="58"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۵۸">۵۱:۵۸</span>)&nbsp;
                            <strong>خدا</strong> است روزی دهنده، صاحب همه قدرت‏ها، متعال.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="58" name="58"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 58">51:58</span>]&nbsp;
                            <strong>GOD</strong> is the Provider, the Possessor of all power, the Supreme.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="59" name="59"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۵۹">۵۱:۵۹</span>)&nbsp; متجاوزین سزاوار همان سرنوشتی شده‏‌اند که پیشینیان همانندشان شدند؛ آنها نباید به مبارزه می‌طلبیدند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="59" name="59"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 59">51:59</span>]&nbsp; The transgressors have incurred the same fate as their previous counterparts; they should not challenge.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="60" name="60"></a>

                        <p>(<span title="حرکت دهندگان بادها (الذاریّات), آیه ۶۰">۵۱:۶۰</span>)&nbsp; وای بر کسانی که ایمان نیاوردند از آن روز که منتظرشان است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="60" name="60"></a>

                        <p>[<span title="Drivers of the Winds (Al-Dh&#227;rey&#227;t), verse 60">51:60</span>]&nbsp; Woe to those who disbelieved from the day that is awaiting them.</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۴۰۸</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۵۸۲۳</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>