<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۵۳: ستارگان (النجم)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 53: The Stars (Al-Najm)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۱">۵۳:۱</span>)&nbsp; همچنان که ستارگان پایین می‌افتادند و دور می‌شدند.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۱۸- ۵۳:۱ محمد به بالاترين نقطه عالم احضار شد تا اين قرآن را در قلبش دريافت دارد. همينطور که او با سرعت ميليونها برابر سرعت نور از ميان ستارگان سفر ميکرد، ستارگان پايين ميافتادند و دور ميشدند. بعدا ً، قرآن رفته رفته به
                                    حافظه او منتقل شد. لطفا ً به ضميمه ۲۸ توجه کنيد.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 1">53:1</span>]&nbsp; As the stars fell away.*</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*53:1-18 Muhammad was summoned to the highest universe to receive this Quran into his heart. The stars fell away as he traveled through them at millions of times the speed of light. Subsequently, the Quran was gradually
                                    released to his memory. App. 28.</p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۲">۵۳:۲</span>)&nbsp; دوست شما (محمد) نه گمراه بود، و نه گول خورده بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 2">53:2</span>]&nbsp; Your friend <em>(Muhammad)</em> was not astray, nor was he deceived.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۳">۵۳:۳</span>)&nbsp; و نه از خواسته شخصی خود می‌گفت.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 3">53:3</span>]&nbsp; Nor was he speaking out of a personal desire.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۴">۵۳:۴</span>)&nbsp; آن وحی الهی بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 4">53:4</span>]&nbsp; It was divine inspiration.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۵">۵۳:۵</span>)&nbsp; به واسطه پرقدرت‏ترین دیکته شده بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 5">53:5</span>]&nbsp; Dictated by the Most Powerful.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۶">۵۳:۶</span>)&nbsp; صاحب اقتدار. از بالاترین بلندی او.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 6">53:6</span>]&nbsp; Possessor of all authority. From His highest height.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۷">۵۳:۷</span>)&nbsp; در بالاترین افق.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 7">53:7</span>]&nbsp; At the highest horizon.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۸">۵۳:۸</span>)&nbsp; او با پایین آمدن نزدیکتر شد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 8">53:8</span>]&nbsp; He drew nearer by moving down.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۹">۵۳:۹</span>)&nbsp; تا او باندازه ممکن نزدیک شد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 9">53:9</span>]&nbsp; Until He became as close as possible.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۱۰">۵۳:۱۰</span>)&nbsp; سپس او به بنده خود وحی کرد، آنچه که می‌بایست وحی می‌شد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 10">53:10</span>]&nbsp; He then revealed to His servant what was to be revealed.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۱۱">۵۳:۱۱</span>)&nbsp; فکر هرگز نتوانست درک کند چه دیده است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 11">53:11</span>]&nbsp; The mind never made up what it saw.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="12" name="12"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۱۲">۵۳:۱۲</span>)&nbsp; آیا شک دارید به آنچه او دید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="12" name="12"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 12">53:12</span>]&nbsp; Are you doubting what he saw?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="13" name="13"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۱۳">۵۳:۱۳</span>)&nbsp; او، او را در مکان پایین‏تری دید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="13" name="13"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 13">53:13</span>]&nbsp; He saw him in another descent.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="14" name="14"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۱۴">۵۳:۱۴</span>)&nbsp; در نقطه نهایی.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="14" name="14"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 14">53:14</span>]&nbsp; At the ultimate point.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="15" name="15"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۱۵">۵۳:۱۵</span>)&nbsp; جایی که پردیس ابدی قرار دارد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="15" name="15"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 15">53:15</span>]&nbsp; Where the eternal Paradise is located.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="16" name="16"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۱۶">۵۳:۱۶</span>)&nbsp; همه آنجا هیبت‏انگیز بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="16" name="16"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 16">53:16</span>]&nbsp; The whole place was overwhelmed.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="17" name="17"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۱۷">۵۳:۱۷</span>)&nbsp; چشم‏ها نه پلک زدند، و نه کور شدند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="17" name="17"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 17">53:17</span>]&nbsp; The eyes did not waver, nor go blind.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="18" name="18"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۱۸">۵۳:۱۸</span>)&nbsp; او نشانه‏‌های عظیمی از پروردگارش دید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="18" name="18"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 18">53:18</span>]&nbsp; He saw great signs of his Lord.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="19" name="19"></a>

                        <div class="footnote-subtitle">بُت‏های سست</div>

                        <p>(<span title="ستارگان (النجم), آیه ۱۹">۵۳:۱۹</span>)&nbsp; مقایسه کنید اینها را با بُتهای مؤنث اللَت و العُزاه.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="19" name="19"></a>

                        <div class="footnote-subtitle">The Flimsy Idols</div>

                        <p>[<span title="The Stars (Al-Najm), verse 19">53:19</span>]&nbsp; Compare this with the female idols Allaat and Al-'Uzzah.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="20" name="20"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۲۰">۵۳:۲۰</span>)&nbsp; و مَنوة، سومین آنها.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="20" name="20"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 20">53:20</span>]&nbsp; And Manaat, the third one.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="21" name="21"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۲۱">۵۳:۲۱</span>)&nbsp; آیا شما صاحب پسران هستید، در حالی که او اینها را بعنوان دختران دارد؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="21" name="21"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 21">53:21</span>]&nbsp; Do you have sons, while He has these as daughters?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="22" name="22"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۲۲">۵۳:۲۲</span>)&nbsp; چه تقسیم‏بندی ننگ‏آوری!</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="22" name="22"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 22">53:22</span>]&nbsp; What a disgraceful distribution!</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="23" name="23"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۲۳">۵۳:۲۳</span>)&nbsp; اینها فقط اسم‏هایی است که شما جعل کرده‏‌اید، شما و اجداد شما. <strong>خدا</strong> هرگز اجازه چنین کفری را نداد. آنها از حدسیات و خواسته‏‌های شخصی پیروی می‌کنند، هنگامی
                            که هدایت واقعی در این، از طرف پروردگارشان بر ایشان آمده است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="23" name="23"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 23">53:23</span>]&nbsp; These are but names that you made up, you and your forefathers. <strong>GOD</strong> never authorized such a blasphemy. They follow conjecture, and personal desire,
                            when the true guidance has come to them herein from their Lord.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="24" name="24"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۲۴">۵۳:۲۴</span>)&nbsp; چه چیز است که آنسان آرزو دارد؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="24" name="24"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 24">53:24</span>]&nbsp; What is it that the human being desires?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="25" name="25"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۲۵">۵۳:۲۵</span>)&nbsp; آخرت، و این دنیا هر دو از آن <strong>خدا</strong> است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="25" name="25"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 25">53:25</span>]&nbsp; To <strong>GOD</strong> belongs both the Hereafter, and this world.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="26" name="26"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۲۶">۵۳:۲۶</span>)&nbsp; حتی فرشتگان در آسمان هم اجازه شفاعت ندارند. تنها کسانی که از طرف <strong>خدا</strong> اجازه دارند، کسانی هستند که بر طبق خواست او و رضایت او عمل می‌کنند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="26" name="26"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 26">53:26</span>]&nbsp; Not even the angels in heaven possess authority to intercede. The only ones permitted by <strong>GOD</strong> are those who act in accordance with His will and His
                            approval.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="27" name="27"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۲۷">۵۳:۲۷</span>)&nbsp; کسانی که به آخرت ایمان ندارند به فرشتگان اسم‏های مؤنث داده‏‌اند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="27" name="27"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 27">53:27</span>]&nbsp; Those who disbelieve in the Hereafter have given the angels feminine names.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="28" name="28"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۲۸">۵۳:۲۸</span>)&nbsp; آنها هیچ دانشی درباره این نداشتند؛ آنها فقط حدس می‌زدند. حدسیات جانشین حقیقت نمی‌شود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="28" name="28"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 28">53:28</span>]&nbsp; They had no knowledge about this; they only conjectured. Conjecture is no substitute for the truth.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="29" name="29"></a>

                        <div class="footnote-subtitle">دوستان خود را با دقت انتخاب کنید</div>

                        <p>(<span title="ستارگان (النجم), آیه ۲۹">۵۳:۲۹</span>)&nbsp; باید بی‏ اعتنایی کنی به کسانی که از پیغام ما روی می‌گردانند، و سرگرم زندگی این دنیا می‌شوند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="29" name="29"></a>

                        <div class="footnote-subtitle">Choose Your Friends Carefully</div>

                        <p>[<span title="The Stars (Al-Najm), verse 29">53:29</span>]&nbsp; You shall disregard those who turn away from our message, and become preoccupied with this worldly life.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="30" name="30"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۳۰">۵۳:۳۰</span>)&nbsp; این منتهای دانش آنها است. پروردگارت کاملاً به کسانی که از راهش گمراه شده‏‌اند آگاه است، و او کاملاً به کسانی که هدایت شده‏‌اند آگاه است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="30" name="30"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 30">53:30</span>]&nbsp; This is the extent of their knowledge. Your Lord is fully aware of those who strayed away from His path, and He is fully aware of those who are guided.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="31" name="31"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۳۱">۵۳:۳۱</span>)&nbsp; از آن <strong>خدا</strong> است هر چه در آسمانها و هر چه در زمین است. او کسانی را که مرتکب پلیدی می‌شوند، به خاطر کارهایشان تنبیه خواهد کرد، و به پرهیزکاران به خاطر پرهیزکاریشان
                            پاداش خواهد داد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="31" name="31"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 31">53:31</span>]&nbsp; To <strong>GOD</strong> belongs everything in the heavens and everything on earth. He will requite those who commit evil for their works, and will reward the righteous
                            for their righteousness.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="32" name="32"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۳۲">۵۳:۳۲</span>)&nbsp; آنها از گناهان بزرگ و تجاوز اجتناب می‌کنند، بجز خطاهای کوچک. بخشش پروردگارت بی‏ اندازه است. او کاملاً بر شما آگاه بوده است، از وقتی که او شما را از زمین آفرید، و هنگامی
                            که نطفه‏‌ای در شکم مادرانتان بودید. بنابراین، خودتان را بالا ندانید؛ او کاملاً از پرهیزکاران آگاه است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="32" name="32"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 32">53:32</span>]&nbsp; They avoid gross sins and transgressions, except for minor offenses. Your Lord's forgiveness is immense. He has been fully aware of you since He initiated you from
                            the earth, and while you were embryos in your mothers' bellies. Therefore, do not exalt yourselves; He is fully aware of the righteous.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="33" name="33"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۳۳">۵۳:۳۳</span>)&nbsp; آیا به کسی که روی گرداند توجه کرده‏‌ای؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="33" name="33"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 33">53:33</span>]&nbsp; Have you noted the one who turned away?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="34" name="34"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۳۴">۵۳:۳۴</span>)&nbsp; او بندرت انفاق کرد، آنوقت هم بسیار کم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="34" name="34"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 34">53:34</span>]&nbsp; Rarely did he give to charity, and then very little.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="35" name="35"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۳۵">۵۳:۳۵</span>)&nbsp; آیا او از آینده خبر داشت؟ آیا او می‌توانست آن را ببیند؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="35" name="35"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 35">53:35</span>]&nbsp; Did he possess knowledge of the future? Could he see it?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="36" name="36"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۳۶">۵۳:۳۶</span>)&nbsp; آیا او از تعلیمات کتاب آسمانی موسی آگاه نبود؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="36" name="36"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 36">53:36</span>]&nbsp; Was he not informed of the teachings in the scripture of Moses?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="37" name="37"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۳۷">۵۳:۳۷</span>)&nbsp; و ابراهیم که بجا آورد؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="37" name="37"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 37">53:37</span>]&nbsp; And Abraham who fulfilled?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="38" name="38"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۳۸">۵۳:۳۸</span>)&nbsp; هیچ نفسی گناهان نفس دیگری را حمل نمی‌کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="38" name="38"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 38">53:38</span>]&nbsp; No soul bears the sins of another soul.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="39" name="39"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۳۹">۵۳:۳۹</span>)&nbsp; هر انسانی مسئول اعمال خودش است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="39" name="39"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 39">53:39</span>]&nbsp; Every human being is responsible for his own works.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="40" name="40"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۴۰">۵۳:۴۰</span>)&nbsp; و اعمال همه نشان داده خواهد شد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="40" name="40"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 40">53:40</span>]&nbsp; And everyone's works will be shown.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="41" name="41"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۴۱">۵۳:۴۱</span>)&nbsp; سپس جزای این اعمال به آنها کامل پرداخت خواهد شد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="41" name="41"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 41">53:41</span>]&nbsp; Then they will be paid fully for such works.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="42" name="42"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۴۲">۵۳:۴۲</span>)&nbsp; سرنوشت نهایی به سوی پروردگارت است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="42" name="42"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 42">53:42</span>]&nbsp; To your Lord is the final destiny.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="43" name="43"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۴۳">۵۳:۴۳</span>)&nbsp; او آن یکتایی است که شما را می‌خنداند و می‌گریاند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="43" name="43"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 43">53:43</span>]&nbsp; He is the One who makes you laugh or cry.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="44" name="44"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۴۴">۵۳:۴۴</span>)&nbsp; او آن یکتایی است که مرگ و زندگی را کنترل می‌کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="44" name="44"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 44">53:44</span>]&nbsp; He is the One who controls death and life.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="45" name="45"></a>

                        <div class="footnote-subtitle">شوهر جنسیت نوزاد را تعیین می‌کند</div>

                        <p>(<span title="ستارگان (النجم), آیه ۴۵">۵۳:۴۵</span>)&nbsp; او آن یکتایی است که دو نوع را خلق کرد، نر و ماده-</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="45" name="45"></a>

                        <div class="footnote-subtitle">The Husband Determines The Baby's Gender</div>

                        <p>[<span title="The Stars (Al-Najm), verse 45">53:45</span>]&nbsp; He is the One who created the two kinds, male and female&mdash;</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="46" name="46"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۴۶">۵۳:۴۶</span>)&nbsp; از قطره کوچک منی.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="46" name="46"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 46">53:46</span>]&nbsp; from a tiny drop of semen.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="47" name="47"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۴۷">۵۳:۴۷</span>)&nbsp; او در خلقت مجدد تأثیر خواهد گذاشت.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="47" name="47"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 47">53:47</span>]&nbsp; He will effect the recreation.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="48" name="48"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۴۸">۵۳:۴۸</span>)&nbsp; او آن یکتایی است که شما را ثروتمند یا فقیر می‌کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="48" name="48"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 48">53:48</span>]&nbsp; He is the One who makes you rich or poor.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="49" name="49"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۴۹">۵۳:۴۹</span>)&nbsp; او است پروردگار کهکشان‏ها.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="49" name="49"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 49">53:49</span>]&nbsp; He is the Lord of the galaxies.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="50" name="50"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۵۰">۵۳:۵۰</span>)&nbsp; او آن یکتایی است که مردم پیشین عاد را هلاک کرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="50" name="50"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 50">53:50</span>]&nbsp; He is the One who annihilated ancient '&#195;d.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="51" name="51"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۵۱">۵۳:۵۱</span>)&nbsp; و ثمود را از بین برد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="51" name="51"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 51">53:51</span>]&nbsp; And wiped out Tham&#251;d.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="52" name="52"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۵۲">۵۳:۵۲</span>)&nbsp; همچنین مردم نوح را قبل از آن؛ آنها متجاوزین پلیدی بودند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="52" name="52"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 52">53:52</span>]&nbsp; Also the people of Noah before that; they were evil transgressors.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="53" name="53"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۵۳">۵۳:۵۳</span>)&nbsp; جمعیت‏های پلید (سدوم و غموره) پست‏ترین بودند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="53" name="53"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 53">53:53</span>]&nbsp; The evil communities <em>(of Sodom and Gomorrah)</em> were the lowliest.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="54" name="54"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۵۴">۵۳:۵۴</span>)&nbsp; در نتیجه، آنها کاملاً؛ محو شدند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="54" name="54"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 54">53:54</span>]&nbsp; Consequently, they utterly vanished.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="55" name="55"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۵۵">۵۳:۵۵</span>)&nbsp; کدامیک از شگفتی‏های پروردگارت را می‌توانی انکار کنی؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="55" name="55"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 55">53:55</span>]&nbsp; Which of your Lord's marvels can you deny?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="56" name="56"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۵۶">۵۳:۵۶</span>)&nbsp; این هشداری است مانند هشدارهای قدیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="56" name="56"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 56">53:56</span>]&nbsp; This is a warning like the older ones.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="57" name="57"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۵۷">۵۳:۵۷</span>)&nbsp; آن اجتناب‏ناپذیر بسیار نزدیک است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="57" name="57"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 57">53:57</span>]&nbsp; The inevitable is imminent.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="58" name="58"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۵۸">۵۳:۵۸</span>)&nbsp; هیچکس غیر از <strong>خدا</strong> نمی‌تواند از آن رهایی دهد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="58" name="58"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 58">53:58</span>]&nbsp; None besides <strong>GOD</strong> can relieve it.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="59" name="59"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۵۹">۵۳:۵۹</span>)&nbsp; آیا این موضوع را مورد سئوال قرار می‌دهید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="59" name="59"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 59">53:59</span>]&nbsp; Are you questioning this matter?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="60" name="60"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۶۰">۵۳:۶۰</span>)&nbsp; آیا بجای گریه کردن، می‌خندید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="60" name="60"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 60">53:60</span>]&nbsp; Are you laughing, instead of crying?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="61" name="61"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۶۱">۵۳:۶۱</span>)&nbsp; آیا در راههای خود پافشاری می‌کنید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="61" name="61"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 61">53:61</span>]&nbsp; Are you insisting on your ways?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="62" name="62"></a>

                        <p>(<span title="ستارگان (النجم), آیه ۶۲">۵۳:۶۲</span>)&nbsp; شما باید نزد <strong>خدا</strong> سجده کنید، و پرستش کنید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="62" name="62"></a>

                        <p>[<span title="The Stars (Al-Najm), verse 62">53:62</span>]&nbsp; You shall fall prostrate before <strong>GOD</strong>, and worship.</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۴۱۷</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۶۱۱۸</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>

<!-- // DEFINITIONS

base.html contains all the functionality specific code. There is layout code in this document. All other templates inherit from this document.

-->