<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۵۷: آهن (الحدید)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 57: Iron (Al-Hadeed)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="آهن (الحدید), آیه ۱">۵۷:۱</span>)&nbsp; هر چه در آسمانها و زمین است به ستایش <strong>خدا</strong> مشغول است. او بزرگوار است، حکیم‏ترین.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="Iron (Al-Hadeed), verse 1">57:1</span>]&nbsp; Glorifying <strong>GOD</strong> is everything in the heavens and the earth. He is the Almighty, Most Wise.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="آهن (الحدید), آیه ۲">۵۷:۲</span>)&nbsp; سلطنت آسمانها و زمین از آن او است. او زندگی و مرگ را کنترل می‌کند. او قادر مطلق است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="Iron (Al-Hadeed), verse 2">57:2</span>]&nbsp; To Him belongs the kingship of the heavens and the earth. He controls life and death. He is Omnipotent.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="آهن (الحدید), آیه ۳">۵۷:۳</span>)&nbsp; او اولین و آخرین است. او خارجی‏ترین و داخلی‏ترین است. او کاملاً بر همه چیز آگاه است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="Iron (Al-Hadeed), verse 3">57:3</span>]&nbsp; He is the Alpha and the Omega. He is the Outermost and the Innermost. He is fully aware of all things.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="آهن (الحدید), آیه ۴">۵۷:۴</span>)&nbsp; او آن یکتایی است که آسمانها و زمین را در شش روز آفرید، سپس اقتدار کامل را برقرار داشت. او به هر چه داخل زمین می‌شود، و هرچه از آن خارج می‌شود، و هر چه از آسمان پایین می‌آید،
                            و هر چه به آن بالا می‌رود، آگاه است. هر کجا که باشید، او با شما است. <strong>خدا</strong> بر همه اعمال شما بینا است.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۵۷:۴ شش روز آفرينش معيارى است تا ما را از اهميت نسبى اجزاى مختلف آگاه سازد، تا اهميت کره زمين را تاکيد نمايد، و همچنين ما را آگاه سازد که کره زمين تنها سياره مسکونى است. به زيرنويس ۱۰-۴۱:۹ توجه کنيد.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="Iron (Al-Hadeed), verse 4">57:4</span>]&nbsp; He is the One who created the heavens and the earth in six days,* then assumed all authority. He knows everything that enters into the earth, and everything that comes
                            out of it, and everything that comes down from the sky, and everything that climbs into it. He is with you wherever you may be. <strong>GOD</strong> is Seer of everything you do.</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*57:4 The six days of creation are simply a yardstick to inform us of the relative importance of various components, to emphasize the significance of the planet Earth, and to let us know that the Earth is the only inhabited
                                    planet. See Footnote 41:9-10.

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="آهن (الحدید), آیه ۵">۵۷:۵</span>)&nbsp; سلطنت آسمانها و زمین از آن او است. همه امور تحت کنترل <strong>خدا</strong> است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="Iron (Al-Hadeed), verse 5">57:5</span>]&nbsp; To Him belongs the kingship of the heavens and the earth. All matters are controlled by <strong>GOD</strong>.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="آهن (الحدید), آیه ۶">۵۷:۶</span>)&nbsp; او شب را به روز درمی‌آورد، و روز را به شب. او کاملاً به درونی‏ترین افکار آگاه است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="Iron (Al-Hadeed), verse 6">57:6</span>]&nbsp; He merges the night into the day, and merges the day into the night. He is fully aware of the innermost thoughts.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="آهن (الحدید), آیه ۷">۵۷:۷</span>)&nbsp; به <strong>خدا</strong> و رسولش ایمان آورید، و از آنچه او به شما عطا کرده است انفاق کنید. کسانی که در میان شما ایمان دارند و انفاق می‌کنند، سزاوار پاداش بزرگی شده‏‌اند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="Iron (Al-Hadeed), verse 7">57:7</span>]&nbsp; Believe in <strong>GOD</strong> and His messenger, and give from what He has bestowed upon you. Those among you who believe and give <em>(to charity)</em> have deserved
                            a great recompense.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="آهن (الحدید), آیه ۸">۵۷:۸</span>)&nbsp; چرا نباید به <strong>خدا</strong> ایمان آورید، هنگامی که رسول شما را به ایمان آوردن به پروردگارتان دعوت می‌کند؟ او از شما پیمان گرفته است، اگر مؤمن هستید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="Iron (Al-Hadeed), verse 8">57:8</span>]&nbsp; Why should you not believe in <strong>GOD</strong> when the messenger is inviting you to believe in your Lord? He has taken a pledge from you, if you are believers.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <p>(<span title="آهن (الحدید), آیه ۹">۵۷:۹</span>)&nbsp; او آن یکتایی است که آیات روشن را بر بنده‏‌اش پایین می‌فرستد، تا شما را از تاریکی به نور هدایت کند. <strong>خدا</strong> نسبت به شما دلسوز است، مهربانترین.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <p>[<span title="Iron (Al-Hadeed), verse 9">57:9</span>]&nbsp; He is the One who sends down to His servant clear revelations, in order to lead you out of the darkness into the light. <strong>GOD</strong> is Compassionate towards you,
                            Most Merciful.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <p>(<span title="آهن (الحدید), آیه ۱۰">۵۷:۱۰</span>)&nbsp; چرا در راه <strong>خدا</strong> خرج نمی‌کنید، هنگامی که <strong>خدا</strong> صاحب همه ثروتها در آسمانها و زمین است؟</p>

                        <div class="footnote-subtitle">افتخاری خاص</div>
                        <p>مشخص شدند از دیگران کسانی که در میان شما قبل از پیروزی خرج می‌کنند، و کوشش می‌کنند. آنها از درجه بالاتری برخوردار می‌شوند تا کسانی که بعد از پیروزی خرج و کوشش می‌کنند. برای هر یک، خدا وعده رستگاری می‌دهد. خدا بر همه اعمال شما آگاه
                            است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <p>[<span title="Iron (Al-Hadeed), verse 10">57:10</span>]&nbsp; Why do you not spend in the cause of <strong>GOD</strong>, when <strong>GOD</strong> possesses all wealth in the heavens and the earth?</p>

                        <div class="footnote-subtitle">Special Honor</div>
                        <p>Distinguished from the rest are those among you who spend before the victory and strive. They attain a greater rank than those who spend after the victory and strive. For each, <strong>GOD</strong> promises salvation. <strong>GOD</strong>                            is Cognizant of everything you do.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <p>(<span title="آهن (الحدید), آیه ۱۱">۵۷:۱۱</span>)&nbsp; چه کسی مایل است به <strong>خدا</strong> قرض دهد، قرضی پرهیزکارانه، تا برایش چندین برابر شود، و پاداشی سخاوتمندانه به دست آورد؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <p>[<span title="Iron (Al-Hadeed), verse 11">57:11</span>]&nbsp; Who would like to loan <strong>GOD</strong> a loan of righteousness, to have it multiplied for him manifold, and end up with a generous recompense?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="12" name="12"></a>

                        <div class="footnote-subtitle">پیروزی عظیم</div>

                        <p>(<span title="آهن (الحدید), آیه ۱۲">۵۷:۱۲</span>)&nbsp; آن روز خواهد آمد که مردان و زنان باایمان را می‌بینی که نورشان در جلو و در سمت راست‏شان پرتو می‌افکند. خبر خوش برای شما است که در آن روز باغهایی با نهرهای روان خواهید داشت.
                            شما در آن جاودان خواهید بود. این پیروزی بزرگی است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="12" name="12"></a>

                        <div class="footnote-subtitle">The Great Triumph</div>

                        <p>[<span title="Iron (Al-Hadeed), verse 12">57:12</span>]&nbsp; The day will come when you see the believing men and women with their lights radiating ahead of them and to their right. Good news is yours that, on that day, you will
                            have gardens with flowing streams. You will abide therein forever. This is the great triumph.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="13" name="13"></a>

                        <div class="footnote-subtitle">بدترین بازندگان</div>

                        <p>(<span title="آهن (الحدید), آیه ۱۳">۵۷:۱۳</span>)&nbsp; در آن روز، مردان و زنان منافق به کسانی که ایمان آوردند خواهند گفت، "خواهش می‌کنیم بگذارید تا قدری از نورتان را جذب کنیم." گفته خواهد شد، "به عقب باز گردید، و نور بجویید."
                            حایلی بین آنها قرار خواهد گرفت که دروازه آن رحمت داخل آن را از عذاب خارج آن، جدا می‌سازد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="13" name="13"></a>

                        <div class="footnote-subtitle">The Worst Losers</div>

                        <p>[<span title="Iron (Al-Hadeed), verse 13">57:13</span>]&nbsp; On that day, the hypocrite men and women will say to those who believed, "Please allow us to absorb some of your light." It will be said, "Go back behind you, and seek
                            light." A barrier will be set up between them, whose gate separates mercy on the inner side, from retribution on the outer side.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="14" name="14"></a>

                        <p>(<span title="آهن (الحدید), آیه ۱۴">۵۷:۱۴</span>)&nbsp; آنها به ایشان ندا خواهند داد، "آیا ما با شما نبودیم؟" آنها جواب خواهند داد، "بله، اما شما نفس خود را گول زدید، تأمل کردید، شک کردید، و با خوش‏خیالی گمراه شدید، تا اینکه قضاوت
                            <strong>خدا</strong> آمد. شما به واسطه موهومات از <strong>خدا</strong> منحرف شدید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="14" name="14"></a>

                        <p>[<span title="Iron (Al-Hadeed), verse 14">57:14</span>]&nbsp; They will call upon them, "Were we not with you?" They will answer, "Yes, but you cheated your souls, hesitated, doubted, and became misled by wishful thinking, until
                            <strong>GOD</strong>'s judgment came. You were diverted from <strong>GOD</strong> by illusions.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="15" name="15"></a>

                        <p>(<span title="آهن (الحدید), آیه ۱۵">۵۷:۱۵</span>)&nbsp; "بنابراین، امروز هیچگونه غرامتی نه از شما، و نه از کسانی که ایمان نیاوردند، قبول می‌شود. مسکن شما آتش است؛ آن ارباب شما است، و جایگاهی بسیار فلاکت‏بار."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="15" name="15"></a>

                        <p>[<span title="Iron (Al-Hadeed), verse 15">57:15</span>]&nbsp; "Therefore, today no ransom can be taken from you, nor from those who disbelieved. Your abode is the fire; it is your lord, and miserable abode."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="16" name="16"></a>

                        <div class="footnote-subtitle">زوال دین</div>

                        <p>(<span title="آهن (الحدید), آیه ۱۶">۵۷:۱۶</span>)&nbsp; آیا وقت آن نرسیده است تا کسانی که ایمان آوردند، قلب‏شان را برای پیغام <strong>خدا</strong> و حقیقتی که در این نازل شده است، باز کنند؟ آنها نباید مانند پیروان قبلی کتاب‏های
                            آسمانی باشند که قلب‏شان به مرور زمان سخت شد و در نتیجه، بسیاری از آنها ستمکار شدند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="16" name="16"></a>

                        <div class="footnote-subtitle">Deterioration of Religion</div>

                        <p>[<span title="Iron (Al-Hadeed), verse 16">57:16</span>]&nbsp; Is it not time for those who believed to open up their hearts for <strong>GOD</strong>'s message, and the truth that is revealed herein? They should not be like the
                            followers of previous scriptures whose hearts became hardened with time and, consequently, many of them turned wicked.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="17" name="17"></a>

                        <p>(<span title="آهن (الحدید), آیه ۱۷">۵۷:۱۷</span>)&nbsp; بدانید که <strong>خدا</strong> زمین را پس از اینکه مرده بود، دوباره زنده می‌کند. ما اینچنین آیات را برای شما توضیح می‌دهیم، تا باشد که بفهمید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="17" name="17"></a>

                        <p>[<span title="Iron (Al-Hadeed), verse 17">57:17</span>]&nbsp; Know that <strong>GOD</strong> revives the land after it had died. We thus explain the revelations for you, that you may understand.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="18" name="18"></a>

                        <p>(<span title="آهن (الحدید), آیه ۱۸">۵۷:۱۸</span>)&nbsp; مطمئناً، مردان و زنانی که صدقه می‌دهند، به <strong>خدا</strong> قرض داده‏‌اند، یک قرض نیکوکاری. آنها پاداش خود را چندین برابر دریافت خواهند داشت؛ آنها سزاوار پاداشی سخاوتمندانه
                            شده‏‌اند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="18" name="18"></a>

                        <p>[<span title="Iron (Al-Hadeed), verse 18">57:18</span>]&nbsp; Surely, the charitable men and women have loaned <strong>GOD</strong> a loan of goodness. They will receive their reward multiplied manifold; they have deserved a generous
                            recompense.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="19" name="19"></a>

                        <p>(<span title="آهن (الحدید), آیه ۱۹">۵۷:۱۹</span>)&nbsp; کسانی که به <strong>خدا</strong> و رسولانش ایمان آوردند، مقدسین و شهدا هستند. پاداش و نورشان نزد پروردگارشان آماده است. و اما کسانی که ایمان نیاوردند و آیات ما را تکذیب کردند،
                            سزاوار جهنم شده‏‌اند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="19" name="19"></a>

                        <p>[<span title="Iron (Al-Hadeed), verse 19">57:19</span>]&nbsp; Those who believed in <strong>GOD</strong> and His messengers are the saints and martyrs. Reserved for them at their Lord are their rewards and their light. As for those
                            who disbelieved and rejected our revelations, they have incurred Hell.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="20" name="20"></a>

                        <div class="footnote-subtitle">سرگرم زندگی این دنیا شدن محکوم شده است</div>

                        <p>(<span title="آهن (الحدید), آیه ۲۰">۵۷:۲۰</span>)&nbsp; بدانید که زندگی این دنیا بجز بازی و سرگرمی نیست، و تفاخر در میان شما، و اندوختن مال و فرزندان. آن مانند باران فراوانی است که گیاهان را به وجود می‌آورد و کافران را خشنود می‌سازد.
                            اما سپس گیاهان بصورت کاه بدون مصرف درمی‌آیند، و به وسیله باد پراکنده می‌شوند. در آخرت یا مجازات شدید است، یا بخشش از طرف <strong>خدا</strong> و رضایت. زندگی این دنیا بجز موهومات موقتی نیست.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="20" name="20"></a>

                        <div class="footnote-subtitle">Preoccupation With This Life Condemned</div>

                        <p>[<span title="Iron (Al-Hadeed), verse 20">57:20</span>]&nbsp; Know that this worldly life is no more than play and games, and boasting among you, and hoarding of money and children. It is like abundant rain that produces plants
                            and pleases the disbelievers. But then the plants turn into useless hay, and are blown away by the wind. In the Hereafter there is either severe retribution, or forgiveness from <strong>GOD</strong> and approval. This worldly
                            life is no more than a temporary illusion.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="21" name="21"></a>

                        <div class="footnote-subtitle">چاره عاقلانه</div>

                        <p>(<span title="آهن (الحدید), آیه ۲۱">۵۷:۲۱</span>)&nbsp; بنابراین، شما باید برای بخشش از پروردگارتان سبقت جویید، و برای پردیسی که پهنایش آسمان و زمین را دربر گرفته است. آن منتظر کسانی است که به <strong>خدا</strong> و رسولانش ایمان
                            آوردند. چنین است رحمت <strong>خدا</strong> که به هر کس بخواهد عطا می‌کند. <strong>خدا</strong> صاحب رحمت بی‏پایان است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="21" name="21"></a>

                        <div class="footnote-subtitle">The Intelligent Alternative</div>

                        <p>[<span title="Iron (Al-Hadeed), verse 21">57:21</span>]&nbsp; Therefore, you shall race towards forgiveness from your Lord, and a Paradise whose width encompasses the heaven and the earth. It awaits those who believed in <strong>GOD</strong>                            and His messengers. Such is <strong>GOD</strong>'s grace that He bestows upon whomever He wills. <strong>GOD</strong> is Possessor of Infinite Grace.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="22" name="22"></a>

                        <div class="footnote-subtitle">حقیقتی شگفت‏انگیز*</div>

                        <p>(<span title="آهن (الحدید), آیه ۲۲">۵۷:۲۲</span>)&nbsp; هر پیش آمدی که در زمین رخ می‌دهد، یا برای شما، قبلاً ضبط شده است، حتی قبل از آفرینش. انجام این برای <strong>خدا</strong> آسان است.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۵۷:۲۲ ما کاملا ً آزاد هستيم تا يا طرف خدا باشيم، و يا طرف شيطان. خدا کاملا ً ميداند که هر يک از ما چه تصميمى خواهيم گرفت. نوار ويديو زندگى شما، از تولد تا مرگ، قبلا ً ضبط شده است. به ضميمه ۱۴ توجه کنيد.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="22" name="22"></a>

                        <div class="footnote-subtitle">Profound Fact*</div>

                        <p>[<span title="Iron (Al-Hadeed), verse 22">57:22</span>]&nbsp; Anything that happens on earth, or to you, has already been recorded, even before the creation. This is easy for <strong>GOD</strong> to do.</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*57:22 We are absolutely free to side with God, or with Satan. God happens to know precisely what kind of decision each of us will make. The video tape of your life, from birth to death, is already recorded. See Appendix
                                    14.

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="23" name="23"></a>

                        <p>(<span title="آهن (الحدید), آیه ۲۳">۵۷:۲۳</span>)&nbsp; پس، نباید برای از دست دادن چیزی غمگین شوید، و نه از چیزی که او به شما عطا کرده است مغرور شوید. <strong>خدا</strong> متکبران مغرور را دوست ندارد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="23" name="23"></a>

                        <p>[<span title="Iron (Al-Hadeed), verse 23">57:23</span>]&nbsp; Thus, you should not grieve over anything you miss, nor be proud of anything He has bestowed upon you. <strong>GOD</strong> does not love those who are boastful, proud.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="24" name="24"></a>

                        <p>(<span title="آهن (الحدید), آیه ۲۴">۵۷:۲۴</span>)&nbsp; آنها بخیل هستند، و مردم را به بخل ورزیدن امر می‌کنند. اگر شخصی روی بگرداند، پس <strong>خدا</strong> غنی است، قابل ستایش.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="24" name="24"></a>

                        <p>[<span title="Iron (Al-Hadeed), verse 24">57:24</span>]&nbsp; They are stingy, and enjoin the people to be stingy. If one turns away, then <strong>GOD</strong> is the Rich, the Praiseworthy.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="25" name="25"></a>

                        <div class="footnote-subtitle">آهن: قابل استفاده‏‌ترین فلز</div>

                        <p>(<span title="آهن (الحدید), آیه ۲۵">۵۷:۲۵</span>)&nbsp; ما رسولان خود را فرستادیم و با نشانه‏‌های روشن آنها را پشتیبانی کردیم، و ما بر ایشان کتاب آسمانی و قانون پایین فرستادیم، تا باشد که مردم از عدالت پشتیبانی کنند. و ما آهن را
                            پایین فرستادیم که در آن استحکام است، و منافع بسیاری برای مردم. همه اینها به خاطر این است تا <strong>خدا</strong> کسانی را که او و رسولانش را از روی ایمان حمایت می‌کنند، مشخص کند. <strong>خدا</strong> قدرتمند است، بزرگوار.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="25" name="25"></a>

                        <div class="footnote-subtitle">Iron: The Most Useful Metal</div>

                        <p>[<span title="Iron (Al-Hadeed), verse 25">57:25</span>]&nbsp; We sent our messengers supported by clear proofs, and we sent down to them the scripture and the law, that the people may uphold justice. And we sent down the iron,
                            wherein there is strength, and many benefits for the people. All this in order for <strong>GOD</strong> to distinguish those who would support Him and His messengers, on faith. <strong>GOD</strong> is Powerful, Almighty.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="26" name="26"></a>

                        <div class="footnote-subtitle">پیغمبران</div>

                        <p>(<span title="آهن (الحدید), آیه ۲۶">۵۷:۲۶</span>)&nbsp; ما نوح و ابراهیم را فرستادیم، و ما به نواده‏‌هایشان پیغمبری و کتاب آسمانی عطا کردیم. بعضی از آنها هدایت شدند، در حالی که بسیاری از ایشان ستمکار بودند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="26" name="26"></a>

                        <div class="footnote-subtitle">The Prophets</div>

                        <p>[<span title="Iron (Al-Hadeed), verse 26">57:26</span>]&nbsp; We sent Noah and Abraham, and we granted their descendants prophethood and the scripture. Some of them were guided, while many were wicked.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="27" name="27"></a>

                        <div class="footnote-subtitle">زوال دین</div>

                        <p>(<span title="آهن (الحدید), آیه ۲۷">۵۷:۲۷</span>)&nbsp; بعد از آنها، ما رسولان خود را فرستادیم. ما عیسی پسر مریم را فرستادیم، و ما به او انجیل را عطا کردیم، و ما در قلب پیروانش مهربانی و رحمت قرار دادیم. اما آنها گوشه نشینی را
                            اختراع کردند که ما هرگز برایشان مقرر نداشتیم. تنها چیزی که از ایشان خواستیم‏انجام دهند، پیروی از احکام مورد تأیید <strong>خدا</strong> بود. اما آنها آنطوری که می‌بایست از پیغام پیروی نکردند. در نتیجه، ما به کسانی که در میان
                            ایشان ایمان آوردند، پاداش‏شان را دادیم، در حالی که بسیاری از آنها ستمکار بودند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="27" name="27"></a>

                        <div class="footnote-subtitle">Deterioration of Religion</div>

                        <p>[<span title="Iron (Al-Hadeed), verse 27">57:27</span>]&nbsp; Subsequent to them, we sent our messengers. We sent Jesus the son of Mary, and we gave him the Injeel <em>(Gospel)</em>, and we placed in the hearts of his followers
                            kindness and mercy. But they invented hermitism which we never decreed for them. All we asked them to do was to uphold the commandments approved by <strong>GOD</strong>. But they did not uphold the message as they should have.
                            Consequently, we gave those who believed among them their recompense, while many of them were wicked.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="28" name="28"></a>

                        <p>(<span title="آهن (الحدید), آیه ۲۸">۵۷:۲۸</span>)&nbsp; ای کسانی که ایمان دارید، شما باید به هیبت <strong>خدا</strong> حرمت نهید و به رسولش ایمان آورید. سپس او از رحمتش پاداش شما را دوبرابر عطا خواهد کرد، به شما نور عطا می‌کند
                            تا هدایت شوید، و شما را می‌بخشد. <strong>خدا</strong> عفو کننده است، مهربانترین.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="28" name="28"></a>

                        <p>[<span title="Iron (Al-Hadeed), verse 28">57:28</span>]&nbsp; O you who believe, you shall reverence <strong>GOD</strong> and believe in His messenger. He will then grant you double the reward from His mercy, endow you with light
                            to guide you, and forgive you. <strong>GOD</strong> is Forgiver, Most Merciful.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="29" name="29"></a>

                        <p>(<span title="آهن (الحدید), آیه ۲۹">۵۷:۲۹</span>)&nbsp; بنابراین، پیروان کتاب آسمانی قبلی باید بدانند که فضل و رحمت <strong>خدا</strong> را در انحصار خود ندارند، و اینکه همه رحمت در دست <strong>خدا</strong> است. او آن را به هرکس
                            که بخواهد عطا می‌کند. <strong>خدا</strong> صاحب رحمت بی‏پایان است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="29" name="29"></a>

                        <p>[<span title="Iron (Al-Hadeed), verse 29">57:29</span>]&nbsp; Thus, the followers of previous scripture should know that they have not monopolized <strong>GOD</strong>'s mercy and grace, and that all grace is in <strong>GOD</strong>'s
                            hand. He bestows it upon whomever He wills. <strong>GOD</strong> is Possessor of Infinite Grace.</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۴۴۹</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۶۴۷۶</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
      
</body>


<!-- // DEFINITIONS

base.html contains all the functionality specific code. There is layout code in this document. All other templates inherit from this document.

-->