<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۴۶: تپه های شنی (الاحقاف)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 46: The Dunes (Al-Ahq&#227;f)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="تپه های شنی (الاحقاف), آیه ۱">۴۶:۱</span>)&nbsp; ح.م.
                        </p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="The Dunes (Al-Ahq&#227;f), verse 1">46:1</span>]&nbsp; H. M.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="تپه های شنی (الاحقاف), آیه ۲">۴۶:۲</span>)&nbsp; تنزیل این کتاب آسمانی از طرف <strong>خدا</strong> است، بزرگوار، حکیم‏ترین.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="The Dunes (Al-Ahq&#227;f), verse 2">46:2</span>]&nbsp; The revelation of this scripture is from <strong>GOD</strong>, the Almighty, Most Wise.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="تپه های شنی (الاحقاف), آیه ۳">۴۶:۳</span>)&nbsp; ما آسمانها و زمین و هر چه را در بین آنها است، خلق نکردیم مگر به منظوری خاص، و برای مدت زمانی معین. کسانی که ایمان ندارند کاملاً از هشدارهایی که به ایشان داده شده، غافل
                            هستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="The Dunes (Al-Ahq&#227;f), verse 3">46:3</span>]&nbsp; We did not create the heavens and the earth, and everything between them except for a specific purpose, and for a finite interim. Those who disbelieve are totally
                            oblivious to the warnings given to them.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="تپه های شنی (الاحقاف), آیه ۴">۴۶:۴</span>)&nbsp; بگو، "معبودانی را که در کنار <strong>خدا</strong> قرار داده‏‌اید، در نظر بگیرید. به من نشان دهید در زمین چه چیزی خلق کرده‏‌اند. آیا سهمی از آسمانها دارند؟ به من نشان
                            دهید کتاب آسمانی دیگری را قبل از این، یا هر گونه دانش ثابت شده‏‌ای که از شرک شما حمایت می‌کند، اگر راست می‌گویید."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="The Dunes (Al-Ahq&#227;f), verse 4">46:4</span>]&nbsp; Say, "Consider the idols you have set up beside <strong>GOD</strong>. Show me what on earth did they create. Do they own part of the heavens? Show me any other
                            scripture before this one, or any piece of established knowledge that supports your idolatry, if you are truthful."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <div class="footnote-subtitle">معبودان کاملاً بی‏خبر هستند</div>

                        <p>(<span title="تپه های شنی (الاحقاف), آیه ۵">۴۶:۵</span>)&nbsp; چه کسی گمراه‏‌تر از کسانی است که معبودانی را در کنار <strong>خدا</strong> چون بُت می‌پرستند که تا روز قیامت هرگز نمی‌توانند به آنها جواب دهند، و کاملاً از پرستش ایشان
                            بی‏خبر هستند؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <div class="footnote-subtitle">The Idols Totally Unaware</div>

                        <p>[<span title="The Dunes (Al-Ahq&#227;f), verse 5">46:5</span>]&nbsp; Who is farther astray than those who idolize beside <strong>GOD</strong> idols that can never respond to them until the Day of Resurrection, and are totally unaware
                            of their worship?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <div class="footnote-subtitle">معبودان پرستش کنندگانشان را طرد می‌کنند*</div>

                        <p>(<span title="تپه های شنی (الاحقاف), آیه ۶">۴۶:۶</span>)&nbsp; و هنگامی که مردم احضار می‌شوند (در روز قضاوت)، معبودان‏شان مبدل به دشمنانشان خواهند شد، و بُت‏پرستی آنها را انکار خواهند کرد.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۴۶:۶ همچنين به آيات ۲۳-۷:۲۱ از بخش متا ( ) از کتاب انجيل توجه کنيد. عيسى آشکارا ً کسانى که او را "پروردگار" ميخوانند طرد ميکند.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <div class="footnote-subtitle">The Idols Disown Their Worshipers*</div>

                        <p>[<span title="The Dunes (Al-Ahq&#227;f), verse 6">46:6</span>]&nbsp; And when the people are summoned <em>(on the Day of Judgment)</em>, their idols will become their enemies, and will denounce their idolatry.*</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*46:6 See also Matthew 7:21-23: Jesus clearly disowns those who call him "Lord."

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="تپه های شنی (الاحقاف), آیه ۷">۴۶:۷</span>)&nbsp; هنگامی که آیات ما کاملاً واضح برایشان خوانده شد، کسانی که ایمان نیاوردند در باره حقیقتی که بر ایشان آمد، گفتند، "این آشکارا شعبده است!"</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="The Dunes (Al-Ahq&#227;f), verse 7">46:7</span>]&nbsp; When our revelations were recited to them, perfectly clear, those who disbelieved said of the truth that came to them, "This is obviously magic!"</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="تپه های شنی (الاحقاف), آیه ۸">۴۶:۸</span>)&nbsp; وقتی گویند، "او این را جعل کرده است،" بگو، "اگر من این را جعل کردم، پس شما نمی‌توانید من را در مقابل <strong>خدا</strong> حفاظت کنید. او کاملاً به همه توطئه‏‌هایی که
                            بکار می‌برید آگاه است. او بعنوان شاهد در میان من و شما کافی است. او عفو کننده است، مهربانترین."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="The Dunes (Al-Ahq&#227;f), verse 8">46:8</span>]&nbsp; When they say, "He fabricated this," say, "If I fabricated this, then you cannot protect me from <strong>GOD</strong>. He is fully aware of everything you scheme.
                            He suffices as a witness between me and you. He is the Forgiver, Most Merciful."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <p>(<span title="تپه های شنی (الاحقاف), آیه ۹">۴۶:۹</span>)&nbsp; بگو، "من با رسولان دیگر فرقی ندارم. من هیچ نمی‌دانم چه اتفاقی برای من یا برای شما خواهد افتاد. من فقط از آنچه که به من وحی شده است پیروی می‌کنم. من بجز هشدار دهنده‏‌ای
                            آشکار نیستم."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <p>[<span title="The Dunes (Al-Ahq&#227;f), verse 9">46:9</span>]&nbsp; Say, "I am not different from other messengers. I have no idea what will happen to me or to you. I only follow what is revealed to me. I am no more than a profound
                            warner."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <div class="footnote-subtitle">جوداه، خاخام متدین*</div>

                        <p>(<span title="تپه های شنی (الاحقاف), آیه ۱۰">۴۶:۱۰</span>)&nbsp; بگو، "اگر این از طرف <strong>خدا</strong> باشد و شما به آن ایمان نیاوردید، چطور؟ شاهدی از فرزندان اسراییل شاهد بر چنین پدیده‏‌ای بوده است، و او ایمان آورده است، در
                            حالی که شما متکبر شده‏‌اید. مطمئناً <strong>خدا</strong> مردم ستمکار را هدایت نمی‌کند."</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۴۶:۱۰ اين شاهد، خاخام جوداه (Rabbi Judah the Pious) پرهيزکار است (قرن يازدهم ميلادى ) که او هم همان کد رياضى بر پايه عدد ۱۹ را در قسمتهاى دست نخورده کتاب تورات کشف کرد (به ضميمه ۱ توجه کنيد).</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <div class="footnote-subtitle">Rabbi Judah the Pious*</div>

                        <p>[<span title="The Dunes (Al-Ahq&#227;f), verse 10">46:10</span>]&nbsp; Say, "What if it is from <strong>GOD</strong> and you disbelieved in it? A witness from the Children of Israel has borne witness to a similar phenomenon,* and
                            he has believed, while you have turned arrogant. Surely, <strong>GOD</strong> does not guide the wicked people."</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*46:10 This witness is Rabbi Judah the Pious (11th Century A.D.), who discovered the same 19-based mathematical code in intact fragments of the scripture (see Appendix 1).

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <p>(<span title="تپه های شنی (الاحقاف), آیه ۱۱">۴۶:۱۱</span>)&nbsp; کسانی که ایمان نیاوردند در باره کسانی که ایمان آوردند گفتند، "اگر چیز خوبی بود، آنها قبل از ما آن را نمی‌پذیرفتند." چون آنها به آن هدایت نیافتند، گفتند، "این دروغی
                            است قدیمی!"</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <p>[<span title="The Dunes (Al-Ahq&#227;f), verse 11">46:11</span>]&nbsp; Those who disbelieved said about those who believed, "If it were anything good, they would not have accepted it before us." Because they were not guided to
                            it, they said, "This is an old fabrication!"</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="12" name="12"></a>

                        <p>(<span title="تپه های شنی (الاحقاف), آیه ۱۲">۴۶:۱۲</span>)&nbsp; قبل از این، کتاب موسی دارای هدایت و رحمت بود. این نیز کتابی است آسمانی که تصدیق می‌کند، به عربی، تا کسانی را که تجاوز کردند، هشدار دهد، و تا به پرهیزکاران خبر خوش
                            دهد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="12" name="12"></a>

                        <p>[<span title="The Dunes (Al-Ahq&#227;f), verse 12">46:12</span>]&nbsp; Before this, the book of Moses provided guidance and mercy. This too is a scripture that confirms, in Arabic, to warn those who transgressed, and to give good
                            news to the righteous.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="13" name="13"></a>

                        <div class="footnote-subtitle">خبر خوش</div>

                        <p>(<span title="تپه های شنی (الاحقاف), آیه ۱۳">۴۶:۱۳</span>)&nbsp; مطمئناً، کسانی که گویند، "پروردگار ما <strong>خدا</strong> است،" سپس زندگی پرهیزکارانه‏‌ای را در پیش گیرند، نه ترسی خواهند داشت، و نه غمی.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="13" name="13"></a>

                        <div class="footnote-subtitle">Good News</div>

                        <p>[<span title="The Dunes (Al-Ahq&#227;f), verse 13">46:13</span>]&nbsp; Surely, those who say, "Our Lord is <strong>GOD</strong>," then lead a righteous life, will have no fear, nor will they grieve.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="14" name="14"></a>

                        <p>(<span title="تپه های شنی (الاحقاف), آیه ۱۴">۴۶:۱۴</span>)&nbsp; آنها استحقاق پردیس را دارند، جایی که در آن جاودان باشند؛ پاداشی برای اعمال‏شان.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="14" name="14"></a>

                        <p>[<span title="The Dunes (Al-Ahq&#227;f), verse 14">46:14</span>]&nbsp; They have deserved Paradise, where they abide forever; a reward for their works.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="15" name="15"></a>

                        <div class="footnote-subtitle">۴۰ سالگی: سن تصمیم‏گیری*</div>

                        <p>(<span title="تپه های شنی (الاحقاف), آیه ۱۵">۴۶:۱۵</span>)&nbsp; ما به انسان سفارش کردیم تا به والدینش احترام بگذارد. مادرش او را بسختی حمل کرد، بسختی او را بدنیا آورد، و مدت سی ماه از او صیمیمانه نگهداری کرد. هنگامی که او بالغ
                            شود، و به سن چهل سالگی برسد، باید بگوید، "پروردگار من، من را راهنمایی کن تا شکر نعمتهایی را که تو به من، و به والدین من عطا کردی، بجای آورم، و کارهای پرهیزکارانه‏‌ای انجام دهم که تو را خشنود سازد. بگذار فرزندان من هم پرهیزکار
                            باشند. من به تو توبه کرده‏‌ام؛ من یک تسلیم‏شده هستم."</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۴۶:۱۵ خدا کاملا ً ميداند که چه کسى سزاوار بهشت است و چه کسى سزاوار جهنم. اين قانون او است که هر کس را قبل از سن ۴۰ سالگى بميراند، به بهشت ميرود. رحمت فراوان خدا از اينجا نشان داده ميشود که اکثر مردم به سختى اين رحمت الهى
                                    را قبول ميکنند؛ آنها بحث ميکنند که "آنها را به جهنم انداز~ " به ضميمه ۳۲ توجه کنيد.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="15" name="15"></a>

                        <div class="footnote-subtitle">40: The Age of Decision*</div>

                        <p>[<span title="The Dunes (Al-Ahq&#227;f), verse 15">46:15</span>]&nbsp; We enjoined the human being to honor his parents. His mother bore him arduously, gave birth to him arduously, and took intimate care of him for thirty months.
                            When he reaches maturity, and reaches the age of forty,* he should say, "My Lord, direct me to appreciate the blessings You have bestowed upon me and upon my parents, and to do the righteous works that please You. Let my children
                            be righteous as well. I have repented to You; I am a submitter."</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*46:15 God knows full well who deserves to go to Heaven and who deserves to go to Hell. It is His law that whomever He puts to death before the age of 40 shall go to Heaven. God's immense mercy is reflected in the fact
                                    that most people have difficulty accepting this divine mercy; they argue: "Put them in Hell!" See Appendix 32.

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="16" name="16"></a>

                        <p>(<span title="تپه های شنی (الاحقاف), آیه ۱۶">۴۶:۱۶</span>)&nbsp; از اینها است که ما کارهای پرهیزکارانه را قبول می‌کنیم، و از گناهانشان چشم پوشی می‌کنیم. آنها استحقاق پردیس را دارند. این وعده‏‌ای است حقیقی که به ایشان وعده داده
                            شد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="16" name="16"></a>

                        <p>[<span title="The Dunes (Al-Ahq&#227;f), verse 16">46:16</span>]&nbsp; It is from these that we accept the righteous works, and overlook their sins. They have deserved Paradise. This is the truthful promise that is promised to
                            them.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="17" name="17"></a>

                        <p>(<span title="تپه های شنی (الاحقاف), آیه ۱۷">۴۶:۱۷</span>)&nbsp; سپس، شخصی است که به والدینش می‌گوید، "وای بر شما؛ آیا می‌گویید که (پس از مرگ) دوباره زنده خواهم شد؟ پس چرا کسانی که قبل از ما مردند هرگز بازنمی‌گردند؟" والدین برای
                            کمک از <strong>خدا</strong> فریاد خواهند کرد، و گویند، "وای بر تو؛ خواهش می‌کنیم ایمان آور! وعده <strong>خدا</strong> حقیقت دارد." او گوید، "افسانه‏یی است از گذشته."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="17" name="17"></a>

                        <p>[<span title="The Dunes (Al-Ahq&#227;f), verse 17">46:17</span>]&nbsp; Then there is the one who says to his parents, "Woe to you; are you telling me that <em>(after death)</em> I will come back to life? How come those who died
                            before us never come back?" The parents would cry for <strong>GOD</strong>'s help and say, "Woe to you; please believe! <strong>GOD</strong>'s promise is the truth." He would say, "Tales from the past!"</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="18" name="18"></a>

                        <p>(<span title="تپه های شنی (الاحقاف), آیه ۱۸">۴۶:۱۸</span>)&nbsp; چنین هستند آن کسانی که در میان جن‏ها و انسان‏ها، به عنوان کافر مُهر زده شده‏‌اند؛ آنها بازندگان هستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="18" name="18"></a>

                        <p>[<span title="The Dunes (Al-Ahq&#227;f), verse 18">46:18</span>]&nbsp; Such are the ones stamped as disbelievers among every generation of jinns and humans; they are losers.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="19" name="19"></a>

                        <p>(<span title="تپه های شنی (الاحقاف), آیه ۱۹">۴۶:۱۹</span>)&nbsp; آنها همه بر طبق اعمالشان به درجاتی که استحقاق آن را دارند، می‌رسند. او مزدشان را به خاطر اعمالشان بدون کوچکترین بی‏عدالتی خواهد داد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="19" name="19"></a>

                        <p>[<span title="The Dunes (Al-Ahq&#227;f), verse 19">46:19</span>]&nbsp; They all attain the ranks they have deserved, in accordance with their works. He will pay them for their works, without the least injustice.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="20" name="20"></a>

                        <p>(<span title="تپه های شنی (الاحقاف), آیه ۲۰">۴۶:۲۰</span>)&nbsp; آن روز خواهد آمد که کسانی که ایمان نیاوردند به آتش جهنم معرفی خواهند شد: "شما فرصت‏های خوبی را که در زندگی دنیایی به شما داده شده بود، تلف کرده‏‌اید، و به آن‏ها دلخوش
                            بودید. در نتیجه، امروز گرفتار عذابی ننگین می‌شوید، به خاطر تکبر بدون پایه و اساسی که در زمین داشتید، و به خاطر کارهای بد خود."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="20" name="20"></a>

                        <p>[<span title="The Dunes (Al-Ahq&#227;f), verse 20">46:20</span>]&nbsp; The day will come when those who disbelieved will be introduced to the hellfire: "You have wasted the good chances given to you during your worldly life, and
                            you rejoiced in them. Consequently, today you incur a shameful retribution as a requital for the arrogance you committed on earth without any basis, and for your evil works."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="21" name="21"></a>

                        <div class="footnote-subtitle">هود</div>

                        <p>(<span title="تپه های شنی (الاحقاف), آیه ۲۱">۴۶:۲۱</span>)&nbsp; بیاد آور که برادر قوم عاد مردم خود را روی تپه‏‌های شنی هشدار داد-هشدارهای بیشماری همچنین قبل از او و بعد از او فرستاده شد: "شما نباید غیر از <strong>خدا</strong>                            را پرستش کنید. من می‌ترسم برای شما از عذاب روزی بزرگ."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="21" name="21"></a>

                        <div class="footnote-subtitle">H&#251;d</div>

                        <p>[<span title="The Dunes (Al-Ahq&#227;f), verse 21">46:21</span>]&nbsp; Recall that the brother of '&#195;d warned his people at the dunes&mdash;numerous warnings were also delivered before him and after him: "You shall not worship
                            except <strong>GOD</strong>. I fear for you the retribution of a great day."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="22" name="22"></a>

                        <p>(<span title="تپه های شنی (الاحقاف), آیه ۲۲">۴۶:۲۲</span>)&nbsp; آنها گفتند، "آیا آمده‏‌ای تا ما را از خدایانمان منحرف کنی؟ ما تو را به مبارزه می‌طلبیم تا (عذابی) را که ما را از آن می‌ترسانی بیاوری، اگر راست می‌گویی."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="22" name="22"></a>

                        <p>[<span title="The Dunes (Al-Ahq&#227;f), verse 22">46:22</span>]&nbsp; They said, "Did you come to divert us from our gods? We challenge you to bring <em>(the retribution)</em> you threaten, if you are truthful."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="23" name="23"></a>

                        <p>(<span title="تپه های شنی (الاحقاف), آیه ۲۳">۴۶:۲۳</span>)&nbsp; او گفت، "دانش این نزد <strong>خدا</strong> است؛ من فقط آنچه را برای آن فرستاده شده‏‌ام، به شما تحویل می‌دهم. اگرچه، می‌بینم که شما مردمی نادان هستید."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="23" name="23"></a>

                        <p>[<span title="The Dunes (Al-Ahq&#227;f), verse 23">46:23</span>]&nbsp; He said, "The knowledge about this is with <strong>GOD</strong>; I only deliver to you what I was sent to deliver. However, I see that you people are ignorant."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="24" name="24"></a>

                        <p>(<span title="تپه های شنی (الاحقاف), آیه ۲۴">۴۶:۲۴</span>)&nbsp; هنگامی که آنها دیدند طوفان بطرف‏شان می‌آمد، گفتند، "این طوفان بارانی را که بسیار احتیاج داشتیم برای ما خواهد آورد." در عوض، این همان است که شما (هود) را در آوردنش
                            به مبارزه می‌طلبیدید؛ بادی شدید که در آن عذاب دردناکی است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="24" name="24"></a>

                        <p>[<span title="The Dunes (Al-Ahq&#227;f), verse 24">46:24</span>]&nbsp; When they saw the storm heading their way, they said, "This storm will bring to us much needed rain." Instead, this is what you challenged <em>(H&#251;d)</em>                            to bring; violent wind wherein there is painful retribution.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="25" name="25"></a>

                        <p>(<span title="تپه های شنی (الاحقاف), آیه ۲۵">۴۶:۲۵</span>)&nbsp; آن همه چیز را نابود کرد، همانطور که پروردگارش به آن امر کرده بود. صبحگاه، هیچ چیز ایستاده نبود بجز خانه‏‌هایشان. ما اینچنین مردم گناهکار را مجازات می‌کنیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="25" name="25"></a>

                        <p>[<span title="The Dunes (Al-Ahq&#227;f), verse 25">46:25</span>]&nbsp; It destroyed everything, as commanded by its Lord. By morning, nothing was standing except their homes. We thus requite the guilty people.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="26" name="26"></a>

                        <div class="footnote-subtitle">آنها هشدارهای رسول را مسخره کردند</div>

                        <p>(<span title="تپه های شنی (الاحقاف), آیه ۲۶">۴۶:۲۶</span>)&nbsp; ما آنها را مستقر کردیم، همانطور که ما شما را مستقر کردیم، و به آنها شنوایی، چشم، و عقل دادیم. اما شنوایی، چشم و عقل‏شان ابداً کمکشان نکرد. این به این خاطر است که
                            آنها تصمیم گرفتند به آیات <strong>خدا</strong> بی‏ اعتنایی کنند. بنابراین، پیشگویی‏ها و هشدارهایی را که مسخره می‌کردند باعث مجازاتشان شد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="26" name="26"></a>

                        <div class="footnote-subtitle">They Ridiculed the Messenger's Warnings</div>

                        <p>[<span title="The Dunes (Al-Ahq&#227;f), verse 26">46:26</span>]&nbsp; We had established them in the same way as we established you, and provided them with hearing, eyes, and minds. But their hearing, eyes, and minds did not help
                            them at all. This is because they decided to disregard <strong>GOD</strong>'s revelations. Thus, the prophecies and warnings that they ridiculed have caused their doom.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="27" name="27"></a>

                        <p>(<span title="تپه های شنی (الاحقاف), آیه ۲۷">۴۶:۲۷</span>)&nbsp; ما جمعیت‏های بسیاری را در اطراف شما هلاک کرده‏‌ایم، بعد از اینکه آن نشانه‏‌ها را توضیح داده بودیم، تا شاید توبه کنند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="27" name="27"></a>

                        <p>[<span title="The Dunes (Al-Ahq&#227;f), verse 27">46:27</span>]&nbsp; We have annihilated many communities around you, after we had explained the proofs, that they might repent.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="28" name="28"></a>

                        <p>(<span title="تپه های شنی (الاحقاف), آیه ۲۸">۴۶:۲۸</span>)&nbsp; پس چرا معبودانی که برای نزدیک کردنشان به <strong>خدا</strong> اختیار کرده بودند از کمک کردن به ایشان کوتاهی کردند؟ در عوض، آنها ایشان را ترک کردند. چنین بودند خدایان
                            دروغینی که آنها چون بُت پرستیدند؛ چنین بود نوآوری‏هایی که جعل کردند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="28" name="28"></a>

                        <p>[<span title="The Dunes (Al-Ahq&#227;f), verse 28">46:28</span>]&nbsp; Why then did the idols they set up to bring them closer to <strong>GOD</strong> fail to help them? Instead, they abandoned them. Such were the false gods they
                            idolized; such were the innovations they fabricated.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="29" name="29"></a>

                        <div class="footnote-subtitle">مؤمنان در میان جنها*</div>

                        <p>(<span title="تپه های شنی (الاحقاف), آیه ۲۹">۴۶:۲۹</span>)&nbsp; بیاد آور که ما تعدادی از جن‏ها را بطرف تو راهنمایی کردیم، تا بگذاریم قرآن را بشنوند. هنگامی که آنجا رسیدند، گفتند، "گوش کنید." به مجرد اینکه تمام شد، نزد مردمشان
                            شتافتند، در حالی که هشدار می‌دادند.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۴۶:۲۹ جنها موجوداتى هستند که بيليون ها سال پيش با کفر بزرگى که شيطان آفاز کرد، کاملا ً موافقت کردند. آنها بعنوان نوادگان شيطان به اين دنيا آورده ميشوند. هر گاه انسانى به دنيا آيد، جنى بدنيا مى آيد. جن تازه متولد شده براى
                                    بدن تازه متولد شده انسان تعيين ميشود، و مدام سعى دارد تا ديدگاه شيطانى را ترويج دهد (ضميمه ۷).</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="29" name="29"></a>

                        <div class="footnote-subtitle">Believers Among the Jinns*</div>

                        <p>[<span title="The Dunes (Al-Ahq&#227;f), verse 29">46:29</span>]&nbsp; Recall that we directed a number of jinns to you, in order to let them hear the Quran. When they got there, they said, "Listen." As soon as it was over, they
                            rushed to their people, warning.*</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*46:29 Jinns are the creatures who fully agreed with Satan when he initiated his famous blasphemy billions of years ago. They are brought into this world as descendants of Satan. One jinn is born every time a human being
                                    is born. The newly born jinn is assigned to the same body as the newly born human, and constantly pushes Satan's point of view (Appendix 7).

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="30" name="30"></a>

                        <p>(<span title="تپه های شنی (الاحقاف), آیه ۳۰">۴۶:۳۰</span>)&nbsp; آنها گفتند، "ای مردم ما، ما از کتابی شنیده‏‌ایم که بعد از موسی نازل شده، و کتابهای آسمانی قبلی را تصدیق می‌کند. آن به حقیقت هدایت می‌کند؛ به راه راست.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="30" name="30"></a>

                        <p>[<span title="The Dunes (Al-Ahq&#227;f), verse 30">46:30</span>]&nbsp; They said, "O our people, we have heard a book that was revealed after Moses, and confirms the previous scriptures. It guides to the truth; to the right path.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="31" name="31"></a>

                        <p>(<span title="تپه های شنی (الاحقاف), آیه ۳۱">۴۶:۳۱</span>)&nbsp; "ای مردم ما، به ندای <strong>خدا</strong> جواب دهید، و به او ایمان آورید. سپس او گناهان شما را خواهد بخشید، و شما را از عذابی دردناک رها خواهد ساخت."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="31" name="31"></a>

                        <p>[<span title="The Dunes (Al-Ahq&#227;f), verse 31">46:31</span>]&nbsp; "O our people, respond to the call of <strong>GOD</strong>, and believe in Him. He will then forgive your sins, and spare you a painful retribution."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="32" name="32"></a>

                        <p>(<span title="تپه های شنی (الاحقاف), آیه ۳۲">۴۶:۳۲</span>)&nbsp; کسانی که به ندای <strong>خدا</strong> جواب ندهند، نمی‌توانند فرار کنند، و غیر از او پروردگاری نخواهند داشت؛ آنها بسیار گمراه شده‏‌اند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="32" name="32"></a>

                        <p>[<span title="The Dunes (Al-Ahq&#227;f), verse 32">46:32</span>]&nbsp; Those who fail to respond to <strong>GOD</strong>'s call cannot escape, and will have no Lord other than Him; they have gone far astray.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="33" name="33"></a>

                        <p>(<span title="تپه های شنی (الاحقاف), آیه ۳۳">۴۶:۳۳</span>)&nbsp; آیا درک نمی‌کنند آن <strong>خدا</strong> که آسمانها و زمین را بدون هیچ زحمتی خلق کرد، قادر است مرده را زنده کند؟ بله البته؛ او قادر مطلق است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="33" name="33"></a>

                        <p>[<span title="The Dunes (Al-Ahq&#227;f), verse 33">46:33</span>]&nbsp; Do they not realize that <strong>GOD</strong>, who created the heavens and the earth without the least effort is able to revive the dead? Yes indeed; He is
                            Omnipotent.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="34" name="34"></a>

                        <p>(<span title="تپه های شنی (الاحقاف), آیه ۳۴">۴۶:۳۴</span>)&nbsp; آن روز که کافران به آتش جهنم معرفی می‌شوند از آنها سئوال خواهد شد، "آیا این حقیقت نیست؟" آنها جواب خواهند داد، "بله البته، قسم به پروردگارمان." او خواهد گفت، "پس
                            جزای بی‏ اعتقادیتان را بچشید."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="34" name="34"></a>

                        <p>[<span title="The Dunes (Al-Ahq&#227;f), verse 34">46:34</span>]&nbsp; The day the disbelievers are introduced to the Hellfire, they will be asked, "Is this not the truth?" They will answer, "Yes indeed, by our Lord." He will say,
                            "Then suffer the retribution for your disbelief."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="35" name="35"></a>

                        <div class="footnote-subtitle">رسول میثاق خدا*</div>

                        <p>(<span title="تپه های شنی (الاحقاف), آیه ۳۵">۴۶:۳۵</span>)&nbsp; بنابراین، صبور باش مانند رسولان قبل از تو که قوی بودند و صبر پیشه کردند. عجله نداشته باش تا عذاب اجتناب‏ناپذیر را که بر ایشان خواهد آمد، ببینی. آن روز که آن را ببینند،
                            به نظر خواهد آمد که فقط ساعتی از روز دوام آورده‏‌اند. این اعلامیه‏‌ای است: آیا این ستمکاران نیستند که پی در پی هلاک می‌شوند؟</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۴۶:۳۵ شواهد قرآنى و رياضى ثابت ميکند که رسول عنوان شده در اينجا، رشاد خليفه است. با اضافه کردن مقدار عددى "رشاد خليفه" (۱۲۳۰)، باضافه شماره سوره (۴۶)، باضافه شماره آيه (۳۵)، مجموعى بدست مى آوريم که ميشود ۱۲۱۱، يا ۶۹ ۱۹.
                                    اين با کد قرآن مطابقت دارد (ضميمه ۲).</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="35" name="35"></a>

                        <div class="footnote-subtitle">God's Messenger of the Covenant*</div>

                        <p>[<span title="The Dunes (Al-Ahq&#227;f), verse 35">46:35</span>]&nbsp; Therefore, be patient like the messengers before you who possessed strength and resorted to patience. Do not be in a hurry to see the retribution that will
                            inevitably come to them. The day they see it, it will seem as if they lasted one hour of the day. This is a proclamation: Is it not the wicked who are consistently annihilated?</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*46:35 Quranic and mathematical evidence proves that the messenger addressed here is Rashad Khalifa. By adding the gematrical value of "Rashad Khalifa" (1230), plus the sura number (46), plus the verse number (35), we get
                                    1311, or 19x69. This conforms with the Quran's code (App 2).

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۳۱۱</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۴۶۷۷</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
      