<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۸۰: چهره در هم کشید (عبس)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 80: He Frowned ('Abasa)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۱">۸۰:۱</span>)&nbsp; او (محمد) اخم کرد و روی گرداند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 1">80:1</span>]&nbsp; He <em>(Muhammad)</em> frowned and turned away.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۲">۸۰:۲</span>)&nbsp; هنگامی که مرد کور نزد او آمد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 2">80:2</span>]&nbsp; When the blind man came to him.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۳">۸۰:۳</span>)&nbsp; تو از کجا می‌دانی؟ ممکن است او خود را پاک سازد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 3">80:3</span>]&nbsp; How do you know? He may purify himself.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۴">۸۰:۴</span>)&nbsp; یا شاید متوجه شود، و از پیغام نفعی ببرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 4">80:4</span>]&nbsp; Or he may take heed, and benefit from the message.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۵">۸۰:۵</span>)&nbsp; و اما آن مرد ثروتمند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 5">80:5</span>]&nbsp; As for the rich man.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۶">۸۰:۶</span>)&nbsp; تو به او توجه کردی.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 6">80:6</span>]&nbsp; You gave him your attention.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۷">۸۰:۷</span>)&nbsp; اگر چه نمی‌توانستی نجاتش را تضمین کنی.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 7">80:7</span>]&nbsp; Even though you could not guarantee his salvation.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۸">۸۰:۸</span>)&nbsp; آن کسی که مشتاقانه نزد تو آمد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 8">80:8</span>]&nbsp; The one who came to you eagerly.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۹">۸۰:۹</span>)&nbsp; و واقعاً حرمت‏گزار است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 9">80:9</span>]&nbsp; And is really reverent.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۱۰">۸۰:۱۰</span>)&nbsp; تو به او بی اعتنایی کردی.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 10">80:10</span>]&nbsp; You ignored him.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۱۱">۸۰:۱۱</span>)&nbsp; به درستی که این تذکری است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 11">80:11</span>]&nbsp; Indeed, this is a reminder.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="12" name="12"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۱۲">۸۰:۱۲</span>)&nbsp; هر کس بخواهد باید متوجه شود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="12" name="12"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 12">80:12</span>]&nbsp; Whoever wills shall take heed.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="13" name="13"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۱۳">۸۰:۱۳</span>)&nbsp; در کتابهای آسمانی محترم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="13" name="13"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 13">80:13</span>]&nbsp; In honorable scriptures.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="14" name="14"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۱۴">۸۰:۱۴</span>)&nbsp; بلند مرتبه و پاک.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="14" name="14"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 14">80:14</span>]&nbsp; Exalted and pure.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="15" name="15"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۱۵">۸۰:۱۵</span>)&nbsp; (نوشته شده) به دست رسولان.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="15" name="15"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 15">80:15</span>]&nbsp;
                            <em>(Written)</em> by the hands of messengers.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="16" name="16"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۱۶">۸۰:۱۶</span>)&nbsp; که محترم و پرهیزکار هستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="16" name="16"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 16">80:16</span>]&nbsp; Who are honorable and righteous.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="17" name="17"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۱۷">۸۰:۱۷</span>)&nbsp; وای بر انسان؛ او بسیار قدرنشناس است!</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="17" name="17"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 17">80:17</span>]&nbsp; Woe to the human being; he is so unappreciative!</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="18" name="18"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۱۸">۸۰:۱۸</span>)&nbsp; او از چه چیز او را خلق کرد؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="18" name="18"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 18">80:18</span>]&nbsp; What did He create him from?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="19" name="19"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۱۹">۸۰:۱۹</span>)&nbsp; از قطره‏‌ای کوچک، او را خلق می‌کند و طرح می‌کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="19" name="19"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 19">80:19</span>]&nbsp; From a tiny drop, He creates him and designs him.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="20" name="20"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۲۰">۸۰:۲۰</span>)&nbsp; سپس او آن راه را به وی نشان می‌دهد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="20" name="20"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 20">80:20</span>]&nbsp; Then He points out the path for him.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="21" name="21"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۲۱">۸۰:۲۱</span>)&nbsp; سپس او وی را به مرگ در می‌آورد، و در قبر می‌گذارد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="21" name="21"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 21">80:21</span>]&nbsp; Then He puts him to death, and into the grave.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="22" name="22"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۲۲">۸۰:۲۲</span>)&nbsp; هر وقت او بخواهد، او وی را برمی‌انگیزد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="22" name="22"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 22">80:22</span>]&nbsp; When He wills, He resurrects him.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="23" name="23"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۲۳">۸۰:۲۳</span>)&nbsp; او باید از احکام او پیروی کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="23" name="23"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 23">80:23</span>]&nbsp; He shall uphold His commandments.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="24" name="24"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۲۴">۸۰:۲۴</span>)&nbsp; بگذار انسان غذایش را در نظر بگیرد!</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="24" name="24"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 24">80:24</span>]&nbsp; Let the human consider his food!</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="25" name="25"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۲۵">۸۰:۲۵</span>)&nbsp; ما آب را سخاوتمندانه می‌باریم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="25" name="25"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 25">80:25</span>]&nbsp; We pour the water generously.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="26" name="26"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۲۶">۸۰:۲۶</span>)&nbsp; سپس ما خاک را می‌شکافیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="26" name="26"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 26">80:26</span>]&nbsp; Then we split the soil open.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="27" name="27"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۲۷">۸۰:۲۷</span>)&nbsp; ما در آن حبوبات می‌رویانیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="27" name="27"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 27">80:27</span>]&nbsp; We grow in it grains.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="28" name="28"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۲۸">۸۰:۲۸</span>)&nbsp; انگورها و چراگاه‏‌ها.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="28" name="28"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 28">80:28</span>]&nbsp; Grapes and pasture.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="29" name="29"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۲۹">۸۰:۲۹</span>)&nbsp; زیتون‏ها و نخل‏ها.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="29" name="29"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 29">80:29</span>]&nbsp; Olives and palms.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="30" name="30"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۳۰">۸۰:۳۰</span>)&nbsp; انواع باغ‏های میوه.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="30" name="30"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 30">80:30</span>]&nbsp; A variety of orchards.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="31" name="31"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۳۱">۸۰:۳۱</span>)&nbsp; میوه‏‌ها و سبزیجات.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="31" name="31"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 31">80:31</span>]&nbsp; Fruits and vegetables.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="32" name="32"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۳۲">۸۰:۳۲</span>)&nbsp; تا برای شما و حیوانات شما لازمه زندگی تهیه کنیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="32" name="32"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 32">80:32</span>]&nbsp; To provide life support for you and your animals.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="33" name="33"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۳۳">۸۰:۳۳</span>)&nbsp; سپس هنگامی که ضربه منفجره بیاید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="33" name="33"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 33">80:33</span>]&nbsp; Then, when the blow comes to pass.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="34" name="34"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۳۴">۸۰:۳۴</span>)&nbsp; آن روزی است که شخص از برادرش فرار می‌کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="34" name="34"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 34">80:34</span>]&nbsp; That is the day when one flees from his brother.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="35" name="35"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۳۵">۸۰:۳۵</span>)&nbsp; از مادرش و پدرش.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="35" name="35"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 35">80:35</span>]&nbsp; From his mother and father.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="36" name="36"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۳۶">۸۰:۳۶</span>)&nbsp; از همسرش و فرزندانش.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="36" name="36"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 36">80:36</span>]&nbsp; From his spouse and children.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="37" name="37"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۳۷">۸۰:۳۷</span>)&nbsp; هر یک از آنها در آن روز، نگران سرنوشت خویش است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="37" name="37"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 37">80:37</span>]&nbsp; Each one of them, on that day, worries about his own destiny.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="38" name="38"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۳۸">۸۰:۳۸</span>)&nbsp; بعضی از چهره‏‌ها در آن روز خوشحال خواهند بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="38" name="38"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 38">80:38</span>]&nbsp; Some faces on that day will be happy.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="39" name="39"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۳۹">۸۰:۳۹</span>)&nbsp; خندان و شادمان.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="39" name="39"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 39">80:39</span>]&nbsp; Laughing and joyful.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="40" name="40"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۴۰">۸۰:۴۰</span>)&nbsp; چهره‏‌های دیگر در آن روز، پوشیده از بدبختی خواهد بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="40" name="40"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 40">80:40</span>]&nbsp; Other faces, on that day, will be covered with misery.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="41" name="41"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۴۱">۸۰:۴۱</span>)&nbsp; پر از پشیمانی.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="41" name="41"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 41">80:41</span>]&nbsp; Overwhelmed by remorse.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="42" name="42"></a>

                        <p>(<span title="چهره در هم کشید (عبس), آیه ۴۲">۸۰:۴۲</span>)&nbsp; اینها کافران ستمکار هستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="42" name="42"></a>

                        <p>[<span title="He Frowned ('Abasa), verse 42">80:42</span>]&nbsp; These are the wicked disbelievers.</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۶۷۸</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۷۹۲۲</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>
</html>

