<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۶۰: آزمایش (الممتحنه)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 60: The Test (Al-Mumtahanah)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="آزمایش (الممتحنه), آیه ۱">۶۰:۱</span>)&nbsp; ای کسانی که ایمان دارید، شما نباید با دشمنان من و دشمنان خود دوستی کنید، و محبت و دوستی را با آنها ادامه دهید، زیرا آنها حقیقتی را که بر شما آمده است، باور نکردند. آنها
                            رسول و شما را آزار می‌دهند، فقط به خاطر اینکه شما به <strong>خدا</strong>، پروردگارتان ایمان دارید. اگر در طلب نعمت‏های من بسیج می‌شوید، تا در راه من تلاش کنید، چطور می‌توانید پنهانی آنها را دوست بدارید؟ من کاملاً به آنچه پنهان
                            می‌کنید و آنچه آشکار می‌کنید، آگاه هستم. کسانی که در میان شما چنین کاری می‌کنند، حقیقتاً از راه راست منحرف شده‏‌اند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="The Test (Al-Mumtahanah), verse 1">60:1</span>]&nbsp; O you who believe, you shall not befriend My enemies and your enemies, extending love and friendship to them, even though they have disbelieved in the truth that
                            has come to you. They persecute the messenger, and you, just because you believe in <strong>GOD</strong>, your Lord. If you mobilize to struggle in My cause, seeking My blessings, how can you secretly love them? I am fully
                            aware of everything you conceal, and everything you declare. Those among you who do this have indeed strayed off the right path.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="آزمایش (الممتحنه), آیه ۲">۶۰:۲</span>)&nbsp; هنگامی که با شما روبرو می‌شوند، مانند دشمن با شما رفتار می‌کنند، و با دست و زبانشان شما را آزار می‌دهند. آنها می‌خواهند که شما ناباور شوید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="The Test (Al-Mumtahanah), verse 2">60:2</span>]&nbsp; Whenever they encounter you, they treat you as enemies, and hurt you with their hands and tongues. They want you to disbelieve.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="آزمایش (الممتحنه), آیه ۳">۶۰:۳</span>)&nbsp; خویشاوندان شما و پول شما هرگز نمی‌تواند شما را کمک کند. در روز قیامت او در میان شما قضاوت خواهد کرد. <strong>خدا</strong> بر هرچه شما انجام میدهید بینا است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="The Test (Al-Mumtahanah), verse 3">60:3</span>]&nbsp; Your relatives and your money can never help you. On the Day of Resurrection, He will judge among you. <strong>GOD</strong> is Seer of everything you do.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <div class="footnote-subtitle">ابراهیم: یک نمونه</div>

                        <p>(<span title="آزمایش (الممتحنه), آیه ۴">۶۰:۴</span>)&nbsp; مثال خوبی به وسیله ابراهیم و کسانی که با او بودند برای شما زده شده است. آنها به مردمشان گفتند، "ما شما و بُتهایی را که در کنار <strong>خدا</strong> پرستش می‌کنید، طرد می‌کنیم.
                            ما شما را متهم می‌کنیم، و از ما غیر از عداوت و تنفر چیزی نخواهید دید تا اینکه به تنها <strong>خدا</strong> ایمان آورید." اگرچه، ابراهیم مرتکب اشتباه شد هنگامی که به پدرش گفت، "من برای بخشش تو دعا خواهم کرد، اما من هیچ قدرتی
                            جهت محافظت تو در مقابل <strong>خدا</strong> ندارم." "پروردگار ما، ما به تو توکل می‌کنیم، و تسلیم تو هستیم؛ سرنوشت نهایی به سوی تو است.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۶۰:۴ کلمه عربى "وحده (تنها) فقط شش بار در قرآن تکرار شده است، يکى از آنها اشاره به تنها قرآن دارد (۱۷:۴۶). اشاره به تنها خدا در آيات ۷:۷۰، ۳۹:۴۵، ۸۴ و ۴۰:۱۲ و ۶۰:۴ تکرار شده است. مجموع اين اعداد (۴+۶۰+۸۴+۱۲+۴۰+۴۵+۲۹+۷۰+۷)
                                    مساوى است با ۳۶۱ يا ۱۹x۱۹. اين تأکيد ميکند که موضوع اصلى قرآن "پرستش تنها خدا" است. به ضميمه ۱ مراجعه کنيد. ** ۶۰:۴ ما ميتوانيم براى هدايت بت پرستان دعا کنيم، نه بخشش، از آنجاييکه قانون خدا اين است که بت پرستى تنها
                                    گناه غير قابل بخشش است (۱۱۶، ۴۰:۴۸).</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <div class="footnote-subtitle">Abraham: An Example</div>

                        <p>[<span title="The Test (Al-Mumtahanah), verse 4">60:4</span>]&nbsp; A good example has been set for you by Abraham and those with him. They said to their people, "We disown you and the idols that you worship besides <strong>GOD</strong>.
                            We denounce you, and you will see nothing from us except animosity and hatred until you believe in <strong>GOD</strong> ALONE."* However, a mistake was committed by Abraham when he said to his father, "I will pray for your
                            forgiveness,** but I possess no power to protect you from <strong>GOD</strong>." "Our Lord, we trust in You, and submit to You; to You is the final destiny.</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*60:4 The Arabic word for "ALONE" (WAHDAHU) occurs only six times in the Quran, one of them refers to upholding the Quran ALONE (17:46). The reference to God ALONE occurs in 7:70, 39:45, 40:12 & 84, and 60:4. The sum of
                                    these numbers (7+70+39+45+40+12+84+60+4) equals 361, or 19x19. This emphasizes that the main theme of the Quran is "Worship God ALONE." Appendix 1. **60:4 We can pray for guidance for the idolators, not forgiveness,
                                    since God's law is that idolatry is the only unforgivable offense (4:48 & 116).</p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="آزمایش (الممتحنه), آیه ۵">۶۰:۵</span>)&nbsp; "پروردگار ما، نگذار که مورد ستم کسانی که ایمان ندارند قرار گیریم، و ما را عفو کن. تو بزرگوار هستی، حکیم‏ترین."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="The Test (Al-Mumtahanah), verse 5">60:5</span>]&nbsp; "Our Lord, let us not be oppressed by those who disbelieved, and forgive us. You are the Almighty, Most Wise."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="آزمایش (الممتحنه), آیه ۶">۶۰:۶</span>)&nbsp; مثال خوبی به وسیله آنها زده شد برای کسانی که در جستجوی <strong>خدا</strong> و روز آخر هستند. و اما کسانی که روی بگردانند، <strong>خدا</strong> (به آنها) احتیاجی ندارد،
                            شایسته‏‌ترین برای ستایش.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="The Test (Al-Mumtahanah), verse 6">60:6</span>]&nbsp; A good example has been set by them for those who seek <strong>GOD</strong> and the Last Day. As for those who turn away, <strong>GOD</strong> is in no need <em>(of them)</em>,
                            Most Praiseworthy.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="آزمایش (الممتحنه), آیه ۷">۶۰:۷</span>)&nbsp; ممکن است <strong>خدا</strong> دشمنىِ بین شما و آنها را به دوستی تبدیل کند. <strong>خدا</strong> قادر مطلق است. <strong>خدا</strong> عفو کننده است، مهربانترین.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="The Test (Al-Mumtahanah), verse 7">60:7</span>]&nbsp;
                            <strong>GOD</strong> may change the animosity between you and them into love. <strong>GOD</strong> is Omnipotent. <strong>GOD</strong> is Forgiver, Most Merciful.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <div class="footnote-subtitle">قوانین اصلی برای روابط با کسانی که ایمان ندارند</div>

                        <p>(<span title="آزمایش (الممتحنه), آیه ۸">۶۰:۸</span>)&nbsp;
                            <strong>خدا</strong> شما را از دوستی با کسانی که به خاطر دین با شما نمی‌جنگند و شما را از خانه‏‌هایتان بیرون نمی‌کنند، بازنمی‌دارد. شما می‌توانید با آنها دوست باشید و نسبت به آنها عادل باشید. <strong>خدا</strong> عادلان را
                            دوست دارد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <div class="footnote-subtitle">Basic Law Regulating Relations With Unbelievers</div>

                        <p>[<span title="The Test (Al-Mumtahanah), verse 8">60:8</span>]&nbsp;
                            <strong>GOD</strong> does not enjoin you from befriending those who do not fight you because of religion, and do not evict you from your homes. You may befriend them and be equitable towards them. <strong>GOD</strong> loves
                            the equitable.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <p>(<span title="آزمایش (الممتحنه), آیه ۹">۶۰:۹</span>)&nbsp;
                            <strong>خدا</strong> فقط شما را از دوستی با کسانی که به خاطر دین با شما می‌جنگند، و شما را از خانه‏‌هایتان بیرون می‌کنند، و با دیگران همدست می‌شوند تا شما را تبعید کنند، باز می‌دارد. شما نباید با آنها دوستی کنید. کسانی که با
                            آنها دوست می‌شوند، متجاوزین هستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <p>[<span title="The Test (Al-Mumtahanah), verse 9">60:9</span>]&nbsp;
                            <strong>GOD</strong> enjoins you only from befriending those who fight you because of religion, evict you from your homes, and band together with others to banish you. You shall not befriend them. Those who befriend them are
                            the transgressors.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <div class="footnote-subtitle">در صورت جنگ</div>

                        <p>(<span title="آزمایش (الممتحنه), آیه ۱۰">۶۰:۱۰</span>)&nbsp; ای کسانی که ایمان دارید، هنگامی که زنان باایمان (دشمن را ترک می‌کنند و) تقاضای پناهندگی به شما می‌کنند، شما باید آنها را امتحان کنید. <strong>خدا</strong> کاملاً از ایمان
                            آنها آگاه است. هنگامی که متوجه شدید که آنها مؤمن هستند، نباید آنها را نزد کافران باز گردانید. غیرقانونی است که آنها با ایشان ازدواج کرده بمانند، و نباید به کافران اجازه داده شود که با آنها ازدواج کنند. مهریه‏‌ای را که کافران
                            پرداخته‏‌اند، بازگردانید. شما هیچ اشتباهی مرتکب نشده‏‌اید اگر با ایشان ازدواج کنید، تا جایی که مهریه‏‌شان را پرداخت کنید. زنان بی‏ ایمان را (اگر بخواهند به دشمن بپیوندند) نگاه ندارید. شما می‌توانید مهریه‏‌ای را که پرداخت کرده‏‌اید،
                            از ایشان درخواست کنید، و آنها می‌توانند آنچه را پرداخت کرده‏‌اند، درخواست کنند. این حکم <strong>خدا</strong> است؛ او در میان شما حکم می‌کند. <strong>خدا</strong> دانای مطلق است، حکیم‏ترین.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <div class="footnote-subtitle">In Case of War</div>

                        <p>[<span title="The Test (Al-Mumtahanah), verse 10">60:10</span>]&nbsp; O you who believe, when believing women <em>(abandon the enemy and)</em> ask for asylum with you, you shall test them. <strong>GOD</strong> is fully aware of
                            their belief. Once you establish that they are believers, you shall not return them to the disbelievers. They are not lawful to remain married to them, nor shall the disbelievers be allowed to marry them. Give back the dowries
                            that the disbelievers have paid. You commit no error by marrying them, so long as you pay them their due dowries. Do not keep disbelieving wives <em>(if they wish to join the enemy)</em>. You may ask them for the dowry you
                            had paid, and they may ask for what they paid. This is <strong>GOD</strong>'s rule; He rules among you. <strong>GOD</strong> is Omniscient, Most Wise.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <p>(<span title="آزمایش (الممتحنه), آیه ۱۱">۶۰:۱۱</span>)&nbsp; اگر هر یک از زنان شما به اردوگاه دشمن بپیوندد، و شما مجبور به جنگ شوید، باید دشمن را مجبور کنید تا هزینه مردانی را که زنانشان را از دست داده‏‌اند، با پرداخت آنچه ایشان
                            خرج زنانشان کرده‏‌اند، جبران کنند. شما باید به هیبت <strong>خدا</strong>، که به او ایمان دارید، حرمت نهید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <p>[<span title="The Test (Al-Mumtahanah), verse 11">60:11</span>]&nbsp; If any of your wives join the enemies' camp, and you are forced to fight, you shall force the enemy to compensate the men who lost their wives, by giving them
                            what they spent on their wives. You shall reverence <strong>GOD</strong>, in whom you believe.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="12" name="12"></a>

                        <p>(<span title="آزمایش (الممتحنه), آیه ۱۲">۶۰:۱۲</span>)&nbsp; ای پیغمبر، هنگامی که زنان باایمان (که کافران را ترک کردند) تقاضای پناهندگی به تو می‌کنند، و با تو عهد می‌کنند که معبودانی در کنار <strong>خدا</strong> قرار نخواهند داد،
                            نه دزدی کنند، نه مرتکب زنا شوند، نه فرزندانشان را بکشند، نه دروغ بسازند و نه از دستورات پرهیزکارانه تو سرپیچی کنند، تو باید پیمان آنها را قبول کنی، و برای بخشش آنها به <strong>خدا</strong> دعا کنی. <strong>خدا</strong> عفو
                            کننده است، مهربانترین.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="12" name="12"></a>

                        <p>[<span title="The Test (Al-Mumtahanah), verse 12">60:12</span>]&nbsp; O you prophet, when the believing women <em>(who abandoned the disbelievers)</em> to seek asylum with you pledge to you that they will not set up any idols besides
                            <strong>GOD</strong>, nor steal, nor commit adultery, nor kill their children, nor fabricate any falsehood, nor disobey your righteous orders, you shall accept their pledge, and pray to <strong>GOD</strong> to forgive them.
                            <strong>GOD</strong> is Forgiver, Most Merciful.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="13" name="13"></a>

                        <p>(<span title="آزمایش (الممتحنه), آیه ۱۳">۶۰:۱۳</span>)&nbsp; ای کسانی که ایمان دارید، با کسانی که <strong>خدا</strong> از آنها خشمگین است، و با ناامیدی در بی‏ اعتقادی فرورفته‏‌اند، دوستی نکنید؛ به آنها امیدی نیست همانطور که به
                            کافران در قبرها امیدی نیست.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="13" name="13"></a>

                        <p>[<span title="The Test (Al-Mumtahanah), verse 13">60:13</span>]&nbsp; O you who believe, do not befriend people with whom <strong>GOD</strong> is angry, and who are hopelessly stuck in disbelief; they are just as hopeless as the
                            disbelievers who are already in the graves.</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۵۳۹</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۷۰۱۶</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>



<!-- // DEFINITIONS

base.html contains all the functionality specific code. There is layout code in this document. All other templates inherit from this document.

-->