<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۷۹: رُبایندگان (النازعات)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 79: The Snatchers (Al-Naaze'aat)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۱">۷۹:۱</span>)&nbsp; (فرشتگانی که) بزور (نفس کافران را) می‌ربایند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 1">79:1</span>]&nbsp; The <em>(angels who)</em> snatch <em>(the souls of the disbelievers)</em> forcibly.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۲">۷۹:۲</span>)&nbsp; و آنهایی که به آرامی (نفس مؤمنان را) با شادی می‌گیرند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 2">79:2</span>]&nbsp; And those who gently take <em>(the souls of the believers)</em> joyfully.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۳">۷۹:۳</span>)&nbsp; و آنهایی که همه جا شناور هستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 3">79:3</span>]&nbsp; And those floating everywhere.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۴">۷۹:۴</span>)&nbsp; مشتاقانه از یکدیگر سبقت می‌جویند-</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 4">79:4</span>]&nbsp; Eagerly racing with one another&mdash;</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۵">۷۹:۵</span>)&nbsp; تا اوامر مختلف را انجام دهند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 5">79:5</span>]&nbsp; to carry out various commands.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۶">۷۹:۶</span>)&nbsp; آن روز که آن زلزله، به لرزه در آید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 6">79:6</span>]&nbsp; The day the quake quakes.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۷">۷۹:۷</span>)&nbsp; به دنبال دومین دمیدن.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 7">79:7</span>]&nbsp; Followed by the second blow.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۸">۷۹:۸</span>)&nbsp; افکار خاصی وحشت‏زده خواهد شد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 8">79:8</span>]&nbsp; Certain minds will be terrified.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۹">۷۹:۹</span>)&nbsp; آنها چشم‏هایشان را به زیر می‌افکنند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 9">79:9</span>]&nbsp; Their eyes will be subdued.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۱۰">۷۹:۱۰</span>)&nbsp; آنها خواهند گفت، "ما از قبر دوباره خلق شده‏‌ایم!</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 10">79:10</span>]&nbsp; They will say, "We have been recreated from the grave!</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۱۱">۷۹:۱۱</span>)&nbsp; "چطور این رخ داد، پس از اینکه به استخوان‏هایی پوسیده تبدیل شده بودیم؟"</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 11">79:11</span>]&nbsp; "How did this happen after we had turned into rotten bones?"</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="12" name="12"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۱۲">۷۹:۱۲</span>)&nbsp; آنها گفته بودند، "این پیش آمدی است که رخ دادن آن غیر ممکن است."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="12" name="12"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 12">79:12</span>]&nbsp; They had said, "This is an impossible recurrence."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="13" name="13"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۱۳">۷۹:۱۳</span>)&nbsp; فقط یک اشاره لازم است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="13" name="13"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 13">79:13</span>]&nbsp; All it takes is one nudge.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="14" name="14"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۱۴">۷۹:۱۴</span>)&nbsp; که در نتیجه آن، بر می‌خیزند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="14" name="14"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 14">79:14</span>]&nbsp; Whereupon they get up.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="15" name="15"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۱۵">۷۹:۱۵</span>)&nbsp; آیا تاریخچه موسی را دانسته‏‌ای؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="15" name="15"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 15">79:15</span>]&nbsp; Have you known about the history of Moses?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="16" name="16"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۱۶">۷۹:۱۶</span>)&nbsp; پروردگارش او را در سرزمین مقدس طوی ندا داد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="16" name="16"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 16">79:16</span>]&nbsp; His Lord called him at the holy valley of Tuwaa.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="17" name="17"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۱۷">۷۹:۱۷</span>)&nbsp; "برو نزد فرعون؛ او متجاوز شده است."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="17" name="17"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 17">79:17</span>]&nbsp; "Go to Pharaoh; he has transgressed."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="18" name="18"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۱۸">۷۹:۱۸</span>)&nbsp; به او بگو، "آیا نمی‌خواهی اصلاح شوی؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="18" name="18"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 18">79:18</span>]&nbsp; Tell him, "Would you not reform?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="19" name="19"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۱۹">۷۹:۱۹</span>)&nbsp; "بگذار تا تو را به پروردگارت هدایت کنم، تا باشد که از حرمت‏گزاران شوی."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="19" name="19"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 19">79:19</span>]&nbsp; "Let me guide you to your Lord, that you may turn reverent."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="20" name="20"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۲۰">۷۹:۲۰</span>)&nbsp; سپس او آن معجزه عظیم را به او نشان داد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="20" name="20"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 20">79:20</span>]&nbsp; He then showed him the great miracle.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="21" name="21"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۲۱">۷۹:۲۱</span>)&nbsp; اما او باور نکرد و سرکش شد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="21" name="21"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 21">79:21</span>]&nbsp; But he disbelieved and rebelled.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="22" name="22"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۲۲">۷۹:۲۲</span>)&nbsp; سپس با شتاب روی گرداند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="22" name="22"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 22">79:22</span>]&nbsp; Then he turned away in a hurry.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="23" name="23"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۲۳">۷۹:۲۳</span>)&nbsp; او احضار کرد و اعلام کرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="23" name="23"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 23">79:23</span>]&nbsp; He summoned and proclaimed.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="24" name="24"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۲۴">۷۹:۲۴</span>)&nbsp; او گفت، "من پروردگار شما هستم؛ بلند مرتبه‏‌ترین."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="24" name="24"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 24">79:24</span>]&nbsp; He said, "I am your Lord; most high."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="25" name="25"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۲۵">۷۹:۲۵</span>)&nbsp; در نتیجه، <strong>خدا</strong> در آخرت او را گرفتار عذاب کرد، همچنین در زندگی اول.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="25" name="25"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 25">79:25</span>]&nbsp; Consequently, <strong>GOD</strong> committed him to the retribution in the Hereafter, as well as in the first life.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="26" name="26"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۲۶">۷۹:۲۶</span>)&nbsp; این درسی است برای حرمت‏گزاران.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="26" name="26"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 26">79:26</span>]&nbsp; This is a lesson for the reverent.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="27" name="27"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۲۷">۷۹:۲۷</span>)&nbsp; آیا خلقت شما مشکل‏تر از آسمان است؟ او آن را بنا کرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="27" name="27"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 27">79:27</span>]&nbsp; Are you more difficult to create than the heaven? He constructed it.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="28" name="28"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۲۸">۷۹:۲۸</span>)&nbsp; او توده‏‌های آن را برافراشت و آن را تکمیل کرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="28" name="28"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 28">79:28</span>]&nbsp; He raised its masses, and perfected it.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="29" name="29"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۲۹">۷۹:۲۹</span>)&nbsp; او شب آن را تاریک کرد و صبح آن را روشن.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="29" name="29"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 29">79:29</span>]&nbsp; He made its night dark, and brightened its morn.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="30" name="30"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۳۰">۷۹:۳۰</span>)&nbsp; او زمین را تخم مرغی شکل ساخت.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۷۹:۳۰ کلمه عربى "دحها" از "دحى" گرفته شده است که به معناى "تخم مرغ" است.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="30" name="30"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 30">79:30</span>]&nbsp; He made the earth egg-shaped.*</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*79:30 The Arabic word "dahhaahaa" is derived from "Dahhyah" which means "egg."</p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="31" name="31"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۳۱">۷۹:۳۱</span>)&nbsp; از آن، او آب و چراگاههای آن را تولید کرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="31" name="31"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 31">79:31</span>]&nbsp; From it, He produced its own water and pasture.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="32" name="32"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۳۲">۷۹:۳۲</span>)&nbsp; او کوهها را قرار داد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="32" name="32"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 32">79:32</span>]&nbsp; He established the mountains.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="33" name="33"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۳۳">۷۹:۳۳</span>)&nbsp; همه اینها به خاطر تهیه لازمه زندگی برای شما و حیوانات شما است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="33" name="33"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 33">79:33</span>]&nbsp; All this to provide life support for you and your animals.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="34" name="34"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۳۴">۷۹:۳۴</span>)&nbsp; سپس هنگامی که ضربه عظیم بیاید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="34" name="34"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 34">79:34</span>]&nbsp; Then, when the great blow comes.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="35" name="35"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۳۵">۷۹:۳۵</span>)&nbsp; آن روزی است که انسان هر چه انجام داده، به خاطر خواهد آورد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="35" name="35"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 35">79:35</span>]&nbsp; That is the day when the human will remember everything he did.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="36" name="36"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۳۶">۷۹:۳۶</span>)&nbsp; جهنم به وجود خواهد آمد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="36" name="36"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 36">79:36</span>]&nbsp; Hell will be brought into existence.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="37" name="37"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۳۷">۷۹:۳۷</span>)&nbsp; و اما کسی که تجاوز کرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="37" name="37"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 37">79:37</span>]&nbsp; As for the one who transgressed.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="38" name="38"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۳۸">۷۹:۳۸</span>)&nbsp; کسی که سرگرم این دنیا بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="38" name="38"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 38">79:38</span>]&nbsp; Who was preoccupied with this life.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="39" name="39"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۳۹">۷۹:۳۹</span>)&nbsp; جهنم جایگاهش خواهد بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="39" name="39"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 39">79:39</span>]&nbsp; Hell will be the abode.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="40" name="40"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۴۰">۷۹:۴۰</span>)&nbsp; و اما کسی که به هیبت مقام پروردگارش حرمت نهاد، و نفس خود را از هوس‏های گناه‏آلود باز داشت.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="40" name="40"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 40">79:40</span>]&nbsp; As for the one who reverenced the majesty of his Lord, and enjoined the self from sinful lusts.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="41" name="41"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۴۱">۷۹:۴۱</span>)&nbsp; پردیس جایگاهش خواهد بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="41" name="41"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 41">79:41</span>]&nbsp; Paradise will be the abode.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="42" name="42"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۴۲">۷۹:۴۲</span>)&nbsp; آنها در باره آن ساعت از تو می‌پرسند، و اینکه چه وقت انجام خواهد گرفت!</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="42" name="42"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 42">79:42</span>]&nbsp; They ask you about the Hour, and when it will take place!</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="43" name="43"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۴۳">۷۹:۴۳</span>)&nbsp; تو (محمد) نیستی کسی که مقدر شده تا زمان آن را اعلام کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="43" name="43"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 43">79:43</span>]&nbsp; It is not you <em>(Muhammad)</em> who is destined to announce its time.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="44" name="44"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۴۴">۷۹:۴۴</span>)&nbsp; پروردگارت سرنوشت آن را تصمیم می‌گیرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="44" name="44"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 44">79:44</span>]&nbsp; Your Lord decides its fate.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="45" name="45"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۴۵">۷۹:۴۵</span>)&nbsp; مأموریت تو هشدار به کسانی است که انتظار آن را دارند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="45" name="45"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 45">79:45</span>]&nbsp; Your mission is to warn those who expect it.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="46" name="46"></a>

                        <p>(<span title="رُبایندگان (النازعات), آیه ۴۶">۷۹:۴۶</span>)&nbsp; آن روز که آنها آن را ببینند، احساس خواهند کرد که شامگاه یا نیم‏روزی بیش دوام نیاورده‏‌اند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="46" name="46"></a>

                        <p>[<span title="The Snatchers (Al-Naaze'aat), verse 46">79:46</span>]&nbsp; The day they see it, they will feel as if they lasted one evening or half a day.</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۶۷۸</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۷۹۲۲</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>

</html>
