<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->


        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۳۰: رومیان (الرّوم)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 30: Romans (Al-Room)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۱">۳۰:۱</span>)&nbsp; ا.ل.م.
                        </p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۳۰:۱ براى توضيحات کامل اين پاراف هاى اسرار آميز به ضميمه ۱ توجه کنيد.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="Romans (Al-Room), verse 1">30:1</span>]&nbsp; A. L. M.*</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*30:1 See Appendix 1 for the detailed explanation of these previously mysterious initials.
                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۲">۳۰:۲</span>)&nbsp; مسلماً، رومیان شکست خواهند خورد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="Romans (Al-Room), verse 2">30:2</span>]&nbsp; Certainly, the Romans will be defeated.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۳">۳۰:۳</span>)&nbsp; در نزدیکترین سرزمین. پس از شکست‏شان، دوباره برمی‌خیزند و پیروز خواهند شد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="Romans (Al-Room), verse 3">30:3</span>]&nbsp; In the nearest land. After their defeat, they will rise again and win.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۴">۳۰:۴</span>)&nbsp; در چندین سال. چنین است تصمیم <strong>خدا</strong>، هم در اولین پیشگویی، و هم در دومین. در آن روز، مؤمنان خوشحال شوند</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="Romans (Al-Room), verse 4">30:4</span>]&nbsp; Within several years. Such is <strong>GOD</strong>'s decision, both in the first prophecy, and the second. On that day, the believers shall rejoice</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۵">۳۰:۵</span>)&nbsp; از پیروزی <strong>خدا</strong>. او به هر کس بخواهد پیروزی عطا می‌کند. او بزرگوار است، مهربانترین.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="Romans (Al-Room), verse 5">30:5</span>]&nbsp; in <strong>GOD</strong>'s victory. He grants victory to whomever He wills. He is the Almighty, Most Merciful.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <div class="footnote-subtitle">سرگرم بودن با زندگی فانی</div>

                        <p>(<span title="رومیان (الرّوم), آیه ۶">۳۰:۶</span>)&nbsp; چنین است وعده <strong>خدا</strong>-و <strong>خدا</strong> هرگز وعده‏‌اش را نمی‌شکند-اما اکثر مردم نمی‌دانند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <div class="footnote-subtitle">Preoccupation With the Wrong Life</div>

                        <p>[<span title="Romans (Al-Room), verse 6">30:6</span>]&nbsp; Such is <strong>GOD</strong>'s promise&mdash;and <strong>GOD</strong> never breaks His promise&mdash;but most people do not know.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۷">۳۰:۷</span>)&nbsp; آنها فقط به چیزهای قابل رویت این دنیا اهمیت می‌دهند، در حالی که کاملاً از آخرت غافل هستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="Romans (Al-Room), verse 7">30:7</span>]&nbsp; They care only about things of this world that are visible to them, while being totally oblivious to the Hereafter.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۸">۳۰:۸</span>)&nbsp; چرا آنها بخودشان نمی‌اندیشند؟ <strong>خدا</strong> آسمانها و زمین و هر چه را در بین آنها است، خلق نکرد، مگر بدلیلی خاص، و برای مدتی معین. اگرچه، اکثر مردم به ملاقات با پروردگارشان
                            کافر هستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="Romans (Al-Room), verse 8">30:8</span>]&nbsp; Why do they not reflect on themselves? <strong>GOD</strong> did not create the heavens and the earth, and everything between them, except for a specific purpose, and for
                            a specific life span. However, most people, with regard to meeting their Lord, are disbelievers.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۹">۳۰:۹</span>)&nbsp; آیا آنها زمین را گردش نکرده‏‌اند تا به چگونگی عاقبت کسانی که قبل از ایشان بودند، توجه کنند؟ آنها روی زمین پر قدرت‏تر، و مرفه‏‌تر، و سازنده‏‌تر بودند. رسولانشان با نشانه‏‌های
                            روشن نزد ایشان رفتند. در نتیجه، <strong>خدا</strong> آن یکتایی نبود که به آنها ستم کرد؛ آنها خودشان به نفس خویش ستم کردند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <p>[<span title="Romans (Al-Room), verse 9">30:9</span>]&nbsp; Have they not roamed the earth and noted the consequences for those who preceded them? They used to be more powerful, more prosperous, and more productive on earth. Their
                            messengers went to them with clear signs. Consequently, <strong>GOD</strong> was not the One who wronged them, they are the ones who wronged their own souls.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۱۰">۳۰:۱۰</span>)&nbsp; عاقبت کسانی که بدی کردند میبایست بدی باشد. این به خاطر آن است که آنها آیات <strong>خدا</strong> را رد کردند، و آنها را مسخره کردند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <p>[<span title="Romans (Al-Room), verse 10">30:10</span>]&nbsp; The consequences for those who committed evil had to be evil. That is because they rejected <strong>GOD</strong>'s revelations, and ridiculed them.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <div class="footnote-subtitle">مشرکان بُتهای خود را طرد می‌کنند</div>

                        <p>(<span title="رومیان (الرّوم), آیه ۱۱">۳۰:۱۱</span>)&nbsp;
                            <strong>خدا</strong> آن یکتایی است که خلقت را آغاز می‌کند، و سپس آن را تکرار می‌کند. سرانجام، به سوی او بازگشت خواهید کرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <div class="footnote-subtitle">Idol Worshipers Disown Their Idols</div>

                        <p>[<span title="Romans (Al-Room), verse 11">30:11</span>]&nbsp;
                            <strong>GOD</strong> is the One who initiates the creation and repeats it. Ultimately, you will be returned to Him.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="12" name="12"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۱۲">۳۰:۱۲</span>)&nbsp; آن روز که آن ساعت می‌آید، گناهکاران شوکه خواهند شد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="12" name="12"></a>

                        <p>[<span title="Romans (Al-Room), verse 12">30:12</span>]&nbsp; On the Day when the Hour comes to pass, the guilty will be shocked.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="13" name="13"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۱۳">۳۰:۱۳</span>)&nbsp; معبودان آنها هیچ قدرتی بر شفاعت کردن ایشان نخواهند داشت؛ برعکس، آنها معبودان خود را طرد خواهند کرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="13" name="13"></a>

                        <p>[<span title="Romans (Al-Room), verse 13">30:13</span>]&nbsp; Their idols will have no power to intercede on their behalf; on the contrary, they will disown their idols.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="14" name="14"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۱۴">۳۰:۱۴</span>)&nbsp; در آن روز که آن ساعت می‌آید، آنها از هم جدا خواهند شد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="14" name="14"></a>

                        <p>[<span title="Romans (Al-Room), verse 14">30:14</span>]&nbsp; On the day when the Hour comes to pass, they will part company.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="15" name="15"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۱۵">۳۰:۱۵</span>)&nbsp; و اما کسانی که ایمان دارند و زندگی پرهیزکارانه‏‌ای را در پیش می‌گیرند، در پردیس خشنود خواهند بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="15" name="15"></a>

                        <p>[<span title="Romans (Al-Room), verse 15">30:15</span>]&nbsp; As for those who believe and lead a righteous life, they will be in Paradise, rejoicing.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="16" name="16"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۱۶">۳۰:۱۶</span>)&nbsp; و اما کسانی که ایمان ندارند، و آیات ما و ملاقات آخرت را رد می‌کنند، برای همیشه در عذاب بسر خواهند برد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="16" name="16"></a>

                        <p>[<span title="Romans (Al-Room), verse 16">30:16</span>]&nbsp; As for those who disbelieve, and reject our revelations and the meeting of the Hereafter, they will last in the retribution forever.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="17" name="17"></a>

                        <div class="footnote-subtitle">خدا را همیشه یاد کنید</div>

                        <p>(<span title="رومیان (الرّوم), آیه ۱۷">۳۰:۱۷</span>)&nbsp; بنابراین، شما باید ستایش کنید <strong>خدا</strong> را هنگام استراحت در شب، و هنگام برخاستن در صبح.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="17" name="17"></a>

                        <div class="footnote-subtitle">Remember God, Always</div>

                        <p>[<span title="Romans (Al-Room), verse 17">30:17</span>]&nbsp; Therefore, you shall glorify <strong>GOD</strong> when you retire at night, and when you rise in the morning.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="18" name="18"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۱۸">۳۰:۱۸</span>)&nbsp; همه ستایش‏ها در آسمانها و در زمین برای او است، در خلال شب و همینطور در وسط روزتان.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="18" name="18"></a>

                        <p>[<span title="Romans (Al-Room), verse 18">30:18</span>]&nbsp; All praise is due to Him in the heavens and the earth, throughout the evening, as well as in the middle of your day.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="19" name="19"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۱۹">۳۰:۱۹</span>)&nbsp; او زنده را از مرده به وجود می‌آورد، و مرده را از زنده، و او زمین را پس از اینکه مرده بود، زنده می‌کند؛ شما هم به همین ترتیب برانگیخته می‌شوید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="19" name="19"></a>

                        <p>[<span title="Romans (Al-Room), verse 19">30:19</span>]&nbsp; He produces the live from the dead, and produces the dead from the live, and He revives the land after it had died; you are similarly resurrected.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="20" name="20"></a>

                        <div class="footnote-subtitle">ازدواج: بنیادی الهی</div>

                        <p>(<span title="رومیان (الرّوم), آیه ۲۰">۳۰:۲۰</span>)&nbsp; در میان نشانه‏‌های او این است که او شما را از خاک آفرید، سپس شما خود انسان‏هایی تولید مثل کننده شدید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="20" name="20"></a>

                        <div class="footnote-subtitle">Marriage: A Divine Institution</div>

                        <p>[<span title="Romans (Al-Room), verse 20">30:20</span>]&nbsp; Among His proofs is that He created you from dust, then you became reproducing humans.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="21" name="21"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۲۱">۳۰:۲۱</span>)&nbsp; در میان نشانه‏‌های او خلقت همسران شما است از میان شما، تا با یکدیگر آسایش و خرسندی داشته باشید، و او در قلب‏تان عشق و همیاری نسبت به همسرانتان قرار داد. در این، نشانه‏‌هایی
                            است کافی برای مردمی که فکر می‌کنند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="21" name="21"></a>

                        <p>[<span title="Romans (Al-Room), verse 21">30:21</span>]&nbsp; Among His proofs is that He created for you spouses from among yourselves, in order to have tranquility and contentment with each other, and He placed in your hearts
                            love and care towards your spouses. In this, there are sufficient proofs for people who think.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="22" name="22"></a>

                        <div class="footnote-subtitle">نشانه‏‌های بیشتر</div>

                        <p>(<span title="رومیان (الرّوم), آیه ۲۲">۳۰:۲۲</span>)&nbsp; در میان نشانه‏‌های او خلقت آسمان‏ها و زمین است، و گوناگونی زبانهایتان و رنگهایتان. در اینها نشانه‏‌هایی است برای خردمندان.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="22" name="22"></a>

                        <div class="footnote-subtitle">More Proofs</div>

                        <p>[<span title="Romans (Al-Room), verse 22">30:22</span>]&nbsp; Among His proofs are the creation of the heavens and the earth, and the variations in your languages and your colors. In these, there are signs for the knowledgeable.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="23" name="23"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۲۳">۳۰:۲۳</span>)&nbsp; در میان نشانه‏‌های او خوابیدن شما هنگام شب و یا هنگام روز است، و کار کردن شما در جستجوی روزهای او. در این، نشانه‏‌هایی است کافی برای مردمی که می‌شنوند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="23" name="23"></a>

                        <p>[<span title="Romans (Al-Room), verse 23">30:23</span>]&nbsp; Among His proofs is your sleeping during the night or the day, and your working in pursuit of His provisions. In this, there are sufficient proofs for people who can
                            hear.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="24" name="24"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۲۴">۳۰:۲۴</span>)&nbsp; در میان نشانه‏‌های او، نشان دادن رعد و برق است به شما بعنوان منبعی از ترس، و همچنین امید، سپس او آب را از آسمان پایین می‌فرستد تا زمین مرده را زنده کند. در اینها، نشانه‏‌هایی
                            است کافی برای مردمی که می‌فهمند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="24" name="24"></a>

                        <p>[<span title="Romans (Al-Room), verse 24">30:24</span>]&nbsp; Among His proofs is that He shows you the lightning as a source of fear, as well as hope, then He sends down from the sky water to revive a land that has been dead.
                            In these, there are sufficient proofs for people who understand.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="25" name="25"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۲۵">۳۰:۲۵</span>)&nbsp; در میان نشانه‏‌های او، آسمان و زمین است که به امر او برپا هستند. بالاخره هنگامی که او شما را از داخل زمین صدا کند، با یک صدا، شما فوراً بیرون می‌آیید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="25" name="25"></a>

                        <p>[<span title="Romans (Al-Room), verse 25">30:25</span>]&nbsp; Among His proofs is that the heaven and the earth are standing at His disposal. Finally, when He calls you out of the earth, one call, you will immediately come out.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="26" name="26"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۲۶">۳۰:۲۶</span>)&nbsp; همه کس در آسمانها و زمین از آن او است؛ همه فرمانبردار او هستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="26" name="26"></a>

                        <p>[<span title="Romans (Al-Room), verse 26">30:26</span>]&nbsp; To Him belongs everyone in the heavens and the earth; all are subservient to Him.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="27" name="27"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۲۷">۳۰:۲۷</span>)&nbsp; و او آن یکتایی است که خلقت را آغاز می‌کند، سپس آن را تکرار می‌کند؛ این حتی برای او آسان‏تر است. والاترین مثالها در آسمانها و زمین از آن او است، و او بزرگوار است، حکیم‏ترین.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="27" name="27"></a>

                        <p>[<span title="Romans (Al-Room), verse 27">30:27</span>]&nbsp; And He is the One who initiates the creation, then repeats it; this is even easier for Him. To Him belongs the most sublime similitude, in the heavens and the earth,
                            and He is the Almighty, Most Wise.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="28" name="28"></a>

                        <div class="footnote-subtitle">پوچی شرک</div>

                        <p>(<span title="رومیان (الرّوم), آیه ۲۸">۳۰:۲۸</span>)&nbsp; او در اینجا از میان خود شما برایتان مثال می‌زند: آیا هرگز خدمتکاران یا زیردستان خود را آنقدر بالا می‌برید تا با شما برابر شوند، و تا جایی که به آنها همان اندازه بپردازید
                            که به شما پرداخت می‌شود؟ ما اینچنین آیات را برای مردمی که می‌فهمند توضیح می‌دهیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="28" name="28"></a>

                        <div class="footnote-subtitle">Absurdity of Idol Worship</div>

                        <p>[<span title="Romans (Al-Room), verse 28">30:28</span>]&nbsp; He cites for you herein an example from among yourselves: Do you ever elevate your servants or subordinates to the level where they rival you, and to the point that
                            you pay them as much allegiance as is being paid to you? We thus explain the revelations for people who understand.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="29" name="29"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۲۹">۳۰:۲۹</span>)&nbsp; به درستی که، متجاوزین از عقاید خود پیروی کرده‏‌اند، بدون هیچ دانشی. پس چه کسی می‌تواند هدایت کند کسانی را که به واسطه <strong>خدا</strong> گمراه شده‏‌اند؟ هرگز هیچکس نمی‌تواند
                            به آنها کمک کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="29" name="29"></a>

                        <p>[<span title="Romans (Al-Room), verse 29">30:29</span>]&nbsp; Indeed, the transgressors have followed their own opinions, without knowledge. Who then can guide those who have been sent astray by <strong>GOD</strong>? No one can
                            ever help them.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="30" name="30"></a>

                        <div class="footnote-subtitle">یکتاپرستی: غریزه‏‌ای طبیعی*</div>

                        <p>(<span title="رومیان (الرّوم), آیه ۳۰">۳۰:۳۰</span>)&nbsp; بنابراین، باید خود را به دین یکتاپرستی اختصاص دهی. چنین است غریزه طبیعی که <strong>خدا</strong> در مردم قرار داده است. چنین خلقت <strong>خدا</strong> هرگز تغییر نخواهد
                            کرد. این بهترین دین است، اما اکثر مردم نمی‌دانند.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۳۰:۳۰ تشخيص اينکه تنها خدا پروردگار و ارباب ما است، غريزه اى است طبيعى. ما با چنين غريزه اى در اين دنيا متولد شده ايم. به آيات ۱۷۳-۷:۱۷۲ و ضميمه ۷ توجه کنيد.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="30" name="30"></a>

                        <div class="footnote-subtitle">Monotheism: Natural Instinct*</div>

                        <p>[<span title="Romans (Al-Room), verse 30">30:30</span>]&nbsp; Therefore, you shall devote yourself to the religion of strict monotheism. Such is the natural instinct placed into the people by <strong>GOD</strong>. Such creation
                            of <strong>GOD</strong> will never change. This is the perfect religion, but most people do not know.</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*30:30 Recognizing God ALONE as our Lord and Master is a natural instinct. We are born into this world with such an instinct. See 7:172-173 and Appendix 7.

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="31" name="31"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۳۱">۳۰:۳۱</span>)&nbsp; شما باید تسلیم او باشید، به هیبت او حرمت نهید، دعای ارتباطی (نماز) بجا آورید و-هر کاری انجام می‌دهید-هرگز به دام شرک نیافتید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="31" name="31"></a>

                        <p>[<span title="Romans (Al-Room), verse 31">30:31</span>]&nbsp; You shall submit to Him, reverence Him, observe the Contact Prayers <em>(Salat)</em>, and&mdash;whatever you do&mdash;do not ever fall into idol worship.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="32" name="32"></a>

                        <div class="footnote-subtitle">فرقه فرقه شدن محکوم شده است</div>

                        <p>(<span title="رومیان (الرّوم), آیه ۳۲">۳۰:۳۲</span>)&nbsp; (به دام شرک نیافتید،) مانند کسانی که دین خود را فرقه فرقه می‌کنند؛ هر گروهی به آنچه دارد خشنود است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="32" name="32"></a>

                        <div class="footnote-subtitle">Sectarianism Condemned</div>

                        <p>[<span title="Romans (Al-Room), verse 32">30:32</span>]&nbsp;
                            <em>(Do not fall in idol worship,)</em> like those who divide their religion into sects; each party rejoicing with what they have.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="33" name="33"></a>

                        <div class="footnote-subtitle">رفقای نیمه راه</div>

                        <p>(<span title="رومیان (الرّوم), آیه ۳۳">۳۰:۳۳</span>)&nbsp; هنگامی که مردم دچار بدبختی می‌شوند، آنها به پروردگارشان روی می‌آورند، کاملاً خود را وقف او می‌کنند. اما سپس، به مجرد اینکه او باران رحمت را بر ایشان می‌بارد، بعضی از آنها
                            به شرک بازمی‌گردند.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۳۰:۳۳ يم مثال متداوال در قسمت اگهى هاى روزنامه ها است که مردم از يهوداى مقدس (St. Jude) براى شفا دادن آنها تشکر کرده اند. قبل از اينکه زير عمل جراحى بروند، با جديت تمام از خدا ميخواهند تا آنها را شفا دهد. اما بلافاصله
                                    بعد از اينکه عمل حراحى تمام شد، از يهوداى مقدس (St. Jude) تشکر ميکنند!!!</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="33" name="33"></a>

                        <div class="footnote-subtitle">Bad Weather Friends</div>

                        <p>[<span title="Romans (Al-Room), verse 33">30:33</span>]&nbsp; When adversity afflicts the people, they turn to their Lord, totally devoting themselves to Him. But then, as soon as He showers them with mercy, some of them revert
                            to idol worship.*</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*30:33 A common example is the classified advertisements we note in the newspapers, placed by people thanking St. Jude for healing them. Before undergoing surgery, they sincerely implore God to heal them. But as soon as
                                    the surgery succeeds, they thank St. Jude!!!

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="34" name="34"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۳۴">۳۰:۳۴</span>)&nbsp; بگذار به آنچه به آنها داده‏‌ایم ناسپاس باشند. موقتاً لذت ببرید؛ مسلماً، خواهید فهمید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="34" name="34"></a>

                        <p>[<span title="Romans (Al-Room), verse 34">30:34</span>]&nbsp; Let them be unappreciative of what we have given them. Enjoy temporarily; you will surely find out.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="35" name="35"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۳۵">۳۰:۳۵</span>)&nbsp; آیا ما به آنها تأییدیه‏‌ای داده‏‌ایم که شرکشان را تصدیق می‌کند؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="35" name="35"></a>

                        <p>[<span title="Romans (Al-Room), verse 35">30:35</span>]&nbsp; Have we given them authorization that justifies their idolatry?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="36" name="36"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۳۶">۳۰:۳۶</span>)&nbsp; هنگامی که ما به مردم رحمت عطا می‌کنیم، از آن خشنود می‌شوند. اما هنگامی که دچار بدبختی می‌شوند، در نتیجه اعمال خودشان، آنها دلسرد می‌شوند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="36" name="36"></a>

                        <p>[<span title="Romans (Al-Room), verse 36">30:36</span>]&nbsp; When we bestow mercy upon the people, they rejoice therein. But when adversity befalls them, as a consequence of their own works, they become despondent.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="37" name="37"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۳۷">۳۰:۳۷</span>)&nbsp; آیا تشخیص نمی‌دهند که <strong>خدا</strong> روزی هر کس را بخواهد زیاد می‌کند و یا کم می‌کند؟ اینها درسهایی باشد برای مردمی که ایمان دارند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="37" name="37"></a>

                        <p>[<span title="Romans (Al-Room), verse 37">30:37</span>]&nbsp; Do they not realize that <strong>GOD</strong> increases the provision for whomever He wills, or reduces it? These should be lessons for people who believe.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="38" name="38"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۳۸">۳۰:۳۸</span>)&nbsp; بنابراین، شما باید حق خویشاوندان و همینطور مسکینان و مسافران بیگانه را (از صدقات) بدهید. این برای کسانی که صادقانه خشنودی <strong>خدا</strong> را می‌طلبند بهتر است؛ آنها
                            برندگان هستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="38" name="38"></a>

                        <p>[<span title="Romans (Al-Room), verse 38">30:38</span>]&nbsp; Therefore, you shall give the relatives their rightful share <em>(of charity)</em>, as well as the poor, and the traveling alien. This is better for those who sincerely
                            seek <strong>GOD</strong>'s pleasure; they are the winners.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="39" name="39"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۳۹">۳۰:۳۹</span>)&nbsp; ربایی که گرفته می‌شود تا بر ثروت بعضی از مردم بیافزاید، نزد <strong>خدا</strong> چیزی نمی‌افزاید. اما اگر انفاق کنید در طلب خشنودی <strong>خدا</strong>، اینها هستند کسانی
                            که پاداش خود را چندین برابر دریافت می‌کنند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="39" name="39"></a>

                        <p>[<span title="Romans (Al-Room), verse 39">30:39</span>]&nbsp; The usury that is practiced to increase some people's wealth, does not gain anything at <strong>GOD</strong>. But if you give to charity, seeking <strong>GOD</strong>'s
                            pleasure, these are the ones who receive their reward manifold.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="40" name="40"></a>

                        <div class="footnote-subtitle">چه کسی ارزش پرستش دارد؟</div>

                        <p>(<span title="رومیان (الرّوم), آیه ۴۰">۳۰:۴۰</span>)&nbsp;
                            <strong>خدا</strong> آن یکتایی است که شما را خلق کرد. او آن یکتایی است که برای شما تهیه می‌کند. او آن یکتایی است که شما را می‌میراند. او آن یکتایی است که شما را برمی‌انگیزد. آیا هیچیک از معبودان شما می‌توانند چنین کارهایی انجام
                            دهند؟ ستایش او را. او بسیار بالاتر از این است که شریکی داشته باشد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="40" name="40"></a>

                        <div class="footnote-subtitle">Who Is Worthy of Worship?</div>

                        <p>[<span title="Romans (Al-Room), verse 40">30:40</span>]&nbsp;
                            <strong>GOD</strong> is the One who created you. He is the One who provides for you. He is the One who puts you to death. He is the One who resurrects you. Can any of your idols do any of these things? Be He glorified. He is
                            much too exalted to have any partners.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="41" name="41"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۴۱">۳۰:۴۱</span>)&nbsp; بلاها خشکی و دریا را دربر گرفته است، به خاطر آنچه مردم مرتکب شده‏‌اند. او اینچنین می‌گذارد تا آنها نتیجه بعضی از اعمالشان را بچشند، تا باشد که (به کارهایی درست) بازگردند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="41" name="41"></a>

                        <p>[<span title="Romans (Al-Room), verse 41">30:41</span>]&nbsp; Disasters have spread throughout the land and sea, because of what the people have committed. He thus lets them taste the consequences of some of their works, that they
                            may return <em>(to the right works)</em>.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="42" name="42"></a>

                        <div class="footnote-subtitle">درسی از تاریخ</div>

                        <p>(<span title="رومیان (الرّوم), آیه ۴۲">۳۰:۴۲</span>)&nbsp; بگو، "در زمین گردش کنید و به عاقبت کسانی که قبل از شما میزیسته‏‌اند، توجه کنید." اکثر آنها مشرک بودند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="42" name="42"></a>

                        <div class="footnote-subtitle">Learning From History</div>

                        <p>[<span title="Romans (Al-Room), verse 42">30:42</span>]&nbsp; Say, "Roam the earth and note the consequences for those before you." Most of them were idol worshipers.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="43" name="43"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۴۳">۳۰:۴۳</span>)&nbsp; بنابراین، باید خود را کاملاً وقف این دین کامل کنی، قبل از اینکه روزی بیاید که <strong>خدا</strong> آن را مسلم و حتمی داشته است. در آن روز آنها وحشتزده خواهند شد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="43" name="43"></a>

                        <p>[<span title="Romans (Al-Room), verse 43">30:43</span>]&nbsp; Therefore, you shall devote yourself completely to this perfect religion, before a day comes which is made inevitable by <strong>GOD</strong>. On that day, they will
                            be shocked.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="44" name="44"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۴۴">۳۰:۴۴</span>)&nbsp; هر کسی ایمان نیاورد، به ضرر نفس خود ایمان نیاورده است، در حالی که کسانی که زندگی پرهیزکارانه‏‌ای را در پیش می‌گیرند، نفس خویش را قوی می‌کنند و پرورش می‌دهند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="44" name="44"></a>

                        <p>[<span title="Romans (Al-Room), verse 44">30:44</span>]&nbsp; Whoever disbelieves, disbelieves to the detriment of his own soul, while those who lead a righteous life, do so to strengthen and develop their own souls.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="45" name="45"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۴۵">۳۰:۴۵</span>)&nbsp; زیرا او پاداش کسانی را که ایمان دارند، و زندگی پرهیزکارانه‏‌ای را در پیش می‌گیرند، از نعمت‏هایش سخاوتمندانه عطا می‌کند. او کافران را دوست ندارد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="45" name="45"></a>

                        <p>[<span title="Romans (Al-Room), verse 45">30:45</span>]&nbsp; For He will generously recompense those who believe and lead a righteous life from His bounties. He does not love the disbelievers.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="46" name="46"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۴۶">۳۰:۴۶</span>)&nbsp; در میان نشانه‏‌های او بادهای نویدبخشی هستند که او می‌فرستد، تا رحمتش را بر شما ببارد، و تا اجازه دهد کشتی‏ها طبق قوانین او در دریا گردش کنند، و برای شما که (به واسطه تجارت)
                            در جستجوی نعمت‏هایش باشید تا باشد که سپاسگزار باشید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="46" name="46"></a>

                        <p>[<span title="Romans (Al-Room), verse 46">30:46</span>]&nbsp; Among His proofs is that He sends the winds with good omen, to shower you with His mercy, and to allow the ships to run in the sea in accordance with His rules, and
                            for you to seek His bounties <em>(through commerce)</em>, that you may be appreciative.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="47" name="47"></a>

                        <div class="footnote-subtitle">پیروزی تضمین شده برای مؤمنان</div>

                        <p>(<span title="رومیان (الرّوم), آیه ۴۷">۳۰:۴۷</span>)&nbsp; ما قبل از تو رسولانی با نشانه‏‌های شگفت‏انگیز بر مردمشان فرستاده‏‌ایم. در نتیجه، ما کسانی را که سرپیچی کردند، تنبیه کردیم. این وظیفه ما است که به مؤمنان پیروزی عطا کنیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="47" name="47"></a>

                        <div class="footnote-subtitle">Guaranteed Victory for the Believers</div>

                        <p>[<span title="Romans (Al-Room), verse 47">30:47</span>]&nbsp; We have sent messengers before you to their people, with profound signs. Subsequently, we punished those who transgressed. It is our duty that we grant victory to the
                            believers.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="48" name="48"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۴۸">۳۰:۴۸</span>)&nbsp;
                            <strong>خدا</strong> آن یکتایی است که بادها را می‌فرستد، تا ابرها را در هم آمیزد، تا در همه جای آسمان بخواست او پراکنده شوند. سپس او ابرها را رویهم انباشته می‌کند، سپس می‌بینید که از آنها باران می‌بارد. هنگامی که آن بر هر یک
                            از بندگان او که او انتخاب کند ببارد، آنها خوشنود می‌شوند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="48" name="48"></a>

                        <p>[<span title="Romans (Al-Room), verse 48">30:48</span>]&nbsp;
                            <strong>GOD</strong> is the One who sends the winds, to stir up clouds, to be spread throughout the sky in accordance with His will. He then piles the clouds up, then you see the rain coming down therefrom. When it falls on
                            whomever He chooses from among His servants, they rejoice.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="49" name="49"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۴۹">۳۰:۴۹</span>)&nbsp; قبل از اینکه بر ایشان ببارد، آنها مأیوس شده بودند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="49" name="49"></a>

                        <p>[<span title="Romans (Al-Room), verse 49">30:49</span>]&nbsp; Before it fell on them, they had resorted to despair.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="50" name="50"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۵۰">۳۰:۵۰</span>)&nbsp; باید شکر رحمت دائمی <strong>خدا</strong> را بجا آوری، و اینکه او چگونه زمینی را که مرده بود، زنده می‌کند. به همین ترتیب او حتماً مرده را برمی‌انگیزد. او قادر مطلق است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="50" name="50"></a>

                        <p>[<span title="Romans (Al-Room), verse 50">30:50</span>]&nbsp; You shall appreciate <strong>GOD</strong>'s continuous mercy, and how He revives the land that has been dead. He will just as certainly resurrect the dead. He is Omnipotent.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="51" name="51"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۵۱">۳۰:۵۱</span>)&nbsp; اگر در عوض، طوفان زرد شنی بر ایشان فرستاده بودیم، به ناباوریشان ادامه می‌دادند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="51" name="51"></a>

                        <p>[<span title="Romans (Al-Room), verse 51">30:51</span>]&nbsp; Had we sent upon them instead a yellow sandstorm, they would have continued to disbelieve.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="52" name="52"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۵۲">۳۰:۵۲</span>)&nbsp; تو نمی‌توانی مرده و کر را شنوا کنی، وقتی روی می‌گردانند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="52" name="52"></a>

                        <p>[<span title="Romans (Al-Room), verse 52">30:52</span>]&nbsp; You cannot make the dead, nor the deaf, hear the call, once they turn away.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="53" name="53"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۵۳">۳۰:۵۳</span>)&nbsp; و نه تو می‌توانی کورها را با راهنمایی کردن از گمراهیشان رهایی دهی. فقط کسانی تو را می‌شنوند که به آیات ما ایمان می‌آورند، و تصمیم می‌گیرند که تسلیم شوند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="53" name="53"></a>

                        <p>[<span title="Romans (Al-Room), verse 53">30:53</span>]&nbsp; Nor can you guide the blind out of their straying. You can only be heard by those who believe in our revelations, and decide to become submitters.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="54" name="54"></a>

                        <div class="footnote-subtitle">این زندگی بسیار کوتاه است</div>

                        <p>(<span title="رومیان (الرّوم), آیه ۵۴">۳۰:۵۴</span>)&nbsp;
                            <strong>خدا</strong> آن یکتایی است که شما را ضعیف خلق کرد، سپس بعد از ضعف به شما قدرت عطا کرد، سپس بعد از قدرت، ضعف را جایگزین ساخت و موی خاکستری. او هر چه بخواهد خلق می‌کند. او دانای مطلق است، قادر مطلق.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="54" name="54"></a>

                        <div class="footnote-subtitle">This Life is Very Short</div>

                        <p>[<span title="Romans (Al-Room), verse 54">30:54</span>]&nbsp;
                            <strong>GOD</strong> is the One who created you weak, then granted you after the weakness strength, then substituted after the strength weakness and gray hair. He creates whatever He wills. He is the Omniscient, the Omnipotent.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="55" name="55"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۵۵">۳۰:۵۵</span>)&nbsp; آن روز که آن ساعت می‌آید، گناهکاران قسم خواهند خورد که فقط یک ساعت (در این دنیا) بوده‏‌اند. این می‌رساند که چقدر اشتباه می‌کردند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="55" name="55"></a>

                        <p>[<span title="Romans (Al-Room), verse 55">30:55</span>]&nbsp; On the day when the Hour comes to pass, the guilty will swear that they lasted <em>(in this world)</em> only one hour. That is how wrong they were.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="56" name="56"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۵۶">۳۰:۵۶</span>)&nbsp; کسانی که با دانش و ایمان مورد نعمت قرار گرفته‏‌اند، خواهند گفت، "همانطور که <strong>خدا</strong> مقرر داشته است، شما تا روز قیامت دوام آورده‏‌اید. اکنون این است روز قیامت،
                            اما شما در تشخیص آن کوتاهی کردید."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="56" name="56"></a>

                        <p>[<span title="Romans (Al-Room), verse 56">30:56</span>]&nbsp; Those who are blessed with knowledge and faith will say, "You have lasted, according to <strong>GOD</strong>'s decree, until the Day of Resurrection. Now, this is the
                            Day of Resurrection, but you failed to recognize it."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="57" name="57"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۵۷">۳۰:۵۷</span>)&nbsp; بنابراین، عذرخواهی در آن روز برای متجاوزین نفعی نخواهد داشت، نه عذر آنها پذیرفته خواهد شد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="57" name="57"></a>

                        <p>[<span title="Romans (Al-Room), verse 57">30:57</span>]&nbsp; Therefore, no apology, on that day, will benefit the transgressors, nor will they be excused.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="58" name="58"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۵۸">۳۰:۵۸</span>)&nbsp; اینچنین، ما برای مردم در این قرآن همه گونه مثال آورده‏‌ایم. با این حال، فرق نمی‌کند چه نوع اثباتی به کافران ارائه دهی، آنها گویند، "شما تحریف کنندگان هستید."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="58" name="58"></a>

                        <p>[<span title="Romans (Al-Room), verse 58">30:58</span>]&nbsp; Thus, we have cited for the people in this Quran all kinds of examples. Yet, no matter what kind of proof you present to the disbelievers, they say, "You are falsifiers."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="59" name="59"></a>

                        <div class="footnote-subtitle">دخالت الهی</div>

                        <p>(<span title="رومیان (الرّوم), آیه ۵۹">۳۰:۵۹</span>)&nbsp;
                            <strong>خدا</strong> اینچنین بر قلب کسانی که نمی‌دانند مهر می‌زند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="59" name="59"></a>

                        <div class="footnote-subtitle">Divine Intervention</div>

                        <p>[<span title="Romans (Al-Room), verse 59">30:59</span>]&nbsp;
                            <strong>GOD</strong> thus seals the hearts of those who do not know.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="60" name="60"></a>

                        <p>(<span title="رومیان (الرّوم), آیه ۶۰">۳۰:۶۰</span>)&nbsp; بنابراین، باید ثابت‏قدمانه استقامت کنی-چون قول <strong>خدا</strong> حقیقت است-و نترس از کسانی که به یقین نرسیده‏‌اند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="60" name="60"></a>

                        <p>[<span title="Romans (Al-Room), verse 60">30:60</span>]&nbsp; Therefore, you shall steadfastly persevere&mdash;for <strong>GOD</strong>'s promise is the truth&mdash;and do not be intimidated by those who have not attained certainty.</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۱۹۲۸</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۰۴۷۸۸</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
     