<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۵۰: ق (ق)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 50: Q (Q&#227;f)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="ق (ق), آیه ۱">۵۰:۱</span>)&nbsp; ق، و قرآن مجید.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۵۰:۱ براى معجزات هيبت انگيز در ارتباط با پاراف "ق" به ضميمه ۱ توجه کنيد.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="Q (Q&#227;f), verse 1">50:1</span>]&nbsp; Q., and the glorious Quran.*</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*50:1 See Appendix 1 for the awesome miracles connected with the Initial "Q."</p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="ق (ق), آیه ۲">۵۰:۲</span>)&nbsp; آنها تعجب کردند که هشدار دهنده‏‌ای از میان خودشان بر ایشان آمد! کافران گفتند، "این واقعاً عجیب است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="Q (Q&#227;f), verse 2">50:2</span>]&nbsp; They found it strange that a warner from among them came to them! The disbelievers said, "This is really strange.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="ق (ق), آیه ۳">۵۰:۳</span>)&nbsp; "بعد از اینکه ما بمیریم و به خاک تبدیل شویم؛ این غیر ممکن است."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="Q (Q&#227;f), verse 3">50:3</span>]&nbsp; "After we die and become dust; this is impossible."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="ق (ق), آیه ۴">۵۰:۴</span>)&nbsp; ما کاملاً به همه کسانی که در زمین تحلیل می‌روند آگاه هستیم؛ ما پرونده‏‌ای دقیق داریم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="Q (Q&#227;f), verse 4">50:4</span>]&nbsp; We are fully aware of any one of them who gets consumed by the earth; we have an accurate record.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="ق (ق), آیه ۵">۵۰:۵</span>)&nbsp; هنگامی که حقیقت بر ایشان آمد، آن را رد کردند؛ آنها کاملاً سر در گم هستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="Q (Q&#227;f), verse 5">50:5</span>]&nbsp; They rejected the truth when it came to them; they are utterly confused.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="ق (ق), آیه ۶">۵۰:۶</span>)&nbsp; آیا به آسمان بالای سرشان نگاه نکرده‏‌اند، و اینکه ما چگونه آن را بنا کردیم و زینت دادیم، بدون هیچ نقصی؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="Q (Q&#227;f), verse 6">50:6</span>]&nbsp; Have they not looked at the sky above them, and how we constructed it and adorned it, without a flaw?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="ق (ق), آیه ۷">۵۰:۷</span>)&nbsp; و ما زمین را آفریدیم، و روی آن کوهها پراکنده ساختیم، و در آن همه گونه گیاهان زیبا رویاندیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="Q (Q&#227;f), verse 7">50:7</span>]&nbsp; And we created the earth, and scattered on it mountains, and grew in it all kinds of beautiful plants.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="ق (ق), آیه ۸">۵۰:۸</span>)&nbsp; این پند روشنگری است، و تذکری برای هر پرهیزکار پرستش کننده.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="Q (Q&#227;f), verse 8">50:8</span>]&nbsp; This is an enlightenment, and a reminder for every pious worshiper.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <p>(<span title="ق (ق), آیه ۹">۵۰:۹</span>)&nbsp; و ما از آسمان آب پربرکت را فرستادیم، تا با آن باغها را برویانیم و دانه‏‌هایی که درو می‌شوند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <p>[<span title="Q (Q&#227;f), verse 9">50:9</span>]&nbsp; And we sent from the sky blessed water, to grow with it gardens and grains to be harvested.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <p>(<span title="ق (ق), آیه ۱۰">۵۰:۱۰</span>)&nbsp; نخل‏های بلند خرما، با میوه خوشه‏‌ای.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <p>[<span title="Q (Q&#227;f), verse 10">50:10</span>]&nbsp; Tall date palms, with clustered fruit.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <p>(<span title="ق (ق), آیه ۱۱">۵۰:۱۱</span>)&nbsp; روزی‏هایی برای مردم. و ما با آن زمین مرده را زنده می‌کنیم؛ شما اینچنین برانگیخته می‌شوید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <p>[<span title="Q (Q&#227;f), verse 11">50:11</span>]&nbsp; Provisions for the people. And we revive with it dead lands; you are similarly resurrected.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="12" name="12"></a>

                        <p>(<span title="ق (ق), آیه ۱۲">۵۰:۱۲</span>)&nbsp; ناباوران قبل از ایشان مردم نوح بودند، ساکنان رس، و ثمود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="12" name="12"></a>

                        <p>[<span title="Q (Q&#227;f), verse 12">50:12</span>]&nbsp; Disbelieving before them were the people of Noah, the dwellers of Russ, and Tham&#251;d.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="13" name="13"></a>

                        <p>(<span title="ق (ق), آیه ۱۳">۵۰:۱۳</span>)&nbsp; و عاد، فرعون، و برادران لوط.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="13" name="13"></a>

                        <p>[<span title="Q (Q&#227;f), verse 13">50:13</span>]&nbsp; And '&#195;d, Pharaoh, and the brethren of Lot.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="14" name="14"></a>

                        <p>(<span title="ق (ق), آیه ۱۴">۵۰:۱۴</span>)&nbsp; و ساکنان چوب، و مردم تُبع. همه آنها رسولان را باور نکردند، در نتیجه، عذاب من بر ایشان فرود آمد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="14" name="14"></a>

                        <p>[<span title="Q (Q&#227;f), verse 14">50:14</span>]&nbsp; And the dwellers of the woods, and the people of Tubba'. All of them disbelieved the messengers and, consequently, My retribution befell them.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="15" name="15"></a>

                        <p>(<span title="ق (ق), آیه ۱۵">۵۰:۱۵</span>)&nbsp; آیا خلقت اول برای ما زحمت زیادی داشت؟ آیا به این خاطر است که آنها در برانگیخته شدن شک دارند؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="15" name="15"></a>

                        <p>[<span title="Q (Q&#227;f), verse 15">50:15</span>]&nbsp; Were we too burdened by the first creation? Is this why they doubt resurrection?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="16" name="16"></a>

                        <p>(<span title="ق (ق), آیه ۱۶">۵۰:۱۶</span>)&nbsp; ما انسان را خلق کردیم، و ما می‌دانیم که او با خود چه زمزمه می‌کند. ما از رگ گردنش به او نزدیکتر هستیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="16" name="16"></a>

                        <p>[<span title="Q (Q&#227;f), verse 16">50:16</span>]&nbsp; We created the human, and we know what he whispers to himself. We are closer to him than his jugular vein.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="17" name="17"></a>

                        <p>(<span title="ق (ق), آیه ۱۷">۵۰:۱۷</span>)&nbsp; دو (فرشته) ضبط کننده، در سمت راست و چپ، مدام در حال ضبط کردن هستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="17" name="17"></a>

                        <p>[<span title="Q (Q&#227;f), verse 17">50:17</span>]&nbsp; Two recording <em>(angels)</em>, at right and at left, are constantly recording.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="18" name="18"></a>

                        <p>(<span title="ق (ق), آیه ۱۸">۵۰:۱۸</span>)&nbsp; او هیچ سخنی نگوید بدون شاهدی هوشیار.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="18" name="18"></a>

                        <p>[<span title="Q (Q&#227;f), verse 18">50:18</span>]&nbsp; Not an utterance does he utter without an alert witness.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="19" name="19"></a>

                        <p>(<span title="ق (ق), آیه ۱۹">۵۰:۱۹</span>)&nbsp; بالاخره، بیهوشی مرگ اجتناب‏ناپذیر فرا می‌رسد؛ اینست آنچه سعی بر دوری از آن داشتی.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="19" name="19"></a>

                        <p>[<span title="Q (Q&#227;f), verse 19">50:19</span>]&nbsp; Finally, the inevitable coma of death comes; this is what you tried to evade.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="20" name="20"></a>

                        <p>(<span title="ق (ق), آیه ۲۰">۵۰:۲۰</span>)&nbsp; شیپور دمیده می‌شود؛ این است آن روز موعود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="20" name="20"></a>

                        <p>[<span title="Q (Q&#227;f), verse 20">50:20</span>]&nbsp; The horn is blown; this is the promised day.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="21" name="21"></a>

                        <p>(<span title="ق (ق), آیه ۲۱">۵۰:۲۱</span>)&nbsp; هر نفسی با محافظ و شاهدی می‌آید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="21" name="21"></a>

                        <p>[<span title="Q (Q&#227;f), verse 21">50:21</span>]&nbsp; Every soul comes with a herder and a witness.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="22" name="22"></a>

                        <p>(<span title="ق (ق), آیه ۲۲">۵۰:۲۲</span>)&nbsp; تو از این غافل بودی. ما اکنون پرده از جلوی تو بر می‌داریم؛ امروز، دید تو (به قدرت) فولاد است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="22" name="22"></a>

                        <p>[<span title="Q (Q&#227;f), verse 22">50:22</span>]&nbsp; You used to be oblivious to this. We now remove your veil; today, your vision is <em>(as strong as)</em> steel.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="23" name="23"></a>

                        <p>(<span title="ق (ق), آیه ۲۳">۵۰:۲۳</span>)&nbsp; همنشین گفت، "این است شهادت سخت من."</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۲۸- ۵۰:۲۳ همنشينى (همزادى) که در طول عمر با شما است، بر همه اعمال شما شاهد است. به ضميمه ۷ توجه کنيد.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="23" name="23"></a>

                        <p>[<span title="Q (Q&#227;f), verse 23">50:23</span>]&nbsp; The companion said, "Here is my formidable testimony."*</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*50:23-28 Your life-time companion witnesses everything you do. See Appendix 7.

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="24" name="24"></a>

                        <p>(<span title="ق (ق), آیه ۲۴">۵۰:۲۴</span>)&nbsp; هر کافر سرسختی را به جهنم اندازید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="24" name="24"></a>

                        <p>[<span title="Q (Q&#227;f), verse 24">50:24</span>]&nbsp; Throw into Gehenna every stubborn disbeliever.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="25" name="25"></a>

                        <p>(<span title="ق (ق), آیه ۲۵">۵۰:۲۵</span>)&nbsp; منع کننده خیرات، تجاوزکار، پر از شک.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="25" name="25"></a>

                        <p>[<span title="Q (Q&#227;f), verse 25">50:25</span>]&nbsp; Forbidder of charity, aggressor, full of doubt.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="26" name="26"></a>

                        <p>(<span title="ق (ق), آیه ۲۶">۵۰:۲۶</span>)&nbsp; او در کنار <strong>خدا</strong>، خدای دیگری قرار داد. او را در عذابی شدید بیاندازید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="26" name="26"></a>

                        <p>[<span title="Q (Q&#227;f), verse 26">50:26</span>]&nbsp; He set up besides <strong>GOD</strong> another god. Throw him into severe retribution.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="27" name="27"></a>

                        <p>(<span title="ق (ق), آیه ۲۷">۵۰:۲۷</span>)&nbsp; همنشین او گفت، "پروردگار ما، من او را گمراه نکردم؛ او عمیقاً گمراه بود."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="27" name="27"></a>

                        <p>[<span title="Q (Q&#227;f), verse 27">50:27</span>]&nbsp; His companion said, "Our Lord, I did not mislead him; he was far astray."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="28" name="28"></a>

                        <p>(<span title="ق (ق), آیه ۲۸">۵۰:۲۸</span>)&nbsp; او گفت، "نزد من دعوا نکنید؛ من باندازه کافی به شما اخطار داده‏‌ام.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="28" name="28"></a>

                        <p>[<span title="Q (Q&#227;f), verse 28">50:28</span>]&nbsp; He said, "Do not feud in front of Me; I have sufficiently warned you.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="29" name="29"></a>

                        <p>(<span title="ق (ق), آیه ۲۹">۵۰:۲۹</span>)&nbsp; "اکنون هیچ چیز نمی‌تواند عوض شود. من هرگز نسبت به مردم بی‏عدالت نیستم."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="29" name="29"></a>

                        <p>[<span title="Q (Q&#227;f), verse 29">50:29</span>]&nbsp; "Nothing can be changed now. I am never unjust towards the people."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="30" name="30"></a>

                        <p>(<span title="ق (ق), آیه ۳۰">۵۰:۳۰</span>)&nbsp; آن روز است که ما از جهنم سئوال می‌کنیم، "آیا باندازه کافی داری؟" آن خواهد گفت، "به من بیشتر بدهید."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="30" name="30"></a>

                        <p>[<span title="Q (Q&#227;f), verse 30">50:30</span>]&nbsp; That is the day when we ask Hell, "Have you had enough?" It will say, "Give me more."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="31" name="31"></a>

                        <p>(<span title="ق (ق), آیه ۳۱">۵۰:۳۱</span>)&nbsp; پردیس به پرهیزکاران مشتاقانه عرضه خواهد شد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="31" name="31"></a>

                        <p>[<span title="Q (Q&#227;f), verse 31">50:31</span>]&nbsp; Paradise will be offered to the righteous, readily.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="32" name="32"></a>

                        <p>(<span title="ق (ق), آیه ۳۲">۵۰:۳۲</span>)&nbsp; این است آنچه به هر توبه کننده ثابت‏قدم وعده داده شده بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="32" name="32"></a>

                        <p>[<span title="Q (Q&#227;f), verse 32">50:32</span>]&nbsp; This is what was promised to every repenter, steadfast.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="33" name="33"></a>

                        <p>(<span title="ق (ق), آیه ۳۳">۵۰:۳۳</span>)&nbsp; آنها در خلوت خود به هیبت آن بخشنده‏‌ترین حرمت نهادند، و از صمیم قلب آمدند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="33" name="33"></a>

                        <p>[<span title="Q (Q&#227;f), verse 33">50:33</span>]&nbsp; They reverenced the Most Gracious, in their privacy, and came wholeheartedly.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="34" name="34"></a>

                        <p>(<span title="ق (ق), آیه ۳۴">۵۰:۳۴</span>)&nbsp; با صلح به آن داخل شوید؛ این است آن روز ابدیت.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="34" name="34"></a>

                        <p>[<span title="Q (Q&#227;f), verse 34">50:34</span>]&nbsp; Enter it in peace; this is the Day of Eternity.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="35" name="35"></a>

                        <p>(<span title="ق (ق), آیه ۳۵">۵۰:۳۵</span>)&nbsp; آنها در آن هر چه آرزو کنند دریافت کنند، و ما حتی بیشتر داریم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="35" name="35"></a>

                        <p>[<span title="Q (Q&#227;f), verse 35">50:35</span>]&nbsp; They get anything they wish therein, and we have even more.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="36" name="36"></a>

                        <p>(<span title="ق (ق), آیه ۳۶">۵۰:۳۶</span>)&nbsp; ما بسیاری از نسلهای قبل از ایشان را که قدرت بیشتری داشتند هلاک کردیم. آنها زمین را گشتند؛ آیا راه فراری پیدا کردند؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="36" name="36"></a>

                        <p>[<span title="Q (Q&#227;f), verse 36">50:36</span>]&nbsp; Many a generation before them, who were more powerful, we annihilated. They searched the land; did they find an escape?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="37" name="37"></a>

                        <p>(<span title="ق (ق), آیه ۳۷">۵۰:۳۷</span>)&nbsp; این درسی باشد برای هر کسی که عاقل است، یا قادر است بشنود، و شهادت دهد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="37" name="37"></a>

                        <p>[<span title="Q (Q&#227;f), verse 37">50:37</span>]&nbsp; This should be a lesson for everyone who possesses a mind, or is able to hear and witness.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="38" name="38"></a>

                        <p>(<span title="ق (ق), آیه ۳۸">۵۰:۳۸</span>)&nbsp; ما آسمانها و زمین، و هرچه را در بین آنها است، در شش روز خلق کرده‏‌ایم، و هیچ خستگی به ما راه نیافت.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="38" name="38"></a>

                        <p>[<span title="Q (Q&#227;f), verse 38">50:38</span>]&nbsp; We have created the heavens and the earth, and everything between them in six days, and no fatigue touched us.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="39" name="39"></a>

                        <p>(<span title="ق (ق), آیه ۳۹">۵۰:۳۹</span>)&nbsp; بنابراین، در مقابل آنچه می‌گویند صبور باش، و پروردگارت را قبل از طلوع آفتاب، و قبل از غروب آفتاب، سپاس و ستایش کن.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="39" name="39"></a>

                        <p>[<span title="Q (Q&#227;f), verse 39">50:39</span>]&nbsp; Therefore, be patient in the face of their utterances, and praise and glorify your Lord before sunrise, and before sunset.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="40" name="40"></a>

                        <p>(<span title="ق (ق), آیه ۴۰">۵۰:۴۰</span>)&nbsp; باید در طول شب بر نام او تفکر و نیایش کنی، و بعد از سجده کردن.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="40" name="40"></a>

                        <p>[<span title="Q (Q&#227;f), verse 40">50:40</span>]&nbsp; During the night you shall meditate on His name, and after prostrating.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="41" name="41"></a>

                        <p>(<span title="ق (ق), آیه ۴۱">۵۰:۴۱</span>)&nbsp; آماده باش برای آن روز که منادی از مکانی نزدیک صدا می‌کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="41" name="41"></a>

                        <p>[<span title="Q (Q&#227;f), verse 41">50:41</span>]&nbsp; Prepare for the day when the caller calls from a place that is near.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="42" name="42"></a>

                        <p>(<span title="ق (ق), آیه ۴۲">۵۰:۴۲</span>)&nbsp; هنگامی که آنها فریاد اجتناب‏ناپذیر را بشنوند؛ آن روزی است که شما بیرون می‌آیید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="42" name="42"></a>

                        <p>[<span title="Q (Q&#227;f), verse 42">50:42</span>]&nbsp; When they hear the inevitable cry; that is the day you come out.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="43" name="43"></a>

                        <p>(<span title="ق (ق), آیه ۴۳">۵۰:۴۳</span>)&nbsp; این ما هستیم که زندگی و مرگ را کنترل می‌کنیم؛ سرنوشت نهایی به سوی ما است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="43" name="43"></a>

                        <p>[<span title="Q (Q&#227;f), verse 43">50:43</span>]&nbsp; We are the ones who control life and death; to us is the final destiny.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="44" name="44"></a>

                        <p>(<span title="ق (ق), آیه ۴۴">۵۰:۴۴</span>)&nbsp; آن روز خواهد آمد که زمین بسرعت شکاف برمی‌دارد، و آنها را برمی‌انگیزد. انجام چنین احضاری برای ما آسان است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="44" name="44"></a>

                        <p>[<span title="Q (Q&#227;f), verse 44">50:44</span>]&nbsp; The day will come when the earth cracks in a hurry, giving rise to them. Such summoning is easy for us to do.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="45" name="45"></a>

                        <p>(<span title="ق (ق), آیه ۴۵">۵۰:۴۵</span>)&nbsp; ما کاملاً به آنچه می‌گویند آگاه هستیم، در حالی که تو بر ایشان هیچ قدرتی نداری. بنابراین، با این قرآن یادآوری کن، کسانی را که به هشدارهای من حرمت می‌نهند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="45" name="45"></a>

                        <p>[<span title="Q (Q&#227;f), verse 45">50:45</span>]&nbsp; We are fully aware of everything they utter, while you have no power over them. Therefore, remind with this Quran, those who reverence My warnings.</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۴۰۵</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۵۶۶۴</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>

<!-- // DEFINITIONS

base.html contains all the functionality specific code. There is layout code in this document. All other templates inherit from this document.

-->