<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۴۵: زانو زدن (الجاثیه)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 45: Kneeling (Al-J&#227;theyah)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="زانو زدن (الجاثیه), آیه ۱">۴۵:۱</span>)&nbsp; ح.م.
                        </p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="Kneeling (Al-J&#227;theyah), verse 1">45:1</span>]&nbsp; H. M.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="زانو زدن (الجاثیه), آیه ۲">۴۵:۲</span>)&nbsp; تنزیل این کتاب آسمانی از طرف <strong>خدا</strong> است، بزرگوار، حکیم‏ترین.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="Kneeling (Al-J&#227;theyah), verse 2">45:2</span>]&nbsp; The revelation of this scripture is from <strong>GOD</strong>, the Almighty, Most Wise.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="زانو زدن (الجاثیه), آیه ۳">۴۵:۳</span>)&nbsp; آسمانها و زمین برای مؤمنان پر از نشانه‏‌ها است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="Kneeling (Al-J&#227;theyah), verse 3">45:3</span>]&nbsp; The heavens and the earth are full of proofs for the believers.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="زانو زدن (الجاثیه), آیه ۴">۴۵:۴</span>)&nbsp; همچنین در خلقت شما، و خلقت همه حیوانات، نشانه‏‌هایی است برای مردمی که یقین دارند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="Kneeling (Al-J&#227;theyah), verse 4">45:4</span>]&nbsp; Also in your creation, and the creation of all the animals, there are proofs for people who are certain.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="زانو زدن (الجاثیه), آیه ۵">۴۵:۵</span>)&nbsp; همچنین، گردش متناوب شب و روز، و روزی‏هایی که <strong>خدا</strong> جهت دوباره زنده کردن سرزمینهای مرده از آسمان پایین می‌فرستد، و کنترل ماهرانه بادها؛ همه اینها نشانه‏‌هایی
                            است برای مردمی که می‌فهمند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="Kneeling (Al-J&#227;theyah), verse 5">45:5</span>]&nbsp; Also, the alternation of the night and the day, and the provisions that <strong>GOD</strong> sends down from the sky to revive dead lands, and the manipulation
                            of the winds; all these are proofs for people who understand.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <div class="footnote-subtitle">کدام حدیث؟*</div>

                        <p>(<span title="زانو زدن (الجاثیه), آیه ۶">۴۵:۶</span>)&nbsp; اینها آیات <strong>خدا</strong> است که ما بر تو به حقیقت می‌خوانیم. به کدام "حدیث" بعیر از <strong>خدا</strong> و آیاتش ایمان دارند؟</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۷- ۴۵:۶ خدا "حديث" را کاملا ً لعنت ميکند، و ما را آگاه ميسازد که آن کفرى است جعل شده.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <div class="footnote-subtitle">Which Hadith?*</div>

                        <p>[<span title="Kneeling (Al-J&#227;theyah), verse 6">45:6</span>]&nbsp; These are <strong>GOD</strong>'s revelations that we recite to you truthfully. In which Hadith other than <strong>GOD</strong> and His revelations do they believe?</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*45:6-7 God condemns "Hadith" by name, and informs us that it is a blasphemous fabrication.

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="زانو زدن (الجاثیه), آیه ۷">۴۵:۷</span>)&nbsp; وای بر هر دروغگوی گناهکار.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۷- ۴۵:۶ خدا "حديث" را کاملا ً لعنت ميکند، و ما را آگاه ميسازد که آن کفرى است جعل شده.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="Kneeling (Al-J&#227;theyah), verse 7">45:7</span>]&nbsp; Woe to every fabricator, guilty.*</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*45:6-7 God condemns "Hadith" by name, and informs us that it is a blasphemous fabrication.

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="زانو زدن (الجاثیه), آیه ۸">۴۵:۸</span>)&nbsp; کسی که آیات <strong>خدا</strong> را که بر او خوانده می‌شود، می‌شنود، سپس متکبرانه در راه خود پافشاری می‌کند، انگار که هرگز آنها را نشنیده. به او قول عذابی دردناک را بده.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="Kneeling (Al-J&#227;theyah), verse 8">45:8</span>]&nbsp; The one who hears <strong>GOD</strong>'s revelations recited to him, then insists arrogantly on his way, as if he never heard them. Promise him a painful retribution.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <p>(<span title="زانو زدن (الجاثیه), آیه ۹">۴۵:۹</span>)&nbsp; هنگامی که از آیات ما چیزی یاد می‌گیرد، آن‏ها را مسخره می‌کند. اینها سزاوار مجازاتی ننگین شده‏‌اند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <p>[<span title="Kneeling (Al-J&#227;theyah), verse 9">45:9</span>]&nbsp; When he learns anything about our revelations, he mocks them. These have incurred a shameful retribution.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <p>(<span title="زانو زدن (الجاثیه), آیه ۱۰">۴۵:۱۰</span>)&nbsp; جهنم منتظرشان است. آنچه به دست آوردند به ایشان کمکی نخواهد کرد، و نه معبودانی که در کنار <strong>خدا</strong> قرار داده بودند. آنها سزاوار مجازاتی هولناک شده‏‌اند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <p>[<span title="Kneeling (Al-J&#227;theyah), verse 10">45:10</span>]&nbsp; Awaiting them is Gehenna. Their earnings will not help them, nor the idols they had set up beside <strong>GOD</strong>. They have incurred a terrible retribution.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <p>(<span title="زانو زدن (الجاثیه), آیه ۱۱">۴۵:۱۱</span>)&nbsp; این راهنمایی است، و کسانی که به این آیات پروردگارشان ایمان ندارند، سزاوار محکومیت و عذابی دردناک شده‏‌اند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <p>[<span title="Kneeling (Al-J&#227;theyah), verse 11">45:11</span>]&nbsp; This is a beacon, and those who disbelieve in these revelations of their Lord have incurred condemnation and a painful retribution.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="12" name="12"></a>

                        <p>(<span title="زانو زدن (الجاثیه), آیه ۱۲">۴۵:۱۲</span>)&nbsp;
                            <strong>خدا</strong> آن یکتایی است که دریا را در خدمت شما قرار داده است، تا کشتی‏ها بر طبق قوانین او در آن حرکت کنند. شما اینچنین در جستجوی روزی او هستید، تا باشد که سپاسگزار باشید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="12" name="12"></a>

                        <p>[<span title="Kneeling (Al-J&#227;theyah), verse 12">45:12</span>]&nbsp;
                            <strong>GOD</strong> is the One who committed the sea in your service, so that the ships can roam it in accordance with His laws. You thus seek His provisions, that you may be appreciative.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="13" name="13"></a>

                        <p>(<span title="زانو زدن (الجاثیه), آیه ۱۳">۴۵:۱۳</span>)&nbsp; او همه چیز را در آسمانها و زمین در خدمت شما قرار داد؛ همه آنها از طرف او است. اینها نشانه‏‌هایی است برای مردمی که تفکر می‌کنند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="13" name="13"></a>

                        <p>[<span title="Kneeling (Al-J&#227;theyah), verse 13">45:13</span>]&nbsp; He committed in your service everything in the heavens and the earth; all from Him. These are proofs for people who reflect.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="14" name="14"></a>

                        <p>(<span title="زانو زدن (الجاثیه), آیه ۱۴">۴۵:۱۴</span>)&nbsp; بگو به کسانی که ایمان دارند، عفو کنند کسانی را که انتظار روزهای <strong>خدا</strong> را ندارند. او جزای کامل هر کس را به خاطر آنچه کسب کرده است، خواهد داد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="14" name="14"></a>

                        <p>[<span title="Kneeling (Al-J&#227;theyah), verse 14">45:14</span>]&nbsp; Tell those who believed to forgive those who do not expect the days of <strong>GOD</strong>. He will fully pay everyone for whatever they have earned.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="15" name="15"></a>

                        <p>(<span title="زانو زدن (الجاثیه), آیه ۱۵">۴۵:۱۵</span>)&nbsp; هر کس کارهای پرهیزکارانه انجام دهد، بنفع خود انجام داده است، و هر کس کارهای پلید انجام دهد، به ضرر خود انجام داده است. شما به سوی پروردگارتان باز خواهید گشت.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="15" name="15"></a>

                        <p>[<span title="Kneeling (Al-J&#227;theyah), verse 15">45:15</span>]&nbsp; Whoever works righteousness does so for his own good, and whoever works evil does so to his own detriment. To your Lord you will be returned.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="16" name="16"></a>

                        <p>(<span title="زانو زدن (الجاثیه), آیه ۱۶">۴۵:۱۶</span>)&nbsp; ما به فرزندان اسراییل کتاب آسمانی، حکمت، و پیغمبری عطا کرده‏‌ایم، و برایشان روزیهای خوب فراهم کردیم؛ ما به آنها بیش از هر مردم دیگری نعمت عطا کردیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="16" name="16"></a>

                        <p>[<span title="Kneeling (Al-J&#227;theyah), verse 16">45:16</span>]&nbsp; We have given the Children of Israel the scripture, wisdom, and prophethood, and provided them with good provisions; we bestowed upon them more blessings
                            than any other people.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="17" name="17"></a>

                        <p>(<span title="زانو زدن (الجاثیه), آیه ۱۷">۴۵:۱۷</span>)&nbsp; ما به آنها در این احکامی آشکار عطا کردیم. شگفتا، آنها اختلافی در این نکردند تا وقتی که دانش بر ایشان آمد. این به خاطر حسادت آنها است. مطمئناً، پروردگارت در روز قیامت
                            راجع به آنچه در آن اختلاف کردند، قضاوت خواهد کرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="17" name="17"></a>

                        <p>[<span title="Kneeling (Al-J&#227;theyah), verse 17">45:17</span>]&nbsp; We have given them herein clear commandments. Ironically, they did not dispute this until the knowledge had come to them. This is due to jealousy on their
                            part. Surely, your Lord will judge them on the Day of Resurrection regarding everything they have disputed.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="18" name="18"></a>

                        <p>(<span title="زانو زدن (الجاثیه), آیه ۱۸">۴۵:۱۸</span>)&nbsp; سپس ما تو را تعیین نمودیم تا قوانین صحیح را بر قرار نمایی؛ باید از این پیروی کنی، و از خواسته‏‌های کسانی که نمی‌دانند پیروی نکن.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="18" name="18"></a>

                        <p>[<span title="Kneeling (Al-J&#227;theyah), verse 18">45:18</span>]&nbsp; We then appointed you to establish the correct laws; you shall follow this, and do not follow the wishes of those who do not know.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="19" name="19"></a>

                        <p>(<span title="زانو زدن (الجاثیه), آیه ۱۹">۴۵:۱۹</span>)&nbsp; آنها نمی‌توانند در مقابل <strong>خدا</strong> به تو هیچ کمکی کنند. متجاوزین هستند که خود را یاران یکدیگر قرار می‌دهند، در حالی که <strong>خدا</strong> پروردگار پرهیزکاران
                            است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="19" name="19"></a>

                        <p>[<span title="Kneeling (Al-J&#227;theyah), verse 19">45:19</span>]&nbsp; They cannot help you at all against <strong>GOD</strong>. It is the transgressors who ally themselves with one another, while <strong>GOD</strong> is the
                            Lord of the righteous.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="20" name="20"></a>

                        <p>(<span title="زانو زدن (الجاثیه), آیه ۲۰">۴۵:۲۰</span>)&nbsp; این برای مردم روشنگری در بر دارد، و برای کسانی که یقین دارند، هدایت و رحمت است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="20" name="20"></a>

                        <p>[<span title="Kneeling (Al-J&#227;theyah), verse 20">45:20</span>]&nbsp; This provides enlightenments for the people, and guidance, and mercy for those who are certain.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="21" name="21"></a>

                        <p>(<span title="زانو زدن (الجاثیه), آیه ۲۱">۴۵:۲۱</span>)&nbsp; آیا کسانی که کار پلید انجام می‌دهند انتظار دارند که ما با ایشان همان رفتاری را داشته باشیم که با کسانی که ایمان دارند و زندگی پرهیزکارانه‏‌ای را در پیش می‌گیرند؟ آیا
                            زندگی و مرگ آنها می‌تواند یکسان باشد؟ واقعاً که قضاوت آنها اشتباه است.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۴۵:۲۱ ما اکنون درک ميکنيم که پرهيزکاران در واقع نميميرند- آنها مستقيما ً به بهشت ميروند (۱۶:۳۲)- در حاليکه کسانى که پرهيزکار نيستند بواسطه فرشتگان مرگ کتک ميخورند (۸:۵۰، و ۴۷:۲۷).</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="21" name="21"></a>

                        <p>[<span title="Kneeling (Al-J&#227;theyah), verse 21">45:21</span>]&nbsp; Do those who work evil expect that we will treat them in the same manner as those who believe and lead a righteous life? Can their life and their death be
                            the same?* Wrong indeed is their judgment.</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*45:21 We now realize that the righteous do not really die-they go straight to Heaven (16:32)-while the unrighteous are beaten up by the angels of death (8:50 & 47:27).

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="22" name="22"></a>

                        <p>(<span title="زانو زدن (الجاثیه), آیه ۲۲">۴۵:۲۲</span>)&nbsp;
                            <strong>خدا</strong> آسمانها و زمین را به منظور خاصی خلق کرد، تا به هر نفسی جزای آنچه را کسب کرده است، بدون کوچکترین بی‏عدالتی بدهد.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۴۵:۲۲ خدا اين زندگى را بعنوان فرصتى گرانبها به ما عطا کرد، تا بتوانيم خود را بخشوده سازيم، همدستى قديمى خود را با شيطان متهم کنيم، و دوباره به درگاه سلطنت خدا ملحق شويم. به مقدمه و ضميمه ۷ توجه کنيد.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="22" name="22"></a>

                        <p>[<span title="Kneeling (Al-J&#227;theyah), verse 22">45:22</span>]&nbsp;
                            <strong>GOD</strong> created the heavens and the earth for a specific purpose, in order to pay each soul for whatever it earned, without the least injustice.*</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*45:22 God granted us this life as a precious chance to redeem ourselves, denounce our ancient alliance with Satan, and rejoin God's kingdom. See Introduction & Appendix 7.

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="23" name="23"></a>

                        <div class="footnote-subtitle">نوع متداول بُت‏پرستی: خودخواهی بعنوان خدا</div>

                        <p>(<span title="زانو زدن (الجاثیه), آیه ۲۳">۴۵:۲۳</span>)&nbsp; آیا توجه کرده‏‌ای به آنکس که خدایش خودخواهی او است؟ در نتیجه، <strong>خدا</strong> با وجود دانش او، او را به گمراهی می‌فرستد، به شنوایی و فکرش مهر می‌زند، و بر دیدگانش
                            پرده می‌افکند. پس چه کسی می‌تواند او را هدایت کند، بعد از چنین تصمیمی از طرف <strong>خدا</strong>؟ آیا متوجه نمی‌شوید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="23" name="23"></a>

                        <div class="footnote-subtitle">Common Form of Idolatry: The Ego As A god</div>

                        <p>[<span title="Kneeling (Al-J&#227;theyah), verse 23">45:23</span>]&nbsp; Have you noted the one whose god is his ego? Consequently, <strong>GOD</strong> sends him astray, despite his knowledge, seals his hearing and his mind, and
                            places a veil on his eyes. Who then can guide him, after such a decision by <strong>GOD</strong>? Would you not take heed?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="24" name="24"></a>

                        <p>(<span title="زانو زدن (الجاثیه), آیه ۲۴">۴۵:۲۴</span>)&nbsp; آنها گفتند، "ما فقط در این دنیا زندگی می‌کنیم؛ ما زندگی می‌کنیم و می‌میریم و فقط مرور زمان باعث مرگ ما می‌شود!" آنها دانش قطعی در این باره ندارند؛ آنها فقط حدس می‌زنند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="24" name="24"></a>

                        <p>[<span title="Kneeling (Al-J&#227;theyah), verse 24">45:24</span>]&nbsp; They said, "We only live this life; we live and die and only time causes our death!" They have no sure knowledge about this; they only conjecture.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="25" name="25"></a>

                        <p>(<span title="زانو زدن (الجاثیه), آیه ۲۵">۴۵:۲۵</span>)&nbsp; هنگامی که آیات ما بطور واضح بر ایشان خوانده می‌شود، تنها بحث‏شان این است که گویند، "اجداد ما را بازگردانید، اگر راست می‌گویید."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="25" name="25"></a>

                        <p>[<span title="Kneeling (Al-J&#227;theyah), verse 25">45:25</span>]&nbsp; When our revelations are recited to them, clearly, their only argument is to say, "Bring back our forefathers, if you are truthful."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="26" name="26"></a>

                        <p>(<span title="زانو زدن (الجاثیه), آیه ۲۶">۴۵:۲۶</span>)&nbsp; بگو، "<strong>خدا</strong> به شما زندگی عطا کرده است، سپس او شما را می‌میراند، سپس او شما را در روز قیامت که اجتناب‏ناپذیر است، احضار می‌کند. اما اکثر مردم نمی‌دانند."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="26" name="26"></a>

                        <p>[<span title="Kneeling (Al-J&#227;theyah), verse 26">45:26</span>]&nbsp; Say, "<strong>GOD</strong> has granted you life, then He puts you to death, then He will summon you to the Day of Resurrection, which is inevitable. But most
                            people do not know."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="27" name="27"></a>

                        <p>(<span title="زانو زدن (الجاثیه), آیه ۲۷">۴۵:۲۷</span>)&nbsp; سلطنت آسمانها و زمین از آن <strong>خدا</strong> است. آن روز، که آن ساعت (قضاوت) بیاید، آنوقت است که دروغگویان بازنده می‌شوند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="27" name="27"></a>

                        <p>[<span title="Kneeling (Al-J&#227;theyah), verse 27">45:27</span>]&nbsp; To <strong>GOD</strong> belongs all sovereignty of the heavens and the earth. The day the Hour <em>(Judgment)</em> comes to pass, that is when the falsifiers
                            lose.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="28" name="28"></a>

                        <div class="footnote-subtitle">زانو زدن</div>

                        <p>(<span title="زانو زدن (الجاثیه), آیه ۲۸">۴۵:۲۸</span>)&nbsp; هر اجتماعی را خواهی دید که زانو می‌زند. هر اجتماعی خوانده خواهد شد تا پرونده خود را از نظر بگذراند. امروز، جزای هر کاری را که انجام داده‏‌اید، دریافت می‌کنید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="28" name="28"></a>

                        <div class="footnote-subtitle">Kneeling</div>

                        <p>[<span title="Kneeling (Al-J&#227;theyah), verse 28">45:28</span>]&nbsp; You will see every community kneeling. Every community will be called to view their record. Today, you get paid for everything you have done.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="29" name="29"></a>

                        <p>(<span title="زانو زدن (الجاثیه), آیه ۲۹">۴۵:۲۹</span>)&nbsp; این پرونده ما است؛ حقیقت را در باره شما می‌گوید. ما هر کاری را انجام دادید، ضبط کرده‏‌ایم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="29" name="29"></a>

                        <p>[<span title="Kneeling (Al-J&#227;theyah), verse 29">45:29</span>]&nbsp; This is our record; it utters the truth about you. We have been recording everything you did.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="30" name="30"></a>

                        <p>(<span title="زانو زدن (الجاثیه), آیه ۳۰">۴۵:۳۰</span>)&nbsp; و اما کسانی که ایمان آورند و پرهیزکارانه عمل کنند، پروردگارشان ایشان را به رحمت خود داخل خواهد کرد. این پیروزی بزرگ است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="30" name="30"></a>

                        <p>[<span title="Kneeling (Al-J&#227;theyah), verse 30">45:30</span>]&nbsp; As for those who believe and work righteousness, their Lord will admit them into His mercy. This is the great triumph.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="31" name="31"></a>

                        <p>(<span title="زانو زدن (الجاثیه), آیه ۳۱">۴۵:۳۱</span>)&nbsp; و اما کسانی که ایمان ندارند: "آیا آیات من برای شما خوانده نشد، اما شما متکبر شدید و مردم ستمکاری بودید؟"</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="31" name="31"></a>

                        <p>[<span title="Kneeling (Al-J&#227;theyah), verse 31">45:31</span>]&nbsp; As for those who disbelieve: "Were not My revelations recited to you, but you turned arrogant and were wicked people?"</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="32" name="32"></a>

                        <p>(<span title="زانو زدن (الجاثیه), آیه ۳۲">۴۵:۳۲</span>)&nbsp; هنگامی که اعلام شد وعده <strong>خدا</strong> حقیقت دارد، و آن ساعت (قضاوت) اجتناب‏ناپذیر است، شما گفتید، "ما نمی‌دانیم آن ساعت چیست! ما نسبت به آن پر از حدسیات هستیم؛
                            ما یقین نداریم."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="32" name="32"></a>

                        <p>[<span title="Kneeling (Al-J&#227;theyah), verse 32">45:32</span>]&nbsp; When it is proclaimed that <strong>GOD</strong>'s promise is the truth and that the Hour <em>(of Judgment)</em> is inevitable, you said, "We do not know what
                            the Hour is! We are full of conjecture about it; we are not certain."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="33" name="33"></a>

                        <p>(<span title="زانو زدن (الجاثیه), آیه ۳۳">۴۵:۳۳</span>)&nbsp; بدی کارهایشان برایشان آشکار خواهد شد، و همان چیزهایی که مسخره می‌کردند به خودشان باز خواهد گشت.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="33" name="33"></a>

                        <p>[<span title="Kneeling (Al-J&#227;theyah), verse 33">45:33</span>]&nbsp; The evils of their works will become evident to them, and the very things they mocked will come back and haunt them.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="34" name="34"></a>

                        <p>(<span title="زانو زدن (الجاثیه), آیه ۳۴">۴۵:۳۴</span>)&nbsp; اعلام خواهد شد: "امروز ما شما را فراموش می‌کنیم، همانطوری که شما ملاقات این روز را فراموش کردید. جایگاه شما آتش جهنم است، و شما هیچ یاوری نخواهید داشت.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="34" name="34"></a>

                        <p>[<span title="Kneeling (Al-J&#227;theyah), verse 34">45:34</span>]&nbsp; It will be proclaimed: "Today we forget you, just as you forgot the meeting of this day. Your abode is the hellfire, and you will have no helpers.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="35" name="35"></a>

                        <p>(<span title="زانو زدن (الجاثیه), آیه ۳۵">۴۵:۳۵</span>)&nbsp; "این به خاطر آن است که شما آیات <strong>خدا</strong> را بیهوده گرفتید، و با زندگی اوّل سرگرم شدید." در نتیجه، آنها نه هرگز از آنجا خارج خواهند شد، و نه معذور خواهند
                            شد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="35" name="35"></a>

                        <p>[<span title="Kneeling (Al-J&#227;theyah), verse 35">45:35</span>]&nbsp; "This is because you took <strong>GOD</strong>'s revelations in vain, and were preoccupied with the first life." Consequently, they will never exit therefrom,
                            nor will they be excused.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="36" name="36"></a>

                        <p>(<span title="زانو زدن (الجاثیه), آیه ۳۶">۴۵:۳۶</span>)&nbsp; همه ستایش‏ها از آن <strong>خدا</strong> است، پروردگار آسمانها، پروردگار زمین، پروردگار جهان.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="36" name="36"></a>

                        <p>[<span title="Kneeling (Al-J&#227;theyah), verse 36">45:36</span>]&nbsp; To <strong>GOD</strong> belongs all praise; Lord of the heavens, Lord of the earth, Lord of the universe.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="37" name="37"></a>

                        <p>(<span title="زانو زدن (الجاثیه), آیه ۳۷">۴۵:۳۷</span>)&nbsp; همه برتری در آسمانها و زمین از آن او است. او بزرگوار است، حکیم‏ترین.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="37" name="37"></a>

                        <p>[<span title="Kneeling (Al-J&#227;theyah), verse 37">45:37</span>]&nbsp; To Him belongs all supremacy in the heavens and the earth. He is the Almighty, Most Wise.</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۲۹۵</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۴۴۲۴</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
      