<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۸۳: متقلبان (المطففین)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 83: The Cheaters (Al-Mutaffifeen)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="متقلبان (المطففین), آیه ۱">۸۳:۱</span>)&nbsp; وای بر متقلبان.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="The Cheaters (Al-Mutaffifeen), verse 1">83:1</span>]&nbsp; Woe to the cheaters.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="متقلبان (المطففین), آیه ۲">۸۳:۲</span>)&nbsp; که وقتی از مردم چیزی دریافت می‌کنند، اندازه کامل را می‌خواهند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="The Cheaters (Al-Mutaffifeen), verse 2">83:2</span>]&nbsp; Who demand full measure when receiving from the people.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="متقلبان (المطففین), آیه ۳">۸۳:۳</span>)&nbsp; اما وقتی اندازه یا وزن را به آنها می‌دهند، تقلب می‌کنند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="The Cheaters (Al-Mutaffifeen), verse 3">83:3</span>]&nbsp; But when giving them the measures or weights, they cheat.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="متقلبان (المطففین), آیه ۴">۸۳:۴</span>)&nbsp; آیا نمی‌دانند که برانگیخته خواهند شد؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="The Cheaters (Al-Mutaffifeen), verse 4">83:4</span>]&nbsp; Do they not know that they will be resurrected?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="متقلبان (المطففین), آیه ۵">۸۳:۵</span>)&nbsp; در روزی عظیم؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="The Cheaters (Al-Mutaffifeen), verse 5">83:5</span>]&nbsp; On a tremendous day?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="متقلبان (المطففین), آیه ۶">۸۳:۶</span>)&nbsp; آن روزی است که همه مردم در پیشگاه پروردگار جهان می‌ایستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="The Cheaters (Al-Mutaffifeen), verse 6">83:6</span>]&nbsp; That is the day when all people will stand before the Lord of the universe.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <div class="footnote-subtitle">کتابهایی با بنای ریاضی</div>

                        <p>(<span title="متقلبان (المطففین), آیه ۷">۸۳:۷</span>)&nbsp; به درستی که کتاب گناهکاران در سجین است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <div class="footnote-subtitle">Numerically Structured Books</div>

                        <p>[<span title="The Cheaters (Al-Mutaffifeen), verse 7">83:7</span>]&nbsp; Indeed, the book of the wicked is in Sijjeen.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="متقلبان (المطففین), آیه ۸">۸۳:۸</span>)&nbsp; آیا می‌دانی سجین چیست؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="The Cheaters (Al-Mutaffifeen), verse 8">83:8</span>]&nbsp; Do you know what Sijjeen is?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <p>(<span title="متقلبان (المطففین), آیه ۹">۸۳:۹</span>)&nbsp; کتابی با بنای ریاضی.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <p>[<span title="The Cheaters (Al-Mutaffifeen), verse 9">83:9</span>]&nbsp; A numerically structured book.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <p>(<span title="متقلبان (المطففین), آیه ۱۰">۸۳:۱۰</span>)&nbsp; در آن روز، وای بر تکذیب کنندگان.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <p>[<span title="The Cheaters (Al-Mutaffifeen), verse 10">83:10</span>]&nbsp; Woe on that day to the rejectors.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <p>(<span title="متقلبان (المطففین), آیه ۱۱">۸۳:۱۱</span>)&nbsp; آنها به روز قضاوت ایمان ندارند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <p>[<span title="The Cheaters (Al-Mutaffifeen), verse 11">83:11</span>]&nbsp; They do not believe in the Day of Judgment.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="12" name="12"></a>

                        <p>(<span title="متقلبان (المطففین), آیه ۱۲">۸۳:۱۲</span>)&nbsp; هیچکس به آن ناباور نیست، بجز متجاوز گناهکار.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="12" name="12"></a>

                        <p>[<span title="The Cheaters (Al-Mutaffifeen), verse 12">83:12</span>]&nbsp; None disbelieves therein except the transgressor, the sinful.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="13" name="13"></a>

                        <p>(<span title="متقلبان (المطففین), آیه ۱۳">۸۳:۱۳</span>)&nbsp; هنگامی که آیات ما برای او خوانده می‌شود، می‌گوید، "افسانه‏‌هایی از گذشته!"</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="13" name="13"></a>

                        <p>[<span title="The Cheaters (Al-Mutaffifeen), verse 13">83:13</span>]&nbsp; When our revelations are recited to him, he says, "Tales from the past!"</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="14" name="14"></a>

                        <p>(<span title="متقلبان (المطففین), آیه ۱۴">۸۳:۱۴</span>)&nbsp; به درستی که قلب‏هایشان به واسطه گناهانشان پوشیده شده اند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="14" name="14"></a>

                        <p>[<span title="The Cheaters (Al-Mutaffifeen), verse 14">83:14</span>]&nbsp; Indeed, their hearts have become shielded by their sins.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="15" name="15"></a>

                        <p>(<span title="متقلبان (المطففین), آیه ۱۵">۸۳:۱۵</span>)&nbsp; به درستی که در آن روز آنها از پروردگارشان جدا خواهند بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="15" name="15"></a>

                        <p>[<span title="The Cheaters (Al-Mutaffifeen), verse 15">83:15</span>]&nbsp; Indeed, they will be isolated, on that day, from their Lord.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="16" name="16"></a>

                        <p>(<span title="متقلبان (المطففین), آیه ۱۶">۸۳:۱۶</span>)&nbsp; سپس به جهنم انداخته خواهند شد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="16" name="16"></a>

                        <p>[<span title="The Cheaters (Al-Mutaffifeen), verse 16">83:16</span>]&nbsp; Then they will be thrown into Hell.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="17" name="17"></a>

                        <p>(<span title="متقلبان (المطففین), آیه ۱۷">۸۳:۱۷</span>)&nbsp; به آنها گفته خواهد شد، "این است آنچه شما قبلاً انکار می‌کردید."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="17" name="17"></a>

                        <p>[<span title="The Cheaters (Al-Mutaffifeen), verse 17">83:17</span>]&nbsp; They will be told, "This is what you used to deny."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="18" name="18"></a>

                        <p>(<span title="متقلبان (المطففین), آیه ۱۸">۸۳:۱۸</span>)&nbsp; به درستی که، کتاب پرهیزکاران در علیین خواهد بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="18" name="18"></a>

                        <p>[<span title="The Cheaters (Al-Mutaffifeen), verse 18">83:18</span>]&nbsp; Indeed, the book of the righteous will be in 'Elleyyeen.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="19" name="19"></a>

                        <p>(<span title="متقلبان (المطففین), آیه ۱۹">۸۳:۱۹</span>)&nbsp; آیا می‌دانی علیین چیست؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="19" name="19"></a>

                        <p>[<span title="The Cheaters (Al-Mutaffifeen), verse 19">83:19</span>]&nbsp; Do you know what 'Elleyyeen is?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="20" name="20"></a>

                        <p>(<span title="متقلبان (المطففین), آیه ۲۰">۸۳:۲۰</span>)&nbsp; کتابی با بنای ریاضی.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="20" name="20"></a>

                        <p>[<span title="The Cheaters (Al-Mutaffifeen), verse 20">83:20</span>]&nbsp; A numerically structured book.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="21" name="21"></a>

                        <p>(<span title="متقلبان (المطففین), آیه ۲۱">۸۳:۲۱</span>)&nbsp; تا کسانی که به من نزدیک هستند، شاهد آن باشند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="21" name="21"></a>

                        <p>[<span title="The Cheaters (Al-Mutaffifeen), verse 21">83:21</span>]&nbsp; To be witnessed by those close to Me.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="22" name="22"></a>

                        <p>(<span title="متقلبان (المطففین), آیه ۲۲">۸۳:۲۲</span>)&nbsp; پرهیزکاران سزاوار سعادت شده‏‌اند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="22" name="22"></a>

                        <p>[<span title="The Cheaters (Al-Mutaffifeen), verse 22">83:22</span>]&nbsp; The righteous have deserved bliss.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="23" name="23"></a>

                        <p>(<span title="متقلبان (المطففین), آیه ۲۳">۸۳:۲۳</span>)&nbsp; بر روی مبلمانهای مجلل تماشا می‌کنند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="23" name="23"></a>

                        <p>[<span title="The Cheaters (Al-Mutaffifeen), verse 23">83:23</span>]&nbsp; On luxurious furnishings they watch.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="24" name="24"></a>

                        <p>(<span title="متقلبان (المطففین), آیه ۲۴">۸۳:۲۴</span>)&nbsp; در چهره‏‌شان لذت سعادت را تشخیص می‌دهی.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="24" name="24"></a>

                        <p>[<span title="The Cheaters (Al-Mutaffifeen), verse 24">83:24</span>]&nbsp; You recognize in their faces the joy of bliss.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="25" name="25"></a>

                        <p>(<span title="متقلبان (المطففین), آیه ۲۵">۸۳:۲۵</span>)&nbsp; نوشیدنی‏هایشان طعم شهد خواهد داشت.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="25" name="25"></a>

                        <p>[<span title="The Cheaters (Al-Mutaffifeen), verse 25">83:25</span>]&nbsp; Their drinks will be spiced with nectar.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="26" name="26"></a>

                        <p>(<span title="متقلبان (المطففین), آیه ۲۶">۸۳:۲۶</span>)&nbsp; عطر آنها مانند مشک است. این است آنچه رقبا باید برای آن رقابت کنند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="26" name="26"></a>

                        <p>[<span title="The Cheaters (Al-Mutaffifeen), verse 26">83:26</span>]&nbsp; Its spice is like musk. This is what the competitors should compete for.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="27" name="27"></a>

                        <p>(<span title="متقلبان (المطففین), آیه ۲۷">۸۳:۲۷</span>)&nbsp; مخلوط با آن طعم‏هایی خاص خواهد بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="27" name="27"></a>

                        <p>[<span title="The Cheaters (Al-Mutaffifeen), verse 27">83:27</span>]&nbsp; Mixed into it will be special flavors.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="28" name="28"></a>

                        <p>(<span title="متقلبان (المطففین), آیه ۲۸">۸۳:۲۸</span>)&nbsp; از چشمه‏‌ای که برای نزدیکان به من نگاه داشته شده.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="28" name="28"></a>

                        <p>[<span title="The Cheaters (Al-Mutaffifeen), verse 28">83:28</span>]&nbsp; From a spring that is reserved for those close to Me.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="29" name="29"></a>

                        <p>(<span title="متقلبان (المطففین), آیه ۲۹">۸۳:۲۹</span>)&nbsp; ستمکاران قبلاً به کسانی که ایمان داشتند می‌خندیدند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="29" name="29"></a>

                        <p>[<span title="The Cheaters (Al-Mutaffifeen), verse 29">83:29</span>]&nbsp; The wicked used to laugh at those who believed.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="30" name="30"></a>

                        <p>(<span title="متقلبان (المطففین), آیه ۳۰">۸۳:۳۰</span>)&nbsp; هنگامی که از پیش ایشان می‌گذشتند، مسخره می‌کردند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="30" name="30"></a>

                        <p>[<span title="The Cheaters (Al-Mutaffifeen), verse 30">83:30</span>]&nbsp; When they passed by them, they used to poke fun.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="31" name="31"></a>

                        <p>(<span title="متقلبان (المطففین), آیه ۳۱">۸۳:۳۱</span>)&nbsp; هنگامی که با مردمشان دور هم جمع می‌شدند، شوخی می‌کردند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="31" name="31"></a>

                        <p>[<span title="The Cheaters (Al-Mutaffifeen), verse 31">83:31</span>]&nbsp; When they got together with their people, they used to joke.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="32" name="32"></a>

                        <p>(<span title="متقلبان (المطففین), آیه ۳۲">۸۳:۳۲</span>)&nbsp; هر وقت ایشان را می‌دیدند، می‌گفتند، "این مردم در گمراهی عمیقی هستند!</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="32" name="32"></a>

                        <p>[<span title="The Cheaters (Al-Mutaffifeen), verse 32">83:32</span>]&nbsp; Whenever they saw them, they said, "These people are far astray!</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="33" name="33"></a>

                        <p>(<span title="متقلبان (المطففین), آیه ۳۳">۸۳:۳۳</span>)&nbsp; "آنها هرگز چیزی بعنوان نگهبانان (نامریی) ندارند."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="33" name="33"></a>

                        <p>[<span title="The Cheaters (Al-Mutaffifeen), verse 33">83:33</span>]&nbsp; "They have no such thing as <em>(invisible)</em> guards."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="34" name="34"></a>

                        <p>(<span title="متقلبان (المطففین), آیه ۳۴">۸۳:۳۴</span>)&nbsp; امروز، کسانی که ایمان آوردند به کافران می‌خندند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="34" name="34"></a>

                        <p>[<span title="The Cheaters (Al-Mutaffifeen), verse 34">83:34</span>]&nbsp; Today, those who believed are laughing at the disbelievers.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="35" name="35"></a>

                        <p>(<span title="متقلبان (المطففین), آیه ۳۵">۸۳:۳۵</span>)&nbsp; روی مبلمانهای مجلل، تماشا می‌کنند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="35" name="35"></a>

                        <p>[<span title="The Cheaters (Al-Mutaffifeen), verse 35">83:35</span>]&nbsp; On luxurious furnishings they watch.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="36" name="36"></a>

                        <p>(<span title="متقلبان (المطففین), آیه ۳۶">۸۳:۳۶</span>)&nbsp; مطمئناً کافران به خاطر اعمالی که انجام دادند، مجازات می‌شوند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="36" name="36"></a>

                        <p>[<span title="The Cheaters (Al-Mutaffifeen), verse 36">83:36</span>]&nbsp; Most assuredly, the disbelievers are requited for what they did.</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۶۸۰</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۷۹۷۰</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>

</html>

