<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۵۵: بخشاینده ترین وجود (الرّحمن)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 55: Most Gracious (Al-Rahmaan)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۱">۵۵:۱</span>)&nbsp; آن بخشنده‏‌ترین.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 1">55:1</span>]&nbsp; The Most Gracious.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۲">۵۵:۲</span>)&nbsp; معلم قرآن.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 2">55:2</span>]&nbsp; Teacher of the Quran.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۳">۵۵:۳</span>)&nbsp; خالق انسانها.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 3">55:3</span>]&nbsp; Creator of the human beings.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۴">۵۵:۴</span>)&nbsp; او به آنها آموخت چگونه تشخیص دهند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 4">55:4</span>]&nbsp; He taught them how to distinguish.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۵">۵۵:۵</span>)&nbsp; خورشید و ماه دقیقاً محاسبه شده‏‌اند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 5">55:5</span>]&nbsp; The sun and the moon are perfectly calculated.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۶">۵۵:۶</span>)&nbsp; ستارگان و درختان سجده می‌کنند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 6">55:6</span>]&nbsp; The stars and the trees prostrate.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۷">۵۵:۷</span>)&nbsp; او آسمان را برافراشت و قانون را وضع کرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 7">55:7</span>]&nbsp; He constructed the sky and established the law.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۸">۵۵:۸</span>)&nbsp; شما نباید از قانون سرپیچی کنید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 8">55:8</span>]&nbsp; You shall not transgress the law.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۹">۵۵:۹</span>)&nbsp; شما باید عدالت را برقرار کنید؛ از قانون تجاوز نکنید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 9">55:9</span>]&nbsp; You shall establish justice; do not violate the law.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۱۰">۵۵:۱۰</span>)&nbsp; او زمین را برای همه موجودات خلق کرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 10">55:10</span>]&nbsp; He created the earth for all creatures.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۱۱">۵۵:۱۱</span>)&nbsp; در آن میوه‏‌ها هستند، و نخل‏های خرما یا میوه آویخته‏‌شان.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۵۵:۱۱ سفينه فضايى کره زمين که داراى سيستم قابل تجديد و توليد مثل فضانوردان است را با پيشرفته ترين سينه هاى فضايى که به فضا ميفرستيم مقايسه کنيد. سبحان الله.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 11">55:11</span>]&nbsp; In it there are fruits, and date palms with their hanging fruit.*</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*55:11 Compare the spaceship Earth's renewable systems and reproducing astronauts, with the most sophisticated spaceships that we launch into space. God be glorified.

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="12" name="12"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۱۲">۵۵:۱۲</span>)&nbsp; همچنین غلات و ادویه‏جات.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="12" name="12"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 12">55:12</span>]&nbsp; Also grains and the spices.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="13" name="13"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۱۳">۵۵:۱۳</span>)&nbsp; (ای انسانها و جنها،) کدامیک از شگفتیهای پروردگارتان را می‌توانید انکار کنید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="13" name="13"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 13">55:13</span>]&nbsp;
                            <em>(O humans and jinns,)</em> which of your Lord's marvels can you deny?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="14" name="14"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۱۴">۵۵:۱۴</span>)&nbsp; او انسان را از گل سالخورده خلق کرد، مانند گل کوزه‏گری.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="14" name="14"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 14">55:14</span>]&nbsp; He created the human from aged clay, like the potter's clay.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="15" name="15"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۱۵">۵۵:۱۵</span>)&nbsp; و جن‏ها را از آتش فروزان آفرید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="15" name="15"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 15">55:15</span>]&nbsp; And created the jinns from blazing fire.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="16" name="16"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۱۶">۵۵:۱۶</span>)&nbsp; (ای انسانها و جنها،) کدامیک از شگفتیهای پروردگارتان را می‌توانید انکار کنید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="16" name="16"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 16">55:16</span>]&nbsp;
                            <em>(O humans and jinns,)</em> which of your Lord's marvels can you deny?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="17" name="17"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۱۷">۵۵:۱۷</span>)&nbsp; پروردگار دو شرق و دو غرب.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="17" name="17"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 17">55:17</span>]&nbsp; Lord of the two easts and the two wests.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="18" name="18"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۱۸">۵۵:۱۸</span>)&nbsp; کدامیک از شگفتی‏های پروردگارتان را می‌توانید انکار کنید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="18" name="18"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 18">55:18</span>]&nbsp; Which of your Lord's marvels can you deny?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="19" name="19"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۱۹">۵۵:۱۹</span>)&nbsp; او دو دریا را در جایی که به یکدیگر می‌پیوندند، از هم جدا می‌کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="19" name="19"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 19">55:19</span>]&nbsp; He separates the two seas where they meet.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="20" name="20"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۲۰">۵۵:۲۰</span>)&nbsp; حایلی بین آنها قرار داده شده است، تا آنها را از تجاوز باز دارد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="20" name="20"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 20">55:20</span>]&nbsp; A barrier is placed between them, to prevent them from transgressing.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="21" name="21"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۲۱">۵۵:۲۱</span>)&nbsp; کدامیک از شگفتی‏های پروردگارتان را می‌توانید انکار کنید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="21" name="21"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 21">55:21</span>]&nbsp; Which of your Lord's marvels can you deny?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="22" name="22"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۲۲">۵۵:۲۲</span>)&nbsp; شما از هر دو آنها مروارید و مرجان استخراج می‌کنید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="22" name="22"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 22">55:22</span>]&nbsp; Out of both of them you get pearls and coral.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="23" name="23"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۲۳">۵۵:۲۳</span>)&nbsp; کدامیک از شگفتی‏های پروردگارتان را می‌توانید انکار کنید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="23" name="23"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 23">55:23</span>]&nbsp; Which of your Lord's marvels can you deny?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="24" name="24"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۲۴">۵۵:۲۴</span>)&nbsp; او به شما کشتی‏ها عطا کرد که در دریا مانند پرچم‏ها حرکت می‌کنند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="24" name="24"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 24">55:24</span>]&nbsp; He gave you ships that roam the sea like flags.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="25" name="25"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۲۵">۵۵:۲۵</span>)&nbsp; کدامیک از شگفتی‏های پروردگارتان را می‌توانید انکار کنید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="25" name="25"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 25">55:25</span>]&nbsp; Which of your Lord's marvels can you deny?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="26" name="26"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۲۶">۵۵:۲۶</span>)&nbsp; همه کس در روی زمین فنا می‌شود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="26" name="26"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 26">55:26</span>]&nbsp; Everyone on earth perishes.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="27" name="27"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۲۷">۵۵:۲۷</span>)&nbsp; فقط حضور پروردگارت باقی می‌ماند. صاحب عزت، و کرم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="27" name="27"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 27">55:27</span>]&nbsp; Only the presence of your Lord lasts. Possessor of Majesty and Honor.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="28" name="28"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۲۸">۵۵:۲۸</span>)&nbsp; کدامیک از شگفتی‏های پروردگارتان را می‌توانید انکار کنید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="28" name="28"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 28">55:28</span>]&nbsp; Which of your Lord's marvels can you deny?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="29" name="29"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۲۹">۵۵:۲۹</span>)&nbsp; همه کس در آسمانها و زمین او را دعا می‌کند. او است که هر روز کنترل کامل را دارد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="29" name="29"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 29">55:29</span>]&nbsp; Imploring Him is everyone in the heavens and the earth. Every day He is in full control.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="30" name="30"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۳۰">۵۵:۳۰</span>)&nbsp; کدامیک از شگفتی‏های پروردگارتان را می‌توانید انکار کنید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="30" name="30"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 30">55:30</span>]&nbsp; Which of your Lord's marvels can you deny?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="31" name="31"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۳۱">۵۵:۳۱</span>)&nbsp; ما شما را برای حسابرسی فرا خواهیم خواند، ای انسان‏ها و جن‏ها.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="31" name="31"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 31">55:31</span>]&nbsp; We will call you to account, O humans and jinns.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="32" name="32"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۳۲">۵۵:۳۲</span>)&nbsp; کدامیک از شگفتی‏های پروردگارتان را می‌توانید انکار کنید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="32" name="32"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 32">55:32</span>]&nbsp; Which of your Lord's marvels can you deny?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="33" name="33"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۳۳">۵۵:۳۳</span>)&nbsp; شما ای جن‏ها و انسان‏ها، اگر می‌توانید به جدار خارجی آسمانها و زمین نفوذ کنید، بروید نفوذ کنید. شما بدون اجازه نمی‌توانید نفوذ کنید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="33" name="33"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 33">55:33</span>]&nbsp; O you jinns and humans, if you can penetrate the outer limits of the heavens and the earth, go ahead and penetrate. You cannot penetrate without authorization.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="34" name="34"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۳۴">۵۵:۳۴</span>)&nbsp; کدامیک از شگفتی‏های پروردگارتان را می‌توانید انکار کنید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="34" name="34"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 34">55:34</span>]&nbsp; Which of your Lord's marvels can you deny?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="35" name="35"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۳۵">۵۵:۳۵</span>)&nbsp; شما با سلاحهای پرتابی از آتش و فلز بمباران می‌شوید، و نمی‌توانید پیروز شوید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="35" name="35"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 35">55:35</span>]&nbsp; You get bombarded with projectiles of fire and metal, and you cannot win.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="36" name="36"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۳۶">۵۵:۳۶</span>)&nbsp; کدامیک از شگفتی‏های پروردگارتان را می‌توانید انکار کنید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="36" name="36"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 36">55:36</span>]&nbsp; Which of your Lord's marvels can you deny?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="37" name="37"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۳۷">۵۵:۳۷</span>)&nbsp; هنگامی که آسمان از هم پاشیده شود، و به رنگ رُز در آید، مانند نقاشی.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="37" name="37"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 37">55:37</span>]&nbsp; When the sky disintegrates, and turns rose colored like paint.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="38" name="38"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۳۸">۵۵:۳۸</span>)&nbsp; کدامیک از شگفتی‏های پروردگارتان را می‌توانید انکار کنید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="38" name="38"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 38">55:38</span>]&nbsp; Which of your Lord's marvels can you deny?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="39" name="39"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۳۹">۵۵:۳۹</span>)&nbsp; در آن روز، نه از انسانی، و نه از جنی، درباره گناهانش سئوال خواهد شد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="39" name="39"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 39">55:39</span>]&nbsp; On that day, no human, nor a jinn, will be asked about his sins.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="40" name="40"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۴۰">۵۵:۴۰</span>)&nbsp; کدامیک از شگفتی‏های پروردگارتان را می‌توانید انکار کنید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="40" name="40"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 40">55:40</span>]&nbsp; Which of your Lord's marvels can you deny?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="41" name="41"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۴۱">۵۵:۴۱</span>)&nbsp; (این به خاطر آن است که) گناهکاران از چهره‏‌شان تشخیص داده خواهند شد؛ آنها به موهای جلوی سر، و پاهایشان برده خواهند شد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="41" name="41"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 41">55:41</span>]&nbsp;
                            <em>(This is because)</em> the guilty will be recognized by their looks; they will be taken by the forelocks and the feet.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="42" name="42"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۴۲">۵۵:۴۲</span>)&nbsp; کدامیک از شگفتی‏های پروردگارتان را می‌توانید انکار کنید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="42" name="42"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 42">55:42</span>]&nbsp; Which of your Lord's marvels can you deny?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="43" name="43"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۴۳">۵۵:۴۳</span>)&nbsp; این است جهنمی که گناهکاران تکذیب می‌کردند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="43" name="43"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 43">55:43</span>]&nbsp; This is Gehenna that the guilty used to deny.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="44" name="44"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۴۴">۵۵:۴۴</span>)&nbsp; آنها در میان آن و آتش فروزان غیرقابل تحمل چرخ خواهند زد.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۵۵:۴۴ توضيحات کامل در باره بهشت برين، و بهشت زيرين، برزخ، جهنم، و آتش فروزان غير قابل تحمل در ضميمه هاى ۵ و ۱۱ داده شده است.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="44" name="44"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 44">55:44</span>]&nbsp; They will circulate between it and an intolerable inferno.*</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*55:44 Full details about the High Heaven, Low Heaven, the Purgatory, Hell, and the intolerable inferno are given in Appendices 5 and 11.

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="45" name="45"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۴۵">۵۵:۴۵</span>)&nbsp; کدامیک از شگفتی‏های پروردگارتان را می‌توانید انکار کنید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="45" name="45"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 45">55:45</span>]&nbsp; Which of your Lord's marvels can you deny?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="46" name="46"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۴۶">۵۵:۴۶</span>)&nbsp; برای کسانی که به عظمت پروردگارشان حرمت می‌نهند، دو باغ (یکی برای جن‏ها و دیگری برای انسان‏ها).</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="46" name="46"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 46">55:46</span>]&nbsp; For those who reverence the majesty of their Lord, two gardens <em>(one for the jinns and one for the humans)</em>.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="47" name="47"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۴۷">۵۵:۴۷</span>)&nbsp; کدامیک از شگفتی‏های پروردگارتان را می‌توانید انکار کنید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="47" name="47"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 47">55:47</span>]&nbsp; Which of your Lord's marvels can you deny?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="48" name="48"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۴۸">۵۵:۴۸</span>)&nbsp; سرشار از روزی‏ها.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="48" name="48"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 48">55:48</span>]&nbsp; Full of provisions.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="49" name="49"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۴۹">۵۵:۴۹</span>)&nbsp; کدامیک از شگفتی‏های پروردگارتان را می‌توانید انکار کنید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="49" name="49"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 49">55:49</span>]&nbsp; Which of your Lord's marvels can you deny?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="50" name="50"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۵۰">۵۵:۵۰</span>)&nbsp; دو چشمه در آنها جریان دارد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="50" name="50"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 50">55:50</span>]&nbsp; Two springs are in them, flowing.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="51" name="51"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۵۱">۵۵:۵۱</span>)&nbsp; کدامیک از شگفتی‏های پروردگارتان را می‌توانید انکار کنید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="51" name="51"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 51">55:51</span>]&nbsp; Which of your Lord's marvels can you deny?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="52" name="52"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۵۲">۵۵:۵۲</span>)&nbsp; در آنها از هر میوه‏‌ای دو نوع هست.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="52" name="52"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 52">55:52</span>]&nbsp; Of every fruit in them, two kinds.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="53" name="53"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۵۳">۵۵:۵۳</span>)&nbsp; کدامیک از شگفتی‏های پروردگارتان را می‌توانید انکار کنید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="53" name="53"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 53">55:53</span>]&nbsp; Which of your Lord's marvels can you deny?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="54" name="54"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۵۴">۵۵:۵۴</span>)&nbsp; در حالی که روی مبلمانهایی از ساتن آرمیده‏‌اند، میوه‏‌ها در دسترس هستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="54" name="54"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 54">55:54</span>]&nbsp; While relaxing on furnishings lined with satin, the fruits are within reach.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="55" name="55"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۵۵">۵۵:۵۵</span>)&nbsp; کدامیک از شگفتی‏های پروردگارتان را می‌توانید انکار کنید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="55" name="55"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 55">55:55</span>]&nbsp; Which of your Lord's marvels can you deny?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="56" name="56"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۵۶">۵۵:۵۶</span>)&nbsp; همسران زیبایشان هرگز با هیچ انسان یا جنی تماس نداشته‏‌اند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="56" name="56"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 56">55:56</span>]&nbsp; Their beautiful mates were never touched by any human or jinn.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="57" name="57"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۵۷">۵۵:۵۷</span>)&nbsp; کدامیک از شگفتی‏های پروردگارتان را می‌توانید انکار کنید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="57" name="57"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 57">55:57</span>]&nbsp; Which of your Lord's marvels can you deny?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="58" name="58"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۵۸">۵۵:۵۸</span>)&nbsp; آنها مانند جواهر و مرجان هستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="58" name="58"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 58">55:58</span>]&nbsp; They look like gems and coral.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="59" name="59"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۵۹">۵۵:۵۹</span>)&nbsp; کدامیک از شگفتی‏های پروردگارتان را می‌توانید انکار کنید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="59" name="59"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 59">55:59</span>]&nbsp; Which of your Lord's marvels can you deny?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="60" name="60"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۶۰">۵۵:۶۰</span>)&nbsp; آیا پاداش نیکی بجز نیکی است؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="60" name="60"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 60">55:60</span>]&nbsp; Is the reward of goodness anything but goodness?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="61" name="61"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۶۱">۵۵:۶۱</span>)&nbsp; کدامیک از شگفتی‏های پروردگارتان را می‌توانید انکار کنید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="61" name="61"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 61">55:61</span>]&nbsp; Which of your Lord's marvels can you deny?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="62" name="62"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۶۲">۵۵:۶۲</span>)&nbsp; زیر آن‏ها دو باغ است (یکی برای جنها و دیگری برای انسانها).</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="62" name="62"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 62">55:62</span>]&nbsp; Below them are two gardens <em>(one for the jinns and one for the humans)</em>.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="63" name="63"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۶۳">۵۵:۶۳</span>)&nbsp; کدامیک از شگفتی‏های پروردگارتان را می‌توانید انکار کنید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="63" name="63"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 63">55:63</span>]&nbsp; Which of your Lord's marvels can you deny?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="64" name="64"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۶۴">۵۵:۶۴</span>)&nbsp; پهلو به پهلوی یکدیگر.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="64" name="64"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 64">55:64</span>]&nbsp; Side by side.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="65" name="65"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۶۵">۵۵:۶۵</span>)&nbsp; کدامیک از شگفتی‏های پروردگارتان را می‌توانید انکار کنید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="65" name="65"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 65">55:65</span>]&nbsp; Which of your Lord's marvels can you deny?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="66" name="66"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۶۶">۵۵:۶۶</span>)&nbsp; در آنها، چاههایی است که از آن آب کشیده شود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="66" name="66"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 66">55:66</span>]&nbsp; In them, wells to be pumped.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="67" name="67"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۶۷">۵۵:۶۷</span>)&nbsp; کدامیک از شگفتی‏های پروردگارتان را می‌توانید انکار کنید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="67" name="67"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 67">55:67</span>]&nbsp; Which of your Lord's marvels can you deny?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="68" name="68"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۶۸">۵۵:۶۸</span>)&nbsp; در آنها میوه‏‌ها است، نخل‏های خرما، و انار.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="68" name="68"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 68">55:68</span>]&nbsp; In them are fruits, date palms, and pomegranate.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="69" name="69"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۶۹">۵۵:۶۹</span>)&nbsp; کدامیک از شگفتی‏های پروردگارتان را می‌توانید انکار کنید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="69" name="69"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 69">55:69</span>]&nbsp; Which of your Lord's marvels can you deny?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="70" name="70"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۷۰">۵۵:۷۰</span>)&nbsp; در آنها همسران زیبا هستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="70" name="70"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 70">55:70</span>]&nbsp; In them are beautiful mates.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="71" name="71"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۷۱">۵۵:۷۱</span>)&nbsp; کدامیک از شگفتی‏های پروردگارتان را می‌توانید انکار کنید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="71" name="71"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 71">55:71</span>]&nbsp; Which of your Lord's marvels can you deny?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="72" name="72"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۷۲">۵۵:۷۲</span>)&nbsp; مستور در خیمه‏‌ها.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="72" name="72"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 72">55:72</span>]&nbsp; Confined in the tents.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="73" name="73"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۷۳">۵۵:۷۳</span>)&nbsp; کدامیک از شگفتی‏های پروردگارتان را می‌توانید انکار کنید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="73" name="73"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 73">55:73</span>]&nbsp; Which of your Lord's marvels can you deny?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="74" name="74"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۷۴">۵۵:۷۴</span>)&nbsp; هیچ انسان و یا جنی تا بحال با آنها تماس نداشته است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="74" name="74"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 74">55:74</span>]&nbsp; No human ever touched them, nor a jinn.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="75" name="75"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۷۵">۵۵:۷۵</span>)&nbsp; کدامیک از شگفتی‏های پروردگارتان را می‌توانید انکار کنید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="75" name="75"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 75">55:75</span>]&nbsp; Which of your Lord's marvels can you deny?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="76" name="76"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۷۶">۵۵:۷۶</span>)&nbsp; آنها روی فرشهای سبز در محیطی زیبا استراحت می‌کنند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="76" name="76"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 76">55:76</span>]&nbsp; They relax on green carpets, in beautiful surroundings.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="77" name="77"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۷۷">۵۵:۷۷</span>)&nbsp; کدامیک از شگفتی‏های پروردگارتان را می‌توانید انکار کنید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="77" name="77"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 77">55:77</span>]&nbsp; Which of your Lord's marvels can you deny?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="78" name="78"></a>

                        <p>(<span title="بخشاینده ترین وجود (الرّحمن), آیه ۷۸">۵۵:۷۸</span>)&nbsp; بلند مرتبه‏‌ترین اسم پروردگارت است، صاحب شکوه و کرم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="78" name="78"></a>

                        <p>[<span title="Most Gracious (Al-Rahmaan), verse 78">55:78</span>]&nbsp; Most exalted is the name of your Lord, Possessor of Majesty and Honor.</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۴۱۷</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۶۱۱۸</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>

<!-- // DEFINITIONS

base.html contains all the functionality specific code. There is layout code in this document. All other templates inherit from this document.

-->