<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۹۰: شهر (البلد)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 90: The Town (Al-Balad)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="شهر (البلد), آیه ۱">۹۰:۱</span>)&nbsp; من قاطعانه قسم می‌خورم به این شهر.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="The Town (Al-Balad), verse 1">90:1</span>]&nbsp; I solemnly swear by this town.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="شهر (البلد), آیه ۲">۹۰:۲</span>)&nbsp; شهری که تو در آن زندگی می‌کنی.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="The Town (Al-Balad), verse 2">90:2</span>]&nbsp; The town where you live.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="شهر (البلد), آیه ۳">۹۰:۳</span>)&nbsp; زاینده و زاییده شده.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="The Town (Al-Balad), verse 3">90:3</span>]&nbsp; The begetting and the begotten.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="شهر (البلد), آیه ۴">۹۰:۴</span>)&nbsp; ما انسان را آفریدیم که سخت کار کند (تا خود را بخشوده سازد).</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۹۰:۴ جهت دليل آفرينش ما، به مقدمه و ضميمه ۷ توجه کنيد.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="The Town (Al-Balad), verse 4">90:4</span>]&nbsp; We created the human being to work hard <em>(to redeem himself)</em>.*</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*90:4 See the Introduction and Appendix 7 for the purpose behind our creation.

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="شهر (البلد), آیه ۵">۹۰:۵</span>)&nbsp; آیا او فکر می‌کند که هرگز هیچکس به حساب او رسیدگی نخواهد کرد؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="The Town (Al-Balad), verse 5">90:5</span>]&nbsp; Does he think that no one will ever call him to account?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="شهر (البلد), آیه ۶">۹۰:۶</span>)&nbsp; او بخود می‌بالد، "من پول زیادی خرج کردم!"</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="The Town (Al-Balad), verse 6">90:6</span>]&nbsp; He boasts, "I spent so much money!"</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="شهر (البلد), آیه ۷">۹۰:۷</span>)&nbsp; آیا او فکر می‌کند که هیچکس او را نمی‌بیند؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="The Town (Al-Balad), verse 7">90:7</span>]&nbsp; Does he think that no one sees him?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="شهر (البلد), آیه ۸">۹۰:۸</span>)&nbsp; آیا ما به او دو چشم ندادیم؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="The Town (Al-Balad), verse 8">90:8</span>]&nbsp; Did we not give him two eyes?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <p>(<span title="شهر (البلد), آیه ۹">۹۰:۹</span>)&nbsp; یک زبان و دو لب؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <p>[<span title="The Town (Al-Balad), verse 9">90:9</span>]&nbsp; A tongue and two lips?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <p>(<span title="شهر (البلد), آیه ۱۰">۹۰:۱۰</span>)&nbsp; آیا ما به او آن دو راه را نشان ندادیم؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <p>[<span title="The Town (Al-Balad), verse 10">90:10</span>]&nbsp; Did we not show him the two paths?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <p>(<span title="شهر (البلد), آیه ۱۱">۹۰:۱۱</span>)&nbsp; او باید راه مشکل را انتخاب کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <p>[<span title="The Town (Al-Balad), verse 11">90:11</span>]&nbsp; He should choose the difficult path.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="12" name="12"></a>

                        <p>(<span title="شهر (البلد), آیه ۱۲">۹۰:۱۲</span>)&nbsp; کدام راه مشکل است؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="12" name="12"></a>

                        <p>[<span title="The Town (Al-Balad), verse 12">90:12</span>]&nbsp; Which one is the difficult path?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="13" name="13"></a>

                        <p>(<span title="شهر (البلد), آیه ۱۳">۹۰:۱۳</span>)&nbsp; آزاد کردن برده‏‌ها.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="13" name="13"></a>

                        <p>[<span title="The Town (Al-Balad), verse 13">90:13</span>]&nbsp; The freeing of slaves.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="14" name="14"></a>

                        <p>(<span title="شهر (البلد), آیه ۱۴">۹۰:۱۴</span>)&nbsp; غذا دادن در هنگام سختی.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="14" name="14"></a>

                        <p>[<span title="The Town (Al-Balad), verse 14">90:14</span>]&nbsp; Feeding, during the time of hardship.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="15" name="15"></a>

                        <p>(<span title="شهر (البلد), آیه ۱۵">۹۰:۱۵</span>)&nbsp; به یتیمانی که خویشاوند هستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="15" name="15"></a>

                        <p>[<span title="The Town (Al-Balad), verse 15">90:15</span>]&nbsp; Orphans who are related.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="16" name="16"></a>

                        <p>(<span title="شهر (البلد), آیه ۱۶">۹۰:۱۶</span>)&nbsp; یا فقیری که محتاج است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="16" name="16"></a>

                        <p>[<span title="The Town (Al-Balad), verse 16">90:16</span>]&nbsp; Or the poor who is in need.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="17" name="17"></a>

                        <p>(<span title="شهر (البلد), آیه ۱۷">۹۰:۱۷</span>)&nbsp; و از میان کسانی بودن که ایمان دارند، و یکدیگر را به ثابت‏قدم بودن تشویق کردن، و یکدیگر را به مهربانی تشویق کردن.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="17" name="17"></a>

                        <p>[<span title="The Town (Al-Balad), verse 17">90:17</span>]&nbsp; And being one of those who believe, and exhorting one another to be steadfast, and exhorting one another to be kind.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="18" name="18"></a>

                        <p>(<span title="شهر (البلد), آیه ۱۸">۹۰:۱۸</span>)&nbsp; اینها سزاوار خوشبختی شده‏‌اند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="18" name="18"></a>

                        <p>[<span title="The Town (Al-Balad), verse 18">90:18</span>]&nbsp; These have deserved happiness.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="19" name="19"></a>

                        <p>(<span title="شهر (البلد), آیه ۱۹">۹۰:۱۹</span>)&nbsp; و اما کسانی که به آیات ما ایمان نیاوردند، گرفتار بدبختی شده‏‌اند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="19" name="19"></a>

                        <p>[<span title="The Town (Al-Balad), verse 19">90:19</span>]&nbsp; As for those who disbelieved in our revelations, they have incurred misery.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="20" name="20"></a>

                        <p>(<span title="شهر (البلد), آیه ۲۰">۹۰:۲۰</span>)&nbsp; آنها در آتش جهنم حبس خواهند بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="20" name="20"></a>

                        <p>[<span title="The Town (Al-Balad), verse 20">90:20</span>]&nbsp; They will be confined in the Hellfire.</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۶۸۶</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۸۰۶۱</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>

</html>

