<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۴۷: محمد (محمّد)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 47: Muhammad</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="محمد (محمّد), آیه ۱">۴۷:۱</span>)&nbsp; کسانی که ایمان ندارند و از راه <strong>خدا</strong> دور می‌کنند، او کارهایشان را باطل می‌کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="Muhammad, verse 1">47:1</span>]&nbsp; Those who disbelieve and repel from the path of <strong>GOD</strong>, He nullifies their works.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="محمد (محمّد), آیه ۲">۴۷:۲</span>)&nbsp; کسانی که ایمان دارند و پرهیزکارانه عمل می‌کنند، و به آنچه که بر محمد پایین فرستاده شد ایمان دارند-که حقیقت است از طرف پروردگارشان-او گناهانشان را پاک می‌کند، و به آنها نعمت
                            آرامش می‌دهد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="Muhammad, verse 2">47:2</span>]&nbsp; Those who believe and work righteousness, and believe in what was sent down to Muhammad&mdash;which is the truth from their Lord&mdash;He remits their sins, and blesses them with
                            contentment.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="محمد (محمّد), آیه ۳">۴۷:۳</span>)&nbsp; این به خاطر آن است که کسانی که ایمان ندارند از باطل پیروی می‌کنند، در حالی که کسانی که ایمان دارند از حقیقتی که از جانب پروردگارشان آمده است پیروی می‌کنند. <strong>خدا</strong>                            اینچنین آنها را برای مردم مثال می‌زند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="Muhammad, verse 3">47:3</span>]&nbsp; This is because those who disbelieve are following falsehood, while those who believe are following the truth from their Lord. <strong>GOD</strong> thus cites for the people,
                            their examples.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="محمد (محمّد), آیه ۴">۴۷:۴</span>)&nbsp; اگر (در جنگ) با کسانی که ایمان ندارند روبرو شوید، می‌توانید به گردنها بزنید. اگر آنها را بعنوان اسیر بگیرید، می‌توانید ایشان را آزاد کنید، یا غرامت بگیرید، تا جنگ تمام شود.
                            اگر <strong>خدا</strong> می‌خواست، می‌توانست به شما پیروزی عطا کند، بدون جنگیدن. اما او اینچنین شما را به واسطه یکدیگر امتحان می‌کند. کسانی که در راه <strong>خدا</strong> کشته شوند، او هرگز فداکاریشان را ضایع نخواهد کرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="Muhammad, verse 4">47:4</span>]&nbsp; If you encounter <em>(in war)</em> those who disbelieve, you may strike the necks. If you take them as captives you may set them free or ransom them, until the war ends. Had <strong>GOD</strong>                            willed, He could have granted you victory, without war. But He thus tests you by one another. As for those who get killed in the cause of <strong>GOD</strong>, He will never put their sacrifice to waste.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="محمد (محمّد), آیه ۵">۴۷:۵</span>)&nbsp; او آنها را هدایت خواهد کرد و به آنها نعمت آرامش می‌دهد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="Muhammad, verse 5">47:5</span>]&nbsp; He will guide them, and bless them with contentment.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="محمد (محمّد), آیه ۶">۴۷:۶</span>)&nbsp; او آنها را به پردیسی که برایشان توصیف کرده بود، داخل خواهد کرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="Muhammad, verse 6">47:6</span>]&nbsp; He will admit them into Paradise, that He described to them.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="محمد (محمّد), آیه ۷">۴۷:۷</span>)&nbsp; ای کسانی که ایمان دارید، اگر <strong>خدا</strong> را حمایت کنید، او شما را حمایت خواهد کرد و گام‏های شما را استوار می‌دارد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="Muhammad, verse 7">47:7</span>]&nbsp; O you who believe, if you support <strong>GOD</strong>, He will support you, and strengthen your foothold.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="محمد (محمّد), آیه ۸">۴۷:۸</span>)&nbsp; کسانی که ایمان نیاورند، گرفتار بدبختی می‌شوند؛ او باعث نابود شدن کامل اعمالشان می‌شود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="Muhammad, verse 8">47:8</span>]&nbsp; Those who disbelieve incur misery; He causes their works to be utterly in vain.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <p>(<span title="محمد (محمّد), آیه ۹">۴۷:۹</span>)&nbsp; آن به این دلیل است که آنها از آنچه <strong>خدا</strong> نازل کرد نفرت داشتند و در نتیجه، او اعمالشان را باطل میسازد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <p>[<span title="Muhammad, verse 9">47:9</span>]&nbsp; That is because they hated what <strong>GOD</strong> revealed and consequently, He nullifies their works.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <p>(<span title="محمد (محمّد), آیه ۱۰">۴۷:۱۰</span>)&nbsp; آیا در زمین گردش نکردند تا چگونگی عاقبت کسانی را که قبل از ایشان بودند، ببینند؟ <strong>خدا</strong> اعمالشان را نابود کرد؛ همه کافران گرفتار همان سرنوشت خواهند شد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <p>[<span title="Muhammad, verse 10">47:10</span>]&nbsp; Did they not roam the earth and see the consequences for those before them? <strong>GOD</strong> destroyed their works; all disbelievers will suffer the same fate.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <p>(<span title="محمد (محمّد), آیه ۱۱">۴۷:۱۱</span>)&nbsp; این به خاطر آن است که <strong>خدا</strong> پروردگار کسانی است که ایمان دارند، در حالی که کافران هیچ پروردگاری ندارند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <p>[<span title="Muhammad, verse 11">47:11</span>]&nbsp; This is because <strong>GOD</strong> is the Lord of those who believe, while the disbelievers have no lord.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="12" name="12"></a>

                        <p>(<span title="محمد (محمّد), آیه ۱۲">۴۷:۱۲</span>)&nbsp;
                            <strong>خدا</strong> کسانی را که ایمان آورند و زندگی پرهیزکارانه‏‌ای را در پیش گیرند، به باغهایی با نهرهای جاری داخل می‌کند. و اما کسانی که ایمان ندارند، مانند حیوانات زندگی می‌کنند و می‌خورند، سپس عاقبت آنها آتش جهنم است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="12" name="12"></a>

                        <p>[<span title="Muhammad, verse 12">47:12</span>]&nbsp;
                            <strong>GOD</strong> admits those who believe and lead a righteous life into gardens with flowing streams. As for those who disbelieve, they live and eat like the animals eat, then end up in the hellfire.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="13" name="13"></a>

                        <p>(<span title="محمد (محمّد), آیه ۱۳">۴۷:۱۳</span>)&nbsp; بسیاری از جمعیت‏ها قوی‏تر از جمعیتی بودند که شما را از شهرتان بیرون کردند؛ هنگامی که ما آنها را هلاک کردیم، هیچکس نتوانست به آنها کمک کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="13" name="13"></a>

                        <p>[<span title="Muhammad, verse 13">47:13</span>]&nbsp; Many a community was much stronger than the community that evicted you from your town; when we annihilated them, no one could help them.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="14" name="14"></a>

                        <p>(<span title="محمد (محمّد), آیه ۱۴">۴۷:۱۴</span>)&nbsp; آیا کسانی که از سوی پروردگارشان راهنمایی شدند، مانند کسانی هستند که کارهای پلیدشان در نظرشان زیبا جلوه می‌کند، و از عقاید خود پیروی می‌کنند؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="14" name="14"></a>

                        <p>[<span title="Muhammad, verse 14">47:14</span>]&nbsp; Are those enlightened by their Lord the same as those whose evil works are adorned in their eyes, and they follow their own opinions?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="15" name="15"></a>

                        <p>(<span title="محمد (محمّد), آیه ۱۵">۴۷:۱۵</span>)&nbsp; تمثیل پردیسی که به پرهیزکاران وعده داده شده است، این است: دارای رودهایی است که آب آن آلوده نیست، و رودهایی از شیر تازه، و رودهایی از شراب-خوش طعم برای کسانی که از آن می‌نوشند-و
                            رودهایی از عسل‏های تصفیه شده. آنها در آن همه نوع میوه دارند، و عفو از طرف پروردگارشان. (آیا آنها بهتر هستند) یا کسانی که برای همیشه در آتش جهنم هستند و آب دوزخی می‌نوشند که روده‏‌های آنها را پاره می‌کند؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="15" name="15"></a>

                        <p>[<span title="Muhammad, verse 15">47:15</span>]&nbsp; The allegory of Paradise that is promised for the righteous is this: it has rivers of unpolluted water, and rivers of fresh milk, and rivers of wine&mdash; delicious for the
                            drinkers&mdash;and rivers of strained honey. They have all kinds of fruits therein, and forgiveness from their Lord. <em>(Are they better)</em> or those who abide forever in the hellfire, and drink hellish water that tears
                            up their intestines?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="16" name="16"></a>

                        <p>(<span title="محمد (محمّد), آیه ۱۶">۴۷:۱۶</span>)&nbsp; بعضی از آنها به تو گوش می‌کنند، سپس به مجرد اینکه خارج می‌شوند، از کسانی که راهنمایی شدند سئوال می‌کنند، "او چه گفت؟" <strong>خدا</strong> اینچنین بر قلب‏شان مهر می‌زند و،
                            در نتیجه، آنها فقط از عقاید خویش پیروی می‌کنند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="16" name="16"></a>

                        <p>[<span title="Muhammad, verse 16">47:16</span>]&nbsp; Some of them listen to you, then as soon as they leave they ask those who were enlightened, "What did he just say?" <strong>GOD</strong> thus seals their hearts and, consequently,
                            they follow only their opinions.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="17" name="17"></a>

                        <p>(<span title="محمد (محمّد), آیه ۱۷">۴۷:۱۷</span>)&nbsp; و اما کسانی که هدایت شده‏‌اند، او هدایتشان را افزایش می‌دهد، و پرهیزکاری‏شان را به آنها عطا می‌کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="17" name="17"></a>

                        <p>[<span title="Muhammad, verse 17">47:17</span>]&nbsp; As for those who are guided, He augments their guidance, and grants them their righteousness.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="18" name="18"></a>

                        <div class="footnote-subtitle">آخر شدن دنیا*</div>

                        <p>(<span title="محمد (محمّد), آیه ۱۸">۴۷:۱۸</span>)&nbsp; آیا آنها منتظر هستند تا آن ساعت یکمرتبه بر ایشان آید؟ همه نشانه‏‌های مربوط به آن آمده است. هنگامی که آن ساعت بر آنها آید، چطور می‌توانند از پیغامشان بهره‏‌مند شوند؟</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۴۷:۱۸ قرآن بعنوان آخرين کتاب آسمانى، همه گونه نشانه هاى مورد نياز را جهت معلوم کردن زمان آخر شدن دنيا در سال ۲۲۸۰ ميلادى، در بر دارد. براى جزييات بيشتر به ضميمه ۲۵ توجه کنيد.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="18" name="18"></a>

                        <div class="footnote-subtitle">End of the World*</div>

                        <p>[<span title="Muhammad, verse 18">47:18</span>]&nbsp; Are they waiting until the Hour comes to them suddenly? All the signs thereof have already come.* Once the Hour comes to them, how will they benefit from their message?</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*47:18 The Quran, being the Final Testament, provides all the signs needed to pinpoint the end of the world; AD 2280. See Appendix 25 for the details.

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="19" name="19"></a>

                        <div class="footnote-subtitle">لا اله الا اللَّه: اولین دستور</div>

                        <p>(<span title="محمد (محمّد), آیه ۱۹">۴۷:۱۹</span>)&nbsp; باید بدانی که: "خدای دیگری در کنار <strong>خدا</strong> نیست،" و برای گناهان خود و گناهان همه مردان و زنان مؤمن طلب بخشش کن. <strong>خدا</strong> کاملاً از تصمیمات شما و سرنوشت
                            نهایی شما آگاه است.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۴۷:۱۹ جالب توجه است که اين "اولين دستور" دينى در سوره محمد ذکر شده است، و فقط به تنها خدا اشاره دارد. اسم محمد بوسيله کسانى که او را بت قرار دادند، اضافه شد، بر عليه خواسته او.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="19" name="19"></a>

                        <div class="footnote-subtitle">L&#227; El&#227;ha Ell&#227; All&#227;h: First Commandment</div>

                        <p>[<span title="Muhammad, verse 19">47:19</span>]&nbsp; You shall know that: "There is no other god beside <strong>GOD</strong>,"* and ask forgiveness of your sins and the sins of all believing men and women. <strong>GOD</strong>                            is fully aware of your decisions and your ultimate destiny.</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*47:19 Significantly, the "First Pillar" of religion is stated in the sura entitled Muhammad, and is utterly devoted to God alone. Muhammad's name was added by his idolizers, against his will.

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="20" name="20"></a>

                        <div class="footnote-subtitle">آشکار شدن منافقان</div>

                        <p>(<span title="محمد (محمّد), آیه ۲۰">۴۷:۲۰</span>)&nbsp; کسانی که ایمان آوردند گفتند، "چه وقت سوره جدیدی نازل می‌شود؟" اما هنگامی که سوره سرراستی نازل شد که در آن اشاره به جنگیدن شده بود، کسانی را که در قلبشان شک دارند، می‌دیدی
                            که طوری به تو نگاه می‌کنند که گویی مرگ بسراغشان آمده است. آنها اینچنین برملاء شدند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="20" name="20"></a>

                        <div class="footnote-subtitle">Exposing the Hypocrites</div>

                        <p>[<span title="Muhammad, verse 20">47:20</span>]&nbsp; Those who believed said: "When will a new sura be revealed?" But when a straightforward sura was revealed, wherein fighting was mentioned, you would see those who harbored doubts
                            in their hearts looking at you, as if death had already come to them. They were thus exposed.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="21" name="21"></a>

                        <div class="footnote-subtitle">اثبات ایمان در زمان محمد</div>

                        <p>(<span title="محمد (محمّد), آیه ۲۱">۴۷:۲۱</span>)&nbsp; اطاعت و گفتار پرهیزکارانه از ایشان انتظار می‌رفت. اگر آنها فقط اعتمادشان را به <strong>خدا</strong> نشان می‌دادند، هنگامی که بسیج اعلام شد، برای آنها بهتر بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="21" name="21"></a>

                        <div class="footnote-subtitle">Proof of Faith During Muhammad's Era</div>

                        <p>[<span title="Muhammad, verse 21">47:21</span>]&nbsp; Obedience and righteous utterances are expected of them. If only they showed confidence in <strong>GOD</strong>, when mobilization was called for, it would have been better
                            for them.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="22" name="22"></a>

                        <p>(<span title="محمد (محمّد), آیه ۲۲">۴۷:۲۲</span>)&nbsp; آیا این همچنین قصد شما است که به مجرد اینکه اینجا را ترک می‌کنید مرتکب پلیدی شوید و با خویشاوندانتان بدرفتاری کنید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="22" name="22"></a>

                        <p>[<span title="Muhammad, verse 22">47:22</span>]&nbsp; Is it also your intention that as soon as you leave you will commit evil and mistreat your relatives?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="23" name="23"></a>

                        <p>(<span title="محمد (محمّد), آیه ۲۳">۴۷:۲۳</span>)&nbsp; آنها هستند که سزاوار لعنت از طرف <strong>خدا</strong> شدند که به واسطه آن، او آنها را کر و کور می‌کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="23" name="23"></a>

                        <p>[<span title="Muhammad, verse 23">47:23</span>]&nbsp; It is those who incurred a curse from <strong>GOD</strong>, whereby He rendered them deaf and blind.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="24" name="24"></a>

                        <div class="footnote-subtitle">قرآن را مطالعه کنید</div>

                        <p>(<span title="محمد (محمّد), آیه ۲۴">۴۷:۲۴</span>)&nbsp; چرا آنها قرآن را با دقت مطالعه نمی‌کنند؟ آیا بر افکارشان قفل دارند؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="24" name="24"></a>

                        <div class="footnote-subtitle">Study the Quran</div>

                        <p>[<span title="Muhammad, verse 24">47:24</span>]&nbsp; Why do they not study the Quran carefully? Do they have locks on their minds?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="25" name="25"></a>

                        <p>(<span title="محمد (محمّد), آیه ۲۵">۴۷:۲۵</span>)&nbsp; مطمئناً، کسانی که پس از اینکه هدایت برای آنها آشکار شده است، به عقب بازگردند، شیطان آنها را گول زده است، و آنها را در راهشان باقی گذارده است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="25" name="25"></a>

                        <p>[<span title="Muhammad, verse 25">47:25</span>]&nbsp; Surely, those who slide back, after the guidance has been manifested to them, the devil has enticed them and led them on.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="26" name="26"></a>

                        <p>(<span title="محمد (محمّد), آیه ۲۶">۴۷:۲۶</span>)&nbsp; این به خاطر آن است که آنها به کسانی که از آنچه <strong>خدا</strong> پایین فرستاده متنفر بودند، گفتند، "ما در برخی از موارد از شما اطاعت می‌کنیم." <strong>خدا</strong> کاملاً
                            به دسیسه‏‌های پنهانی‏شان آگاه است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="26" name="26"></a>

                        <p>[<span title="Muhammad, verse 26">47:26</span>]&nbsp; This is because they said to those who hated what <strong>GOD</strong> has sent down, "We will obey you in certain matters." <strong>GOD</strong> fully knows their secret conspiracies.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="27" name="27"></a>

                        <p>(<span title="محمد (محمّد), آیه ۲۷">۴۷:۲۷</span>)&nbsp; چگونه خواهد بود برای آنها، هنگامی که فرشتگان ایشان را به مرگ در می‌آورند؟ آنها را به صورت و نشیمنگاه‏‌شان کتک خواهند زد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="27" name="27"></a>

                        <p>[<span title="Muhammad, verse 27">47:27</span>]&nbsp; How will it be for them when the angels put them to death? They will beat them on their faces and their rear ends.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="28" name="28"></a>

                        <p>(<span title="محمد (محمّد), آیه ۲۸">۴۷:۲۸</span>)&nbsp; این به خاطر آن است که آنها از آنچه <strong>خدا</strong> را خشمگین ساخت پیروی کردند و از چیزهایی که او را خشنود می‌سازد، نفرت داشتند. در نتیجه، او اعمالشان را باطل کرده است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="28" name="28"></a>

                        <p>[<span title="Muhammad, verse 28">47:28</span>]&nbsp; This is because they followed what angered <strong>GOD</strong> and hated the things that please Him. Consequently, He has nullified their works.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="29" name="29"></a>

                        <p>(<span title="محمد (محمّد), آیه ۲۹">۴۷:۲۹</span>)&nbsp; آیا کسانی که در قلب‏شان شک و تردید دارند، فکر می‌کنند که <strong>خدا</strong> افکار پلیدشان را آشکار نخواهد ساخت؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="29" name="29"></a>

                        <p>[<span title="Muhammad, verse 29">47:29</span>]&nbsp; Did those who harbor doubts in their hearts think that <strong>GOD</strong> will not bring out their evil thoughts?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="30" name="30"></a>

                        <p>(<span title="محمد (محمّد), آیه ۳۰">۴۷:۳۰</span>)&nbsp; اگر بخواهیم، می‌توانیم آنها را برای تو برملاء سازیم، تا فقط با نگاه کردن به آنها، ایشان را تشخیص دهی. اگرچه، می‌توانی آنها را از طرز صحبت کردنشان تشخیص دهی. <strong>خدا</strong>                            کاملاً بر همه اعمال شما آگاه است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="30" name="30"></a>

                        <p>[<span title="Muhammad, verse 30">47:30</span>]&nbsp; If we will, we can expose them for you, so that you can recognize them just by looking at them. However, you can recognize them by the way they talk. <strong>GOD</strong> is
                            fully aware of all your works.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="31" name="31"></a>

                        <p>(<span title="محمد (محمّد), آیه ۳۱">۴۷:۳۱</span>)&nbsp; ما مسلماً شما را مورد امتحان قرار خواهیم داد، تا کسانی را که در میان شما کوشش می‌کنند و ثابت‏قدمانه استقامت می‌کنند، مشخص کنیم. ما باید صفات واقعی شما را برملا سازیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="31" name="31"></a>

                        <p>[<span title="Muhammad, verse 31">47:31</span>]&nbsp; We will certainly put you to the test, in order to distinguish those among you who strive, and steadfastly persevere. We must expose your true qualities.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="32" name="32"></a>

                        <p>(<span title="محمد (محمّد), آیه ۳۲">۴۷:۳۲</span>)&nbsp; کسانی که ایمان نیاورند و از راه <strong>خدا</strong> دور کنند، و پس از اینکه هدایت برایشان آشکار شد، با رسول مخالفت کنند، کوچکترین ضرری به <strong>خدا</strong> نخواهند رساند.
                            در عوض، او کارهایشان را باطل می‌کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="32" name="32"></a>

                        <p>[<span title="Muhammad, verse 32">47:32</span>]&nbsp; Those who disbelieve and repel from the path of <strong>GOD</strong>, and oppose the messenger after the guidance has been manifested for them, will never hurt <strong>GOD</strong>                            in the least. Instead, He nullifies their works.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="33" name="33"></a>

                        <p>(<span title="محمد (محمّد), آیه ۳۳">۴۷:۳۳</span>)&nbsp; ای کسانی که ایمان دارید، شما باید از <strong>خدا</strong> اطاعت کنید، و از رسول اطاعت کنید. وگرنه، همه اعمال شما بیهوده خواهد بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="33" name="33"></a>

                        <p>[<span title="Muhammad, verse 33">47:33</span>]&nbsp; O you who believe, you shall obey <strong>GOD</strong>, and obey the messenger. Otherwise, all your works will be in vain.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="34" name="34"></a>

                        <div class="footnote-subtitle">مصیبت بزرگ</div>

                        <p>(<span title="محمد (محمّد), آیه ۳۴">۴۷:۳۴</span>)&nbsp; کسانی که ایمان نیاورند و از راه <strong>خدا</strong> دور کنند، سپس کافر بمیرند، <strong>خدا</strong> هرگز آنها را نخواهد بخشید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="34" name="34"></a>

                        <div class="footnote-subtitle">The Great Disaster</div>

                        <p>[<span title="Muhammad, verse 34">47:34</span>]&nbsp; Those who disbelieve and repel from the path of <strong>GOD</strong>, then die as disbelievers, <strong>GOD</strong> will never forgive them.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="35" name="35"></a>

                        <p>(<span title="محمد (محمّد), آیه ۳۵">۴۷:۳۵</span>)&nbsp; بنابراین، نباید تردید کنید و در جستجوی صلح تسلیم نشوید، زیرا پیروزی شما تضمین شده است، و <strong>خدا</strong> با شما است. او هرگز کوشش‏های شما را به هدر نخواهد داد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="35" name="35"></a>

                        <p>[<span title="Muhammad, verse 35">47:35</span>]&nbsp; Therefore, you shall not waver and surrender in pursuit of peace, for you are guaranteed victory, and <strong>GOD</strong> is with you. He will never waste your efforts.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="36" name="36"></a>

                        <p>(<span title="محمد (محمّد), آیه ۳۶">۴۷:۳۶</span>)&nbsp; زندگی این دنیا بجز بازی و تجملات نیست. اما اگر ایمان آورید و زندگی پرهیزکارانه‏‌ای را در پیش گیرید، او به شما پاداش خواهد داد، بدون اینکه پولی از شما بخواهد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="36" name="36"></a>

                        <p>[<span title="Muhammad, verse 36">47:36</span>]&nbsp; This worldly life is no more than play and vanity. But if you believe and lead a righteous life, He will reward you, without asking you for any money.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="37" name="37"></a>

                        <p>(<span title="محمد (محمّد), آیه ۳۷">۴۷:۳۷</span>)&nbsp; اگر او از شما پول می‌خواست، تا جایی که شما را به سختی اندازد، ممکن بود بخیل می‌شدید، و ممکن بود پلیدی درون‏تان برملاء می‌شد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="37" name="37"></a>

                        <p>[<span title="Muhammad, verse 37">47:37</span>]&nbsp; If He asked you for money, to the extent of creating a hardship for you, you might have become stingy, and your hidden evil might be exposed.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="38" name="38"></a>

                        <p>(<span title="محمد (محمّد), آیه ۳۸">۴۷:۳۸</span>)&nbsp; شما به انفاق در راه <strong>خدا</strong> دعوت شده‏‌اید، اما بعضی از شما بخیل می‌شوید. کسانی که بخیل شوند به نفس خود بخل می‌ورزند. <strong>خدا</strong> غنی است، در حالی که
                            شما فقیر هستید.</p>

                        <div class="footnote-subtitle">اخطار به اعراب</div>
                        <p>اگر رویگردان شوید، او مردمی دیگر را جایگزین شما خواهد کرد، و آنان مانند شما نخواهند بود.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۴۷:۳۸ قرآن به اعراب داده شده بود. به زبان آنها، براى ۱۴۰۰ سال، اما آنها بطور وضوح آن را رد کردند و کامل بودن آن را تکذيب کردن؛ آنها حديث و سنت را جعل کردند.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="38" name="38"></a>

                        <p>[<span title="Muhammad, verse 38">47:38</span>]&nbsp; You are invited to spend in the cause of <strong>GOD</strong>, but some of you turn stingy. The stingy are stingy towards their own souls. <strong>GOD</strong> is Rich, while
                            you are poor.</p>

                        <div class="footnote-subtitle">Warning to the Arabs*</div>
                        <p>* If you turn away, He will substitute other people in your place, and they will not be like you.</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*47:38 The Quran was given to the Arabs, in their language, for 1400 years, but they clearly rejected it and refused to believe that it is complete; they fabricated Hadith & Sunna.

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۳۳۸</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۵۰۹۸</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>