<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    <h1>Quran - The Final Testament</h1>
    <h1>قرآن - عهد نهایی</h1>

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->
      <div class="quran-main">
        <header class="page-description">


            <div dir="rtl" class="lang-fa rtl">
                <h2>سوره ۱: کلید (الفاتحه)</h2>

            </div>



            <div dir="ltr" class="lang-en ltr">
                <h2>Sura 1: The Key (Al-F&#227;tehah)</h2>

            </div>




        </header>

        <section class="section-wrap">
            <div class="container">




                <div dir="rtl" class="lang-fa rtl">
                    <a id="1" name="1"></a>

                    <p>(<span title="کلید (الفاتحه), آیه ۱">۱:۱</span>)&nbsp; به نام <strong>خدا</strong>، بخشنده‏‌ترین، مهربانترین.</p>


                    <div class="footnote">
                        <div class="footnote-title">زیر نویس</div>
                        <div class="footnote-content">
                            <p>* ۱:۱ اولين آيه در قرآن نشان دهنده پايه اى است که معجزه رياضى مافق انسانى براساس عدد ۱۹ بر روى آن بنا شده است. اين عبارت مهم از ۱۹ حرف عربى تشکيل شده است و تعداد تکرار هر کلمه آن در تمام قرآن مضريى از ۱۹ است (براى جزييات
                                به ضميمه هاى ۱ و ۲۹ توجه کنيد).
                                <br /> * ۷- ۱:۱ سوره ۱ هديه اى است از طرف خدا به ما، تا بواسطه دعاى ارتباتى (نماز) روزانه با او ارتباط برقرار کنيم. اين حقيقت بواسطه کد رياضى هيبت انگيزى حمايت شده است که بسادگى قابل درک، ولى غيرقابل تقليد است، با انشايى
                                رياضى که بزرگترين رياضى دانان زمين را به مبارزه مى طلبد و موجب هيبت آنها مى شود و از تواناى انسان بسيار دور است:
                                <br /><br />
                                <table dir="rtl" width="60%">
                                    <tr>
                                        <th align="right">شماره آيه</th>
                                        <th align="right">تعداد حروف</th>
                                        <th align="right">مقدار عددى</th>
                                    </tr>
                                    <tr>
                                        <td align="right" colspan="3"></td>
                                    </tr>
                                    <tr>
                                        <td align="right">۱</td>
                                        <td align="right">۱۹</td>
                                        <td align="right">۷۸۶</td>
                                    </tr>
                                    <tr>
                                        <td align="right">۲</td>
                                        <td align="right">۱۷</td>
                                        <td align="right">۵۸۱</td>
                                    </tr>
                                    <tr>
                                        <td align="right">۳</td>
                                        <td align="right">۱۲</td>
                                        <td align="right">۶۱۸</td>
                                    </tr>
                                    <tr>
                                        <td align="right">۴</td>
                                        <td align="right">۱۱</td>
                                        <td align="right">۲۴۱</td>
                                    </tr>
                                    <tr>
                                        <td align="right">۵</td>
                                        <td align="right">۱۹</td>
                                        <td align="right">۸۳۶</td>
                                    </tr>
                                    <tr>
                                        <td align="right">۶</td>
                                        <td align="right">۱۸</td>
                                        <td align="right">۱۰۷۲</td>
                                    </tr>
                                    <tr>
                                        <td align="right">۷</td>
                                        <td align="right">۴۳</td>
                                        <td align="right">۶۰۰۹</td>
                                    </tr>
                                    <tr>
                                        <td align="right" colspan="3"></td>
                                    </tr>
                                    <tr>
                                        <td align="right"></td>
                                        <td align="right">۱۳۹</td>
                                        <td align="right">۱۰۱۴۳</td>
                                    </tr>
                                </table>
                                <br /> (۱) با قرار دادن شماره سوره و بدنبال آن شماره آيات آن درکنار يکديگر، عدد ۷ ۶ ۵ ۴ ۳ ۲ ۱ حاصل مى گيردد. اين عدد بر ۱۹ قابل قسمت است.
                                <br /> (۲) اگر جاى شماره آيات را با تعداد حروف در هر آيه عوض کنيم، عدد ۴۳ ۱۸ ۱۹ ۱۱ ۱۲ ۱۷ ۱۹ ۱ حاصل مى گردد. اين عدد هم در ۱۹ قابل قسمت است.
                                <br /> (۳) اگر مجموع مقدار عددى (حرف ابجد) هر آيه را به آن اضافه کنيم، مى شود: ۶۰۰۹ ۴۳ ۱۰۷۲ ۱۸ ۸۳۶ ۱۹ ۲۴۱ ۱۱ ۶۱۸ ۱۲ ۵۸۱ ۱۷ ۷۸۶ ۱۹ ۱ . اين عدد بر ۱۹ قابل قسمت است.
                                <br /> (۴) عددى که در بالا نشان داده شده است شامل همه اجزاء سوره ۱ است و شامل ۳۸ رقم (۲×۱۹) است.
                                <br /> (۵) قابل توجه است که اين عدد ۳۸ رقمى، هنگاميکه جزييات آن را برعکس بنويسيم، از راست به چپ، مانطور که اعراب مى نويسند، هنوز بر ۱۹ قابل قسمت است.
                                <br /> بنابراين، ۱ ۱۹ ۷۸۶ ۱۷ ۵۸۱ ۱۲ ۶۱۸ ۱۱ ۲۴۱ ۱۹ ۸۳۶ ۱۸ ۱۰۷۲ ۴۳ ۶۰۰۹ مضريى از ۱۹ است.
                                <br /> (۶) مثالهاى رياضى که در بالا ذکر شد در پديده هاى رياضى خارق العاده بيشمارى شرکت دارند تا تمام جزييات ۵ دعاى ارتباطى (نماز) روزانه را تأييد کنند (ضميمه ۱۵).
                                <br /> (۷) پديده هاى هيبت انگيز بيشبرى در ضميمه ۱ داده شده است. بنابراين، به خواننده از ابتدا اثباتى قابل لمس داده شده که نشان مى دهد اين پيغام خدا است به دنيا.
                            </p>
                        </div>
                    </div>

                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="1" name="1"></a>

                    <p>[<span title="The Key (Al-F&#227;tehah), verse 1">1:1</span>]&nbsp; In the name of <strong>GOD</strong>, Most Gracious, Most Merciful.*</p>


                    <div class="footnote">
                        <div class="footnote-title">Footnote</div>
                        <div class="footnote-content">
                            <p>*1:1 The first verse in the Quran represents the foundation upon which a superhuman 19-based mathematical miracle is built. This important statement consists of 19 Arabic letters, and every word in it occurs in the whole
                                Quran in multiples of 19 (see Appendices 1 & 29 for the details).
                                <br /> *1:1-7 Sura 1 is God's gift to us to establish contact with Him through the daily Contact Prayers. This fact is supported by an earth-shattering, simple-to-understand-but-impossible-to-imitate mathematical composition
                                that challenges the greatest mathematicians on earth, and stumps them; it is far beyond human capabilities:
                                <br /> (1) The sura number, followed by the numbers of verses, next to each other, give 1 1 2 3 4 5 6 7. This number is a multiple of 19.
                                <br /> (2) If we substitute the number of letters per verse in place of the verse numbers, we get 1 19 17 12 11 19 18 43. This number is also a multiple of 19.
                                <br /> (3) If we insert the total gematrical value of every verse, we get 1 19 786 17 581 12 618 11 241 19 836 18 1072 43 6009. This number is a multiple of 19.
                                <br />
                                <pre>
Verse No.	No. of Letters	Gematrical Value
=========	===========	==============
1		19		786
2		17		581
3		12		618
4		11		241
5		19		836
6		18		1072
7		43		6009


Totals		139		10143
</pre> (4) The number shown above includes all parameters of Sura 1 and consists of 38 digits (19x2).
                                <br /> (5) It is noteworthy that this 38-digit number is still divisible by 19 when we write its components backward, from right to left, as practiced by the Arabs. Thus, 6009 43 1072 18 836 19 241 11 618 12 581 17
                                786 19 1 is also a multiple of 19.
                                <br /> (6) The mathematical representations mentioned above participate in numerous extraordinary mathematical phenomena to confirm all details of the five daily Contact Prayers (Appendix 15).
                                <br /> (7) Many more astounding phenomena are given in Appendix One. Thus, the reader is handed, at the outset, tangible proof that this is God's message to the world. </p>
                        </div>
                    </div>

                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="2" name="2"></a>

                    <p>(<span title="کلید (الفاتحه), آیه ۲">۱:۲</span>)&nbsp; ستایش <strong>خدا</strong> را، پروردگار جهان.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="2" name="2"></a>

                    <p>[<span title="The Key (Al-F&#227;tehah), verse 2">1:2</span>]&nbsp; Praise be to <strong>GOD</strong>, Lord of the universe.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="3" name="3"></a>

                    <p>(<span title="کلید (الفاتحه), آیه ۳">۱:۳</span>)&nbsp; بخشنده‏‌ترین، مهربانترین.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="3" name="3"></a>

                    <p>[<span title="The Key (Al-F&#227;tehah), verse 3">1:3</span>]&nbsp; Most Gracious, Most Merciful.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="4" name="4"></a>

                    <p>(<span title="کلید (الفاتحه), آیه ۴">۱:۴</span>)&nbsp; مالک روز قضاوت.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="4" name="4"></a>

                    <p>[<span title="The Key (Al-F&#227;tehah), verse 4">1:4</span>]&nbsp; Master of the Day of Judgment.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="5" name="5"></a>

                    <p>(<span title="کلید (الفاتحه), آیه ۵">۱:۵</span>)&nbsp; ما تنها تو را پرستش می‌کنیم؛ ما از تنها تو کمک می‌جوییم.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="5" name="5"></a>

                    <p>[<span title="The Key (Al-F&#227;tehah), verse 5">1:5</span>]&nbsp; You alone we worship; You alone we ask for help.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="6" name="6"></a>

                    <p>(<span title="کلید (الفاتحه), آیه ۶">۱:۶</span>)&nbsp; ما را در راه راست هدایت فرما؛</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="6" name="6"></a>

                    <p>[<span title="The Key (Al-F&#227;tehah), verse 6">1:6</span>]&nbsp; Guide us in the right path;</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="7" name="7"></a>

                    <p>(<span title="کلید (الفاتحه), آیه ۷">۱:۷</span>)&nbsp; راه کسانی که به آنها نعمت دادی؛ نه کسانی که سزاوار غضب شده‏‌اند، و نه گمراهان.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="7" name="7"></a>

                    <p>[<span title="The Key (Al-F&#227;tehah), verse 7">1:7</span>]&nbsp; the path of those whom You blessed; not of those who have deserved wrath, nor of the strayers.</p>


                </div>



                <div>&nbsp;</div>



            </div>
        </section>
        <div class="sura-stats">
            <div class="cumulative-freq">
                مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                <div>= ۲</div>
            </div>
            <div class="cumulative-sum">
                مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                <div>= ۳</div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

      <!-- Add more paragraphs as needed -->

    </div>
  </div>

  <script src="script.js"></script>
</body>
</html>
