<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۹۸: حُجّت (البیّنه)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 98: Proof (Al-Bayyinah)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="حُجّت (البیّنه), آیه ۱">۹۸:۱</span>)&nbsp; کسانی که در میان اهل کتاب آسمانی ایمان نیاوردند، همینطور مشرکان، در راه خود پافشاری می‌کنند، با وجود اثباتی که به ایشان داده شده است.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۲- ۹۸:۱ اثبات، کد رياضى قرآن است (ضميمه ۱) و رسول، رشاد خليفه است. شماره سوره (۹۸) باضافه شماره آيه (۲) باضافه مقدار عددى "رشاد خليفه" (۱۲۳۰)، مجموعا ۱۳۳۰ يا (۷۰x۱۹) ميشود که همان مجموع در آيه ۸۱:۱۹ است (ضميمه ۲).</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="Proof (Al-Bayyinah), verse 1">98:1</span>]&nbsp; Those who disbelieved among the people of the scripture, as well as the idol worshipers, insist on their ways, despite the proof given to them.*</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*98:1-2 The proof is the Quran's mathematical code (Appendix 1) and the messenger is Rashad Khalifa. The No. of sura (98), plus the verse No. (2), plus the numerical value of "Rashad Khalifa" (1230) add up to 1330 (19x70),
                                    the same total as in 81:19 (App. 2).</p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="حُجّت (البیّنه), آیه ۲">۹۸:۲</span>)&nbsp; رسولی از طرف <strong>خدا</strong> دستورات مقدس را بر ایشان می‌خواند.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۲- ۹۸:۱ اثبات، کد رياضى قرآن است (ضميمه ۱) و رسول، رشاد خليفه است. شماره سوره (۹۸) باضافه شماره آيه (۲) باضافه مقدار عددى "رشاد خليفه" (۱۲۳۰)، مجموعا ۱۳۳۰ يا (۷۰x۱۹) ميشود که همان مجموع در آيه ۸۱:۱۹ است (ضميمه ۲).</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="Proof (Al-Bayyinah), verse 2">98:2</span>]&nbsp; A messenger from <strong>GOD</strong> is reciting to them sacred instructions.*</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*98:1-2 The proof is the Quran's mathematical code (Appendix 1) and the messenger is Rashad Khalifa. The No. of sura (98), plus the verse No. (2), plus the numerical value of "Rashad Khalifa" (1230) add up to 1330 (19x70),
                                    the same total as in 81:19 (App. 2).</p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="حُجّت (البیّنه), آیه ۳">۹۸:۳</span>)&nbsp; در آنها تعلیمات باارزشی است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="Proof (Al-Bayyinah), verse 3">98:3</span>]&nbsp; In them there are valuable teachings.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="حُجّت (البیّنه), آیه ۴">۹۸:۴</span>)&nbsp; در حقیقت، کسانی که کتاب آسمانی دریافت کردند، اختلاف نکردند تا اینکه اثبات به ایشان داده شد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="Proof (Al-Bayyinah), verse 4">98:4</span>]&nbsp; In fact, those who received the scripture did not dispute until the proof was given to them.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="حُجّت (البیّنه), آیه ۵">۹۸:۵</span>)&nbsp; تنها چیزی که از آنها خواسته شده بود، این بود که <strong>خدا</strong> را پرستش کنند، دین را مطلقاً به تنها او اختصاص دهند، دعای ارتباطی (نماز) بجا آورند، و انفاق واجب (زکات)
                            بدهند. چنین است دین کامل.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="Proof (Al-Bayyinah), verse 5">98:5</span>]&nbsp; All that was asked of them was to worship <strong>GOD</strong>, devoting the religion absolutely to Him alone, observe the contact prayers <em>(Salat)</em>, and give
                            the obligatory charity <em>(Zakat)</em>. Such is the perfect religion.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="حُجّت (البیّنه), آیه ۶">۹۸:۶</span>)&nbsp; کسانی که در میان اهل کتاب آسمانی ایمان نیاوردند، و مشرکان، برای همیشه سزاوار آتش جهنم شده‏‌اند. آنها بدترین موجودات هستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="Proof (Al-Bayyinah), verse 6">98:6</span>]&nbsp; Those who disbelieved among the people of the scripture, and the idol worshipers have incurred the fire of Gehenna forever. They are the worst creatures.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="حُجّت (البیّنه), آیه ۷">۹۸:۷</span>)&nbsp; کسانی که ایمان آوردند و زندگی پرهیزکارانه‏‌ای را در پیش گرفتند، بهترین موجودات هستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="Proof (Al-Bayyinah), verse 7">98:7</span>]&nbsp; Those who believed and led a righteous life are the best creatures.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="حُجّت (البیّنه), آیه ۸">۹۸:۸</span>)&nbsp; پاداش آنها نزد پروردگارشان باغهای عدن است با نهرهای جاری که در آن جاودان باشند. <strong>خدا</strong> از آنها خوشنود است، و آنها از او خوشنود هستند. چنین است پاداش کسانی که
                            به هیبت پروردگارشان حرمت می‌نهند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="Proof (Al-Bayyinah), verse 8">98:8</span>]&nbsp; Their reward at their Lord is the gardens of Eden with flowing streams, wherein they abide forever. <strong>GOD</strong> is pleased with them, and they are pleased
                            with Him. Such is the reward for those who reverence their Lord.</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۶۹۳</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۸۱۱۱</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>

</html>
