<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۶۸: قلم (القلم)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 68: The Pen (Al-Qalam)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="قلم (القلم), آیه ۱">۶۸:۱</span>)&nbsp; نون، قلم، و آنچه که آنها (مردم) می‌نویسند.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۶۸:۱ نون در ميان پارافهاى معجزه آساى قرآن تک است. به ضميمه ۱ توجه کنيد.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 1">68:1</span>]&nbsp; NuN,* the pen, and what they <em>(the people)</em> write.</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*68:1 "NuN" is unique among the Quran's miraculous initials. See Appendix 1.

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="قلم (القلم), آیه ۲">۶۸:۲</span>)&nbsp; تو نعمت بزرگی از طرف پروردگارت دریافت کرده‏‌ای؛ تو دیوانه نیستی.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 2">68:2</span>]&nbsp; You have attained a great blessing from your Lord; you are not crazy.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="قلم (القلم), آیه ۳">۶۸:۳</span>)&nbsp; تو پاداش بسزایی دریافت کرده‏‌ای.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 3">68:3</span>]&nbsp; You have attained a recompense that is well deserved.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="قلم (القلم), آیه ۴">۶۸:۴</span>)&nbsp; به تو شخصیت اخلاقی نیکویی عطا شده است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 4">68:4</span>]&nbsp; You are blessed with a great moral character.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="قلم (القلم), آیه ۵">۶۸:۵</span>)&nbsp; تو خواهی دید، و آنها خواهند دید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 5">68:5</span>]&nbsp; You will see, and they will see.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="قلم (القلم), آیه ۶">۶۸:۶</span>)&nbsp; که کدامیک از شما محکوم شده‏‌اید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 6">68:6</span>]&nbsp; Which of you are condemned.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="قلم (القلم), آیه ۷">۶۸:۷</span>)&nbsp; پروردگارت کاملاً به کسانی که از راهش گمراه شدند آگاه است، و او کاملاً بر کسانی که هدایت شدند، آگاه است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 7">68:7</span>]&nbsp; Your Lord is fully aware of those who strayed off His path, and He is fully aware of those who are guided.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="قلم (القلم), آیه ۸">۶۸:۸</span>)&nbsp; از تکذیب کنندگان اطاعت نکن.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 8">68:8</span>]&nbsp; Do not obey the rejectors.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <p>(<span title="قلم (القلم), آیه ۹">۶۸:۹</span>)&nbsp; آنها آرزو دارند که تو سازش کنی، تا آنها هم بتوانند سازش کنند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 9">68:9</span>]&nbsp; They wish that you compromise, so they too can compromise.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <p>(<span title="قلم (القلم), آیه ۱۰">۶۸:۱۰</span>)&nbsp; از هر سوگند یاد کننده پست پیروی نکن.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 10">68:10</span>]&nbsp; Do not obey every lowly swearer.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <p>(<span title="قلم (القلم), آیه ۱۱">۶۸:۱۱</span>)&nbsp; تهمت‏زننده، غیبت کننده.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 11">68:11</span>]&nbsp; A slanderer, a backbiter.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="12" name="12"></a>

                        <p>(<span title="قلم (القلم), آیه ۱۲">۶۸:۱۲</span>)&nbsp; منع کننده خیرات، متجاوز، گناهکار.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="12" name="12"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 12">68:12</span>]&nbsp; Forbidder of charity, a transgressor, a sinner.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="13" name="13"></a>

                        <p>(<span title="قلم (القلم), آیه ۱۳">۶۸:۱۳</span>)&nbsp; ناسپاس، و حریص.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="13" name="13"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 13">68:13</span>]&nbsp; Unappreciative, and greedy.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="14" name="14"></a>

                        <p>(<span title="قلم (القلم), آیه ۱۴">۶۸:۱۴</span>)&nbsp; با وجودی که به اندازه کافی پول و فرزند داشت.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="14" name="14"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 14">68:14</span>]&nbsp; Even though he possessed enough money and children.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="15" name="15"></a>

                        <p>(<span title="قلم (القلم), آیه ۱۵">۶۸:۱۵</span>)&nbsp; هنگامی که آیات ما بر او خوانده می‌شود، می‌گوید، "افسانه‏‌های قدیمی!"</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="15" name="15"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 15">68:15</span>]&nbsp; When our revelations are recited to him, he says, "Tales from the past!"</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="16" name="16"></a>

                        <p>(<span title="قلم (القلم), آیه ۱۶">۶۸:۱۶</span>)&nbsp; ما بر چهره او علامت خواهیم گذاشت.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="16" name="16"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 16">68:16</span>]&nbsp; We will mark his face.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="17" name="17"></a>

                        <p>(<span title="قلم (القلم), آیه ۱۷">۶۸:۱۷</span>)&nbsp; ما آنها را امتحان کرده‏‌ایم همانطور که ما صاحبان آن باغ را امتحان کردیم که قسم یاد کردند صبحگاه آن را درو خواهند کرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="17" name="17"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 17">68:17</span>]&nbsp; We have tested them like we tested the owners of the garden who swore that they will harvest it in the morning.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="18" name="18"></a>

                        <p>(<span title="قلم (القلم), آیه ۱۸">۶۸:۱۸</span>)&nbsp; آنها کاملاً اطمینان داشتند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="18" name="18"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 18">68:18</span>]&nbsp; They were so absolutely sure.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="19" name="19"></a>

                        <p>(<span title="قلم (القلم), آیه ۱۹">۶۸:۱۹</span>)&nbsp; (طوفانی) گذران از طرف پروردگارت بر آن گذشت، در حالی که آنها خواب بودند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="19" name="19"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 19">68:19</span>]&nbsp; A passing <em>(storm)</em> from your Lord passed by it while they were asleep.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="20" name="20"></a>

                        <p>(<span title="قلم (القلم), آیه ۲۰">۶۸:۲۰</span>)&nbsp; هنگام صبح، لم‏یزرع بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="20" name="20"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 20">68:20</span>]&nbsp; By morning, it was barren.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="21" name="21"></a>

                        <p>(<span title="قلم (القلم), آیه ۲۱">۶۸:۲۱</span>)&nbsp; صبحگاه یکدیگر را صدا کردند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="21" name="21"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 21">68:21</span>]&nbsp; They called on each other in the morning.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="22" name="22"></a>

                        <p>(<span title="قلم (القلم), آیه ۲۲">۶۸:۲۲</span>)&nbsp; "بیایید تا محصول را برداشت کنیم."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="22" name="22"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 22">68:22</span>]&nbsp; "Let us harvest the crop."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="23" name="23"></a>

                        <p>(<span title="قلم (القلم), آیه ۲۳">۶۸:۲۳</span>)&nbsp; در راه، محرمانه با یکدیگر می‌گفتند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="23" name="23"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 23">68:23</span>]&nbsp; On their way, they confided to each other.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="24" name="24"></a>

                        <p>(<span title="قلم (القلم), آیه ۲۴">۶۸:۲۴</span>)&nbsp; که از این پس، هیچیک از آنها فقیر نخواهد بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="24" name="24"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 24">68:24</span>]&nbsp; That from then on, none of them would be poor.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="25" name="25"></a>

                        <p>(<span title="قلم (القلم), آیه ۲۵">۶۸:۲۵</span>)&nbsp; آنها کاملاً از برداشت محصولشان اطمینان داشتند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="25" name="25"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 25">68:25</span>]&nbsp; They were so absolutely sure of their harvest.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="26" name="26"></a>

                        <p>(<span title="قلم (القلم), آیه ۲۶">۶۸:۲۶</span>)&nbsp; اما هنگامی که آن را دیدند، گفتند، "ما خیلی در اشتباه بودیم!</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="26" name="26"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 26">68:26</span>]&nbsp; But when they saw it, they said, "We were so wrong!</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="27" name="27"></a>

                        <p>(<span title="قلم (القلم), آیه ۲۷">۶۸:۲۷</span>)&nbsp; "اکنون ما هیچ چیز نداریم!"</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="27" name="27"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 27">68:27</span>]&nbsp; "Now, we have nothing!"</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="28" name="28"></a>

                        <div class="footnote-subtitle">میبایست میگفتند "انشاءاللَّه"</div>

                        <p>(<span title="قلم (القلم), آیه ۲۸">۶۸:۲۸</span>)&nbsp; پرهیزکاران در میانشان گفتند، "اگر فقط (خدا را) ستایش کرده بودید!"</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="28" name="28"></a>

                        <div class="footnote-subtitle">They Should Have Said: "God Willing."</div>

                        <p>[<span title="The Pen (Al-Qalam), verse 28">68:28</span>]&nbsp; The righteous among them said, "If only you had glorified <em>(God)</em>!"</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="29" name="29"></a>

                        <p>(<span title="قلم (القلم), آیه ۲۹">۶۸:۲۹</span>)&nbsp; آنها گفتند، "ستایش پروردگارمان را. ما تجاوز کرده‏‌ایم."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="29" name="29"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 29">68:29</span>]&nbsp; They said, "Glory be to our Lord. We have transgressed."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="30" name="30"></a>

                        <p>(<span title="قلم (القلم), آیه ۳۰">۶۸:۳۰</span>)&nbsp; آنها شروع به ملامت یکدیگر کردند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="30" name="30"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 30">68:30</span>]&nbsp; They started to blame each other.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="31" name="31"></a>

                        <p>(<span title="قلم (القلم), آیه ۳۱">۶۸:۳۱</span>)&nbsp; گفتند، "وای بر ما. ما گناه کردیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="31" name="31"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 31">68:31</span>]&nbsp; They said, "Woe to us. We sinned.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="32" name="32"></a>

                        <p>(<span title="قلم (القلم), آیه ۳۲">۶۸:۳۲</span>)&nbsp; "باشد که پروردگارمان بهتر از این به ما عطا کند. ما به پروردگارمان توبه می‌کنیم."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="32" name="32"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 32">68:32</span>]&nbsp; "May our Lord grant us a better one. We repent to our Lord."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="33" name="33"></a>

                        <p>(<span title="قلم (القلم), آیه ۳۳">۶۸:۳۳</span>)&nbsp; چنین بود آن مجازات. اما عذاب آخرت بسیار بدتر است، اگر فقط می‌دانستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="33" name="33"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 33">68:33</span>]&nbsp; Such was the requital. But the retribution of the Hereafter is far worse, if they only knew.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="34" name="34"></a>

                        <p>(<span title="قلم (القلم), آیه ۳۴">۶۸:۳۴</span>)&nbsp; پرهیزکاران نزد پروردگارشان سزاوار باغهای فرح‏بخش شده‏‌اند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="34" name="34"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 34">68:34</span>]&nbsp; The righteous have deserved, at their Lord, gardens of bliss.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="35" name="35"></a>

                        <p>(<span title="قلم (القلم), آیه ۳۵">۶۸:۳۵</span>)&nbsp; آیا ما با تسلیم شدگان مانند مجرمان رفتار کنیم؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="35" name="35"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 35">68:35</span>]&nbsp; Shall we treat the submitters like the criminals?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="36" name="36"></a>

                        <p>(<span title="قلم (القلم), آیه ۳۶">۶۸:۳۶</span>)&nbsp; این چگونه منطقی است که شما دارید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="36" name="36"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 36">68:36</span>]&nbsp; What is wrong with your logic?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="37" name="37"></a>

                        <p>(<span title="قلم (القلم), آیه ۳۷">۶۸:۳۷</span>)&nbsp; آیا کتاب دیگری دارید تا از آن پیروی کنید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="37" name="37"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 37">68:37</span>]&nbsp; Do you have another book to uphold?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="38" name="38"></a>

                        <p>(<span title="قلم (القلم), آیه ۳۸">۶۸:۳۸</span>)&nbsp; آیا در آن هر چیزی که می‌خواهید، پیدا می‌کنید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="38" name="38"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 38">68:38</span>]&nbsp; In it, do you find anything you want?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="39" name="39"></a>

                        <p>(<span title="قلم (القلم), آیه ۳۹">۶۸:۳۹</span>)&nbsp; یا عهد محکمی از ما گرفته‏‌اید که هر چه بخواهید در روز قیامت به شما عطا شود؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="39" name="39"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 39">68:39</span>]&nbsp; Or, have you received solemn assurances from us that grant you whatever you wish on the Day of Resurrection?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="40" name="40"></a>

                        <p>(<span title="قلم (القلم), آیه ۴۰">۶۸:۴۰</span>)&nbsp; از آنها سئوال کن، "چه کسی این را برای شما تضمین می‌کند؟"</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="40" name="40"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 40">68:40</span>]&nbsp; Ask them, "Who guarantees this for you?"</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="41" name="41"></a>

                        <p>(<span title="قلم (القلم), آیه ۴۱">۶۸:۴۱</span>)&nbsp; آیا آنها معبودانی دارند؟ بگذار تا معبودانشان کمکشان کنند، اگر راست می‌گویند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="41" name="41"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 41">68:41</span>]&nbsp; Do they have idols? Let their idols help them, if they are truthful.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="42" name="42"></a>

                        <p>(<span title="قلم (القلم), آیه ۴۲">۶۸:۴۲</span>)&nbsp; آن روز خواهد آمد که آنها برملاء خواهند شد، و از آنها خواسته شود که سجده کنند، اما نتوانند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="42" name="42"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 42">68:42</span>]&nbsp; The day will come when they will be exposed, and they will be required to fall prostrate, but they will be unable to.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="43" name="43"></a>

                        <p>(<span title="قلم (القلم), آیه ۴۳">۶۸:۴۳</span>)&nbsp; با چشمان به زیر افکنده‏‌شان، حقارت آنها را در بر خواهد گرفت. آنها به سجده کردن دعوت شدند هنگامی که کامل و قادر بودند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="43" name="43"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 43">68:43</span>]&nbsp; With their eyes subdued, humiliation will cover them. They were invited to fall prostrate when they were whole and able.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="44" name="44"></a>

                        <p>(<span title="قلم (القلم), آیه ۴۴">۶۸:۴۴</span>)&nbsp; بنابراین، به من واگذار کن کسانی را که این "حدیث" را رد می‌کنند؛ ما آنها را به جایی سوق خواهیم داد که هرگز فکرش را نمی‌کنند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="44" name="44"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 44">68:44</span>]&nbsp; Therefore, let Me deal with those who reject this Hadith; we will lead them on whence they never perceive.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="45" name="45"></a>

                        <p>(<span title="قلم (القلم), آیه ۴۵">۶۸:۴۵</span>)&nbsp; من به آنها به اندازه کافی آزادی عمل خواهم داد؛ نقشه من مهیب است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="45" name="45"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 45">68:45</span>]&nbsp; I will give them enough rope; My scheming is formidable.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="46" name="46"></a>

                        <p>(<span title="قلم (القلم), آیه ۴۶">۶۸:۴۶</span>)&nbsp; آیا از آنها پولی می‌خواهی که پرداخت آن برایشان سخت است؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="46" name="46"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 46">68:46</span>]&nbsp; Are you asking them for money, so they are burdened by the fine?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="47" name="47"></a>

                        <p>(<span title="قلم (القلم), آیه ۴۷">۶۸:۴۷</span>)&nbsp; آیا آنها از آینده خبر دارند؟ آیا آن را ضبط کرده‏‌اند؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="47" name="47"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 47">68:47</span>]&nbsp; Do they know the future? Do they have it recorded?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="48" name="48"></a>

                        <p>(<span title="قلم (القلم), آیه ۴۸">۶۸:۴۸</span>)&nbsp; باید در اجرای اوامر پروردگارت ثابت‏قدمانه استقامت کنی. مانند (یونس) نباش که از داخل ماهی صدا کرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="48" name="48"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 48">68:48</span>]&nbsp; You shall steadfastly persevere in carrying out the commands of your Lord. Do not be like <em>(Jonah)</em> who called from inside the fish.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="49" name="49"></a>

                        <p>(<span title="قلم (القلم), آیه ۴۹">۶۸:۴۹</span>)&nbsp; اگر به خاطر رحمت پروردگارش نبود، او بعنوان یک گناهکار به صحرا پرت شده بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="49" name="49"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 49">68:49</span>]&nbsp; If it were not for his Lord's grace, he would have been ejected into the desert as a sinner.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="50" name="50"></a>

                        <p>(<span title="قلم (القلم), آیه ۵۰">۶۸:۵۰</span>)&nbsp; اما پروردگارش به او نعمت عطا کرد، و او را پرهیزکار ساخت.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="50" name="50"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 50">68:50</span>]&nbsp; But his Lord blessed him, and made him righteous.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="51" name="51"></a>

                        <p>(<span title="قلم (القلم), آیه ۵۱">۶۸:۵۱</span>)&nbsp; کسانی که ایمان نیاوردند، هنگامی که پیغام را می‌شنوند تمسخرشان را در چشمانشان نشان می‌دهند، و می‌گویند، "او دیوانه است!"</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="51" name="51"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 51">68:51</span>]&nbsp; Those who disbelieved show their ridicule in their eyes when they hear the message and say, "He is crazy!"</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="52" name="52"></a>

                        <p>(<span title="قلم (القلم), آیه ۵۲">۶۸:۵۲</span>)&nbsp; این در واقع پیغامی است به جهان.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="52" name="52"></a>

                        <p>[<span title="The Pen (Al-Qalam), verse 52">68:52</span>]&nbsp; It is in fact a message to the world.</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۶۴۳</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۷۴۹۲</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>

</html>

<!-- // DEFINITIONS

base.html contains all the functionality specific code. There is layout code in this document. All other templates inherit from this document.

-->