<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۱۱۰: پیروزی (النصر)</h2>

                    <h2>[آخرین سوره نازل شده]*</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 110: Triumph (Al-Nassr)</h2>

                    <h2>[Last Sura Revealed]*</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="پیروزی (النصر), آیه ۱">۱۱۰:۱</span>)&nbsp; هنگامی که پیروزی از جانب <strong>خدا</strong> فرا رسد، و فتح.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="Triumph (Al-Nassr), verse 1">110:1</span>]&nbsp; When triumph comes from <strong>GOD</strong>, and victory.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="پیروزی (النصر), آیه ۲">۱۱۰:۲</span>)&nbsp; مردم را خواهی دید که گروه گروه به دین <strong>خدا</strong> می‌پیوندند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="Triumph (Al-Nassr), verse 2">110:2</span>]&nbsp; You will see the people embracing <strong>GOD</strong>'s religion in throngs.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="پیروزی (النصر), آیه ۳">۱۱۰:۳</span>)&nbsp; باید پروردگارت را سپاس و ستایش کنی، و از او طلب بخشش کنی. او آمرزنده است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="Triumph (Al-Nassr), verse 3">110:3</span>]&nbsp; You shall glorify and praise your Lord, and implore Him for forgiveness. He is the Redeemer.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>۳- ۱۱۰:۱ در ترتيبى که در اصل فرستاده شده بود، اين آخرين سوره بود، اين سوره شامل ۱۹ کلمه عربى است (به ۹۶:۱ توجه کنيد)، و اولين آيه آن شامل ۱۹ حرف است. اين نشان ميدهد که مؤمنان اين نسل به پيروزى وعده داده شده خواهند رسيد.
                                    تسليم (اسلام واقعى) در تمام دنيا حکمفرما خواهد شد (۴۸:۳۸).</p>
                            </div>
                        </div>
                    </div>



                    <div dir="ltr" class="lang-en ltr">
                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*110:1-3 This last sura, chronologically, consists of 19 Arabic words (see 96:1), and the first verse consists of 19 letters. This indicates that this generation of believers shall attain the promised victory. Submission
                                    (true Islam) will prevail throughout the world (48:28).


                                </p>
                            </div>
                        </div>
                    </div>




                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۶۹۶</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۸۱۲۰</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>

</html>
