<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۹۵: انجیر (التین)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 95: The Fig (Al-Teen)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="انجیر (التین), آیه ۱">۹۵:۱</span>)&nbsp; به انجیر و زیتون.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="The Fig (Al-Teen), verse 1">95:1</span>]&nbsp; By the fig and the olive.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="انجیر (التین), آیه ۲">۹۵:۲</span>)&nbsp; کوه سینا.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="The Fig (Al-Teen), verse 2">95:2</span>]&nbsp; Mount Sinai.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="انجیر (التین), آیه ۳">۹۵:۳</span>)&nbsp; و این شهر گرامی (مکه).</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۳- ۹۵:۱ انجير، زيتون، سينا و مکه امکان دارد به ترتيب نشانگرى از آدم، عيسى، موسى، ابراهيم، و محمد باشد. در نتيجه، همه اديان اصلى نشان داده شده اند.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="The Fig (Al-Teen), verse 3">95:3</span>]&nbsp; And this honored town <em>(Mecca)</em>.*</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*95:1-3 The fig, olive, Sinai, and Mecca possibly symbolize Adam, Jesus, Moses, Abraham, and Muhammad, respectively. Thus, all major religions are represented.

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="انجیر (التین), آیه ۴">۹۵:۴</span>)&nbsp; ما انسان را به بهترین طرح خلق کردیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="The Fig (Al-Teen), verse 4">95:4</span>]&nbsp; We created man in the best design.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="انجیر (التین), آیه ۵">۹۵:۵</span>)&nbsp; سپس او را به پست‏ترین پستها درآوردیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="The Fig (Al-Teen), verse 5">95:5</span>]&nbsp; Then turned him into the lowliest of the lowly.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="انجیر (التین), آیه ۶">۹۵:۶</span>)&nbsp; بجز کسانی که ایمان دارند و زندگی پرهیزکارانه‏‌ای را در پیش می‌گیرند؛ آنها پاداشی را که کاملاً سزاوار آن هستند دریافت می‌کنند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="The Fig (Al-Teen), verse 6">95:6</span>]&nbsp; Except those who believe and lead a righteous life; they receive a reward that is well deserved.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="انجیر (التین), آیه ۷">۹۵:۷</span>)&nbsp; چرا هنوز دین را تکذیب می‌کنید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="The Fig (Al-Teen), verse 7">95:7</span>]&nbsp; Why do you still reject the faith?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="انجیر (التین), آیه ۸">۹۵:۸</span>)&nbsp; آیا <strong>خدا</strong> حکیم‏ترین حکیمان نیست؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="The Fig (Al-Teen), verse 8">95:8</span>]&nbsp; Is <strong>GOD</strong> not the Most Wise, of all the wise ones?</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۶۸۹</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۸۰۸۲</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>

</html>

