<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->


        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۱۰۵: فیل (الفیل)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 105: The Elephant (Al-Feel)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="فیل (الفیل), آیه ۱">۱۰۵:۱</span>)&nbsp; آیا توجه کرده‏‌ای که پروردگارت با مردم فیل چه کرد؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="The Elephant (Al-Feel), verse 1">105:1</span>]&nbsp; Have you noted what your Lord did to the people of the elephant?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="فیل (الفیل), آیه ۲">۱۰۵:۲</span>)&nbsp; آیا او باعث نشد تا توطئه‏‌هایشان به خودشان بازگردد؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="The Elephant (Al-Feel), verse 2">105:2</span>]&nbsp; Did He not cause their schemes to backfire?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="فیل (الفیل), آیه ۳">۱۰۵:۳</span>)&nbsp; او بر آنها هجوم پرندگان را فرستاد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="The Elephant (Al-Feel), verse 3">105:3</span>]&nbsp; He sent upon them swarms of birds.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="فیل (الفیل), آیه ۴">۱۰۵:۴</span>)&nbsp; که بر آنها سنگهای سخت باریدند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="The Elephant (Al-Feel), verse 4">105:4</span>]&nbsp; That showered them with hard stones.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="فیل (الفیل), آیه ۵">۱۰۵:۵</span>)&nbsp; او آنها را به صورت کاه جویده شده در آورد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="The Elephant (Al-Feel), verse 5">105:5</span>]&nbsp; He made them like chewed up hay.</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۶۹۴</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۸۱۱۷</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>

</html>
