<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->
        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۹۳: پیش از ظهر (الضحی)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 93: The Forenoon (Al-Duhaa)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="پیش از ظهر (الضحی), آیه ۱">۹۳:۱</span>)&nbsp; به پیش از ظهر.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="The Forenoon (Al-Duhaa), verse 1">93:1</span>]&nbsp; By the forenoon.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="پیش از ظهر (الضحی), آیه ۲">۹۳:۲</span>)&nbsp; به شب که فرو می‌افتد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="The Forenoon (Al-Duhaa), verse 2">93:2</span>]&nbsp; By the night as it falls.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="پیش از ظهر (الضحی), آیه ۳">۹۳:۳</span>)&nbsp; پروردگارت هرگز تو را ترک نکرد، و نه فراموش کرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="The Forenoon (Al-Duhaa), verse 3">93:3</span>]&nbsp; Your Lord never abandoned you, nor did He forget.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="پیش از ظهر (الضحی), آیه ۴">۹۳:۴</span>)&nbsp; آخرت برای تو بسیار بهتر است، از این (زندگی) اوّل.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="The Forenoon (Al-Duhaa), verse 4">93:4</span>]&nbsp; The Hereafter is far better for you than this first <em>(life)</em>.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="پیش از ظهر (الضحی), آیه ۵">۹۳:۵</span>)&nbsp; و پروردگارت به اندازه کافی به تو خواهد داد؛ تو راضی خواهی بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="The Forenoon (Al-Duhaa), verse 5">93:5</span>]&nbsp; And your Lord will give you enough; you will be pleased.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="پیش از ظهر (الضحی), آیه ۶">۹۳:۶</span>)&nbsp; آیا او تو را یتیم نیافت و به تو منزل داد؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="The Forenoon (Al-Duhaa), verse 6">93:6</span>]&nbsp; Did He not find you orphaned and He gave you a home?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="پیش از ظهر (الضحی), آیه ۷">۹۳:۷</span>)&nbsp; او تو را گمراه یافت، و تو را هدایت کرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="The Forenoon (Al-Duhaa), verse 7">93:7</span>]&nbsp; He found you astray, and guided you.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="پیش از ظهر (الضحی), آیه ۸">۹۳:۸</span>)&nbsp; او تو را فقیر یافت و تو را غنی ساخت.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="The Forenoon (Al-Duhaa), verse 8">93:8</span>]&nbsp; He found you poor, and made you rich.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <p>(<span title="پیش از ظهر (الضحی), آیه ۹">۹۳:۹</span>)&nbsp; بنابراین، نباید یتیم را رها کنی.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <p>[<span title="The Forenoon (Al-Duhaa), verse 9">93:9</span>]&nbsp; Therefore, you shall not forsake the orphan.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <p>(<span title="پیش از ظهر (الضحی), آیه ۱۰">۹۳:۱۰</span>)&nbsp; و نباید گدا را سرزنش کنی.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <p>[<span title="The Forenoon (Al-Duhaa), verse 10">93:10</span>]&nbsp; Nor shall you reprimand the beggar.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <p>(<span title="پیش از ظهر (الضحی), آیه ۱۱">۹۳:۱۱</span>)&nbsp; باید اعلام کنی نعمتی را که پروردگارت به تو عطا کرده است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <p>[<span title="The Forenoon (Al-Duhaa), verse 11">93:11</span>]&nbsp; You shall proclaim the blessing your Lord has bestowed upon you.</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۶۸۸</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۸۰۷۴</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

</body>

</html>

