<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۶۳: منافقان (المنافقون)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 63: The Hypocrites (Al-Munaafeqoon)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="منافقان (المنافقون), آیه ۱">۶۳:۱</span>)&nbsp; هنگامی که منافقان نزد تو آیند، گویند، "ما شهادت می‌دهیم که تو رسول <strong>خدا</strong> هستی." <strong>خدا</strong> می‌داند که تو رسولش هستی، و <strong>خدا</strong> شهادت
                            می‌دهد که منافقان دروغگو هستند.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۶۳:۱ اولين ستون اسلام،" همانطوريکه در آيه ۳:۱۸ ذکر شده است، شهادت بر اين است که خدا يکى است. اما طلاب فاسد "مسلمان"، "محمد رسول خدا است" را هم به آن اضافه کرده اند، و اين با بسيارى از احکام مغايرت دارد (به آيه ۲:۲۸۵ توجه
                                    کنيد). آيه ۶۳:۱ تنها جايى است در قرآن که چنين گفته اى آمده است. فقط منافقان چنين عبارتى را بکار ميبرند.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="The Hypocrites (Al-Munaafeqoon), verse 1">63:1</span>]&nbsp; When the hypocrites come to you they say, "We bear witness that you are the messenger of <strong>GOD</strong>."* <strong>GOD</strong> knows that you are
                            His messenger, and <strong>GOD</strong> bears witness that the hypocrites are liars.</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*63:1 The "first pillar of Islam," as stated in 3:18 is to bear witness that God is the only god. But the corrupted "Muslim" scholars add "Muhammad is God's messenger," and this violates a number of commandments (see 2:285).
                                    Verse 63:1 is the only place in the Quran where such a statement is made. Only the hypocrites make such a statement.</p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="منافقان (المنافقون), آیه ۲">۶۳:۲</span>)&nbsp; آنها در زیر ایمان ظاهری خود، مردم را از راه <strong>خدا</strong> دور می‌کنند. واقعاً که آنچه انجام می‌دهند بد است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="The Hypocrites (Al-Munaafeqoon), verse 2">63:2</span>]&nbsp; Under the guise of their apparent faith, they repel the people from the path of <strong>GOD</strong>. Miserable indeed is what they do.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="منافقان (المنافقون), آیه ۳">۶۳:۳</span>)&nbsp; این به خاطر آن است که آنها ایمان آوردند سپس بی‏ ایمان شدند. بنابراین، افکارشان قفل شده است؛ آنها نمی‌فهمند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="The Hypocrites (Al-Munaafeqoon), verse 3">63:3</span>]&nbsp; This is because they believed, then disbelieved. Hence, their minds are blocked; they do not understand.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <div class="footnote-subtitle">فکر می‌کنند هر ندایی بلند شود، بر علیه‏‌شان است</div>

                        <p>(<span title="منافقان (المنافقون), آیه ۴">۶۳:۴</span>)&nbsp; هنگامی که آنها را ببینی ممکنست تحت تأثیر ظاهرشان قرار بگیری. و وقتی صحبت می‌کنند ممکنست به فصاحت کلام آنها گوش بدهی. آنها مانند تیرهای چوبی ایستاده هستند. هر ندایی بلند
                            شود، فکر می‌کنند بر علیه‏‌شان است. اینها دشمنان واقعی هستند؛ مواظب آنها باش. <strong>خدا</strong> آنها را محکوم می‌کند؛ آنها منحرف شده‏‌اند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <div class="footnote-subtitle">A Chip On Their Shoulders</div>

                        <p>[<span title="The Hypocrites (Al-Munaafeqoon), verse 4">63:4</span>]&nbsp; When you see them, you may be impressed by their looks. And when they speak, you may listen to their eloquence. They are like standing logs. They think
                            that every call is intended against them. These are the real enemies; beware of them. <strong>GOD</strong> condemns them; they have deviated.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="منافقان (المنافقون), آیه ۵">۶۳:۵</span>)&nbsp; هنگامی که به آنها گفته می‌شود، "بیایید تا رسول <strong>خدا</strong> برای آمرزش شما دعا کند،" آنها مسخره‏کنان سر خود را برمی‌گردانند، و می‌بینی که دیگران را نیز دور می‌کنند
                            و متکبرانه رفتار می‌کنند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="The Hypocrites (Al-Munaafeqoon), verse 5">63:5</span>]&nbsp; When they are told, "Come let the messenger of <strong>GOD</strong> pray for your forgiveness," they mockingly turn their heads, and you see them repel
                            others and act arrogantly.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <div class="footnote-subtitle">افسانه شفاعت از بین رفت*</div>

                        <p>(<span title="منافقان (المنافقون), آیه ۶">۶۳:۶</span>)&nbsp; برایشان یکسان است، چه برای بخشش آنها دعا کنی و چه برای بخشش آنها دعا نکنی؛ <strong>خدا</strong> آنها را نخواهد بخشید. چون <strong>خدا</strong> مردم ستمکار را هدایت نمی‌کند.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۶۳:۶ ميليونها مردم پيغمبران خود را بخاطر اين افسانه بت قرار داده اند (ضميمه ۸).</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <div class="footnote-subtitle">The Myth of Intercession Shattered*</div>

                        <p>[<span title="The Hypocrites (Al-Munaafeqoon), verse 6">63:6</span>]&nbsp; It is the same for them, whether you pray for their forgiveness, or not pray for their forgiveness; <strong>GOD</strong> will not forgive them. For <strong>GOD</strong>                            does not guide the wicked people.</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*63:6 Millions of people idolize their prophets because of this myth (Appendix 8).

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="منافقان (المنافقون), آیه ۷">۶۳:۷</span>)&nbsp; آنها کسانی هستند که می‌گویند، "به کسانی که از رسول <strong>خدا</strong> پیروی کردند پولی ندهید، شاید آنها او را ترک کنند!" اگرچه، <strong>خدا</strong> صاحب گنجهای آسمانها
                            و زمین است، اما منافقان درک نمی‌کنند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="The Hypocrites (Al-Munaafeqoon), verse 7">63:7</span>]&nbsp; They are the ones who say, "Do not give any money to those who followed the messenger of <strong>GOD</strong>, perhaps they abandon him!" However, <strong>GOD</strong>                            possesses the treasures of the heavens and the earth, but the hypocrites do not comprehend.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="منافقان (المنافقون), آیه ۸">۶۳:۸</span>)&nbsp; آنها می‌گویند، "اگر ما به شهر بازگردیم، قدرتمندان در آن، ناتوانان را بیرون خواهند کرد (و ما قربانی خواهیم شد)." (آنها باید بدانند که) همه عزت از آن <strong>خدا</strong>                            و رسولش و مؤمنان است. اگرچه، منافقان نمی‌دانند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="The Hypocrites (Al-Munaafeqoon), verse 8">63:8</span>]&nbsp; They say, "If we go back to the city, the powerful therein will evict the weak <em>(and we will be victimized)</em>." <em>(They should know that)</em> all
                            dignity belongs to <strong>GOD</strong> and His messenger, and the believers. However, the hypocrites do not know.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <p>(<span title="منافقان (المنافقون), آیه ۹">۶۳:۹</span>)&nbsp; ای کسانی که ایمان دارید، به وسیله پول و فرزندانتان از یاد <strong>خدا</strong> غافل نشوید. کسانی که اینچنین عمل کنند، بازندگان هستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <p>[<span title="The Hypocrites (Al-Munaafeqoon), verse 9">63:9</span>]&nbsp; O you who believe, do not be distracted by your money and your children from remembering <strong>GOD</strong>. Those who do this are the losers.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <p>(<span title="منافقان (المنافقون), آیه ۱۰">۶۳:۱۰</span>)&nbsp; باید از روزی ما به شما بخشش کنید، قبل از اینکه مرگ بسراغ شما آید، سپس بگویید، "پروردگار من، اگر فقط این را برای مدت کوتاهی به تأخیر می‌انداختی! آنوقت صدقه می‌دادم،
                            و به پرهیزکاران می‌پیوستم!"</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <p>[<span title="The Hypocrites (Al-Munaafeqoon), verse 10">63:10</span>]&nbsp; You shall give from our provisions to you before death comes to you, then you say, "My Lord, if only You could delay this for a short while! I would then
                            be charitable and join the righteous!"</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <p>(<span title="منافقان (المنافقون), آیه ۱۱">۶۳:۱۱</span>)&nbsp;
                            <strong>خدا</strong> هرگز زمان تعیین شده مرگ هیچ نفسی را به تأخیر نمی‌اندازد. <strong>خدا</strong> کاملاً بر هرچه شما انجام می‌دهید آگاه است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <p>[<span title="The Hypocrites (Al-Munaafeqoon), verse 11">63:11</span>]&nbsp;
                            <strong>GOD</strong> never delays the appointed time of death for any soul. <strong>GOD</strong> is fully Cognizant of everything you do.</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۵۸۲</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۷۱۹۴</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>
</html>

<!-- // DEFINITIONS

base.html contains all the functionality specific code. There is layout code in this document. All other templates inherit from this document.

-->