<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۸۸: هنگامه فراگیر (الغاشیه)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 88: Overwhelming (Al-Ghaasheyah)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="هنگامه فراگیر (الغاشیه), آیه ۱">۸۸:۱</span>)&nbsp; آیا از آن دربر گیرنده آگاهی داری؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="Overwhelming (Al-Ghaasheyah), verse 1">88:1</span>]&nbsp; Are you aware of the Overwhelming?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="هنگامه فراگیر (الغاشیه), آیه ۲">۸۸:۲</span>)&nbsp; چهره‏‌ها در آن روز خجالت‏زده خواهند بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="Overwhelming (Al-Ghaasheyah), verse 2">88:2</span>]&nbsp; Faces on that day will be shamed.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="هنگامه فراگیر (الغاشیه), آیه ۳">۸۸:۳</span>)&nbsp; درد کشیده و خسته.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="Overwhelming (Al-Ghaasheyah), verse 3">88:3</span>]&nbsp; Laboring and exhausted.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="هنگامه فراگیر (الغاشیه), آیه ۴">۸۸:۴</span>)&nbsp; در آتش سوزان جهنم رنج می‌برند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="Overwhelming (Al-Ghaasheyah), verse 4">88:4</span>]&nbsp; Suffering in a blazing Hellfire.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="هنگامه فراگیر (الغاشیه), آیه ۵">۸۸:۵</span>)&nbsp; از چشمه‏‌ای شعله‏ور می‌نوشند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="Overwhelming (Al-Ghaasheyah), verse 5">88:5</span>]&nbsp; Drinking from a flaming spring.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="هنگامه فراگیر (الغاشیه), آیه ۶">۸۸:۶</span>)&nbsp; آنها غذایی نخواهند داشت بجز از انواع بیفایده.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="Overwhelming (Al-Ghaasheyah), verse 6">88:6</span>]&nbsp; They will have no food except the useless variety.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="هنگامه فراگیر (الغاشیه), آیه ۷">۸۸:۷</span>)&nbsp; نه غذاییت دارد، و نه گرسنگی را برطرف می‌کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="Overwhelming (Al-Ghaasheyah), verse 7">88:7</span>]&nbsp; It never nourishes, nor satisfies hunger.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="هنگامه فراگیر (الغاشیه), آیه ۸">۸۸:۸</span>)&nbsp; چهره‏‌های دیگر در آن روز پر از خشنودی خواهند بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="Overwhelming (Al-Ghaasheyah), verse 8">88:8</span>]&nbsp; Other faces on that day will be full of joy.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <p>(<span title="هنگامه فراگیر (الغاشیه), آیه ۹">۸۸:۹</span>)&nbsp; راضی از کارهایشان.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <p>[<span title="Overwhelming (Al-Ghaasheyah), verse 9">88:9</span>]&nbsp; Satisfied with their work.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <p>(<span title="هنگامه فراگیر (الغاشیه), آیه ۱۰">۸۸:۱۰</span>)&nbsp; در پردیسی بلند مرتبه.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <p>[<span title="Overwhelming (Al-Ghaasheyah), verse 10">88:10</span>]&nbsp; In an exalted Paradise.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <p>(<span title="هنگامه فراگیر (الغاشیه), آیه ۱۱">۸۸:۱۱</span>)&nbsp; در آن، هیچ سخن بیهوده‏‌ای شنیده نمی‌شود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <p>[<span title="Overwhelming (Al-Ghaasheyah), verse 11">88:11</span>]&nbsp; In it, no nonsense is heard.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="12" name="12"></a>

                        <p>(<span title="هنگامه فراگیر (الغاشیه), آیه ۱۲">۸۸:۱۲</span>)&nbsp; در آن، چشمه‏‌ای روان است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="12" name="12"></a>

                        <p>[<span title="Overwhelming (Al-Ghaasheyah), verse 12">88:12</span>]&nbsp; In it, a spring flows.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="13" name="13"></a>

                        <p>(<span title="هنگامه فراگیر (الغاشیه), آیه ۱۳">۸۸:۱۳</span>)&nbsp; در آن، مبلمانهای مجلل است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="13" name="13"></a>

                        <p>[<span title="Overwhelming (Al-Ghaasheyah), verse 13">88:13</span>]&nbsp; In it, there are luxurious furnishings.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="14" name="14"></a>

                        <p>(<span title="هنگامه فراگیر (الغاشیه), آیه ۱۴">۸۸:۱۴</span>)&nbsp; و نوشابه‏‌های آماده.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="14" name="14"></a>

                        <p>[<span title="Overwhelming (Al-Ghaasheyah), verse 14">88:14</span>]&nbsp; And drinks made available.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="15" name="15"></a>

                        <p>(<span title="هنگامه فراگیر (الغاشیه), آیه ۱۵">۸۸:۱۵</span>)&nbsp; و تُنگ‏های ردیف شده.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="15" name="15"></a>

                        <p>[<span title="Overwhelming (Al-Ghaasheyah), verse 15">88:15</span>]&nbsp; And pitchers in rows.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="16" name="16"></a>

                        <p>(<span title="هنگامه فراگیر (الغاشیه), آیه ۱۶">۸۸:۱۶</span>)&nbsp; و فرش‏های سراسر گسترده.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="16" name="16"></a>

                        <p>[<span title="Overwhelming (Al-Ghaasheyah), verse 16">88:16</span>]&nbsp; And carpets throughout.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="17" name="17"></a>

                        <p>(<span title="هنگامه فراگیر (الغاشیه), آیه ۱۷">۸۸:۱۷</span>)&nbsp; چرا آنها به شترها فکر نمی‌کنند، و اینکه چطور خلق شده‏‌اند؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="17" name="17"></a>

                        <p>[<span title="Overwhelming (Al-Ghaasheyah), verse 17">88:17</span>]&nbsp; Why do they not reflect on the camels and how they are created?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="18" name="18"></a>

                        <p>(<span title="هنگامه فراگیر (الغاشیه), آیه ۱۸">۸۸:۱۸</span>)&nbsp; و به آسمان و اینکه چگونه برافراشته شده است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="18" name="18"></a>

                        <p>[<span title="Overwhelming (Al-Ghaasheyah), verse 18">88:18</span>]&nbsp; And the sky and how it is raised.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="19" name="19"></a>

                        <p>(<span title="هنگامه فراگیر (الغاشیه), آیه ۱۹">۸۸:۱۹</span>)&nbsp; و به کوه‏‌ها و اینکه چگونه بنا شده‏‌اند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="19" name="19"></a>

                        <p>[<span title="Overwhelming (Al-Ghaasheyah), verse 19">88:19</span>]&nbsp; And the mountains and how they are constructed.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="20" name="20"></a>

                        <p>(<span title="هنگامه فراگیر (الغاشیه), آیه ۲۰">۸۸:۲۰</span>)&nbsp; و به زمین و اینکه چگونه ساخته شده است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="20" name="20"></a>

                        <p>[<span title="Overwhelming (Al-Ghaasheyah), verse 20">88:20</span>]&nbsp; And the earth and how it is built.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="21" name="21"></a>

                        <p>(<span title="هنگامه فراگیر (الغاشیه), آیه ۲۱">۸۸:۲۱</span>)&nbsp; باید تذکر بدهی، زیرا مأموریت تو تحویل این تذکر است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="21" name="21"></a>

                        <p>[<span title="Overwhelming (Al-Ghaasheyah), verse 21">88:21</span>]&nbsp; You shall remind, for your mission is to deliver this reminder.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="22" name="22"></a>

                        <p>(<span title="هنگامه فراگیر (الغاشیه), آیه ۲۲">۸۸:۲۲</span>)&nbsp; تو هیچ قدرتی بر ایشان نداری.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="22" name="22"></a>

                        <p>[<span title="Overwhelming (Al-Ghaasheyah), verse 22">88:22</span>]&nbsp; You have no power over them.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="23" name="23"></a>

                        <p>(<span title="هنگامه فراگیر (الغاشیه), آیه ۲۳">۸۸:۲۳</span>)&nbsp; و اما کسانی که روی بگردانند و ایمان نیاورند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="23" name="23"></a>

                        <p>[<span title="Overwhelming (Al-Ghaasheyah), verse 23">88:23</span>]&nbsp; As for those who turn away and disbelieve.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="24" name="24"></a>

                        <p>(<span title="هنگامه فراگیر (الغاشیه), آیه ۲۴">۸۸:۲۴</span>)&nbsp;
                            <strong>خدا</strong> آنها را به عذاب عظیم گرفتار خواهد کرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="24" name="24"></a>

                        <p>[<span title="Overwhelming (Al-Ghaasheyah), verse 24">88:24</span>]&nbsp;
                            <strong>GOD</strong> will commit them to the great retribution.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="25" name="25"></a>

                        <p>(<span title="هنگامه فراگیر (الغاشیه), آیه ۲۵">۸۸:۲۵</span>)&nbsp; سرنوشت نهایی آنها به سوی ما است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="25" name="25"></a>

                        <p>[<span title="Overwhelming (Al-Ghaasheyah), verse 25">88:25</span>]&nbsp; To us is their ultimate destiny.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="26" name="26"></a>

                        <p>(<span title="هنگامه فراگیر (الغاشیه), آیه ۲۶">۸۸:۲۶</span>)&nbsp; سپس ما ایشان را برای حسابرسی می‌خوانیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="26" name="26"></a>

                        <p>[<span title="Overwhelming (Al-Ghaasheyah), verse 26">88:26</span>]&nbsp; Then we will call them to account.</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۶۸۶</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۸۰۶۱</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>

</html>
