<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->
      <div class="quran-main">
        <header class="page-description">


            <div dir="rtl" class="lang-fa rtl">
                <h2>سوره ۱۳: رعد (الرعد)</h2>

            </div>



            <div dir="ltr" class="lang-en ltr">
                <h2>Sura 13: Thunder (Al-Ra'ad)</h2>

            </div>




            <p class="basmallah">


                <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


            </p>

        </header>

        <section class="section-wrap">
            <div class="container">




                <div dir="rtl" class="lang-fa rtl">
                    <a id="1" name="1"></a>

                    <p>(<span title="رعد (الرعد), آیه ۱">۱۳:۱</span>)&nbsp; ا.ل.م.ر. این (حروف) اثبات این کتاب آسمانی است. آنچه از طرف پروردگارت به تو نازل شد، حقیقت است، اما اکثر مردم ایمان نمی‌آورند.</p>


                    <div class="footnote">
                        <div class="footnote-title">زیر نویس</div>
                        <div class="footnote-content">
                            <p>* ۱۳:۱ اين پاراف هاى قرآنى قسمت مهمى از اثبات تاليف الهى قرآن را تشکيل ميدهند، کد رياضى اعجاب انگيز. به ضميمه ۱ توجه کنيد.</p>
                        </div>
                    </div>

                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="1" name="1"></a>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 1">13:1</span>]&nbsp; A. L. M. R.* These <em>(letters)</em> are proofs of this scripture. What is revealed to you from your Lord is the truth, but most people do not believe.</p>


                    <div class="footnote">
                        <div class="footnote-title">Footnote</div>
                        <div class="footnote-content">
                            <p>*13:1 These initials constitute a major component of the Quran's built-in proof of divine authorship, the miraculous mathematical code. See Appendix 1.

                            </p>
                        </div>
                    </div>

                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="2" name="2"></a>

                    <p>(<span title="رعد (الرعد), آیه ۲">۱۳:۲</span>)&nbsp;
                        <strong>خدا</strong> آن یکتایی است که آسمان‏ها را بدون ستون‏هایی که شما بتوانید ببینید برافراشت، سپس همه اقتدار را برقرار داشت. او خورشید و ماه را قرار داد، هر کدام (در مدار خود) برای زمان از قبل تعیین شده‏‌ای گردش می‌کنند.
                        او همه چیز را کنترل می‌کند، و آیات را توضیح می‌دهد، تا به ملاقات پروردگارتان یقین پیدا کنید.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="2" name="2"></a>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 2">13:2</span>]&nbsp;
                        <strong>GOD</strong> is the One who raised the heavens without pillars that you can see, then assumed all authority. He committed the sun and the moon, each running <em>(in its orbit)</em> for a predetermined period. He controls
                        all things, and explains the revelations, that you may attain certainty about meeting your Lord.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="3" name="3"></a>

                    <p>(<span title="رعد (الرعد), آیه ۳">۱۳:۳</span>)&nbsp; او آن یکتایی است که زمین را بنا کرد و روی آن کوه‏‌ها و رودها قرار داد. و از انواع میوه‏‌های مختلف، او آنها را جفت قرار داد-نر و ماده. شب، روز را در بر می‌گیرد. اینها نشانه‏‌های
                        محکمی است برای مردمی که تفکر می‌کنند.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="3" name="3"></a>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 3">13:3</span>]&nbsp; He is the One who constructed the earth and placed on it mountains and rivers. And from the different kinds of fruits, He made them into pairs&mdash;males and females.
                        The night overtakes the day. These are solid proofs for people who think.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="4" name="4"></a>

                    <p>(<span title="رعد (الرعد), آیه ۴">۱۳:۴</span>)&nbsp; روی زمین، زمینهایی مجاور هم هستند که باغهای انگور، مزارع، نخل‏های خرما-دوپایه و یک پایه، تولید می‌کنند. اگر چه همه آنها از یک آب آبیاری شده‏‌اند، ما بعضی را بر بعضی دیگر در خوردن
                        ترجیح می‌دهیم. اینها نشانه‏‌های محکمی است برای مردمی که می‌فهمند.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="4" name="4"></a>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 4">13:4</span>]&nbsp; On earth, there are adjacent lots that produce orchards of grapes, crops, palm trees&mdash;dioecious and non-dioecious. Although they are irrigated with the same water,
                        we prefer some of them over others in eating. These are solid proofs for people who understand.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="5" name="5"></a>

                    <div class="footnote-subtitle">ایمان به روز قیامت لازمه نجات است</div>

                    <p>(<span title="رعد (الرعد), آیه ۵">۱۳:۵</span>)&nbsp; اگر هرگز متعجب شوی، تعجب واقعی گفته آنها است: "بعد از اینکه ما به خاک تبدیل شدیم، آیا دوباره از نو خلق می‌شویم؟" اینها هستند کسانی که به پروردگارشان ایمان نیاوردند. اینها کسانی
                        هستند که سزاوار غل و زنجیر به دور گردنشان شده‏‌اند. اینها هستند کسانی که سزاوار جهنم شده‏‌اند که در آن جاودان باشند.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="5" name="5"></a>

                    <div class="footnote-subtitle">Belief in the Hereafter Required For Salvation</div>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 5">13:5</span>]&nbsp; If you ever wonder, the real wonder is their saying: "After we turn into dust, do we get recreated anew?" These are the ones who have disbelieved in their Lord. These
                        are the ones who have incurred shackles around their necks. These are the ones who have incurred Hell, wherein they abide forever.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="6" name="6"></a>

                    <p>(<span title="رعد (الرعد), آیه ۶">۱۳:۶</span>)&nbsp; آنها تو را به مبارزه می‌طلبند که عذاب بر ایشان آوری، بجای اینکه پرهیزکار شوند! مثال‏های کافی برایشان از گذشته زده شده است. به درستی که، پروردگارت نسبت به مردم بسیار عفو کننده
                        است، با وجود خطاهایشان، و همچنین پروردگارت در عذاب دادن سختگیر است.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="6" name="6"></a>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 6">13:6</span>]&nbsp; They challenge you to bring doom upon them, rather than turning righteous! Sufficient precedents have been set for them in the past. Indeed, your Lord is full of forgiveness
                        towards the people, in spite of their transgressions, and your Lord is also strict in enforcing retribution.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="7" name="7"></a>

                    <p>(<span title="رعد (الرعد), آیه ۷">۱۳:۷</span>)&nbsp; کسانی که ایمان نیاوردند، گویند، "اگر فقط معجزه‏‌ای از طرف پروردگارش بر او آید (ما آنوقت ایمان خواهیم آورد)." تو فقط هشداردهنده هستی-هر جمعیتی معلمی هدایت کننده دریافت می‌کند.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="7" name="7"></a>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 7">13:7</span>]&nbsp; Those who disbelieved say, "If only a miracle could come down to him from his Lord <em>(we will then believe)</em>." You are simply a warner&mdash;every community receives
                        a guiding teacher.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="8" name="8"></a>

                    <p>(<span title="رعد (الرعد), آیه ۸">۱۳:۸</span>)&nbsp;
                        <strong>خدا</strong> می‌داند بار هر مؤنثی چیست، و از هر رحمی چه خارج می‌شود، و یا چه کسب می‌کند. هر کاری که او می‌کند، دقیقاً حساب شده است.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="8" name="8"></a>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 8">13:8</span>]&nbsp;
                        <strong>GOD</strong> knows what every female bears, and what every womb releases, or gains. Everything He does is perfectly measured.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="9" name="9"></a>

                    <p>(<span title="رعد (الرعد), آیه ۹">۱۳:۹</span>)&nbsp; دانای غیب و آشکار؛ اعلی، متعال.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="9" name="9"></a>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 9">13:9</span>]&nbsp; The Knower of all secrets and declarations; the Supreme, the Most High.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="10" name="10"></a>

                    <p>(<span title="رعد (الرعد), آیه ۱۰">۱۳:۱۰</span>)&nbsp; یکسان است اگر افکار خود را پنهان دارید یا آشکار، و یا در ظلمت شب پنهان شوید، و یا در روز روشن عمل کنید.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="10" name="10"></a>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 10">13:10</span>]&nbsp; It is the same whether you conceal your thoughts, or declare them, or hide in the darkness of the night, or act in the daylight.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="11" name="11"></a>

                    <p>(<span title="رعد (الرعد), آیه ۱۱">۱۳:۱۱</span>)&nbsp; (فرشتگان) برای ماندن با هر یک از شما نوبت عوض می‌کنند-آنها در جلو و پشت سر شما هستند. آنها با شما می‌مانند و بر طبق امر <strong>خدا</strong> از شما محافظت می‌کنند. بنابراین،
                        <strong>خدا</strong> موقعیت هیچ مردمی را تغییر نمی‌دهد مگراینکه خودشان تصمیم بگیرند عوض شوند. اگر <strong>خدا</strong> هر گونه سختی برای مردم بخواهد، هیچ قدرتی نمی‌تواند آن را متوقف سازد. زیرا آنها هیچ کس را بغیر از او بعنوان
                        مولا و سرور ندارند.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="11" name="11"></a>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 11">13:11</span>]&nbsp; Shifts <em>(of angels)</em> take turns, staying with each one of you&mdash;they are in front of you and behind you. They stay with you, and guard you in accordance
                        with <strong>GOD</strong>'s commands. Thus, <strong>GOD</strong> does not change the condition of any people unless they themselves make the decision to change. If <strong>GOD</strong> wills any hardship for any people, no
                        force can stop it. For they have none beside Him as Lord and Master.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="12" name="12"></a>

                    <p>(<span title="رعد (الرعد), آیه ۱۲">۱۳:۱۲</span>)&nbsp; او آن یکتایی است که برق آسمان را به شما نشان می‌دهد بعنوان منبع ترس، و همچنین امید، و او ابرهای پُربار را به وجود می‌آورد.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="12" name="12"></a>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 12">13:12</span>]&nbsp; He is the One who shows you the lightning as a source of fear, as well as hope, and He initiates the loaded clouds.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="13" name="13"></a>

                    <p>(<span title="رعد (الرعد), آیه ۱۳">۱۳:۱۳</span>)&nbsp; رعد شکوه او را ستایش می‌کند، و همینطور فرشتگان، از روی هیبت و حرمت برای او. او رعد و برق را می‌فرستد که بر طبق خواسته او اصابت می‌کند. با این حال در باره <strong>خدا</strong>                            مشاجره می‌کنند، اگر چه قدرت او هیبت‏انگیز است.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="13" name="13"></a>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 13">13:13</span>]&nbsp; The thunder praises His glory, and so do the angels, out of reverence for Him. He sends the lightning bolts, which strike in accordance with His will. Yet, they argue
                        about <strong>GOD</strong>, though His power is awesome.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="14" name="14"></a>

                    <p>(<span title="رعد (الرعد), آیه ۱۴">۱۳:۱۴</span>)&nbsp; دعا کردن به او تنها دعای درست است، در حالی که معبودانی را که در کنار او دعا می‌کنند، هرگز نمی‌توانند جواب دهند. بنابراین، آنها مانند کسانی هستند که دست‏های خود را به طرف آب
                        دراز می‌کنند، اما چیزی به دهانشان نمی‌رسد. استدعای کافران بیهوده است.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="14" name="14"></a>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 14">13:14</span>]&nbsp; Imploring Him is the only legitimate supplication, while the idols they implore beside Him, cannot ever respond. Thus, they are like those who stretch their hands
                        to the water, but nothing reaches their mouths. The supplications of the disbelievers are in vain.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="15" name="15"></a>

                    <div class="footnote-subtitle">همه خلقت تسلیم خدا شده است</div>

                    <p>(<span title="رعد (الرعد), آیه ۱۵">۱۳:۱۵</span>)&nbsp; همه در آسمان‏ها و زمین در مقابل <strong>خدا</strong> سجده می‌کنند، خواسته یا ناخواسته، و همینطور سایه آنها در بامدادان و شامگاهان.</p>


                    <div class="footnote">
                        <div class="footnote-title">زیر نویس</div>
                        <div class="footnote-content">
                            <p>* ۱۳:۱۵ حتى کافران هم سجده ميکنند؛ براى مثال، آنها ضربان قلب خود را نميتوانند کنترل کنند يا ششها، يا حرکات دودى معده را. سايه از قبل بر اساس طرح مدارهاى خورشيد و ماه توسط خدا تعيين شده است، و براساس شکل خاص کره زمين که
                                چهار فصل را بوجود مى آورد. دقيق بودن روابط خورشيد و زمين با اختراع ساعتهاى خورشيدى و سايه آنها ثابت شده است.</p>
                        </div>
                    </div>

                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="15" name="15"></a>

                    <div class="footnote-subtitle">All Creation Has Submitted to God</div>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 15">13:15</span>]&nbsp; To <strong>GOD</strong> prostrates everyone in the heavens and the earth, willingly or unwillingly, and so do their shadows in the mornings and the evenings.*</p>


                    <div class="footnote">
                        <div class="footnote-title">Footnote</div>
                        <div class="footnote-content">
                            <p>*13:15 Even the disbelievers prostrate; they cannot, for example, control their heartbeats, their lungs, or peristalsis. The shadows are predetermined by God's design of the solar and the lunar orbits, and by the peculiar
                                shape of the planet earth which causes the four seasons. The absolute precision of the sun/earth relation is proven by the invention of solar clocks and their shadows.

                            </p>
                        </div>
                    </div>

                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="16" name="16"></a>

                    <p>(<span title="رعد (الرعد), آیه ۱۶">۱۳:۱۶</span>)&nbsp; بگو، "چه کسی پروردگار آسمان‏ها و زمین است؟" بگو، “<strong>خدا</strong>.” بگو، "پس چرا در کنار او سرورانی قرار می‌دهید که حتی در نفع و ضرر خود هم هیچ قدرتی ندارند؟" بگو، "آیا
                        کور مانند بینا است؟" آیا تاریکی مانند روشنایی است؟ آیا آنها معبودانی در کنار <strong>خدا</strong> پیدا کرده‏‌اند که مخلوقاتی مانند مخلوقات او خلق کردند، تا جایی که نتوان دو خلقت را از هم تشخیص داد؟ بگو، "<strong>خدا</strong>                            خالق همه چیز است، و او واحد است، بلند مرتبه‏‌ترین."</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="16" name="16"></a>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 16">13:16</span>]&nbsp; Say, "Who is the Lord of the heavens and the earth?" Say, "<strong>GOD</strong>." Say, "Why then do you set up besides Him masters who do not possess any power to
                        benefit or harm even themselves?" Say, "Is the blind the same as the seer? Is darkness the same as the light?" Have they found idols besides <strong>GOD</strong> who created creations similar to His creations, to the point
                        of not distinguishing the two creations? Say, "<strong>GOD</strong> is the Creator of all things, and He is the One, the Supreme."</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="17" name="17"></a>

                    <div class="footnote-subtitle">حق در مقابل باطل</div>

                    <p>(<span title="رعد (الرعد), آیه ۱۷">۱۳:۱۷</span>)&nbsp; او آب را از آسمان پایین می‌فرستد، تا سرزمین‏ها از آن لبریز شوند، سپس جریان تند آب کف فراوانی به وجود می‌آورد. مشابه آن، هنگامی که از آتش برای ذوب کردن فلزات جهت ساختن جواهرات
                        یا وسایل دیگر استفاده می‌کنند، کف به وجود می‌آید. <strong>خدا</strong> اینچنین برای حق و باطل مثال می‌زند. و اما کف، به هدر می‌رود، در حالی که آنچه به نفع مردم است نزدیک سطح زمین می‌ماند. <strong>خدا</strong> اینچنین مثال می‌زند.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="17" name="17"></a>

                    <div class="footnote-subtitle">The Truth vs Falsehood</div>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 17">13:17</span>]&nbsp; He sends down water from the sky, causing the valleys to overflow, then the rapids produce abundant foam. Similarly, when they use fire to refine metals for their
                        jewelry or equipment, foam is produced. <strong>GOD</strong> thus cites analogies for the truth and falsehood. As for the foam, it goes to waste, while that which benefits the people stays close to the ground. <strong>GOD</strong>                            thus cites the analogies.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="18" name="18"></a>

                    <p>(<span title="رعد (الرعد), آیه ۱۸">۱۳:۱۸</span>)&nbsp; کسانی که به پروردگارشان پاسخ می‌دهند، سزاوار پاداش‏های نیکو هستند. و اما کسانی که در پاسخ دادن به او کوتاهی کردند، اگر مالک همه چیز روی زمین بودند-حتی دو برابر آن- حاضر بودند
                        آن را غرامت دهند. آنها سزاوار بدترین حسابرسی شده‏‌اند، و جایگاه نهایی‏شان جهنم است؛ چه سرنوشت فلاکت‏باری.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="18" name="18"></a>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 18">13:18</span>]&nbsp; Those who respond to their Lord deserve the good rewards. As for those who failed to respond to Him, if they possessed everything on earth&mdash;even twice as much&mdash;they
                        would readily give it up as ransom. They have incurred the worst reckoning, and their final abode is Hell; what a miserable destiny.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="19" name="19"></a>

                    <div class="footnote-subtitle">مؤمنان در برابر کافران (۱) مؤمنان</div>

                    <p>(<span title="رعد (الرعد), آیه ۱۹">۱۳:۱۹</span>)&nbsp; آیا کسی که تشخیص می‌دهد آنچه از طرف پروردگارت بر تو فرستاده شده است، حقیقت است، با کسی که کور است، یکسان است؟ تنها صاحبان خرد متوجه خواهند شد.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="19" name="19"></a>

                    <div class="footnote-subtitle">Believers Versus Disbelievers (1) The Believers</div>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 19">13:19</span>]&nbsp; Is one who recognizes that your Lord's revelations to you are the truth equal to one who is blind? Only those who possess intelligence will take heed.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="20" name="20"></a>

                    <p>(<span title="رعد (الرعد), آیه ۲۰">۱۳:۲۰</span>)&nbsp; آنها کسانی هستند که به عهد خود با <strong>خدا</strong> وفا می‌کنند، و عهد شکنی نمی‌کنند.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="20" name="20"></a>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 20">13:20</span>]&nbsp; They are the ones who fulfill their pledge to <strong>GOD</strong>, and do not violate the covenant.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="21" name="21"></a>

                    <p>(<span title="رعد (الرعد), آیه ۲۱">۱۳:۲۱</span>)&nbsp; آنها آنچه را <strong>خدا</strong> امر به انجام آن نموده است، انجام می‌دهند، به هیبت پروردگارشان حرمت می‌نهند، و از سختی حسابرسی وحشت دارند.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="21" name="21"></a>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 21">13:21</span>]&nbsp; They join what <strong>GOD</strong> has commanded to be joined, reverence their Lord, and fear the dreadful reckoning.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="22" name="22"></a>

                    <p>(<span title="رعد (الرعد), آیه ۲۲">۱۳:۲۲</span>)&nbsp; آنها در جستجوی پروردگارشان ثابت‏قدمانه استقامت می‌کنند، دعای ارتباطی (نماز) بجا می‌آورند، از روزی ما به ایشان در پنهان و آشکار انفاق می‌کنند، و بدی را با خوبی پاسخ می‌دهند.
                        اینها سزاوار بهترین مکان شده‏‌اند.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="22" name="22"></a>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 22">13:22</span>]&nbsp; They steadfastly persevere in seeking their Lord, observe the Contact Prayers <em>(Salat)</em>, spend from our provisions to them secretly and publicly, and counter
                        evil with good. These have deserved the best abode.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="23" name="23"></a>

                    <p>(<span title="رعد (الرعد), آیه ۲۳">۱۳:۲۳</span>)&nbsp; آنها به باغهای عدن داخل می‌شوند، همراه با پرهیزکاران در میان والدینشان، همسرانشان، و فرزندانشان. فرشتگان از هر دری به ایشان می‌پیوندند.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="23" name="23"></a>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 23">13:23</span>]&nbsp; They enter the gardens of Eden, together with the righteous among their parents, their spouses, and their children. The angels will enter to them from every door.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="24" name="24"></a>

                    <p>(<span title="رعد (الرعد), آیه ۲۴">۱۳:۲۴</span>)&nbsp; "صلح بر شما، چون ثابت‏قدمانه استقامت کردید. چه سرنوشت لذت‏بخشی."</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="24" name="24"></a>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 24">13:24</span>]&nbsp; "Peace be upon you, because you steadfastly persevered. What a joyous destiny."</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="25" name="25"></a>

                    <div class="footnote-subtitle">(۲) کافران</div>

                    <p>(<span title="رعد (الرعد), آیه ۲۵">۱۳:۲۵</span>)&nbsp; و اما کسانی که عهد <strong>خدا</strong> را بعد از پیمان بستن به نگهداری آن، می‌شکنند، و آنچه را <strong>خدا</strong> به پیوستن آن امر نموده است، قطع می‌کنند، و مرتکب پلیدی
                        می‌شوند، آنها سزاوار محکومیت شده‏‌اند؛ آنها به بدترین سرنوشت گرفتار شده‏‌اند.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="25" name="25"></a>

                    <div class="footnote-subtitle">(2) The Disbelievers</div>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 25">13:25</span>]&nbsp; As for those who violate <strong>GOD</strong>'s covenant after pledging to keep it, and sever what <strong>GOD</strong> has commanded to be joined, and commit evil,
                        they have incurred condemnation; they have incurred the worst destiny.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="26" name="26"></a>

                    <div class="footnote-subtitle">خدا همه روزی‏ها را کنترل می‌کند</div>

                    <p>(<span title="رعد (الرعد), آیه ۲۶">۱۳:۲۶</span>)&nbsp;
                        <strong>خدا</strong> است که روزی هر کس را بخواهد زیاد می‌کند، و یا دریغ می‌دارد. آنها سرگرم زندگی این دنیا شده‏‌اند؛ و زندگی این دنیا در مقایسه با آخرت، هیچ است.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="26" name="26"></a>

                    <div class="footnote-subtitle">God Controls All Provisions</div>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 26">13:26</span>]&nbsp;
                        <strong>GOD</strong> is the One who increases the provision for whomever He wills, or withholds it. They have become preoccupied with this life, and this life, compared to the Hereafter, is nil.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="27" name="27"></a>

                    <p>(<span title="رعد (الرعد), آیه ۲۷">۱۳:۲۷</span>)&nbsp; کسانی که ایمان ندارند گویند، "اگر فقط معجزه‏‌ای از طرف پروردگارش بر او فرستاده می‌شد (ما ایمان می‌آوردیم)." بگو، "<strong>خدا</strong> هر کس را بخواهد گمراه می‌کند، و فقط کسانی
                        را که اطاعت می‌کنند، به خود هدایت می‌کند."</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="27" name="27"></a>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 27">13:27</span>]&nbsp; Those who disbelieve would say, "If only a miracle could come down to him from his Lord <em>(we would believe)</em>." Say, "<strong>GOD</strong> sends astray whomever
                        He wills, and guides to Him only those who obey."</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="28" name="28"></a>

                    <p>(<span title="رعد (الرعد), آیه ۲۸">۱۳:۲۸</span>)&nbsp; آنها کسانی هستند که قلب‏شان با به یاد آوردن <strong>خدا</strong> به وجد می‌آید. مسلماً، با به یاد آوردن <strong>خدا</strong> قلبها به وجد می‌آید.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="28" name="28"></a>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 28">13:28</span>]&nbsp; They are the ones whose hearts rejoice in remembering <strong>GOD</strong>. Absolutely, by remembering <strong>GOD</strong>, the hearts rejoice.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="29" name="29"></a>

                    <p>(<span title="رعد (الرعد), آیه ۲۹">۱۳:۲۹</span>)&nbsp; کسانی که ایمان دارند و زندگی پرهیزکارانه‏‌ای را در پیش می‌گیرند، سزاوار خوشبختی و سرنوشتی لذتبخش شده‏‌اند.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="29" name="29"></a>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 29">13:29</span>]&nbsp; Those who believe and lead a righteous life have deserved happiness and a joyous destiny.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="30" name="30"></a>

                    <div class="footnote-subtitle">رسول میثاق خدا*</div>

                    <p>(<span title="رعد (الرعد), آیه ۳۰">۱۳:۳۰</span>)&nbsp; (ای رشاد) ما تو را بر این جمعیت فرستاده‏‌ایم، همانطور که ما بر جمعیت‏های دیگر در گذشته فرستادیم. آنچه را به تو وحی می‌کنیم، باید برایشان بخوانی، زیرا آنها به بخشنده‏‌ترین ایمان
                        نیاورده‏‌اند. بگو، "او پروردگار من است. غیر از او خدایی نیست. من به تنها او توکل می‌کنم؛ سرنوشت نهایی من بسوی او است."</p>


                    <div class="footnote">
                        <div class="footnote-title">زیر نویس</div>
                        <div class="footnote-content">
                            <p>* ۱۳:۳۰ اگر مقدار عددى "رشاد" (۵۰۵) را با مقدار عددى "خليفه" (۷۲۵)، با شماره سوره (۱۳)، با شماره آيه (۳۰) جمع کنيم، حاصل ميشود : ۶۷۱۹= ۱۲۷۳= ۳۰+۱۳+۷۲۵+۵۰۵ . خدا اينچنين اسم رسولش را مشخص ميکند (براى جزييات به ضميمه ۲ توجه
                                کنيد).</p>
                        </div>
                    </div>

                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="30" name="30"></a>

                    <div class="footnote-subtitle">God's Messenger of the Covenant*</div>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 30">13:30</span>]&nbsp; We have sent you <em>(O Rashad)</em>* to this community, just as we did for other communities in the past. You shall recite to them what we reveal to you, for they
                        have disbelieved in the Most Gracious. Say, "He is my Lord. There is no god except He. I put my trust in Him alone; to Him is my ultimate destiny."</p>


                    <div class="footnote">
                        <div class="footnote-title">Footnote</div>
                        <div class="footnote-content">
                            <p>*13:30 If we add the gematrical value of "Rashad" (505), plus the value of "Khalifa" (725), plus the sura number (13), plus the verse number (30), we get 505+725+13+30 = 1273 = 19x67. God thus specifies the name of His
                                messenger (see Appendix 2 for the details).

                            </p>
                        </div>
                    </div>

                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="31" name="31"></a>

                    <div class="footnote-subtitle">معجزه ریاضی قرآن</div>

                    <p>(<span title="رعد (الرعد), آیه ۳۱">۱۳:۳۱</span>)&nbsp; حتی اگر قرآنی باعث می‌شد کوه‏‌ها بحرکت درآیند، و یا زمین متلاشی شود، یا مرده به حرف درآید (آنها ایمان نخواهند آورد). <strong>خدا</strong> که همه چیز را کنترل می‌کند. آیا موقع
                        آن نرسیده است مؤمنان دست بردارند و تشخیص دهند که اگر <strong>خدا</strong> می‌خواست، می‌توانست همه مردم را هدایت کند؟ کافران همچنان از مصیبت‏ها رنج خواهند برد، در نتیجه اعمالشان، یا اینکه مصیبت‏ها به نزدیکی آنها اصابت می‌کند،
                        تا اینکه وعده <strong>خدا</strong> انجام شود. <strong>خدا</strong> هرگز سرنوشت از قبل تعیین شده را تغییر نخواهد داد.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="31" name="31"></a>

                    <div class="footnote-subtitle">Mathematical Miracle of the Quran</div>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 31">13:31</span>]&nbsp; Even if a Quran caused mountains to move, or the earth to tear asunder, or the dead to speak <em>(they will not believe)</em>. <strong>GOD</strong> controls all things.
                        Is it not time for the believers to give up and realize that if <strong>GOD</strong> willed, He could have guided all the people? The disbelievers will continue to suffer disasters, as a consequence of their own works, or have
                        disasters strike close to them, until <strong>GOD</strong>'s promise is fulfilled. <strong>GOD</strong> will never change the predetermined destiny.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="32" name="32"></a>

                    <div class="footnote-subtitle">همه رسولان باید مسخره شوند</div>

                    <p>(<span title="رعد (الرعد), آیه ۳۲">۱۳:۳۲</span>)&nbsp; رسولان قبل از تو مسخره شده بودند؛ من به کافران اجازه دادم تا ادامه دهند، سپس آنها را تنبیه کردم. چه هولناک بود عذاب من!</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="32" name="32"></a>

                    <div class="footnote-subtitle">All Messengers Must Be Ridiculed</div>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 32">13:32</span>]&nbsp; Messengers before you have been ridiculed; I permitted the disbelievers to carry on, then I punished them. How terrible was My retribution!</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="33" name="33"></a>

                    <p>(<span title="رعد (الرعد), آیه ۳۳">۱۳:۳۳</span>)&nbsp; آیا هیچ برابری هست با آن یکتایی که هر نفسی را کنترل می‌کند؟ با این حال معبودانی را در کنار <strong>خدا</strong> رقیب قرار می‌دهند. بگو، "آنها را اسم ببرید. آیا او را از چیزی
                        در روی زمین آگاه می‌کنید که او از آن اطلاعی ندارد؟ یا اینکه جملات پوچ جعل می‌کنید؟" به درستی که توطئه کسانی که ایمان ندارند در چشمانشان زیبا جلوه کرده است. آنها اینچنین از راه راست منحرف شدند. هر کس را <strong>خدا</strong>                            گمراه کند، هرگز نمی‌تواند معلمی هدایت کننده بیابد.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="33" name="33"></a>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 33">13:33</span>]&nbsp; Is there any equal to the One who controls every single soul? Yet, they set up idols to rival <strong>GOD</strong>. Say, "Name them. Are you informing Him of something
                        on earth that He does not know? Or, are you fabricating empty statements?" Indeed, the schemes of those who disbelieve have been adorned in their eyes. They are thus diverted from the right path. Whomever <strong>GOD</strong>                            sends astray can never find a guiding teacher.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="34" name="34"></a>

                    <p>(<span title="رعد (الرعد), آیه ۳۴">۱۳:۳۴</span>)&nbsp; آنها در زندگی این دنیا سزاوار عذاب شده‏‌اند، و عذاب آخرت بسیار بدتر است. هیچ چیز نمی‌تواند آنها را در مقابل <strong>خدا</strong> حمایت کند.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="34" name="34"></a>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 34">13:34</span>]&nbsp; They have incurred retribution in this life, and the retribution in the Hereafter is far worse. Nothing can protect them against <strong>GOD</strong>.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="35" name="35"></a>

                    <div class="footnote-subtitle">توجیه تمثیلی بهشت</div>

                    <p>(<span title="رعد (الرعد), آیه ۳۵">۱۳:۳۵</span>)&nbsp; مثال بهشتی که به پرهیزکاران وعده داده شده است، نهرهای جاری، روزی‏های تمام نشدنی، و سایه خنک است. چنین است سرنوشت کسانی که پرهیزکار هستند، در حالی که سرنوشت کافران جهنم است.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="35" name="35"></a>

                    <div class="footnote-subtitle">Heaven Allegorically Described</div>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 35">13:35</span>]&nbsp; The allegory of Heaven, which is promised for the righteous, is flowing streams, inexhaustible provisions, and cool shade. Such is the destiny for those who observe
                        righteousness, while the destiny for the disbelievers is Hell.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="36" name="36"></a>

                    <p>(<span title="رعد (الرعد), آیه ۳۶">۱۳:۳۶</span>)&nbsp; کسانی که کتاب آسمانی دریافت داشتند، از آنچه بر تو نازل شده است خوشحال می‌شوند؛ دیگران ممکن است قسمتهایی از آن را رد کنند. بگو، "به من فقط امر شده است که <strong>خدا</strong>                            را پرستش کنم، و هرگز در کنار او شریکی قرار ندهم. من به او دعوت می‌کنم، و سرنوشت نهایی من بسوی او است."</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="36" name="36"></a>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 36">13:36</span>]&nbsp; Those who received the scripture rejoice in what was revealed to you; some others may reject parts of it. Say, "I am simply enjoined to worship <strong>GOD</strong>,
                        and never associate any idols with Him. I invite to Him, and to Him is my ultimate destiny."</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="37" name="37"></a>

                    <div class="footnote-subtitle">تأییدیه الهی کُد ریاضی قرآن*</div>

                    <p>(<span title="رعد (الرعد), آیه ۳۷">۱۳:۳۷</span>)&nbsp; ما این قوانین را به عربی نازل کردیم، و بعد از این دانشی که بر تو آمده است، اگر تو به خواسته‏‌هایشان تن در دهی، هیچ یاور و حمایت کننده‏‌ای در مقابل <strong>خدا</strong> نخواهی
                        داشت.</p>


                    <div class="footnote">
                        <div class="footnote-title">زیر نویس</div>
                        <div class="footnote-content">
                            <p>* ۳۸- ۱۳:۳۷ شماره آيه (۳۸)= ۱۹۲. با قرار دادن مقدار عددى "رشاد" (۵۰۵) و "خليفه" (۷۲۵)، در کنار ۳۸-۱۳:۳۷، حاصل ميشود، ۳۸ ۳۷ ۱۳ ۷۲۵ ۵۰۵ ، يا ۲۶۶۱۷۱۱۲۳۰۲ ۱۹ (ضميمه ۲).</p>
                        </div>
                    </div>

                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="37" name="37"></a>

                    <div class="footnote-subtitle">Divine Authorization of the Quran's Mathematical Code*</div>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 37">13:37</span>]&nbsp; We revealed these laws in Arabic, and if you ever acquiesce to their wishes, after this knowledge has come to you, you will have no ally, nor a protector, against
                        <strong>GOD</strong>.</p>


                    <div class="footnote">
                        <div class="footnote-title">Footnote</div>
                        <div class="footnote-content">
                            <p>*13:37-38 The verse number (38) = 19x2. Placing the values of "Rashad" (505) and "Khalifa" (725) next to 13:37-38, gives 505 725 13 37 38, or 19x26617112302 (Appendix 2).

                            </p>
                        </div>
                    </div>

                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="38" name="38"></a>

                    <p>(<span title="رعد (الرعد), آیه ۳۸">۱۳:۳۸</span>)&nbsp; ما قبل از تو رسولانی فرستاده‏‌ایم (ای رشاد)، و آنها را شوهران با همسران و فرزندان قرار دادیم. هیچ رسولی نمی‌تواند معجزه‏‌ای بیاورد، مگر با اجازه <strong>خدا</strong>، و در
                        زمانی خاص، تعیین شده از قبل.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="38" name="38"></a>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 38">13:38</span>]&nbsp; We have sent messengers before you <em>(O Rashad)</em>, and we made them husbands with wives and children. No messenger can produce a miracle without <strong>GOD</strong>'s
                        authorization, and in accordance with a specific, predetermined time.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="39" name="39"></a>

                    <p>(<span title="رعد (الرعد), آیه ۳۹">۱۳:۳۹</span>)&nbsp;
                        <strong>خدا</strong> هر چه را بخواهد پاک و درست می‌کند. نسخه اصلی کتاب نزد او است.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="39" name="39"></a>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 39">13:39</span>]&nbsp;
                        <strong>GOD</strong> erases whatever He wills, and fixes. With Him is the original Master Record.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="40" name="40"></a>

                    <p>(<span title="رعد (الرعد), آیه ۴۰">۱۳:۴۰</span>)&nbsp; چه ما آنچه را به آنها وعده دهیم، به تو نشان دهیم، چه قبل از آن به زندگی تو خاتمه دهیم، تنها مأموریت تو تحویل (پیغام) است. این ما هستیم که به حسابشان رسیدگی خواهیم کرد.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="40" name="40"></a>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 40">13:40</span>]&nbsp; Whether we show you what we promise them, or terminate your life before that, your sole mission is to deliver <em>(the message)</em>. It is us who will call them to
                        account.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="41" name="41"></a>

                    <p>(<span title="رعد (الرعد), آیه ۴۱">۱۳:۴۱</span>)&nbsp; آیا نمی‌بینند که هر روز در زمین، آنها را به پایان نزدیکتر می‌کند، و اینکه <strong>خدا</strong> مدت عمرشان را که تغییرناپذیر است معین می‌کند؟ او باکفایت‏ترین حسابگر است.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="41" name="41"></a>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 41">13:41</span>]&nbsp; Do they not see that every day on earth, brings them closer to the end, and that <strong>GOD</strong> decides their life span, irrevocably? He is the most efficient
                        Reckoner.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="42" name="42"></a>

                    <p>(<span title="رعد (الرعد), آیه ۴۲">۱۳:۴۲</span>)&nbsp; دیگران قبل از ایشان توطئه کرده‏‌اند، اما نقشه نهایی از آن <strong>خدا</strong> است. او می‌داند هر کس چه کاری انجام می‌دهد. کافران خواهند فهمید که برندگان نهایی چه کسانی هستند.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="42" name="42"></a>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 42">13:42</span>]&nbsp; Others before them have schemed, but to <strong>GOD</strong> belongs the ultimate scheming. He knows what everyone is doing. The disbelievers will find out who the
                        ultimate winners are.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="43" name="43"></a>

                    <p>(<span title="رعد (الرعد), آیه ۴۳">۱۳:۴۳</span>)&nbsp; کسانی که ایمان نیاوردند خواهند گفت، "تو رسول نیستی!" بگو، "<strong>خدا</strong> بعنوان شاهد بین من و شما، و کسانی که دانش کتاب آسمانی دارند، کافی است."</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="43" name="43"></a>

                    <p>[<span title="Thunder (Al-Ra'ad), verse 43">13:43</span>]&nbsp; Those who disbelieved will say, "You are not a messenger!" Say, "<strong>GOD</strong> suffices as a witness between me and you, and those who possess knowledge of
                        the scripture."</p>


                </div>



                <div>&nbsp;</div>



            </div>
        </section>
        <div class="sura-stats">
            <div class="cumulative-freq">
                مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                <div>= ۱۴۵۰</div>
            </div>
            <div class="cumulative-sum">
                مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                <div>= ۸۶۲۱۰</div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>