<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۶۶: حرام گردانیدن (التحریم)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 66: Prohibition (Al-Tahreem)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="حرام گردانیدن (التحریم), آیه ۱">۶۶:۱</span>)&nbsp; تو ای پیغمبر، چرا چیزی را که <strong>خدا</strong> برای تو حلال کرده است، به خاطر اینکه همسرانت را خشنود سازی، حرام می‌کنی؟ <strong>خدا</strong> عفو کننده است، مهربان.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۶۶:۱ محمدى هاى دور دنيا باور دارند که محمد هرگز خطاکار نبوده. اين آيه به ما مى آموزد که او در واقع انسان خطاکارى بوده است (۱۸:۱۱۰، ۲۳:۲۷، ۴۰:۶۶، ۸۰:۱).</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="Prohibition (Al-Tahreem), verse 1">66:1</span>]&nbsp; O you prophet, why do you prohibit what <strong>GOD</strong> has made lawful for you, just to please your wives? <strong>GOD</strong> is Forgiver, Merciful.*</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*66:1 Mohammedans around the world believe that Muhammad was infallible. This verse teaches us that he was indeed a fallible human being (18:110, 33:37, 40:66, 80:1).

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="حرام گردانیدن (التحریم), آیه ۲">۶۶:۲</span>)&nbsp;
                            <strong>خدا</strong> قوانینی برای سوگندهای شما مقرر کرده است. <strong>خدا</strong> پروردگار شما است، و او دانای مطلق است، حکیم‏ترین.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="Prohibition (Al-Tahreem), verse 2">66:2</span>]&nbsp;
                            <strong>GOD</strong> has decreed for you the laws dealing with your oaths. <strong>GOD</strong> is your Lord, and He is the Omniscient, Most Wise.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="حرام گردانیدن (التحریم), آیه ۳">۶۶:۳</span>)&nbsp; پیغمبر به بعضی از همسرانش در مورد مطلب خاصی اطمینان کرده بود، سپس یکی از آنها آن را پخش کرد، و <strong>خدا</strong> او را از آن آگاه ساخت. سپس او قسمتی از آن را برای
                            زنش گفت، و قسمتی را نادیده گرفت. آن زن از او پرسید، "چه کسی تو را از این مطلع کرد؟" او گفت، "من به واسطه آن دانای مطلق، آگاه‏‌ترین، باخبر شدم."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="Prohibition (Al-Tahreem), verse 3">66:3</span>]&nbsp; The prophet had trusted some of his wives with a certain statement, then one of them spread it, and <strong>GOD</strong> let him know about it. He then informed
                            his wife of part of the issue, and disregarded part. She asked him, "Who informed you of this?" He said, "I was informed by the Omniscient, Most Cognizant."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="حرام گردانیدن (التحریم), آیه ۴">۶۶:۴</span>)&nbsp; اگر هر دوی شما (زنها) به <strong>خدا</strong> توبه کنید پس قلب شما گوش کرده است. اما اگر شما بر علیه او همدست شوید، سپس <strong>خدا</strong> یار او است، و همینطور
                            جبرییل و مؤمنان پرهیزکار. همچنین، فرشتگان یاری کنندگان او هستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="Prohibition (Al-Tahreem), verse 4">66:4</span>]&nbsp; If the two of you repent to <strong>GOD</strong>, then your hearts have listened. But if you band together against him, then <strong>GOD</strong> is his ally,
                            and so is Gabriel and the righteous believers. Also, the angels are his helpers.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="حرام گردانیدن (التحریم), آیه ۵">۶۶:۵</span>)&nbsp; اگر او شما را طلاق دهد، پروردگارش همسران دیگری جایگزین شما می‌کند که بهتر از شما هستند؛ تسلیم شدگان، مؤمنان، فرمانبرداران، توبه کنندگان، پرستش کنندگان، پرهیزکارانی
                            که یا قبلاً ازدواج کرده باشند و یا باکره باشند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="Prohibition (Al-Tahreem), verse 5">66:5</span>]&nbsp; If he divorces you, his Lord will substitute other wives in your place who are better than you; submitters <em>(Muslims)</em>, believers <em>(Mu'mins)</em>, obedient,
                            repentant, worshipers, pious, either previously married, or virgins.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="حرام گردانیدن (التحریم), آیه ۶">۶۶:۶</span>)&nbsp; ای کسانی که ایمان دارید، خود و خانواده خود را از آتش جهنمی که سوخت آن از مردم و سنگها است، محافظت کنید. نگهبانان آن فرشتگان سخت‏گیر و پرقدرتی هستند که هرگز از <strong>خدا</strong>                            نافرمانی نمی‌کنند؛ هر چه به آنها امر شده است، انجام می‌دهند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="Prohibition (Al-Tahreem), verse 6">66:6</span>]&nbsp; O you who believe, protect yourselves and your families from the Hellfire whose fuel is people and rocks. Guarding it are stern and powerful angels who never disobey
                            <strong>GOD</strong>; they do whatever they are commanded to do.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="حرام گردانیدن (التحریم), آیه ۷">۶۶:۷</span>)&nbsp; ای کسانی که ایمان نیاورده‏‌اید، امروز عذرخواهی نکنید. شما فقط به خاطر اعمالی که انجام داده‏‌اید مجازات می‌شوید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="Prohibition (Al-Tahreem), verse 7">66:7</span>]&nbsp; O you who disbelieved, do not apologize today. You are being requited only for what you did.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <div class="footnote-subtitle">مؤمنان توبه می‌کنند</div>

                        <p>(<span title="حرام گردانیدن (التحریم), آیه ۸">۶۶:۸</span>)&nbsp; ای کسانی که ایمان دارید، شما باید به <strong>خدا</strong> توبه کنید، توبه‏‌ای محکم. سپس پروردگارتان گناهان شما را خواهد بخشید و شما را به باغهایی با نهرهای روان داخل
                            خواهد کرد. در آن روز، <strong>خدا</strong>، پیغمبر و کسانی را که با او ایمان آوردند، ناامید نخواهد کرد. نور آنها در سمت راست و پیشاپیش‏شان می‌تابد. آنها خواهند گفت، "پروردگار ما، نور ما را برای ما به کمال رسان، و ما را ببخش؛
                            تو قادر مطلق هستی."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <div class="footnote-subtitle">The Believers Repent</div>

                        <p>[<span title="Prohibition (Al-Tahreem), verse 8">66:8</span>]&nbsp; O you who believe, you shall repent to <strong>GOD</strong> a firm repentance. Your Lord will then remit your sins and admit you into gardens with flowing streams.
                            On that day, <strong>GOD</strong> will not disappoint the prophet and those who believed with him. Their light will radiate in front of them and to their right. They will say, "Our Lord, perfect our light for us, and forgive
                            us; You are Omnipotent."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <p>(<span title="حرام گردانیدن (التحریم), آیه ۹">۶۶:۹</span>)&nbsp; ای پیغمبر، بر علیه کافران و منافقان کوشش کن و با آنها سخت‏گیر باش. جای آنها جهنم است، و سرنوشتی فلاکت‏بار.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <p>[<span title="Prohibition (Al-Tahreem), verse 9">66:9</span>]&nbsp; O prophet, struggle against the disbelievers and the hypocrites and be stern with them. Their abode is Gehenna, and a miserable destiny.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <div class="footnote-subtitle">افسانه شفاعت از بین رفت</div>

                        <p>(<span title="حرام گردانیدن (التحریم), آیه ۱۰">۶۶:۱۰</span>)&nbsp;
                            <strong>خدا</strong> از کسانی که ایمان نیاوردند، همسر نوح و همسر لوط را مثال می‌زند. آنها با دو نفر از بندگان پرهیزکار ما ازدواج کرده بودند، اما آنها به ایشان خیانت کردند و در نتیجه، آنها نتوانستند به هیچ وجه در مقابل <strong>خدا</strong>                            به ایشان کمک کنند. به هر دوی آنها گفته شد، "داخل آتش جهنم شوید با کسانی که سزاوار آن شدند."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <div class="footnote-subtitle">The Myth of Intercession Shattered</div>

                        <p>[<span title="Prohibition (Al-Tahreem), verse 10">66:10</span>]&nbsp;
                            <strong>GOD</strong> cites as examples of those who disbelieved the wife of Noah and the wife of Lot. They were married to two of our righteous servants, but they betrayed them and, consequently, they could not help them at
                            all against <strong>GOD</strong>. The two of them were told, "Enter the Hellfire with those who deserved it."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <div class="footnote-subtitle">مثال‏هایی از مؤمنان همسر فرعون</div>

                        <p>(<span title="حرام گردانیدن (التحریم), آیه ۱۱">۶۶:۱۱</span>)&nbsp; و <strong>خدا</strong> از کسانی که ایمان آوردند، همسر فرعون را مثال می‌زند. او گفت، "پروردگار من، نزد خود در پردیس خانه‏‌ای برای من بساز، و من را از دست فرعون و
                            کارهایش نجات بده؛ من را از دست مردم متجاوز نجات بده."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <div class="footnote-subtitle">Examples of the Believers Pharaoh's Wife</div>

                        <p>[<span title="Prohibition (Al-Tahreem), verse 11">66:11</span>]&nbsp; And <strong>GOD</strong> cites as an example of those who believed the wife of Pharaoh. She said, "My Lord, build a home for me at You in Paradise, and save
                            me from Pharaoh and his works; save me from the transgressing people."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="12" name="12"></a>

                        <div class="footnote-subtitle">مریم</div>

                        <p>(<span title="حرام گردانیدن (التحریم), آیه ۱۲">۶۶:۱۲</span>)&nbsp; همچنین مریم، از قوم عمران. او عفت خود را حفظ کرد، سپس ما از روح خود در او دمیدیم. او به کلمات پروردگارش و کتاب‏های آسمانی او ایمان آورد؛ او فرمانبردار بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="12" name="12"></a>

                        <div class="footnote-subtitle">Mary</div>

                        <p>[<span title="Prohibition (Al-Tahreem), verse 12">66:12</span>]&nbsp; Also Mary, the Amramite. She maintained her chastity, then we blew into her from our spirit. She believed in the words of her Lord and His scriptures; she was
                            obedient.</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۶۴۰</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۷۴۲۹</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>

</html>

<!-- // DEFINITIONS

base.html contains all the functionality specific code. There is layout code in this document. All other templates inherit from this document.

-->