<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۴۸: پیروزی (الفتح)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 48: Victory (Al-Fatt-h)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="پیروزی (الفتح), آیه ۱">۴۸:۱</span>)&nbsp; ما به تو (ای رسول) پیروزی بزرگی عطا کرده‏‌ایم.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۴۸:۱ اين عبارت مهم شامل ۱۹ حرف است که نشان ميدهد نسل ما، نسل پيروزى براى دين پاک شده، متحد شده و يکى شده خدا است- تسليم (اسلام) (۸۵ و ۳:۱۹). نسل ما است که شاهد آشکار شدن معجزه عظيم خدا در قرآن بود (ضميمه ۱).</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="Victory (Al-Fatt-h), verse 1">48:1</span>]&nbsp; We have bestowed upon you <em>(O Messenger)</em> a great victory.*</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*48:1 This profound statement consists of 19 letters, indicating that our generation is the generation of victory for God's purified, unified, and consolidated religion-Submission (3:19, 85). It is our generation that witnessed
                                    the revelations of God's great miracle in the Quran (Appendix 1).

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="پیروزی (الفتح), آیه ۲">۴۸:۲</span>)&nbsp; که به وسیله آن <strong>خدا</strong> گناهان گذشته تو را می‌بخشد، همچنین گناهان آینده، و او نعمت‏هایش را بر تو تمام می‌کند، و تو را در راه راست هدایت می‌کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="Victory (Al-Fatt-h), verse 2">48:2</span>]&nbsp; Whereby <strong>GOD</strong> forgives your past sins, as well as future sins, and perfects His blessings upon you, and guides you in a straight path.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="پیروزی (الفتح), آیه ۳">۴۸:۳</span>)&nbsp; بعلاوه، <strong>خدا</strong> تو را حمایت می‌کند، حمایتی بدون تردید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="Victory (Al-Fatt-h), verse 3">48:3</span>]&nbsp; Additionally, <strong>GOD</strong> will support you with an unwavering support.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="پیروزی (الفتح), آیه ۴">۴۸:۴</span>)&nbsp; او آن یکتایی است که در قلب مؤمنان آرامش قرار می‌دهد تا بر ایمان آنها بیافزاید. همه نیروهای آسمانها و زمین از آن <strong>خدا</strong> است. <strong>خدا</strong> دانای مطلق است،
                            حکیم‏ترین.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="Victory (Al-Fatt-h), verse 4">48:4</span>]&nbsp; He is the One who places contentment into the hearts of believers to augment more faith, in addition to their faith. To <strong>GOD</strong> belongs all forces of the
                            heavens and the earth. <strong>GOD</strong> is Omniscient, Most Wise.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="پیروزی (الفتح), آیه ۵">۴۸:۵</span>)&nbsp; او مسلماً مردان و زنان مؤمن را به باغهایی با نهرهای جاری داخل خواهد کرد جایی که در آن جاودان باشند. او گناهان آنها را خواهد بخشید. این نزد <strong>خدا</strong> پیروزی بزرگی
                            است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="Victory (Al-Fatt-h), verse 5">48:5</span>]&nbsp; He will certainly admit the believing men and women into gardens with flowing streams, wherein they abide forever. He will remit their sins. This is, in the sight of
                            <strong>GOD</strong>, a great triumph.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="پیروزی (الفتح), آیه ۶">۴۸:۶</span>)&nbsp; و او مردان و زنان منافق و مردان و زنان مشرک را به خاطر افکار بدشان درباره <strong>خدا</strong>، جزا خواهد داد. بدی آنها دامن‏گیر خودشان خواهد شد. زیرا <strong>خدا</strong>                            از آنها خشمگین است، آنها را محکوم می‌کند، و جهنم را برای آنها آماده کرده است. چه سرنوشت بدی!</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="Victory (Al-Fatt-h), verse 6">48:6</span>]&nbsp; And He will requite the hypocrite men and women and the idol worshiping men and women, for they have harbored evil thoughts about <strong>GOD</strong>. Their evil will
                            backfire against them. For <strong>GOD</strong> is angry with them, condemns them, and has prepared for them Gehenna. What a miserable destiny!</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="پیروزی (الفتح), آیه ۷">۴۸:۷</span>)&nbsp; همه نیروها در آسمانها و زمین از آن <strong>خدا</strong> است. <strong>خدا</strong> بزرگوار است، حکیم‏ترین.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="Victory (Al-Fatt-h), verse 7">48:7</span>]&nbsp; To <strong>GOD</strong> belongs all the forces in the heavens and the earth. <strong>GOD</strong> is Almighty, Most Wise.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="پیروزی (الفتح), آیه ۸">۴۸:۸</span>)&nbsp; ما تو را بعنوان شاهد فرستاده‏‌ایم، مژده دهنده، و هشدار دهنده.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="Victory (Al-Fatt-h), verse 8">48:8</span>]&nbsp; We have sent you as a witness, a bearer of good news, and a warner.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <p>(<span title="پیروزی (الفتح), آیه ۹">۴۸:۹</span>)&nbsp; تا باشد که شما مردم به <strong>خدا</strong> و رسولش ایمان آورید، و به هیبت او حرمت نهید، و او را در نظر داشته باشید، و روز و شب او را ستایش کنید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <p>[<span title="Victory (Al-Fatt-h), verse 9">48:9</span>]&nbsp; That you people may believe in <strong>GOD</strong> and His messenger, and reverence Him, and observe Him, and glorify Him, day and night.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <div class="footnote-subtitle">شما باید رسول خدا را حمایت کنید</div>

                        <p>(<span title="پیروزی (الفتح), آیه ۱۰">۴۸:۱۰</span>)&nbsp; شما باید مطمئناً، کسانی که عهد می‌کنند که به تو وفادار باشند، با <strong>خدا</strong> عهد وفاداری می‌بندند. <strong>خدا</strong> عهدشان را تأیید می‌کند؛ او دست خود را بالای
                            دست ایشان قرار می‌دهد. کسانی که چنین عهدی را می‌شکنند، به ضرر خود عهدشکن هستند. و اما کسانی که به عهد خود با <strong>خدا</strong> وفا می‌کنند، او به ایشان پاداش عظیمی عطا خواهد کرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <div class="footnote-subtitle">You Shall Support God's Messenger</div>

                        <p>[<span title="Victory (Al-Fatt-h), verse 10">48:10</span>]&nbsp; Surely, those who pledge allegiance to you, are pledging allegiance to <strong>GOD</strong>. <strong>GOD</strong> approves their pledge; He places His hand above
                            their hands. Those who violate such a pledge, commit the violation to their own detriment. As for those who fulfill their pledge with <strong>GOD</strong>, He will grant them a great recompense.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <p>(<span title="پیروزی (الفتح), آیه ۱۱">۴۸:۱۱</span>)&nbsp; به اعراب خانه‏نشینی که عقب بمانند، خواهند گفت، "ما سرگرم پول و خانواده خود شده‏‌ایم، پس برای ما طلب بخشش کن!" آنها با زبانشان چیزی اداء می‌کنند که در قلبشان نیست. بگو، "چه
                            کسی می‌تواند شما را از <strong>خدا</strong> محافظت کند، اگر او مصیبتی برای شما بخواهد، یا اگر او نعمتی برای شما بخواهد؟" <strong>خدا</strong> کاملاً بر هرچه شما انجام می‌دهید آگاه است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <p>[<span title="Victory (Al-Fatt-h), verse 11">48:11</span>]&nbsp; The sedentary Arabs who stay behind will say, "We have been preoccupied with our money and our families, so ask forgiveness for us!" They utter with their tongues
                            what is not in their hearts. Say, "Who can protect you from <strong>GOD</strong>, if He willed any adversity for you, or if He willed any blessing for you?" <strong>GOD</strong> is fully Cognizant of everything you do.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="12" name="12"></a>

                        <p>(<span title="پیروزی (الفتح), آیه ۱۲">۴۸:۱۲</span>)&nbsp; شما در درون خود پنداشتید که رسول و مؤمنان شکست خواهند خورد و هرگز به خانواده‏‌شان بازنخواهند گشت، و این در قلبتان کاملاً جا گرفت. شما افکار بد به خود راه دادید و مردم ستمگری
                            شدید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="12" name="12"></a>

                        <p>[<span title="Victory (Al-Fatt-h), verse 12">48:12</span>]&nbsp; You secretly believed that the messenger and the believers will be defeated and never come back to their families, and this was firmly established in your hearts.
                            You harbored evil thoughts and turned into wicked people.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="13" name="13"></a>

                        <p>(<span title="پیروزی (الفتح), آیه ۱۳">۴۸:۱۳</span>)&nbsp; هر کس به <strong>خدا</strong> و رسولش ایمان نیاورد، ما برای کافران آتش جهنم را تهیه دیده‏‌ایم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="13" name="13"></a>

                        <p>[<span title="Victory (Al-Fatt-h), verse 13">48:13</span>]&nbsp; Anyone who refuses to believe in <strong>GOD</strong> and His messenger, we have prepared for the disbelievers a hellfire.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="14" name="14"></a>

                        <p>(<span title="پیروزی (الفتح), آیه ۱۴">۴۸:۱۴</span>)&nbsp; سلطنت آسمانها و زمین از آن <strong>خدا</strong> است. او هر کس را بخواهد می‌بخشد، و هر کس را بخواهد تنبیه می‌کند. <strong>خدا</strong> عفو کننده است، مهربانترین.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="14" name="14"></a>

                        <p>[<span title="Victory (Al-Fatt-h), verse 14">48:14</span>]&nbsp; To <strong>GOD</strong> belongs the sovereignty of the heavens and the earth. He forgives whomever He wills, and punishes whomever He wills. <strong>GOD</strong>                            is Forgiver, Most Merciful.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="15" name="15"></a>

                        <p>(<span title="پیروزی (الفتح), آیه ۱۵">۴۸:۱۵</span>)&nbsp; خانه‏نشینانی که پشت سر می‌مانند، هنگامی که قرار شود شما غنیمت‏های جنگ را جمع‏آوری کنید، خواهند گفت، "بگذارید همراه شما بیاییم تا سهمی از این ببریم!" آنها اینچنین آرزو دارند
                            تا کلمات <strong>خدا</strong> را تغییر دهند. بگو، "شما همراه ما نخواهید آمد. این تصمیم <strong>خدا</strong> است." آنها آنوقت خواهند گفت، "شما به ما حسودی می‌کنید (چون عقب ماندیم)." به درستی که آنها بندرت چیزی فهمیدند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="15" name="15"></a>

                        <p>[<span title="Victory (Al-Fatt-h), verse 15">48:15</span>]&nbsp; The sedentary who stay behind will say, when you are expected to collect spoils of war, "Let us follow you to share in this!" They thus wish to alter <strong>GOD</strong>'s
                            words. Say, "You will not follow us. This is <strong>GOD</strong>'s decision." They will then say, "You must be envious of us <em>(for staying behind)</em>." Indeed, they rarely understood anything.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="16" name="16"></a>

                        <div class="footnote-subtitle">امتحان برای نسلهای اولیه</div>

                        <p>(<span title="پیروزی (الفتح), آیه ۱۶">۴۸:۱۶</span>)&nbsp; اعراب خانه‏نشینی که عقب بمانند بگو، "شما به روبرو شدن با مردمی قوی و جنگیدن با ایشان دعوت خواهید شد، مگر اینکه تسلیم شوند. اگر اطاعت کنید، <strong>خدا</strong> پاداش سخاوتمندانه‏‌ای
                            به شما خواهد داد. اما اگر دوباره روی بگردانید مانند گذشته، او جزای شما را با عذابی دردناک خواهد داد."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="16" name="16"></a>

                        <div class="footnote-subtitle">The Test for Early Generations</div>

                        <p>[<span title="Victory (Al-Fatt-h), verse 16">48:16</span>]&nbsp; Say to the sedentary Arabs who stay behind, "You will be invited to face powerful people and to fight them, unless they submit. If you obey, <strong>GOD</strong>                            will reward you with a generous recompense. But if you turn away again, as you did in the past, He will requite you with a painful retribution."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="17" name="17"></a>

                        <p>(<span title="پیروزی (الفتح), آیه ۱۷">۴۸:۱۷</span>)&nbsp; بر کور سرزنشی نیست، بر شل سرزنشی نیست، و بر مریض سرزنشی نیست. کسانی که از <strong>خدا</strong> و رسولش اطاعت کنند، او آنها را به باغهایی با نهرهای جاری داخل خواهد کرد. و
                            اما کسانی که روی بگردانند، او جزای آنها را با عذابی دردناک خواهد داد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="17" name="17"></a>

                        <p>[<span title="Victory (Al-Fatt-h), verse 17">48:17</span>]&nbsp; The blind is not to be blamed, the crippled is not to be blamed, and the sick is not to be blamed. Those who obey <strong>GOD</strong> and His messenger, He will
                            admit them into gardens with flowing streams. As for those who turn away, He will requite them with a painful retribution.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="18" name="18"></a>

                        <p>(<span title="پیروزی (الفتح), آیه ۱۸">۴۸:۱۸</span>)&nbsp;
                            <strong>خدا</strong> خشنود است از مؤمنانی که در زیر درخت با تو عهد وفاداری بستند. او می‌دانست در قلب‏شان چه بود و، در نتیجه، او به آنها آرامش عطا کرد، و به آنها با پیروزی سریع پاداش داد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="18" name="18"></a>

                        <p>[<span title="Victory (Al-Fatt-h), verse 18">48:18</span>]&nbsp;
                            <strong>GOD</strong> is pleased with the believers who pledged allegiance to you under the tree. He knew what was in their hearts and, consequently, He blessed them with contentment, and rewarded them with an immediate victory.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="19" name="19"></a>

                        <p>(<span title="پیروزی (الفتح), آیه ۱۹">۴۸:۱۹</span>)&nbsp; بعلاوه، آنها غنیمت‏های بسیاری به دست آوردند. <strong>خدا</strong> بزرگوار است، حکیم‏ترین.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="19" name="19"></a>

                        <p>[<span title="Victory (Al-Fatt-h), verse 19">48:19</span>]&nbsp; Additionally, they gained many spoils. <strong>GOD</strong> is Almighty, Most Wise.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="20" name="20"></a>

                        <p>(<span title="پیروزی (الفتح), آیه ۲۰">۴۸:۲۰</span>)&nbsp;
                            <strong>خدا</strong> به شما غنیمت‏های بسیاری وعده داده است که به دست خواهید آورد. او اینچنین در این دنیا به شما منافعی داد، و او دست مردم را از تجاوز بر علیه شما کوتاه کرد، و این را نشانه‏‌ای برای مؤمنان قرار داد. او اینچنین
                            شما را در راه راست هدایت می‌کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="20" name="20"></a>

                        <p>[<span title="Victory (Al-Fatt-h), verse 20">48:20</span>]&nbsp;
                            <strong>GOD</strong> has promised you many spoils that you will gain. He thus advanced some benefits for you in this life, and He has withheld the people's hands of aggression against you, and has rendered this a sign for the
                            believers. He thus guides you in a straight path.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="21" name="21"></a>

                        <p>(<span title="پیروزی (الفتح), آیه ۲۱">۴۸:۲۱</span>)&nbsp; و اما آن گروهی که شما امکان نداشت آنها را شکست دهید، <strong>خدا</strong> به حساب ایشان رسیدگی کرد؛ <strong>خدا</strong> قادر مطلق است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="21" name="21"></a>

                        <p>[<span title="Victory (Al-Fatt-h), verse 21">48:21</span>]&nbsp; As for the group that you could not possibly defeat, <strong>GOD</strong> took care of them; <strong>GOD</strong> is Omnipotent.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="22" name="22"></a>

                        <div class="footnote-subtitle">پیروزی مؤمنان تضمین شده است</div>

                        <p>(<span title="پیروزی (الفتح), آیه ۲۲">۴۸:۲۲</span>)&nbsp; اگر کافران با شما می‌جنگیدند، روی می‌گرداندند و فرار می‌کردند. آنها هیچ مولا و سروری ندارند؛ آنها هیچ کمکی ندارند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="22" name="22"></a>

                        <div class="footnote-subtitle">Victory Guaranteed for the Believers</div>

                        <p>[<span title="Victory (Al-Fatt-h), verse 22">48:22</span>]&nbsp; If the disbelievers ever fought you, they would turn around and flee. They have no Lord and Master; they have no helper.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="23" name="23"></a>

                        <p>(<span title="پیروزی (الفتح), آیه ۲۳">۴۸:۲۳</span>)&nbsp; چنین است روش <strong>خدا</strong> در طول تاریخ، و تو روش <strong>خدا</strong> را غیرقابل تغییر خواهی یافت.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="23" name="23"></a>

                        <p>[<span title="Victory (Al-Fatt-h), verse 23">48:23</span>]&nbsp; Such is <strong>GOD</strong>'s system throughout history, and you will find that <strong>GOD</strong>'s system is unchangeable.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="24" name="24"></a>

                        <p>(<span title="پیروزی (الفتح), آیه ۲۴">۴۸:۲۴</span>)&nbsp; او آن یکتایی است که شما را از تجاوز آنها در امان داشت، و در سرزمین مکه آنها را از تجاوز شما در امان داشت، پس از اینکه او به شما بر علیه آنها پیروزی عطا کرد. <strong>خدا</strong>                            بر هرچه شما انجام می‌دهید بینا است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="24" name="24"></a>

                        <p>[<span title="Victory (Al-Fatt-h), verse 24">48:24</span>]&nbsp; He is the One who withheld their hands of aggression against you, and withheld your hands of aggression against them in the valley of Mecca, after He had granted
                            you victory over them. <strong>GOD</strong> is Seer of everything you do.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="25" name="25"></a>

                        <p>(<span title="پیروزی (الفتح), آیه ۲۵">۴۸:۲۵</span>)&nbsp; آنها هستند که ایمان نیاوردند و شما را از ورود به مسجد مقدس باز داشتند، و حتی نگذاشتند تا هدایای شما به مقصدشان برسد. مردان و زنان مؤمنی (در اردوگاه دشمن) بودند که شما نمی‌شناختید،
                            و نزدیک بود به آنها آسیب برسانید، ندانسته. <strong>خدا</strong> اینچنین هر کس را بخواهد به رحمت خود داخل می‌کند. اگر آنها پافشاری کنند، او کسانی را که در میانشان ایمان ندارند، با عذابی دردناک مجازات خواهد کرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="25" name="25"></a>

                        <p>[<span title="Victory (Al-Fatt-h), verse 25">48:25</span>]&nbsp; It is they who disbelieved and barred you from the Sacred Masjid, and even prevented your offerings from reaching their destination. There were believing men and
                            women <em>(within the enemy camp)</em> whom you did not know, and you were about to hurt them, unknowingly. <strong>GOD</strong> thus admits into His mercy whomever He wills. If they persist, He will requite those among them
                            who disbelieve with a painful retribution.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="26" name="26"></a>

                        <p>(<span title="پیروزی (الفتح), آیه ۲۶">۴۸:۲۶</span>)&nbsp; در حالی که کسانی که ایمان نیاوردند خشمگین بودند و قلب‏شان پر از غرور و تکبر زمان جاهلیت بود، <strong>خدا</strong> به رسولش و مؤمنان آرامشی رضایت‏بخش عطا کرد، و آنها را راهنمایی
                            کرد که از کلام پرهیزکاری حمایت کنند. این است چیزی که آنها کاملاً لیاقت آن را داشتند. <strong>خدا</strong> کاملاً بر همه چیز آگاه است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="26" name="26"></a>

                        <p>[<span title="Victory (Al-Fatt-h), verse 26">48:26</span>]&nbsp; While those who disbelieved were enraged, and their hearts were filled with the pride of the days of ignorance, <strong>GOD</strong> blessed His messenger and the
                            believers with peaceful contentment, and directed them to uphold the word of righteousness. This is what they well deserved. <strong>GOD</strong> is fully aware of all things.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="27" name="27"></a>

                        <p>(<span title="پیروزی (الفتح), آیه ۲۷">۴۸:۲۷</span>)&nbsp;
                            <strong>خدا</strong> رؤیای حقیقی رسولش را تحقق بخشید: "شما داخل مسجد مقدس خواهید شد، به خواست <strong>خدا</strong>، کاملاً در امان، و موی سرتان را خواهید تراشید و یا کوتاه خواهید کرد (همانطور که آداب و رسوم حج را بجای می‌آورید)
                            در آنجا. هیچگونه ترسی نخواهید داشت. از آنجایی که او می‌دانست چیزی را که شما نمی‌دانستید، او این را با یک پیروزی سریع همراه کرد."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="27" name="27"></a>

                        <p>[<span title="Victory (Al-Fatt-h), verse 27">48:27</span>]&nbsp;
                            <strong>GOD</strong> has fulfilled His messenger's truthful vision: "You will enter the Sacred Masjid, <strong>GOD</strong> willing, perfectly secure, and you will cut your hair or shorten it <em>(as you fulfill the pilgrimage rituals)</em>                            there. You will not have any fear. Since He knew what you did not know, He has coupled this with an immediate victory."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="28" name="28"></a>

                        <div class="footnote-subtitle">پیشگویی عظیم*</div>

                        <p>(<span title="پیروزی (الفتح), آیه ۲۸">۴۸:۲۸</span>)&nbsp; او آن یکتایی است که رسولش را با هدایت و دین حقیقت فرستاد تا آن را بر همه ادیان دیگر پیروز گرداند. <strong>خدا</strong> بعنوان شاهد کافی است.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۴۸:۲۸ اين پيشگويى مهم ما را آگاه ميسازد که بطور قطع تسليم بر همه دنيا حکمفرما خواهد شد. هم اين آيه و هم آيات ۹:۲۳، ۴۱:۵۳، و ۶۱:۹ هيچگونه شکى باقى نميگذارد که معجزه رياضى خدا در قرآن نقش مهمى در اين پيشگويى به عهده خواهد
                                    داشت. شواهد محکم رياضى قرآن جهت انجام اين پيشگويى عظيم، اشاره به رسول ميثاق خدا دارد. براى شواهد و توضيحات بيشتر به ضميمه هاى ۲ و ۲۶ توجه کنيد.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="28" name="28"></a>

                        <div class="footnote-subtitle">The Great Prophecy*</div>

                        <p>[<span title="Victory (Al-Fatt-h), verse 28">48:28</span>]&nbsp; He is the One who sent His messenger with the guidance and the religion of truth, to make it prevail over all other religions. <strong>GOD</strong> suffices as a
                            witness.*</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*48:28 This important prophecy informs us that Submission will inevitably dominate the whole world. This, together with Verses 9:33, 41:53, and 61:9 leave no doubt that God's mathematical miracle of the Quran will play
                                    a major role in this prophecy. Solid Quranic mathematical evidence points to God's Messenger of the Covenant as fulfilling this prophecy. See Appendices 2 & 26 for the evidence and specific details.

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="29" name="29"></a>

                        <div class="footnote-subtitle">مشخصات مؤمنان</div>

                        <p>(<span title="پیروزی (الفتح), آیه ۲۹">۴۸:۲۹</span>)&nbsp; محمد-رسول <strong>خدا</strong>-و کسانی که با او هستند، در مقابل کافران خشن و سختگیر هستند، اما در میان خود مهربان و دلسوز هستند. آنها را می‌بینی که به رکوع می‌روند، و سجده
                            می‌کنند، در حالی که در جستجوی نعمت و رضایت <strong>خدا</strong> هستند. علامت‏شان روی صورتشان است، به خاطر سجده کردن. این همان مثالی است که در تورات آمده است. مثال ایشان در انجیل مانند گیاهانی است که بلندتر و استوارتر می‌رویند
                            و کشاورزان را خوشنود می‌سازند. او اینچنین کافران را خشمگین می‌کند. <strong>خدا</strong> به کسانی که در میانشان ایمان آورند و زندگی پرهیزکارانه‏‌ای را در پیش گیرند، وعده عفو و پاداشی عظیم می‌دهد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="29" name="29"></a>

                        <div class="footnote-subtitle">Qualities of the Believers</div>

                        <p>[<span title="Victory (Al-Fatt-h), verse 29">48:29</span>]&nbsp; Muhammad&mdash;the messenger of <strong>GOD</strong>&mdash;and those with him are harsh and stern against the disbelievers, but kind and compassionate amongst themselves.
                            You see them bowing and prostrating, as they seek <strong>GOD</strong>'s blessings and approval. Their marks are on their faces, because of prostrating. This is the same example as in the Torah. Their example in the Gospel
                            is like plants that grow taller and stronger, and please the farmers. He thus enrages the disbelievers. <strong>GOD</strong> promises those among them who believe and lead a righteous life forgiveness and a great recompense.</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۳۷۷</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۵۴۹۰</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>