<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->
        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۸۴: از هم شکافتن (الانشقاق)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 84: The Rupture (Al-Inshiqaaq)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="از هم شکافتن (الانشقاق), آیه ۱">۸۴:۱</span>)&nbsp; آن زمان خواهد آمد که آسمان شکافته می‌شود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="The Rupture (Al-Inshiqaaq), verse 1">84:1</span>]&nbsp; The time will come when the sky is ruptured.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="از هم شکافتن (الانشقاق), آیه ۲">۸۴:۲</span>)&nbsp; به پروردگارش تسلیم می‌شود و پایان می‌یابد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="The Rupture (Al-Inshiqaaq), verse 2">84:2</span>]&nbsp; It will submit to its Lord and expire.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="از هم شکافتن (الانشقاق), آیه ۳">۸۴:۳</span>)&nbsp; زمین مسطح خواهد شد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="The Rupture (Al-Inshiqaaq), verse 3">84:3</span>]&nbsp; The earth will be leveled.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="از هم شکافتن (الانشقاق), آیه ۴">۸۴:۴</span>)&nbsp; همچنانکه آتشفشان می‌کند، محتویاتش را بیرون می‌ریزد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="The Rupture (Al-Inshiqaaq), verse 4">84:4</span>]&nbsp; It will eject its contents, as it erupts.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="از هم شکافتن (الانشقاق), آیه ۵">۸۴:۵</span>)&nbsp; به پروردگارش تسلیم می‌شود، و پایان می‌یابد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="The Rupture (Al-Inshiqaaq), verse 5">84:5</span>]&nbsp; It will submit to its Lord and expire.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="از هم شکافتن (الانشقاق), آیه ۶">۸۴:۶</span>)&nbsp; ای انسان‏ها، شما مسلماً به ملاقات پروردگارتان می‌روید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="The Rupture (Al-Inshiqaaq), verse 6">84:6</span>]&nbsp; O humans, you are irreversibly heading for a meeting with your Lord.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="از هم شکافتن (الانشقاق), آیه ۷">۸۴:۷</span>)&nbsp; کسی که پرونده‏‌اش را در دست راستش دریافت کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="The Rupture (Al-Inshiqaaq), verse 7">84:7</span>]&nbsp; As for the one who receives his record in his right hand,</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="از هم شکافتن (الانشقاق), آیه ۸">۸۴:۸</span>)&nbsp; حساب پس دادن او آسان خواهد بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="The Rupture (Al-Inshiqaaq), verse 8">84:8</span>]&nbsp; His reckoning will be easy.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <p>(<span title="از هم شکافتن (الانشقاق), آیه ۹">۸۴:۹</span>)&nbsp; او با خوشحالی نزد مردمش باز خواهد گشت.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <p>[<span title="The Rupture (Al-Inshiqaaq), verse 9">84:9</span>]&nbsp; He will return to his people joyfully.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <p>(<span title="از هم شکافتن (الانشقاق), آیه ۱۰">۸۴:۱۰</span>)&nbsp; و اما کسی که پرونده‏‌اش را از پشت سرش دریافت کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <p>[<span title="The Rupture (Al-Inshiqaaq), verse 10">84:10</span>]&nbsp; As for the one who receives his record behind his back,</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <p>(<span title="از هم شکافتن (الانشقاق), آیه ۱۱">۸۴:۱۱</span>)&nbsp; با پشیمانی رانده خواهد شد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <p>[<span title="The Rupture (Al-Inshiqaaq), verse 11">84:11</span>]&nbsp; He will be ridden with remorse.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="12" name="12"></a>

                        <p>(<span title="از هم شکافتن (الانشقاق), آیه ۱۲">۸۴:۱۲</span>)&nbsp; و در جهنم خواهد سوخت.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="12" name="12"></a>

                        <p>[<span title="The Rupture (Al-Inshiqaaq), verse 12">84:12</span>]&nbsp; And will burn in Hell.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="13" name="13"></a>

                        <p>(<span title="از هم شکافتن (الانشقاق), آیه ۱۳">۸۴:۱۳</span>)&nbsp; او در میان مردمش متکبرانه رفتار می‌کرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="13" name="13"></a>

                        <p>[<span title="The Rupture (Al-Inshiqaaq), verse 13">84:13</span>]&nbsp; He used to act arrogantly among his people.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="14" name="14"></a>

                        <p>(<span title="از هم شکافتن (الانشقاق), آیه ۱۴">۸۴:۱۴</span>)&nbsp; او فکر کرد هرگز به حسابش رسیدگی نخواهد شد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="14" name="14"></a>

                        <p>[<span title="The Rupture (Al-Inshiqaaq), verse 14">84:14</span>]&nbsp; He thought that he will never be called to account.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="15" name="15"></a>

                        <p>(<span title="از هم شکافتن (الانشقاق), آیه ۱۵">۸۴:۱۵</span>)&nbsp; بله به درستی که، پروردگارش بر او بینا بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="15" name="15"></a>

                        <p>[<span title="The Rupture (Al-Inshiqaaq), verse 15">84:15</span>]&nbsp; Yes indeed, his Lord was Seer of him.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="16" name="16"></a>

                        <p>(<span title="از هم شکافتن (الانشقاق), آیه ۱۶">۸۴:۱۶</span>)&nbsp; من قاطعانه قسم می‌خورم به شفق سرخ رنگ.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="16" name="16"></a>

                        <p>[<span title="The Rupture (Al-Inshiqaaq), verse 16">84:16</span>]&nbsp; I solemnly swear by the rosy dusk.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="17" name="17"></a>

                        <p>(<span title="از هم شکافتن (الانشقاق), آیه ۱۷">۸۴:۱۷</span>)&nbsp; و به شب همچنانکه همه جا را می‌پوشاند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="17" name="17"></a>

                        <p>[<span title="The Rupture (Al-Inshiqaaq), verse 17">84:17</span>]&nbsp; And the night as it spreads.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="18" name="18"></a>

                        <p>(<span title="از هم شکافتن (الانشقاق), آیه ۱۸">۸۴:۱۸</span>)&nbsp; و به ماه و مراحلش.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="18" name="18"></a>

                        <p>[<span title="The Rupture (Al-Inshiqaaq), verse 18">84:18</span>]&nbsp; And the moon and its phases.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="19" name="19"></a>

                        <p>(<span title="از هم شکافتن (الانشقاق), آیه ۱۹">۸۴:۱۹</span>)&nbsp; شما از مرحله‏‌ای به مرحله دیگر حرکت می‌کنید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="19" name="19"></a>

                        <p>[<span title="The Rupture (Al-Inshiqaaq), verse 19">84:19</span>]&nbsp; You will move from stage to stage.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="20" name="20"></a>

                        <p>(<span title="از هم شکافتن (الانشقاق), آیه ۲۰">۸۴:۲۰</span>)&nbsp; چرا آنها ایمان نمی‌آورند؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="20" name="20"></a>

                        <p>[<span title="The Rupture (Al-Inshiqaaq), verse 20">84:20</span>]&nbsp; Why do they not believe?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="21" name="21"></a>

                        <p>(<span title="از هم شکافتن (الانشقاق), آیه ۲۱">۸۴:۲۱</span>)&nbsp; و وقتی قرآن برایشان خوانده می‌شود، به سجده نمی‌افتند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="21" name="21"></a>

                        <p>[<span title="The Rupture (Al-Inshiqaaq), verse 21">84:21</span>]&nbsp; And when the Quran is recited to them, they do not fall prostrate.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="22" name="22"></a>

                        <p>(<span title="از هم شکافتن (الانشقاق), آیه ۲۲">۸۴:۲۲</span>)&nbsp; این به خاطر آن است که کسانی که ایمان ندارند (قرآن را) تکذیب می‌کنند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="22" name="22"></a>

                        <p>[<span title="The Rupture (Al-Inshiqaaq), verse 22">84:22</span>]&nbsp; This is because those who disbelieved are rejecting <em>(the Quran)</em>.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="23" name="23"></a>

                        <p>(<span title="از هم شکافتن (الانشقاق), آیه ۲۳">۸۴:۲۳</span>)&nbsp;
                            <strong>خدا</strong> کاملاً به درونی‏ترین افکار آنها آگاه است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="23" name="23"></a>

                        <p>[<span title="The Rupture (Al-Inshiqaaq), verse 23">84:23</span>]&nbsp;
                            <strong>GOD</strong> is fully aware of their innermost thoughts.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="24" name="24"></a>

                        <p>(<span title="از هم شکافتن (الانشقاق), آیه ۲۴">۸۴:۲۴</span>)&nbsp; به آنها وعده عذاب دردناک را بده.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="24" name="24"></a>

                        <p>[<span title="The Rupture (Al-Inshiqaaq), verse 24">84:24</span>]&nbsp; Promise them painful retribution.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="25" name="25"></a>

                        <p>(<span title="از هم شکافتن (الانشقاق), آیه ۲۵">۸۴:۲۵</span>)&nbsp; و اما کسانی که ایمان آوردند و زندگی پرهیزکارانه‏‌ای را در پیش گرفتند، پاداشی دریافت می‌کنند که کاملاً سزاوار آن باشند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="25" name="25"></a>

                        <p>[<span title="The Rupture (Al-Inshiqaaq), verse 25">84:25</span>]&nbsp; As for those who believed and led a righteous life, they receive a recompense that is well deserved.</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۶۸۱</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۷۹۹۳</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

</body>

</html>

