<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۷۱: نوح (نوح)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 71: Noah</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="نوح (نوح), آیه ۱">۷۱:۱</span>)&nbsp; ما نوح را بر مردمش فرستادیم: "باید به مردم خود هشدار دهی قبل از اینکه به عذابی دردناک گرفتار شوند."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="Noah, verse 1">71:1</span>]&nbsp; We sent Noah to his people: "You shall warn your people before a painful retribution afflicts them."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="نوح (نوح), آیه ۲">۷۱:۲</span>)&nbsp; او گفت، "ای مردم من، من هشدار دهنده‏‌ای آشکار هستم بر شما.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="Noah, verse 2">71:2</span>]&nbsp; He said, "O my people, I am a manifest warner to you.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="نوح (نوح), آیه ۳">۷۱:۳</span>)&nbsp; "تا آگاه کنم شما را که باید <strong>خدا</strong> را پرستش کنید، به هیبت او حرمت نهید، و از من اطاعت کنید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="Noah, verse 3">71:3</span>]&nbsp; "To alert you that you shall worship <strong>GOD</strong>, reverence Him, and obey me.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="نوح (نوح), آیه ۴">۷۱:۴</span>)&nbsp; "سپس او گناهانتان را خواهد بخشید و برای مدتی که از قبل تعیین شده به شما مهلت خواهد داد. مطمئناً، وعده تعیین شده <strong>خدا</strong> هرگز به تأخیر نمی‌افتد، وقتی که زمان آن فرا
                            می‌رسد، اگر فقط می‌دانستید."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="Noah, verse 4">71:4</span>]&nbsp; "He will then forgive you your sins and respite you for a predetermined period. Most assuredly, <strong>GOD</strong>'s appointment can never be delayed, once it is due, if you only
                            knew."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="نوح (نوح), آیه ۵">۷۱:۵</span>)&nbsp; او گفت، "پروردگار من، من مردم خود را شب و روز دعوت کرده‏‌ام.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="Noah, verse 5">71:5</span>]&nbsp; He said, "My Lord, I have invited my people night and day.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="نوح (نوح), آیه ۶">۷۱:۶</span>)&nbsp; "اما دعوت من فقط مخالفت آنها را زیادتر کرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="Noah, verse 6">71:6</span>]&nbsp; "But my invitation only increased their aversion.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="نوح (نوح), آیه ۷">۷۱:۷</span>)&nbsp; "هرگاه آنها را دعوت کردم تا به وسیله تو بخشیده شوند، آنها انگشت در گوش‏هایشان گذاشتند، لباس‏شان را بر سر کشیدند، اصرار ورزیدند، و متکبر شدند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="Noah, verse 7">71:7</span>]&nbsp; "Whenever I invited them to be forgiven by You, they placed their fingers in their ears, covered themselves with their clothes, insisted, and turned arrogant.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="نوح (نوح), آیه ۸">۷۱:۸</span>)&nbsp; "سپس آنها را آشکاراً دعوت کردم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="Noah, verse 8">71:8</span>]&nbsp; "Then I invited them publicly.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <p>(<span title="نوح (نوح), آیه ۹">۷۱:۹</span>)&nbsp; "سپس با صدای بلند به آنها اعلام کردم، و با آنها خصوصی صحبت کردم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <p>[<span title="Noah, verse 9">71:9</span>]&nbsp; "Then I proclaimed to them loudly, and I spoke to them privately.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <p>(<span title="نوح (نوح), آیه ۱۰">۷۱:۱۰</span>)&nbsp; "گفتم، "از پروردگارتان طلب بخشش کنید؛ او عفو کننده است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <p>[<span title="Noah, verse 10">71:10</span>]&nbsp; "I said, 'Implore your Lord for forgiveness; He is Forgiving.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <p>(<span title="نوح (نوح), آیه ۱۱">۷۱:۱۱</span>)&nbsp; "سپس او سخاوتمندانه بر شما باران خواهد فرستاد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <p>[<span title="Noah, verse 11">71:11</span>]&nbsp; "'He will then shower you generously with rain.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="12" name="12"></a>

                        <p>(<span title="نوح (نوح), آیه ۱۲">۷۱:۱۲</span>)&nbsp; "و برای شما پول و فرزندان، و باغ‏های میوه، و نهرها فراهم می‌کند.""</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="12" name="12"></a>

                        <p>[<span title="Noah, verse 12">71:12</span>]&nbsp; "'And provide you with money and children, and orchards, and streams.'"</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="13" name="13"></a>

                        <p>(<span title="نوح (نوح), آیه ۱۳">۷۱:۱۳</span>)&nbsp; چرا کوشش نمی‌کنید تا به هیبت <strong>خدا</strong> حرمت نهید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="13" name="13"></a>

                        <p>[<span title="Noah, verse 13">71:13</span>]&nbsp; Why should you not strive to reverence <strong>GOD</strong>?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="14" name="14"></a>

                        <p>(<span title="نوح (نوح), آیه ۱۴">۷۱:۱۴</span>)&nbsp; او آن یکتایی است که شما را در مراحل مختلف آفرید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="14" name="14"></a>

                        <p>[<span title="Noah, verse 14">71:14</span>]&nbsp; He is the One who created you in stages.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="15" name="15"></a>

                        <p>(<span title="نوح (نوح), آیه ۱۵">۷۱:۱۵</span>)&nbsp; آیا درک نمی‌کنید که <strong>خدا</strong> هفت جهان را به طبقات آفرید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="15" name="15"></a>

                        <p>[<span title="Noah, verse 15">71:15</span>]&nbsp; Do you not realize that <strong>GOD</strong> created seven universes in layers?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="16" name="16"></a>

                        <p>(<span title="نوح (نوح), آیه ۱۶">۷۱:۱۶</span>)&nbsp; او ماه را در آن تابان طرح کرد، و خورشید را بعنوان چراغی قرار داد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="16" name="16"></a>

                        <p>[<span title="Noah, verse 16">71:16</span>]&nbsp; He designed the moon therein to be a light, and placed the sun to be a lamp.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="17" name="17"></a>

                        <p>(<span title="نوح (نوح), آیه ۱۷">۷۱:۱۷</span>)&nbsp; و <strong>خدا</strong> شما را مانند گیاهان از زمین رویاند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="17" name="17"></a>

                        <p>[<span title="Noah, verse 17">71:17</span>]&nbsp; And <strong>GOD</strong> germinated you from the earth like plants.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="18" name="18"></a>

                        <p>(<span title="نوح (نوح), آیه ۱۸">۷۱:۱۸</span>)&nbsp; سپس او شما را به آن باز می‌گرداند، و مطمئناً شما را بیرون خواهد آورد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="18" name="18"></a>

                        <p>[<span title="Noah, verse 18">71:18</span>]&nbsp; Then He returns you into it, and He will surely bring you out.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="19" name="19"></a>

                        <p>(<span title="نوح (نوح), آیه ۱۹">۷۱:۱۹</span>)&nbsp;
                            <strong>خدا</strong> زمین را برای شما قابل سکونت قرار داد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="19" name="19"></a>

                        <p>[<span title="Noah, verse 19">71:19</span>]&nbsp;
                            <strong>GOD</strong> made the earth habitable for you.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="20" name="20"></a>

                        <p>(<span title="نوح (نوح), آیه ۲۰">۷۱:۲۰</span>)&nbsp; تا باشد که در آن جاده‏‌ها بسازید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="20" name="20"></a>

                        <p>[<span title="Noah, verse 20">71:20</span>]&nbsp; That you may build roads therein.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="21" name="21"></a>

                        <p>(<span title="نوح (نوح), آیه ۲۱">۷۱:۲۱</span>)&nbsp; نوح گفت، "پروردگار من، آنها از من نافرمانی کردند، و از کسانی پیروی کردند که وقتی از نعمت مال و فرزندان برخوردار شدند، حتی فاسدتر شدند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="21" name="21"></a>

                        <p>[<span title="Noah, verse 21">71:21</span>]&nbsp; Noah said, "My Lord, they disobeyed me, and followed those who were even more corrupted when blessed with money and children.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="22" name="22"></a>

                        <p>(<span title="نوح (نوح), آیه ۲۲">۷۱:۲۲</span>)&nbsp; "آنها توطئه کردند، توطئه‏‌هایی وحشتناک.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="22" name="22"></a>

                        <p>[<span title="Noah, verse 22">71:22</span>]&nbsp; "They schemed terrible schemes.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="23" name="23"></a>

                        <p>(<span title="نوح (نوح), آیه ۲۳">۷۱:۲۳</span>)&nbsp; "آنها گفتند، "خدایانتان را ترک نکنید. وَد، سواع، یغوث، یعوق و نسر را ترک نکنید."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="23" name="23"></a>

                        <p>[<span title="Noah, verse 23">71:23</span>]&nbsp; "They said, 'Do not abandon your gods. Do not abandon Wadd, Suwaa', Yaghouth, Ya'ooq, and Nasr.'</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="24" name="24"></a>

                        <p>(<span title="نوح (نوح), آیه ۲۴">۷۱:۲۴</span>)&nbsp; "آنها بسیاری را گمراه کردند. بنابراین، بگذار تا ستمکاران در گمراهی عمیق‏تری فرو روند."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="24" name="24"></a>

                        <p>[<span title="Noah, verse 24">71:24</span>]&nbsp; "They misled many. Therefore, let the wicked plunge deeper into loss."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="25" name="25"></a>

                        <p>(<span title="نوح (نوح), آیه ۲۵">۷۱:۲۵</span>)&nbsp; آنها به خاطر گناهانشان غرق شدند و برای آتش جهنم در نظر گرفته شدند. آنها هیچ یاوری نیافتند تا ایشان را در مقابل <strong>خدا</strong> حمایت کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="25" name="25"></a>

                        <p>[<span title="Noah, verse 25">71:25</span>]&nbsp; Because of their sins they were drowned and assigned to the hellfire. They found no helpers to protect them from <strong>GOD</strong>.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="26" name="26"></a>

                        <p>(<span title="نوح (نوح), آیه ۲۶">۷۱:۲۶</span>)&nbsp; نوح همچنین گفت، "پروردگار من، هیچ کافری را در زمین باقی نگذار.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="26" name="26"></a>

                        <p>[<span title="Noah, verse 26">71:26</span>]&nbsp; Noah also said, "My Lord, do not leave a single disbeliever on earth.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="27" name="27"></a>

                        <p>(<span title="نوح (نوح), آیه ۲۷">۷۱:۲۷</span>)&nbsp; "چون اگر بگذاری، آنها فقط بندگان تو را گمراه خواهند کرد، و به دنیا نیاورند مگر کافرانی ستمکار.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="27" name="27"></a>

                        <p>[<span title="Noah, verse 27">71:27</span>]&nbsp; "For if you let them, they will only mislead your servants and give birth to nothing but wicked disbelievers.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="28" name="28"></a>

                        <p>(<span title="نوح (نوح), آیه ۲۸">۷۱:۲۸</span>)&nbsp; "پروردگار من، من و والدین من را ببخش، و هر کسی که بعنوان مؤمن داخل خانه من می‌شود، و همه مردان و زنان مؤمن. اما به کافران چیزی نده بجز هلاکت."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="28" name="28"></a>

                        <p>[<span title="Noah, verse 28">71:28</span>]&nbsp; "My Lord, forgive me and my parents, and anyone who enters my home as a believer, and all the believing men and women. But do not give the disbelievers anything but annihilation."</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۶۵۲</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۷۶۲۴</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

</body>

</html>

