<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->
        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۳۴: سبا (سبا)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 34: Sheba (Saba')</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="سبا (سبا), آیه ۱">۳۴:۱</span>)&nbsp; ستایش <strong>خدا</strong> را-که هر چه در آسمانها و زمین است از آن او است؛ همچنین همه ستایش‏ها در آخرت از آن او است. او حکیم‏ترین است، آگاه.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="Sheba (Saba'), verse 1">34:1</span>]&nbsp; Praise be to <strong>GOD</strong>&mdash;to whom belongs everything in the heavens and the earth; all praise is also due to Him in the Hereafter. He is the Most Wise, the
                            Cognizant.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="سبا (سبا), آیه ۲">۳۴:۲</span>)&nbsp; او هر چه به زمین می‌رود و هر چه را از آن بیرون می‌آید، می‌داند، و هر چه از آسمان پایین می‌آید، و هر چه به آن بالا می‌رود. او مهربانترین است، عفو کننده.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="Sheba (Saba'), verse 2">34:2</span>]&nbsp; He knows everything that goes into the earth, and everything that comes out of it, and everything that comes down from the sky, and everything that climbs into it. He is
                            the Most Merciful, the Forgiving.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="سبا (سبا), آیه ۳">۳۴:۳</span>)&nbsp; کسانی که ایمان ندارند گفته‏‌اند، "آن ساعت هرگز نخواهد آمد!" بگو، "مسلماً-قسم به پروردگارم-حتماً بر شما خواهد آمد. او دانای آینده است. حتی ذره‏‌ای به اندازه وزن اتم، چه در آسمانها
                            باشد، و چه در زمین، از او پنهان نیست. حتی کوچکتر از آن یا بزرگتر از آن (پنهان نیست). همه در پرونده‏‌ای کامل ضبط شده است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="Sheba (Saba'), verse 3">34:3</span>]&nbsp; Those who disbelieve have said, "The Hour will never come to pass!" Say, "Absolutely&mdash;by my Lord&mdash;it will most certainly come to you. He is the Knower of the future.
                            Not even the equivalent of an atom's weight is hidden from Him, be it in the heavens or the earth. Not even smaller than that, or larger <em>(is hidden)</em>. All are in a profound record."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="سبا (سبا), آیه ۴">۳۴:۴</span>)&nbsp; مسلماً، او پاداش کسانی را که ایمان دارند، و زندگی پرهیزکارانه‏‌ای را در پیش می‌گیرند، خواهد داد. اینها سزاوار عفو و روزی سخاوتمندانه شده‏‌اند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="Sheba (Saba'), verse 4">34:4</span>]&nbsp; Most certainly, He will reward those who believe and lead a righteous life. These have deserved forgiveness and a generous provision.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="سبا (سبا), آیه ۵">۳۴:۵</span>)&nbsp; و اما کسانی که دائماً به آیات ما اعتراض می‌کنند، سزاوار کیفر تحقیرآمیز دردناکی شده‏‌اند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="Sheba (Saba'), verse 5">34:5</span>]&nbsp; As for those who constantly challenge our revelations, they have incurred a retribution of painful humiliation.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="سبا (سبا), آیه ۶">۳۴:۶</span>)&nbsp; برای کسانی که دانش به ایشان عطا شده است، واضح است که آیاتی که از طرف پروردگارت بر تو فرستاده شده است حقیقت است، و اینکه به راه آن قادر مطلق و قابل ستایش‏ترین هدایت می‌کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="Sheba (Saba'), verse 6">34:6</span>]&nbsp; It is evident to those who are blessed with knowledge that this revelation from your Lord to you is the truth, and that it guides to the path of the Almighty, the Most Praiseworthy.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="سبا (سبا), آیه ۷">۳۴:۷</span>)&nbsp; کسانی که ایمان ندارند گفته‏‌اند، "بگذارید مردی را به شما نشان دهیم که می‌گوید پس از اینکه قطعه قطعه شدید، دوباره از نو خلق خواهید شد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="Sheba (Saba'), verse 7">34:7</span>]&nbsp; Those who disbelieve have said, "Let us show you a man who tells you that after you are torn apart you will be created anew.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="سبا (سبا), آیه ۸">۳۴:۸</span>)&nbsp; "یا او درباره <strong>خدا</strong> دروغ ساخته است یا دیوانه است." به درستی که، کسانی که به آخرت ایمان ندارند سزاوار بدترین عذاب شده‏‌اند؛ آنها عمیقاً گمراه شده‏‌اند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="Sheba (Saba'), verse 8">34:8</span>]&nbsp; "Either he fabricated lies about <strong>GOD</strong>, or he is crazy." Indeed, those who disbelieve in the Hereafter have incurred the worst retribution; they have gone
                            far astray.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <p>(<span title="سبا (سبا), آیه ۹">۳۴:۹</span>)&nbsp; آیا آنها همه چیز را در جلو و پشت سر خود در آسمان و زمین ندیده‏‌اند؟ اگر ما می‌خواستیم، می‌توانستیم باعث شویم تا زمین ایشان را ببلعد، یا باعث شویم پاره‏‌هایی از آسمان بر آنها فرو
                            افتد. این اثباتی کافی باشد برای هر بنده فرمانبردار.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <p>[<span title="Sheba (Saba'), verse 9">34:9</span>]&nbsp; Have they not seen all the things in front of them and behind them, in the heaven and the earth? If we willed, we could have caused the earth to swallow them, or caused masses
                            to fall on them from the sky. This should be a sufficient proof for every obedient servant.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <div class="footnote-subtitle">داود و سلیمان</div>

                        <p>(<span title="سبا (سبا), آیه ۱۰">۳۴:۱۰</span>)&nbsp; ما از سوی خود به داود نعمتها عطا کردیم: "ای کوهها، با او تسلیم شوید، و همینطور شما ای پرندگان." ما آهن را برای او نرم کردیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <div class="footnote-subtitle">David and Solomon</div>

                        <p>[<span title="Sheba (Saba'), verse 10">34:10</span>]&nbsp; We endowed David with blessings from us: "O mountains, submit with him, and you too, O birds." We softened the iron for him.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <p>(<span title="سبا (سبا), آیه ۱۱">۳۴:۱۱</span>)&nbsp; "تو می‌توانی زره‏‌هایی بسازی که کاملاً اندازه باشند، و پرهیزکارانه عمل کنی. من بر هر چه انجام می‌دهید بینا هستم."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <p>[<span title="Sheba (Saba'), verse 11">34:11</span>]&nbsp; "You may make shields that fit perfectly, and work righteousness. Whatever you do, I am Seer thereof."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="12" name="12"></a>

                        <div class="footnote-subtitle">اولین چاه نفت</div>

                        <p>(<span title="سبا (سبا), آیه ۱۲">۳۴:۱۲</span>)&nbsp; ما بادها را در خدمت سلیمان درآوردیم، یک ماه می‌آمدند و یک ماه می‌رفتند. و ما باعث شدیم تا چشمه‏‌ای از نفت برای او فوران کند. همچنین، جن‏ها به اراده پروردگارش برای او کار کردند.
                            هر یک از آنها که از فرمان ما سرپیچی کرد، ما او را به عذاب شدیدی گرفتار کردیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="12" name="12"></a>

                        <div class="footnote-subtitle">The First Oil Field</div>

                        <p>[<span title="Sheba (Saba'), verse 12">34:12</span>]&nbsp; To Solomon we committed the wind at his disposal, traveling one month coming and one month going. And we caused a spring of oil to gush out for him. Also, the jinns worked
                            for him, by his Lord's leave. Any one of them who disregarded our commands, we subjected him to a severe retribution.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="13" name="13"></a>

                        <p>(<span title="سبا (سبا), آیه ۱۳">۳۴:۱۳</span>)&nbsp; آنها هر چه می‌خواست برایش می‌ساختند-طاقچه‏‌ها، مجسمه‏‌ها، استخرهای عمیق، و دیگ‏های سنگین برای غذا پختن. ای خانواده داود، کارهای (پرهیزکارانه) انجام دهید تا سپاسگزاری خود را نشان
                            دهید. فقط تعداد کمی از بندگان من سپاسگزار هستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="13" name="13"></a>

                        <p>[<span title="Sheba (Saba'), verse 13">34:13</span>]&nbsp; They made for him anything he wanted&mdash;niches, statues, deep pools, and heavy cooking pots. O family of David, work <em>(righteousness)</em> to show your appreciation.
                            Only a few of My servants are appreciative.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="14" name="14"></a>

                        <div class="footnote-subtitle">دانش جن‏ها محدود است</div>

                        <p>(<span title="سبا (سبا), آیه ۱۴">۳۴:۱۴</span>)&nbsp; هنگامی که زمان مرگ او فرا رسید، آنها هیچ نشانه‏‌ای نداشتند که او مرده بود. نه تا زمانی که یکی از حیوانات سعی کرد عصای او را بخورد، و او افتاد، آنوقت جن‏ها متوجه شدند که او مرده
                            بود. آنها اینچنین متوجه شدند که اگر واقعاً از غیب خبر داشتند، بلافاصله پس از اینکه او مرد، از سخت کار کردن باز می‌ایستادند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="14" name="14"></a>

                        <div class="footnote-subtitle">Jinns' Knowledge is Limited</div>

                        <p>[<span title="Sheba (Saba'), verse 14">34:14</span>]&nbsp; When the appointed time for his death came, they had no clue that he had died. Not until one of the animals tried to eat his staff, and he fell down, that the jinns realized
                            that he was dead. They thus realized that if they really knew the unseen, they would have stopped working so hard as soon as he died.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="15" name="15"></a>

                        <p>(<span title="سبا (سبا), آیه ۱۵">۳۴:۱۵</span>)&nbsp; سرزمین سبا شگفت‏انگیز بود، با دو باغ در سمت راست و چپ. بخورید از روزی‏های پروردگارتان، و شکر او را بجای آورید-زمینی خوب، و پروردگاری عفو کننده.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="15" name="15"></a>

                        <p>[<span title="Sheba (Saba'), verse 15">34:15</span>]&nbsp; Sheba's homeland used to be a marvel, with two gardens on the right and the left. Eat from your Lord's provisions, and be appreciative of Him&mdash;good land, and a forgiving
                            Lord.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="16" name="16"></a>

                        <p>(<span title="سبا (سبا), آیه ۱۶">۳۴:۱۶</span>)&nbsp; آنها روی گردانیدند و، در نتیجه، ما سیل ویرانگری بر ایشان فرستادیم، و ما دو باغ‏شان را به باغ‏هایی با میوه‏‌های بدمزه تبدیل کردیم، با گیاهانی خاردار، و محصولی بسیار کم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="16" name="16"></a>

                        <p>[<span title="Sheba (Saba'), verse 16">34:16</span>]&nbsp; They turned away and, consequently, we poured upon them a disastrous flood, and we substituted their two gardens into two gardens of bad tasting fruits, thorny plants,
                            and a skimpy harvest.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="17" name="17"></a>

                        <p>(<span title="سبا (سبا), آیه ۱۷">۳۴:۱۷</span>)&nbsp; ما اینچنین به خاطر بی‏ اعتقادیشان جزای‏شان را دادیم. آیا ما فقط کافران را مجازات نمی‌کنیم؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="17" name="17"></a>

                        <p>[<span title="Sheba (Saba'), verse 17">34:17</span>]&nbsp; We thus requited them for their disbelief. Do we not requite only the disbelievers?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="18" name="18"></a>

                        <p>(<span title="سبا (سبا), آیه ۱۸">۳۴:۱۸</span>)&nbsp; ما در میان آنها و جمعیت‏هایی که به ایشان نعمت عطا کردیم آبادیهای دیگری قرار دادیم، و ما مسافرت در میان آنها را امن قرار دادیم: "شب‏ها و روزها در آن در امنیت کامل مسافرت کنید."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="18" name="18"></a>

                        <p>[<span title="Sheba (Saba'), verse 18">34:18</span>]&nbsp; We placed between them and the communities that we blessed other oases, and we secured the journey between them: "Travel therein days and nights in complete security."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="19" name="19"></a>

                        <p>(<span title="سبا (سبا), آیه ۱۹">۳۴:۱۹</span>)&nbsp; اما آنها (ناسپاسی کردند و) به اعتراض گفتند: "پروردگار ما، ما اهمیت نمی‌دهیم که فاصله راههای مسافرت ما را زیادتر کنی (بدون هیچ ایستگاهی)." آنها اینچنین به نفس خود ستم کردند. در
                            نتیجه، ما ایشان را تاریخ قرار دادیم، و آنها را به اجتماعات کوچکتری در سراسر زمین پراکنده کردیم. این درسهای عبرتی باشد برای کسانی که ثابت‏قدم هستند، سپاسگزار.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="19" name="19"></a>

                        <p>[<span title="Sheba (Saba'), verse 19">34:19</span>]&nbsp; But they <em>(turned unappreciative and)</em> challenged: "Our Lord, we do not care if You increase the distance of our journeys <em>(without any stations)</em>." They
                            thus wronged their own souls. Consequently, we made them history, and scattered them into small communities throughout the land. This should provide lessons for those who are steadfast, appreciative.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="20" name="20"></a>

                        <div class="footnote-subtitle">شیطان مدعی اکثریت است</div>

                        <p>(<span title="سبا (سبا), آیه ۲۰">۳۴:۲۰</span>)&nbsp; شیطان آنها را آماده انجام خواسته‏‌هایش یافت. آنها از او پیروی کردند، بجز چند تن از مؤمنان.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="20" name="20"></a>

                        <div class="footnote-subtitle">Satan Claims the Majority</div>

                        <p>[<span title="Sheba (Saba'), verse 20">34:20</span>]&nbsp; Satan found them readily fulfilling his expectations. They followed him, except a few believers.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="21" name="21"></a>

                        <div class="footnote-subtitle">هدف: آیا ما به آخرت ایمان داریم؟*</div>

                        <p>(<span title="سبا (سبا), آیه ۲۱">۳۴:۲۱</span>)&nbsp; او هرگز قدرتی بر ایشان نداشت. اما ما اینچنین کسانی را که به آخرت ایمان دارند از کسانی که به آن شک دارند، مشخص می‌کنیم. پروردگارت کاملاً همه چیز را تحت کنترل دارد.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۳۴:۲۱ مشخصاتى که ما را آگاه ميسازد که آيا ما به آخرت ايمان داريم يا نه، در آيات ۶:۱۱۳، ۱۷:۴۵، و ۳۹:۴۵ ذکر شده اند. اين سه علامت مشخص کننده ادعاى درونى ما را، با وجود آنچه بر زبان مى آوريم آشکار مى سازد.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="21" name="21"></a>

                        <div class="footnote-subtitle">The Objective: Do We Believe in the Hereafter?*</div>

                        <p>[<span title="Sheba (Saba'), verse 21">34:21</span>]&nbsp; He never had any power over them. But we thus distinguish those who believe in the Hereafter from those who are doubtful about it.* Your Lord is in full control of all
                            things.</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*34:21 The criteria that inform us whether we believe in the Hereafter or not are in 6:113, 17:45, & 39:45. These three criteria bring out our true convictions, regardless of our oral statements.

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="22" name="22"></a>

                        <p>(<span title="سبا (سبا), آیه ۲۲">۳۴:۲۲</span>)&nbsp; بگو، "دعا کنید به معبودانی که در کنار <strong>خدا</strong> قرار داده‏‌اید. آنها صاحب ذره اتمی نیستند، در آسمانها و یا در زمین. آنها هیچ شراکتی در آن ندارند، و نه او به آنها اجازه
                            می‌دهد تا دستیار او باشند."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="22" name="22"></a>

                        <p>[<span title="Sheba (Saba'), verse 22">34:22</span>]&nbsp; Say, "Implore the idols you have set up beside <strong>GOD</strong>. They do not possess as much as a single atom in the heavens, or the earth. They possess no partnership
                            therein, nor does He permit them to be His assistants."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="23" name="23"></a>

                        <div class="footnote-subtitle">شفاعت وجود ندارد</div>

                        <p>(<span title="سبا (سبا), آیه ۲۳">۳۴:۲۳</span>)&nbsp; شفاعت با او بیهوده خواهد بود، مگراینکه با خواسته او مطابقت کند. هنگامی که بالاخره فکرشان آرام شود، و سئوال کنند، "پروردگارتان چه گفت،" آنها خواهند گفت، "حقیقت را." او بلند مرتبه‏‌ترین
                            است، کبیر.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="23" name="23"></a>

                        <div class="footnote-subtitle">No Intercession</div>

                        <p>[<span title="Sheba (Saba'), verse 23">34:23</span>]&nbsp; Intercession with Him will be in vain, unless it coincides with His will. When their minds are finally settled down, and they ask, "What did your Lord say," they will say,
                            "The truth." He is the Most High, the Most Great.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="24" name="24"></a>

                        <p>(<span title="سبا (سبا), آیه ۲۴">۳۴:۲۴</span>)&nbsp; بگو، "چه کسی از آسمانها و زمین برای شما فراهم می‌کند؟" بگو، "<strong>خدا</strong>،" و "یا ما یا شما هدایت شده‏‌ایم، یا عمیقاً گمراه شده‏‌ایم."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="24" name="24"></a>

                        <p>[<span title="Sheba (Saba'), verse 24">34:24</span>]&nbsp; Say, "Who provides for you, from the heavens and the earth?" Say, "<strong>GOD</strong>," and "Either we or you are guided, or have gone far astray."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="25" name="25"></a>

                        <p>(<span title="سبا (سبا), آیه ۲۵">۳۴:۲۵</span>)&nbsp; بگو، "نه شما مسئول جرم‏های ما هستید، و نه ما مسئول آنچه شما انجام می‌دهید هستیم."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="25" name="25"></a>

                        <p>[<span title="Sheba (Saba'), verse 25">34:25</span>]&nbsp; Say, "You are not responsible for our crimes, nor are we responsible for what you do."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="26" name="26"></a>

                        <p>(<span title="سبا (سبا), آیه ۲۶">۳۴:۲۶</span>)&nbsp; بگو، "پروردگار ما همه ما را نزد خود احضار خواهد کرد، سپس او در میان ما عادلانه قضاوت خواهد کرد. او قاضی است، دانای مطلق."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="26" name="26"></a>

                        <p>[<span title="Sheba (Saba'), verse 26">34:26</span>]&nbsp; Say, "Our Lord will gather us all together before Him, then He will judge between us equitably. He is the Judge, the Omniscient."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="27" name="27"></a>

                        <p>(<span title="سبا (سبا), آیه ۲۷">۳۴:۲۷</span>)&nbsp; بگو، "معبودانی را که شرکای او قرار داده‏‌اید، به من نشان دهید!" بگو، "نه؛ او است <strong>خدا</strong>ی یکتا، بزرگوار، حکیم‏ترین.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="27" name="27"></a>

                        <p>[<span title="Sheba (Saba'), verse 27">34:27</span>]&nbsp; Say, "Show me the idols you have set up as partners with Him!" Say, "No; He is the one <strong>GOD</strong>, the Almighty, Most Wise."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="28" name="28"></a>

                        <div class="footnote-subtitle">رسول میثاق خدا</div>

                        <p>(<span title="سبا (سبا), آیه ۲۸">۳۴:۲۸</span>)&nbsp; ما تو را بر همه مردم فرستاده‏‌ایم (ای رشاد) بعنوان مژده دهنده و هشدار دهنده، اما اکثر مردم نمی‌دانند.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۳۴:۲۸ همانطور که در ضميمه ۲ توضيح داده شده است، اسم اين رسول به صورت رياضى در قرآن بعنوان "رشاد خليفه" کد شده است. باضافه کردن مقدار عددى "رشاد (۵۰۵)، به مقدار عددى "خليفه" (۷۲۵)، باضافه شماره سوره (۳)، باضافه شماره آيه
                                    (۲۸)، مجموعى بدست مى آوريم که با معجزه رياضى قرآن بر پايه عدد ۱۹ مطابقت دارد که توسطا رشاد خليفه آشکار شد (۶۸۱۹=۱۲۹۲=۲۸+۳۴+۷۲۵+۵۰۵). اطلاعات بيشترى در آيه ۵:۱۹ و زير نويس آن داده شده است.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="28" name="28"></a>

                        <div class="footnote-subtitle">God's Messenger of the Covenant</div>

                        <p>[<span title="Sheba (Saba'), verse 28">34:28</span>]&nbsp; We have sent you <em>(O Rashad)</em>* to all the people, a bearer of good news, as well as a warner, but most people do not know.</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*34:28 As detailed in Appendix 2, the name of this messenger is mathematically coded into the Quran as "Rashad Khalifa." By adding the numerical value of the name "Rashad" (505), plus the numerical value of the name "Khalifa"
                                    (725), plus the number of the sura (34), plus the number of the verse (28), we obtain a total that conforms with the Quran's 19-based mathematical miracle, which was unveiled through Rashad Khalifa. (505+725+34+28=1292=19x68).
                                    More information is given in 5:19 and its footnote.

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="29" name="29"></a>

                        <p>(<span title="سبا (سبا), آیه ۲۹">۳۴:۲۹</span>)&nbsp; آنها به اعتراض گویند، "این وعده کی فرا خواهد رسید، اگر راست می‌گویید؟"</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="29" name="29"></a>

                        <p>[<span title="Sheba (Saba'), verse 29">34:29</span>]&nbsp; They challenge, "When will this promise come to pass, if you are truthful?"</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="30" name="30"></a>

                        <p>(<span title="سبا (سبا), آیه ۳۰">۳۴:۳۰</span>)&nbsp; بگو، "شما زمانی معین دارید، در روزی معین که نمی‌توانید حتی یک ساعت هم آن را به عقب یا به جلو اندازید."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="30" name="30"></a>

                        <p>[<span title="Sheba (Saba'), verse 30">34:30</span>]&nbsp; Say, "You have a specific time, on a specific day, that you cannot delay by one hour, nor advance."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="31" name="31"></a>

                        <p>(<span title="سبا (سبا), آیه ۳۱">۳۴:۳۱</span>)&nbsp; کسانی که ایمان ندارند گفته‏‌اند، "ما به این قرآن ایمان نخواهیم آورد، و نه به کتابهای آسمانی قبلی." اگر فقط می‌توانستی این متجاوزین را در نظر خود مجسم کنی، هنگامی که در پیشگاه
                            پروردگارشان می‌ایستند! آنها همینطور با یکدیگر مشاجره می‌کنند. پیروان به رهبرانشان خواهند گفت، "اگر به خاطر شما نبود ما مؤمن شده بودیم."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="31" name="31"></a>

                        <p>[<span title="Sheba (Saba'), verse 31">34:31</span>]&nbsp; Those who disbelieve have said, "We will not believe in this Quran, nor in the previous scriptures." If you could only envision these transgressors when they stand before
                            their Lord! They will argue with one another back and forth. The followers will tell their leaders, "If it were not for you, we would have been believers."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="32" name="32"></a>

                        <div class="footnote-subtitle">در روز قیامت</div>

                        <p>(<span title="سبا (سبا), آیه ۳۲">۳۴:۳۲</span>)&nbsp; رهبران به کسانی که از ایشان پیروی کردند خواهند گفت، "آیا ما هستیم کسانی که پس از اینکه هدایت بر شما آمد، شما را منحرف کردیم؟ نه؛ شما خود ستمکار بودید."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="32" name="32"></a>

                        <div class="footnote-subtitle">On the Day of Resurrection</div>

                        <p>[<span title="Sheba (Saba'), verse 32">34:32</span>]&nbsp; The leaders will say to those who followed them, "Are we the ones who diverted you from the guidance after it came to you? No; it is you who were wicked."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="33" name="33"></a>

                        <p>(<span title="سبا (سبا), آیه ۳۳">۳۴:۳۳</span>)&nbsp; پیروان به رهبرانشان خواهند گفت، "شما بودید که شب و روز توطئه کردید، سپس به ما دستور دادید که نسبت به <strong>خدا</strong> ناسپاس باشیم، و معبودانی را همردیف او قرار دهیم." هنگامی
                            که آنها عذاب را ببینند با ندامت رانده خواهند شد، زیرا ما به گردن کسانی که ایمان نیاوردند غل و زنجیر خواهیم زد. آیا به خاطر اعمالشان عادلانه مجازات نمی‌شوند؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="33" name="33"></a>

                        <p>[<span title="Sheba (Saba'), verse 33">34:33</span>]&nbsp; The followers will say to their leaders, "It was you who schemed night and day, then commanded us to be unappreciative of <strong>GOD</strong>, and to set up idols to rank
                            with Him." They will be ridden with remorse, when they see the retribution, for we will place shackles around the necks of those who disbelieved. Are they not justly requited for what they did?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="34" name="34"></a>

                        <div class="footnote-subtitle">هر بار!</div>

                        <p>(<span title="سبا (سبا), آیه ۳۴">۳۴:۳۴</span>)&nbsp; هر بار ما هشدار دهنده‏‌ای به جامعه‏‌ای فرستادیم، رهبران آن جامعه گفتند، "ما پیغامی را که با تو فرستاده شده است، رد می‌کنیم."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="34" name="34"></a>

                        <div class="footnote-subtitle">Every Time!</div>

                        <p>[<span title="Sheba (Saba'), verse 34">34:34</span>]&nbsp; Every time we sent a warner to a community, the leaders of that community said, "We reject the message you are sent with."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="35" name="35"></a>

                        <p>(<span title="سبا (سبا), آیه ۳۵">۳۴:۳۵</span>)&nbsp; آنها همچنین گفتند، "ما قدرتمندتر هستیم، با پول و فرزندان بیشتر، و ما تنبیه نخواهیم شد."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="35" name="35"></a>

                        <p>[<span title="Sheba (Saba'), verse 35">34:35</span>]&nbsp; They also said, "We are more powerful, with more money and children, and we will not be punished."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="36" name="36"></a>

                        <p>(<span title="سبا (سبا), آیه ۳۶">۳۴:۳۶</span>)&nbsp; بگو، "پروردگار من آن یکتایی است که همه روزی‏ها را کنترل می‌کند؛ او به هر کس بخواهد روزی عطا می‌کند، یا آن را کم می‌کند، اما اکثر مردم نمی‌دانند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="36" name="36"></a>

                        <p>[<span title="Sheba (Saba'), verse 36">34:36</span>]&nbsp; Say, "My Lord is the One who controls all provisions; He grants the provisions to whomever He wills, or reduces them, but most people do not know."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="37" name="37"></a>

                        <p>(<span title="سبا (سبا), آیه ۳۷">۳۴:۳۷</span>)&nbsp; این پول و فرزندان شما نیست که شما را به ما نزدیکتر می‌کند. فقط کسانی که ایمان دارند و زندگی پرهیزکارانه‏‌ای را در پیش می‌گیرند پاداش اعمالشان را چندین برابر دریافت خواهند داشت.
                            آنها در پردیس در صلح کامل زندگی خواهند کرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="37" name="37"></a>

                        <p>[<span title="Sheba (Saba'), verse 37">34:37</span>]&nbsp; It is not your money or your children that bring you closer to us. Only those who believe and lead a righteous life will receive the reward for their works, multiplied
                            manifold. In the abode of Paradise they will live in perfect peace.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="38" name="38"></a>

                        <p>(<span title="سبا (سبا), آیه ۳۸">۳۴:۳۸</span>)&nbsp; و اما کسانی که دائماً به آیات ما اعتراض می‌کنند، در عذاب بسر خواهند برد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="38" name="38"></a>

                        <p>[<span title="Sheba (Saba'), verse 38">34:38</span>]&nbsp; As for those who consistently challenge our revelations, they will abide in retribution.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="39" name="39"></a>

                        <p>(<span title="سبا (سبا), آیه ۳۹">۳۴:۳۹</span>)&nbsp; بگو، "پروردگار من آن یکتایی است که همه روزی‏ها را کنترل می‌کند؛ او روزی هر یک از بندگانش را که انتخاب کند، افزایش می‌دهد، یا آن را کم می‌کند. هر چه (در راه خدا) خرج کنید، او
                            به شما پاداش آن را خواهد داد؛ او بهترین روزی دهنده است."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="39" name="39"></a>

                        <p>[<span title="Sheba (Saba'), verse 39">34:39</span>]&nbsp; Say, "My Lord is the One who controls all provisions; He increases the provisions for whomever He chooses from among His servants, or reduces them. Anything you spend <em>(in the cause of God)</em>,
                            He will reward you for it; He is the Best Provider."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="40" name="40"></a>

                        <p>(<span title="سبا (سبا), آیه ۴۰">۳۴:۴۰</span>)&nbsp; آن روز که او همه آنها را احضار کند، به فرشتگان خواهد گفت، "آیا این مردم شما را پرستش کردند؟"</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="40" name="40"></a>

                        <p>[<span title="Sheba (Saba'), verse 40">34:40</span>]&nbsp; On the day when He summons them all, He will say to the angels, "Did these people worship you?"</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="41" name="41"></a>

                        <p>(<span title="سبا (سبا), آیه ۴۱">۳۴:۴۱</span>)&nbsp; آنها جواب خواهند داد، "ستایش تو را. تو مولا و سرور ما هستی، نه آنها. در عوض، آنها جن‏ها را پرستش می‌کردند؛ اکثرشان به آن ایمان داشتند."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="41" name="41"></a>

                        <p>[<span title="Sheba (Saba'), verse 41">34:41</span>]&nbsp; They will answer, "Be You glorified. You are our Lord and Master, not them. Instead, they were worshiping the jinns; most of them were believers therein."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="42" name="42"></a>

                        <p>(<span title="سبا (سبا), آیه ۴۲">۳۴:۴۲</span>)&nbsp; در آن روز، شما هیچ قدرتی بر نفع و ضرر یکدیگر نخواهید داشت، و ما به متجاوزین خواهیم گفت، "بچشید عذاب دوزخی را که انکار می‌کردید."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="42" name="42"></a>

                        <p>[<span title="Sheba (Saba'), verse 42">34:42</span>]&nbsp; On that day, you possess no power to help or harm one another, and we will say to the transgressors, "Taste the retribution of the Hell that you used to deny."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="43" name="43"></a>

                        <div class="footnote-subtitle">معجزه ریاضی قرآن*</div>

                        <p>(<span title="سبا (سبا), آیه ۴۳">۳۴:۴۳</span>)&nbsp; هنگامی که نشانه‏‌های ما کاملاً واضح برایشان خوانده شد، گفتند، "این فقط مردی است که می‌خواهد شما را از راهی که والدین‏تان عبادت می‌کنند منحرف سازد." آنها همچنین گفتند، "اینها
                            دروغهایی ساختگی است." همچنین کسانی که ایمان نیاوردند در باره حقیقتی که بر ایشان آمد گفتند، "این شعبده‏‌ای است آشکار."</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۳۴:۴۳ با ضافه کردن مقدار عددى "رشاد" (۵۰۵)، باضافه مقدار عددى "خليفه" (۷۲۵)، باضافه شماره اين آيه (۴۳)، عدد ۶۷۱۹=۱۲۷۳=۴۳+۷۲۵+۵۰۵ حاصل ميشود. به ضميمه هاى ۱ و ۲ توجه کنيد.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="43" name="43"></a>

                        <div class="footnote-subtitle">Mathematical Miracle of the Quran*</div>

                        <p>[<span title="Sheba (Saba'), verse 43">34:43</span>]&nbsp; When our proofs were recited to them, perfectly clear, they said, "This is simply a man who wants to divert you from the way your parents are worshiping." They also said,
                            "These are fabricated lies." Those who disbelieved also said about the truth that came to them, "This is obviously magic."</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*34:43 By adding the gematrical value of "Rashad" (505), plus the value of "Khalifa" (725), plus this verse number (43), we get 505+725+43=1273=19x67. See Appendices 1 & 2.

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="44" name="44"></a>

                        <p>(<span title="سبا (سبا), آیه ۴۴">۳۴:۴۴</span>)&nbsp; ما به آنها کتابهای دیگری برای بررسی ندادیم، و نه هشدار دهنده‏‌ای قبل از تو بر ایشان فرستادیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="44" name="44"></a>

                        <p>[<span title="Sheba (Saba'), verse 44">34:44</span>]&nbsp; We did not give them any other books to study, nor did we send to them before you another warner.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="45" name="45"></a>

                        <p>(<span title="سبا (سبا), آیه ۴۵">۳۴:۴۵</span>)&nbsp; پیشینیانشان باور نکردند، و اگرچه آنها حتی یک دهم (معجزه‏‌ای) را که ما به این نسل داده‏‌ایم، ندیدند، چه سخت بود مجازات من موقعی که رسولان من را باور نکردند!</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۳۴:۴۵ معجزات بزرگى که به موسى و عيسى داده شده بود، از نظر زمانى و مکانى محدود بودند؛ فقط بواسطه عده که در آن مکان و زمان خاص زندگى ميکردند مشاهده شدند. اما معجزه رياضى قرآن هميشگى است (به آيات -۷۴:۳۰ و ضميمه ۱ توجه کنيد).</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="45" name="45"></a>

                        <p>[<span title="Sheba (Saba'), verse 45">34:45</span>]&nbsp; Those before them disbelieved, and even though they did not see one-tenth* of <em>(the miracle)</em> we have given to this generation, when they disbelieved My messengers,
                            how severe was My retribution!</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*34:45 The great miracles given to Moses and Jesus were limited in time and place; they were witnessed by a few people who happened to exist in that place at that time. But the mathematical miracle of the Quran is perpetual
                                    (see 74:30-35 & Appendix 1).

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="46" name="46"></a>

                        <div class="footnote-subtitle">رسول میثاق خدا*</div>

                        <p>(<span title="سبا (سبا), آیه ۴۶">۳۴:۴۶</span>)&nbsp; بگو، "من از شما یک چیز می‌خواهم که انجام دهید: خود را وقف <strong>خدا</strong> کنید، جفت جفت یا تک تک، سپس تفکر کنید. دوست شما (رشاد) دیوانه نیست. او هشدار دهنده آشکاری است بر
                            شما، درست قبل از آمدن عذابی هولناک."</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۳۴:۴۶ با قرار دادن مقدار عددى "رشاد" (۵۰۵)، در کنار مقدار عددى "خليفه" (۷۲۵)، سپس شماره سوره (۳۴)، و شماره آيه (۴۶)، عدد حاصل ميشود، ۲۶۶۱۷۱۲۳۴x۱۹=۵۰۵۷۲۵۳۴۴۶.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="46" name="46"></a>

                        <div class="footnote-subtitle">God's Messenger of the Covenant*</div>

                        <p>[<span title="Sheba (Saba'), verse 46">34:46</span>]&nbsp; Say, "I ask you to do one thing: Devote yourselves to <strong>GOD</strong>, in pairs or as individuals, then reflect. Your friend <em>(Rashad)</em> is not crazy. He is
                            a manifest warner to you, just before the advent of a terrible retribution."</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*34:46 By placing the gematrical value of "Rashad" (505) next to the value of "Khalifa" (725), then the sura number (34), and the verse number (46), we get 5057253446 = 19x266171234.

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="47" name="47"></a>

                        <p>(<span title="سبا (سبا), آیه ۴۷">۳۴:۴۷</span>)&nbsp; بگو، "من مزدی از شما نمی‌خواهم؛ شما می‌توانید آن را برای خود نگه دارید. مزد من فقط از طرف <strong>خدا</strong> می‌آید. او بر همه چیز شاهد است."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="47" name="47"></a>

                        <p>[<span title="Sheba (Saba'), verse 47">34:47</span>]&nbsp; Say, "I do not ask you for any wage; you can keep it. My wage comes only from <strong>GOD</strong>. He witnesses all things."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="48" name="48"></a>

                        <p>(<span title="سبا (سبا), آیه ۴۸">۳۴:۴۸</span>)&nbsp; بگو، "پروردگار من باعث می‌شود تا حقیقت پیروز گردد. او دانای همه رازها است."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="48" name="48"></a>

                        <p>[<span title="Sheba (Saba'), verse 48">34:48</span>]&nbsp; Say, "My Lord causes the truth to prevail. He is the Knower of all secrets."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="49" name="49"></a>

                        <p>(<span title="سبا (سبا), آیه ۴۹">۳۴:۴۹</span>)&nbsp; بگو، "حقیقت آمده است؛ در حالی که باطل نه می‌تواند چیزی را آغاز کند، و نه آن را تکرار کند."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="49" name="49"></a>

                        <p>[<span title="Sheba (Saba'), verse 49">34:49</span>]&nbsp; Say, "The truth has come; while falsehood can neither initiate anything, nor repeat it."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="50" name="50"></a>

                        <p>(<span title="سبا (سبا), آیه ۵۰">۳۴:۵۰</span>)&nbsp; بگو، "اگر من گمراه شوم، به خاطر کوتاهی خود گمراه می‌شوم. و اگر هدایت شده‏‌ام، به خاطر وحی پروردگارم است. او شنونده است، نزدیک."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="50" name="50"></a>

                        <p>[<span title="Sheba (Saba'), verse 50">34:50</span>]&nbsp; Say, "If I go astray, I go astray because of my own shortcomings. And if I am guided, it is because of my Lord's inspiration. He is Hearer, Near."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="51" name="51"></a>

                        <p>(<span title="سبا (سبا), آیه ۵۱">۳۴:۵۱</span>)&nbsp; اگر فقط می‌توانستی آنها را ببینی هنگامی که آن وحشت عظیم به ایشان اصابت می‌کند؛ در آنموقع نمی‌توانند فرار کنند، و آنها را بزور خواهند برد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="51" name="51"></a>

                        <p>[<span title="Sheba (Saba'), verse 51">34:51</span>]&nbsp; If you could only see them when the great terror strikes them; they cannot escape then, and they will be taken away forcibly.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="52" name="52"></a>

                        <p>(<span title="سبا (سبا), آیه ۵۲">۳۴:۵۲</span>)&nbsp; آنوقت خواهند گفت، "اکنون ما به آن ایمان می‌آوریم،" اما خیلی دیر خواهد بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="52" name="52"></a>

                        <p>[<span title="Sheba (Saba'), verse 52">34:52</span>]&nbsp; They will then say, "We now believe in it," but it will be far too late.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="53" name="53"></a>

                        <p>(<span title="سبا (سبا), آیه ۵۳">۳۴:۵۳</span>)&nbsp; آنها آن را در گذشته رد کرده‏‌اند؛ آنها تصمیم گرفته‏‌اند که در عوض از حدس و گمان پیروی کنند.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۳۴:۵۳ پيروان همه اديان به دور شدن از کلام خدا و پيروى از کلام انسانها گرايش دارند. يهوديان و مسلمانان از ميشناه (حديث) و گماراه(سنت) پيروى ميکنند، در حالى که مسيحيان از تثليت (سه خدايى)پيروى ميکنند که در نتيجه کنفرانس
                                    ناى سين ( Nicene Conference) جعل شد، ۳۲۵ سال بعد از عيسى.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="53" name="53"></a>

                        <p>[<span title="Sheba (Saba'), verse 53">34:53</span>]&nbsp; They have rejected it in the past; they have decided instead to uphold conjecture and guesswork.*</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*34:53 People of all religions tend to forsake the word of God and uphold the words of men. The Jews and the Muslims uphold the Mishnah (Hadith) and Gemarrah (Sunna), while the Christians uphold a trinity invented by the
                                    Nicene Conference, 325 years after Jesus.</p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="54" name="54"></a>

                        <p>(<span title="سبا (سبا), آیه ۵۴">۳۴:۵۴</span>)&nbsp; در نتیجه، از هر چه آرزوی آن را داشتند محروم شدند. این مانند سرنوشت امثال ایشان در نسلهای گذشته است. آنها شک فراوانی به خود راه دادند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="54" name="54"></a>

                        <p>[<span title="Sheba (Saba'), verse 54">34:54</span>]&nbsp; Consequently, they were deprived of everything they longed for. This is the same fate as their counterparts in the previous generations. They harbored too many doubts.</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۰۵۹</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۰۷۳۱۸</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
       