<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۵۸: بحث (المجادله)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 58: The Debate (Al-Mujaadalah)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="بحث (المجادله), آیه ۱">۵۸:۱</span>)&nbsp;
                            <strong>خدا</strong> آن زن را که با تو در باره شوهرش بحث کرد، و به <strong>خدا</strong> شکایت کرد، شنیده است. <strong>خدا</strong> همه گفتگوهای شما دو نفر را شنید. <strong>خدا</strong> شنوا است، بینا.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="The Debate (Al-Mujaadalah), verse 1">58:1</span>]&nbsp;
                            <strong>GOD</strong> has heard the woman who debated with you about her husband, and complained to <strong>GOD</strong>. <strong>GOD</strong> heard everything the two of you discussed. <strong>GOD</strong> is Hearer, Seer.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="بحث (المجادله), آیه ۲">۵۸:۲</span>)&nbsp; کسانی که در میان شما از زنان خود دوری می‌کنند (با اعلام اینکه روابط جنسی با ایشان حرام است،) بعنوان مادرانشان، بخوبی می‌دانند که آن زنها مادران آنها نیستند. مادرانشان زنانی
                            هستند که ایشان را بدنیا آوردند. به درستی که آنها مرتکب کفر و دروغ می‌شوند. <strong>خدا</strong> عفو کننده است، آمرزنده.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۵۸:۲ دور کردن زن با اعلام اينکه او مانند مادر شخص است، يا سنت قديمى در عربستان بود. اين تنها سوره اى است که کلمه "خدا" در همه آيات آن ذکر شده است.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="The Debate (Al-Mujaadalah), verse 2">58:2</span>]&nbsp; Those among you who estrange their wives <em>(by declaring them as forbidden in sex)</em> as their mothers know full well that they are not their mothers.* Their
                            mothers are the women who gave birth to them. Indeed, they are committing a blasphemy and a falsehood. <strong>GOD</strong> is Pardoner, Forgiver.</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*58:2 Estranging a wife by declaring that she is like one's mother was an ancient tradition in Arabia. This is the only sura where the word "Allah" occurs in every verse.

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="بحث (المجادله), آیه ۳">۵۸:۳</span>)&nbsp; کسانی که از زنان خود به این ترتیب دوری کنند، و پس از آن آشتی کنند، باید با آزاد کردن برده‏‌ای قبل از روابط جنسی، کفاره دهند. این برای روشن کردن شما است. <strong>خدا</strong>                            بر همه اعمال شما آگاه است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="The Debate (Al-Mujaadalah), verse 3">58:3</span>]&nbsp; Those who estrange their wives in this manner, then reconcile thereafter, shall atone by freeing a slave before resuming their sexual relations. This is to enlighten
                            you. <strong>GOD</strong> is Cognizant of everything you do.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="بحث (المجادله), آیه ۴">۵۸:۴</span>)&nbsp; اگر نتوانی برده‏‌ای برای آزاد کردن پیدا کنی، قبل از روابط جنسی، باید دو ماه پی‏درپی روزه بگیری. اگر نمی‌توانی روزه بگیری، پس باید شصت فقیر را غذا بدهی. شما باید به <strong>خدا</strong>                            و رسولش ایمان آورید. اینها قوانین <strong>خدا</strong> هستند. کافران سزاوار عذابی دردناک شده‏‌اند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="The Debate (Al-Mujaadalah), verse 4">58:4</span>]&nbsp; If you cannot find a slave to free, you shall fast two consecutive months before resuming sexual relations. If you cannot fast, then you shall feed sixty poor
                            people. You shall believe in <strong>GOD</strong> and His messenger. These are <strong>GOD</strong>'s laws. The disbelievers have incurred a painful retribution.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="بحث (المجادله), آیه ۵">۵۸:۵</span>)&nbsp; مطمئناً، کسانی که با <strong>خدا</strong> و رسولش می‌جنگند، گرفتار شکست شده‏‌اند، همانطور که امثال آن‏ها در گذشته گرفتار شکست شدند. ما نشانه‏‌های آشکار پایین فرستاده‏‌ایم،
                            و تکذیب کنندگان سزاوار مجازاتی ننگین شده‏‌اند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="The Debate (Al-Mujaadalah), verse 5">58:5</span>]&nbsp; Surely, those who fight <strong>GOD</strong> and His messenger are committed to defeat, like their previous counterparts were committed to defeat. We have sent
                            down clear proofs, and the rejectors have incurred a shameful retribution.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="بحث (المجادله), آیه ۶">۵۸:۶</span>)&nbsp; آن روز خواهد آمد که <strong>خدا</strong> همه آنها را بر می‌انگیزد، سپس از هر چه انجام داده‏‌اند آگاهشان خواهد کرد. <strong>خدا</strong> همه چیز را ضبط کرده است. در حالی که
                            آنها آن را فراموش کرده‏‌اند. <strong>خدا</strong> بر همه چیز شاهد است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="The Debate (Al-Mujaadalah), verse 6">58:6</span>]&nbsp; The day will come when <strong>GOD</strong> will resurrect them all, then inform them of everything they had done. <strong>GOD</strong> has recorded everything,
                            while they have forgotten it. <strong>GOD</strong> witnesses all things.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <div class="footnote-subtitle">خدا اکنون با شما است</div>

                        <p>(<span title="بحث (المجادله), آیه ۷">۵۸:۷</span>)&nbsp; آیا درک نمی‌کنی که <strong>خدا</strong> همه چیز را در آسمانها و همه چیز را در زمین می‌داند؟ هیچ سه نفری مخفیانه توطئه نکنند بدون اینکه او چهارمین‏شان باشد، نه پنج نفر بدون
                            اینکه او ششمین باشد، نه کمتر از آن و نه بیشتر، بدون اینکه او هم با آنها باشد، هر کجا که باشند. سپس، در روز قیامت او آنها را از هر چه انجام داده بودند آگاه خواهد ساخت. <strong>خدا</strong> کاملاً بر همه چیز آگاه است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <div class="footnote-subtitle">God is With You Now</div>

                        <p>[<span title="The Debate (Al-Mujaadalah), verse 7">58:7</span>]&nbsp; Do you not realize that <strong>GOD</strong> knows everything in the heavens and everything on earth? No three people can conspire secretly without Him being
                            their fourth, nor five without Him being the sixth, nor less than that, nor more, without Him being there with them wherever they may be. Then, on the Day of Resurrection, He will inform them of everything they had done. <strong>GOD</strong>                            is fully aware of all things.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <div class="footnote-subtitle">توطئه نکنید</div>

                        <p>(<span title="بحث (المجادله), آیه ۸">۵۸:۸</span>)&nbsp; آیا توجه کرده‏‌ای به کسانی که از مخفیانه توطئه کردن منع شده بودند، سپس اصرار به توطئه کردن دارند؟ آنها توطئه می‌کنند تا مرتکب گناه، تجاوز، و نافرمانی از رسول شوند. هنگامی
                            که نزد تو می‌آیند، تو را با غیر از درودی که <strong>خدا</strong> مقرر نموده است درود می‌گویند. آنها درون خود می‌گویند، "<strong>خدا</strong> ما را به خاطر گفتارمان تنبیه نخواهد کرد." تنها جزای آنها جهنم است که در آن می‌سوزند؛
                            چه سرنوشت بدی.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <div class="footnote-subtitle">Do Not Conspire</div>

                        <p>[<span title="The Debate (Al-Mujaadalah), verse 8">58:8</span>]&nbsp; Have you noted those who were enjoined from conspiring secretly, then insist on conspiring? They conspire to commit sin, transgression, and disobedience of the
                            messenger. When they come to you, they greet you with a greeting other than that decreed by <strong>GOD</strong>. They say inside themselves, "<strong>GOD</strong> will not punish us for our utterances." Their only requital
                            is Gehenna, wherein they burn; what a miserable destiny.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <p>(<span title="بحث (المجادله), آیه ۹">۵۸:۹</span>)&nbsp; ای کسانی که ایمان دارید، اگر باید مخفیانه مشورت کنید، شما نباید برای ارتکاب گناه، تجاوز، و نافرمانی نسبت به رسول، مشورت کنید. شما باید در نیکی و پرهیزکاری مشورت کنید. شما
                            باید به هیبت <strong>خدا</strong> حرمت نهید، کسی که نزدش احضار خواهید شد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <p>[<span title="The Debate (Al-Mujaadalah), verse 9">58:9</span>]&nbsp; O you who believe, if you have to confer secretly, you shall not confer to commit sin, transgression, and to disobey the messenger. You shall confer to work
                            righteousness and piety. You shall reverence <strong>GOD</strong>, before whom you will be summoned.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <p>(<span title="بحث (المجادله), آیه ۱۰">۵۸:۱۰</span>)&nbsp; مخفیانه توطئه کردن عقیده شیطان است که به واسطه آن در جستجوی آزار رسانیدن به کسانی است که ایمان آوردند. اگر چه او برخلاف خواست <strong>خدا</strong> نمی‌تواند آزاری به آنها
                            برساند. مؤمنان باید به <strong>خدا</strong> توکل کنند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <p>[<span title="The Debate (Al-Mujaadalah), verse 10">58:10</span>]&nbsp; Secret conspiracy is the devil's idea, through which he seeks to hurt those who believed. However, he cannot hurt them against <strong>GOD</strong>'s will.
                            In <strong>GOD</strong> the believers shall trust.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <p>(<span title="بحث (المجادله), آیه ۱۱">۵۸:۱۱</span>)&nbsp; ای کسانی که ایمان دارید، اگر به شما گفته شد، "لطفاً جا باز کنید،" شما باید جهت نشستن برای یکدیگر جا باز کنید. سپس <strong>خدا</strong> برای شما جا باز خواهد کرد. اگر از
                            شما خواسته شد که بلند شوید و حرکت کنید، بلند شوید و حرکت کنید. <strong>خدا</strong> کسانی که در میان شما ایمان دارند، و کسانی را که دانش کسب می‌کنند، به درجات بالاتر می‌رساند. <strong>خدا</strong> کاملاً بر هرچه شما انجام می‌دهید
                            آگاه است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <p>[<span title="The Debate (Al-Mujaadalah), verse 11">58:11</span>]&nbsp; O you who believe, if you are told, "Please make room," you shall make room for each other to sit. <strong>GOD</strong> will then make room for you. If you
                            are asked to get up and move, get up and move. <strong>GOD</strong> raises those among you who believe, and those who acquire knowledge to higher ranks. <strong>GOD</strong> is fully Cognizant of everything you do.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="12" name="12"></a>

                        <p>(<span title="بحث (المجادله), آیه ۱۲">۵۸:۱۲</span>)&nbsp; ای کسانی که ایمان دارید، هنگامی که می‌خواهید با رسول مشورت کنید، شما باید قبل از مشورت (به فقیر) صدقه بدهید. این برای شما بهتر و پاک‏تر است. اگر استطاعت آن را ندارید، پس
                            <strong>خدا</strong> عفو کننده است، مهربانترین.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="12" name="12"></a>

                        <p>[<span title="The Debate (Al-Mujaadalah), verse 12">58:12</span>]&nbsp; O you who believe, when you wish to confer with the messenger, you shall offer a charity <em>(to the poor)</em> before you do so. This is better for you, and
                            purer. If you cannot afford it, then <strong>GOD</strong> is Forgiver, Most Merciful.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="13" name="13"></a>

                        <p>(<span title="بحث (المجادله), آیه ۱۳">۵۸:۱۳</span>)&nbsp; اگر قبل از مشورت موفق به صدقه دادن نشدید، سپس، پس از آن توبه کردید، <strong>خدا</strong> توبه شما را قبول می‌کند. شما باید دعای ارتباطی (نماز) بجا آورید، انفاق واجب (زکات)
                            بدهید، و از <strong>خدا</strong> و رسولش اطاعت کنید. <strong>خدا</strong> کاملاً بر هرچه شما انجام می‌دهید آگاه است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="13" name="13"></a>

                        <p>[<span title="The Debate (Al-Mujaadalah), verse 13">58:13</span>]&nbsp; If you failed to give to charity before conferring, then repented thereafter, <strong>GOD</strong> accepts your repentance. You shall observe the contact prayers
                            <em>(Salat)</em>, give the obligatory charity <em>(Zakat)</em>, and obey <strong>GOD</strong> and His messenger. <strong>GOD</strong> is fully Cognizant of everything you do.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="14" name="14"></a>

                        <div class="footnote-subtitle">دوستان خود را انتخاب کنید</div>

                        <p>(<span title="بحث (المجادله), آیه ۱۴">۵۸:۱۴</span>)&nbsp; آیا توجه کرده‏‌ای به کسانی که با مردمی که <strong>خدا</strong> از آنها خشمگین است دوست شدند؟ آنها نه به شما تعلق دارند، نه به ایشان. آنها از قصد به دروغ قسم می‌خورند!</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="14" name="14"></a>

                        <div class="footnote-subtitle">Choose Your Friends</div>

                        <p>[<span title="The Debate (Al-Mujaadalah), verse 14">58:14</span>]&nbsp; Have you noted those who befriended people with whom <strong>GOD</strong> is angry? They neither belong with you, nor with them. They deliberately swear lies!</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="15" name="15"></a>

                        <p>(<span title="بحث (المجادله), آیه ۱۵">۵۸:۱۵</span>)&nbsp;
                            <strong>خدا</strong> برایشان مجازاتی شدید تهیه دیده است. براستی بد است آنچه که آنها انجام می‌دادند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="15" name="15"></a>

                        <p>[<span title="The Debate (Al-Mujaadalah), verse 15">58:15</span>]&nbsp;
                            <strong>GOD</strong> has prepared for them a severe retribution. Miserable indeed is what they used to do.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="16" name="16"></a>

                        <p>(<span title="بحث (المجادله), آیه ۱۶">۵۸:۱۶</span>)&nbsp; آنها از قسم‏های خود برای دور کردن از راه <strong>خدا</strong> استفاده می‌کردند. در نتیجه، آنها سزاوار مجازاتی ننگین شده‏‌اند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="16" name="16"></a>

                        <p>[<span title="The Debate (Al-Mujaadalah), verse 16">58:16</span>]&nbsp; They used their oaths as a means of repelling from the path of <strong>GOD</strong>. Consequently, they have incurred a shameful retribution.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="17" name="17"></a>

                        <p>(<span title="بحث (المجادله), آیه ۱۷">۵۸:۱۷</span>)&nbsp; نه پولشان و نه فرزندانشان در مقابل <strong>خدا</strong> آنها را کمک خواهد کرد. آنها سزاوار آتش جهنم شده‏‌اند که در آن جاودان باشند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="17" name="17"></a>

                        <p>[<span title="The Debate (Al-Mujaadalah), verse 17">58:17</span>]&nbsp; Neither their money, nor their children will help them against <strong>GOD</strong>. They have incurred the hellfire, wherein they abide forever.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="18" name="18"></a>

                        <p>(<span title="بحث (المجادله), آیه ۱۸">۵۸:۱۸</span>)&nbsp; آن روز خواهد آمد که <strong>خدا</strong> همه آنها را برمی‌انگیزد. آنها آنوقت به او قسم خواهند خورد، همانطوری که اکنون به تو قسم می‌خورند، فکر می‌کنند که واقعاً حق با ایشان
                            است! به درستی که آنها دروغگویان واقعی هستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="18" name="18"></a>

                        <p>[<span title="The Debate (Al-Mujaadalah), verse 18">58:18</span>]&nbsp; The Day will come when <strong>GOD</strong> resurrects them all. They will swear to Him then, just as they swear to you now, thinking that they really are
                            right! Indeed, they are the real liars.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="19" name="19"></a>

                        <p>(<span title="بحث (المجادله), آیه ۱۹">۵۸:۱۹</span>)&nbsp; شیطان آنها را در تصرف در آورده است، و باعث شده تا پیغام <strong>خدا</strong> را نادیده بگیرند. اینها حزب شیطان هستند. مسلماً، حزب شیطان بازندگان هستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="19" name="19"></a>

                        <p>[<span title="The Debate (Al-Mujaadalah), verse 19">58:19</span>]&nbsp; The devil has possessed them, and has caused them to disregard <strong>GOD</strong>'s message. These are the party of the devil. Absolutely, the party of the
                            devil are the losers.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="20" name="20"></a>

                        <p>(<span title="بحث (المجادله), آیه ۲۰">۵۸:۲۰</span>)&nbsp; مطمئناً، اشخاصی که با <strong>خدا</strong> و رسولش مخالفت می‌کنند، با پست‏ترین‏ها خواهند بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="20" name="20"></a>

                        <p>[<span title="The Debate (Al-Mujaadalah), verse 20">58:20</span>]&nbsp; Surely, those who oppose <strong>GOD</strong> and His messenger will be with the lowliest.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="21" name="21"></a>

                        <p>(<span title="بحث (المجادله), آیه ۲۱">۵۸:۲۱</span>)&nbsp;
                            <strong>خدا</strong> مقرر داشته است: "من و رسولان من مطمئناً برنده خواهیم شد." <strong>خدا</strong> قدرتمند است، بزرگوار.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="21" name="21"></a>

                        <p>[<span title="The Debate (Al-Mujaadalah), verse 21">58:21</span>]&nbsp;
                            <strong>GOD</strong> has decreed: "I and My messengers will most assuredly win." <strong>GOD</strong> is Powerful, Almighty.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="22" name="22"></a>

                        <div class="footnote-subtitle">خود را نجات دهید</div>

                        <p>(<span title="بحث (المجادله), آیه ۲۲">۵۸:۲۲</span>)&nbsp; مردمی را که به <strong>خدا</strong> و روز آخر ایمان دارند، با کسانی که با <strong>خدا</strong> و رسولش مخالفت می‌کنند، رفیق نخواهی یافت، حتی اگر آنها والدینشان باشند، یا
                            فرزندانشان، یا برادران و خواهرانشان، یا طایفه‏‌شان. برای اینها، او ایمان در قلب‏شان قرار می‌دهد، و آنها را با وحی از طرف خود یاری می‌کند، و آنها را به باغهایی با نهرهای جاری داخل می‌کند که در آن جاودان باشند. <strong>خدا</strong>                            از آنها راضی است، و آنها از او راضی هستند. اینها حزب <strong>خدا</strong> هستند. مطمئناً حزب <strong>خدا</strong> برندگان هستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="22" name="22"></a>

                        <div class="footnote-subtitle">Run For Your Life</div>

                        <p>[<span title="The Debate (Al-Mujaadalah), verse 22">58:22</span>]&nbsp; You will not find people who believe in <strong>GOD</strong> and the Last Day befriending those who oppose <strong>GOD</strong> and His messenger, even if
                            they were their parents, or their children, or their siblings, or their tribe. For these, He decrees faith into their hearts, and supports them with inspiration from Him, and admits them into gardens with flowing streams wherein
                            they abide forever. <strong>GOD</strong> is pleased with them, and they are pleased with Him. These are the party of <strong>GOD</strong>. Most assuredly, <strong>GOD</strong>'s party are the winners.</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۴۸۹</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۶۷۲۹</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>


<!-- // DEFINITIONS

base.html contains all the functionality specific code. There is layout code in this document. All other templates inherit from this document.

-->