<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->
      <div class="quran-main">
        <header class="page-description">


            <div dir="rtl" class="lang-fa rtl">
                <h2>سوره ۱۴: ابراهیم (ابراهیم)</h2>

            </div>



            <div dir="ltr" class="lang-en ltr">
                <h2>Sura 14: Abraham (Ibrah&#238;m)</h2>

            </div>




            <p class="basmallah">


                <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


            </p>

        </header>

        <section class="section-wrap">
            <div class="container">




                <div dir="rtl" class="lang-fa rtl">
                    <a id="1" name="1"></a>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۱">۱۴:۱</span>)&nbsp; ا.ل.ر. کتابی آسمانی که ما بر تو نازل کردیم، تا مردم را از تاریکی بیرون آورده و به نور رسانی-بخواست پروردگارشان-به راه آن بزرگوار، شایسته ستایش.</p>


                    <div class="footnote">
                        <div class="footnote-title">زیر نویس</div>
                        <div class="footnote-content">
                            <p>* ۱۴:۱ رمز اين پاراف ها، تا کشف کد رياضى قرآن در سال ۱۹۷۴ ميلادى، از محافظت الهى برخوردار بود. جهت اهميت اين پاراف ها به ضميمه ۱ مراجعه کنيد.</p>
                        </div>
                    </div>

                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="1" name="1"></a>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 1">14:1</span>]&nbsp; A. L. R.* A scripture that we revealed to you, in order to lead the people out of darkness into the light&mdash;in accordance with the will of their Lord &mdash;to
                        the path of the Almighty, the Praiseworthy.</p>


                    <div class="footnote">
                        <div class="footnote-title">Footnote</div>
                        <div class="footnote-content">
                            <p>*14:1 These initials remained a divinely guarded secret until the Quran's mathematical code was discovered in 1974 A.D. See Appendix 1 for the significance of these initials.

                            </p>
                        </div>
                    </div>

                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="2" name="2"></a>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۲">۱۴:۲</span>)&nbsp; (راه) <strong>خدا</strong>؛ آن یکتایی که هر چه در آسمان‏ها و هر چه در زمین است، از آن او است. وای بر کافران؛ آنها سزاوار عذابی هولناک شده‏‌اند.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="2" name="2"></a>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 2">14:2</span>]&nbsp;
                        <em>(The path of)</em> <strong>GOD</strong>; the One who possesses everything in the heavens and everything on earth. Woe to the disbelievers; they have incurred a terrible retribution.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="3" name="3"></a>

                    <div class="footnote-subtitle">ارجحیت شما چیست؟</div>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۳">۱۴:۳</span>)&nbsp; آنها کسانی هستند که زندگی این دنیا را بر آخرت ترجیح می‌دهند، از راه <strong>خدا</strong> دور می‌کنند، و در پی انحراف آن هستند؛ آنها بسیار گمراه شده‏‌اند.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="3" name="3"></a>

                    <div class="footnote-subtitle">What is Your Priority?</div>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 3">14:3</span>]&nbsp; They are the ones who give priority to this life over the Hereafter, repel from the way of <strong>GOD</strong>, and seek to make it crooked; they have gone far
                        astray.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="4" name="4"></a>

                    <div class="footnote-subtitle">زبان رسول</div>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۴">۱۴:۴</span>)&nbsp; ما هیچ رسولی نفرستادیم مگر (برای وعظ کردن) به زبان مردم خود، تا برایشان چیزها را روشن سازد. سپس <strong>خدا</strong> هرکس را بخواهد گمراه می‌کند، و هر کس را بخواهد هدایت
                        می‌کند. او بزرگوار است، حکیم‏ترین.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="4" name="4"></a>

                    <div class="footnote-subtitle">The Messenger's Language</div>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 4">14:4</span>]&nbsp; We did not send any messenger except <em>(to preach)</em> in the tongue of his people, in order to clarify things for them. <strong>GOD</strong> then sends astray
                        whomever He wills, and guides whomever He wills. He is the Almighty, the Most Wise.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="5" name="5"></a>

                    <div class="footnote-subtitle">موسی</div>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۵">۱۴:۵</span>)&nbsp; بنابراین، ما موسی را با معجزات خود فرستادیم، گفتیم، "مردم خود را از تاریکی خارج کن و به نور رسان، و ایشان را به روزهای <strong>خدا</strong> متذکر ساز." اینها درسهایی است
                        برای هر شخص ثابت‏قدم سپاسگزار.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="5" name="5"></a>

                    <div class="footnote-subtitle">Moses</div>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 5">14:5</span>]&nbsp; Thus, we sent Moses with our miracles, saying, "Lead your people out of darkness into the light, and remind them of the days of <strong>GOD</strong>." These are
                        lessons for every steadfast, appreciative person.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="6" name="6"></a>

                    <div class="footnote-subtitle">اهمیت سپاسگزار بودن</div>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۶">۱۴:۶</span>)&nbsp; بیاد آور که موسی به مردم خود گفت، "نعمت‏های <strong>خدا</strong> را بر خود بیاد آورید. او شما را از دست مردم فرعون نجات داد که سخت‏ترین زجر را به شما وارد می‌آوردند، پسرانتان
                        را می‌کشتند، و دخترانتان را زنده می‌گذاشتند. آن امتحان سختی بود از طرف پروردگارتان."</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="6" name="6"></a>

                    <div class="footnote-subtitle">The Importance of Being Appreciative</div>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 6">14:6</span>]&nbsp; Recall that Moses said to his people, "Remember <strong>GOD</strong>'s blessings upon you. He saved you from Pharaoh's people who inflicted the worst persecution
                        upon you, slaughtering your sons and sparing your daughters. That was an exacting trial from your Lord."</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="7" name="7"></a>

                    <div class="footnote-subtitle">شکرگزار در مقابل ناشکر</div>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۷">۱۴:۷</span>)&nbsp; پروردگارتان حکم کرده است: "هرچه بیشتر شکر من را بجای آورید، بیشتر به شما می‌دهم." اما اگر ناسپاس شوید، پس عذاب من شدید است.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="7" name="7"></a>

                    <div class="footnote-subtitle">Appreciative vs Unappreciative</div>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 7">14:7</span>]&nbsp; Your Lord has decreed: "The more you thank Me, the more I give you." But if you turn unappreciative, then My retribution is severe.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="8" name="8"></a>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۸">۱۴:۸</span>)&nbsp; موسی گفت، "اگر با تمام مردم روی زمین بی‏ ایمان شوید، <strong>خدا</strong> بی‏نیاز است، شایسته ستایش."</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="8" name="8"></a>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 8">14:8</span>]&nbsp; Moses said, "If you disbelieve, along with all the people on earth, <strong>GOD</strong> is in no need, Praiseworthy."</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="9" name="9"></a>

                    <div class="footnote-subtitle">مبارزه خودخواهانه: صفت انسانها</div>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۹">۱۴:۹</span>)&nbsp; آیا درباره کسانی که قبل از شما بودند نشنیده‏‌اید-مردم نوح، عاد، ثمود، و دیگران که بعد از ایشان آمدند و فقط <strong>خدا</strong> از ایشان آگاهی دارد؟ رسولانشان با نشانه‏‌های
                        روشن نزدشان رفتند، اما آنها با اهانت با ایشان رفتار کردند و گفتند، "ما به آنچه شما با آن فرستاده شده‏‌اید ایمان نداریم. ما به پیغام شما مشکوک هستیم؛ پر از تردید."</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="9" name="9"></a>

                    <div class="footnote-subtitle">Egotistic Defiance: A Human Trait</div>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 9">14:9</span>]&nbsp; Have you not heard about those before you&mdash;the people of Noah, '&#195;d, Tham&#251;d, and others who came after them and known only to <strong>GOD</strong>?
                        Their messengers went to them with clear proofs, but they treated them with contempt and said, "We disbelieve in what you are sent with. We are skeptical about your message; full of doubt."</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="10" name="10"></a>

                    <div class="footnote-subtitle">کورکورانه از والدین پیروی کردن: مصیبت بزرگ بشریت</div>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۱۰">۱۴:۱۰</span>)&nbsp; رسولانشان گفتند، "آیا راجع به <strong>خدا</strong> شک دارید؛ آغاز کننده آسمان‏ها و زمین؟ او فقط شما را دعوت می‌کند تا گناهانتان را ببخشد، و به شما فرصت دیگری می‌دهد تا
                        خود را بخشوده سازید." آنها گفتند، "شما جز انسانهایی مانند ما نیستید که می‌خواهید ما را از آنچه والدین‏مان می‌پرستیدند باز دارید. به ما منبع موثق کاملی نشان دهید."</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="10" name="10"></a>

                    <div class="footnote-subtitle">Following Our Parents Blindly: A Great Human Tragedy</div>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 10">14:10</span>]&nbsp; Their messengers said, "Do you have doubts about <strong>GOD</strong>; the Initiator of the heavens and the earth? He invites you only to forgive your sins, and
                        to give you another chance to redeem yourselves." They said, "You are no more than humans like us, who want to repel us from the way our parents used to worship. Show us some profound authority."</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="11" name="11"></a>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۱۱">۱۴:۱۱</span>)&nbsp; رسولانشان به ایشان گفتند، "ما بجز بشری مانند شما نیستیم، اما <strong>خدا</strong> به هر یک از بندگانش که انتخاب کند نعمت می‌بخشد. ما هیچگونه مجوزی نمی‌توانستیم به شما
                        نشان دهیم، مگر بخواست <strong>خدا</strong>. مؤمنان باید به <strong>خدا</strong> توکل کنند.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="11" name="11"></a>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 11">14:11</span>]&nbsp; Their messengers said to them, "We are no more than humans like you, but <strong>GOD</strong> blesses whomever He chooses from among His servants. We could not
                        possibly show you any kind of authorization, except in accordance with <strong>GOD</strong>'s will. In <strong>GOD</strong> the believers shall trust.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="12" name="12"></a>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۱۲">۱۴:۱۲</span>)&nbsp; "چرا به <strong>خدا</strong> توکل نکنیم، هنگامی که او ما را به راههایمان هدایت کرده است؟ ما در مقابل اذیت و آزار شما ثابت‏قدمانه استقامت خواهیم کرد. همه توکل کنندگان
                        باید به <strong>خدا</strong> توکل کنند."</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="12" name="12"></a>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 12">14:12</span>]&nbsp; "Why should we not trust in <strong>GOD</strong>, when He has guided us in our paths? We will steadfastly persevere in the face of your persecution. In <strong>GOD</strong>                            all the trusters shall trust."</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="13" name="13"></a>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۱۳">۱۴:۱۳</span>)&nbsp; کسانی که ایمان نداشتند به رسولانشان گفتند، "ما شما را از سرزمین‏مان بیرون خواهیم کرد، مگراینکه به دین ما باز گردید." پروردگارشان به ایشان وحی کرد: "ما مسلماً متجاوزین
                        را هلاک خواهیم کرد.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="13" name="13"></a>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 13">14:13</span>]&nbsp; Those who disbelieved said to their messengers, "We will banish you from our land, unless you revert to our religion." Their Lord inspired them: "We will inevitably
                        annihilate the transgressors.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="14" name="14"></a>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۱۴">۱۴:۱۴</span>)&nbsp; "و ما می‌گذاریم شما بعد از ایشان در سرزمینشان زندگی کنید. این (پاداش) کسانی است که به مقام من حرمت می‌نهند، و به وعده من حرمت می‌نهند."</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="14" name="14"></a>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 14">14:14</span>]&nbsp; "And we will let you dwell in their land after them. This is <em>(the reward)</em> for those who reverence My majesty, and reverence My promise."</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="15" name="15"></a>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۱۵">۱۴:۱۵</span>)&nbsp; آنها مبارزه‏‌ای اعلام کردند، و در نتیجه، هر مستبد نافرمانی محکوم به فنا شد.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="15" name="15"></a>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 15">14:15</span>]&nbsp; They issued a challenge, and consequently, every stubborn tyrant ended up doomed.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="16" name="16"></a>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۱۶">۱۴:۱۶</span>)&nbsp; جهنم منتظر او است، جایی که در آن آبی متعفن خواهد نوشید.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="16" name="16"></a>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 16">14:16</span>]&nbsp; Awaiting him is Hell, wherein he will drink putrid water.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="17" name="17"></a>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۱۷">۱۴:۱۷</span>)&nbsp; او آن را فرو خواهد داد، اگرچه نمی‌تواند آن را تحمل کند، درحالی که مرگ از هر سو به طرف او می‌آید، اما او هرگز نخواهد مرد. عذابی هولناک در انتظار او است.</p>


                    <div class="footnote">
                        <div class="footnote-title">زیر نویس</div>
                        <div class="footnote-content">
                            <p>* ۱۴:۱۷ هنگاميکه ما بر عليه خدا شورش کرديم، و در آن جدال بزرگ طرف شيطان را گرفتيم (۳۸:۶۹)، فرشتگان پيشنهاد کردند که همه ما بايد به جهنم برويم (ضميمه ۷). اما آن مهربانترين تصميم گرفت تا فرصت ديگرى به ما بدهد تا خود را نجات
                                دهيم. او به فرشتگان گفت، "من چيزى ميدتنم که شما نميدانيد" (۲:۳۰). خدا ميدانست بسيارى از انسانها اعتراض ميکردند که نمى دانستند جهنم چقدر بد است. توجيه هيبت انگيز از جهنم در آيه ۱۴:۱۷ و همچنين در آيات ۲۲- ۲۲:۱۹، چنين
                                اعتراضى را خنثى ميکند. حالا ميدانيم جهنم چقدر بد است.</p>
                        </div>
                    </div>

                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="17" name="17"></a>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 17">14:17</span>]&nbsp; He will gulp it down, though he cannot stand it, as death comes to him from every direction, but he will never die. Awaiting him is a terrible retribution.*</p>


                    <div class="footnote">
                        <div class="footnote-title">Footnote</div>
                        <div class="footnote-content">
                            <p>*14:17 When we rebelled against God, and agreed with Satan during the great feud (38:69), the angels suggested that we should be banished to Hell (Appendix 7). But the Most Merciful decided to give us another chance to
                                redeem ourselves. He said to the angels, "I know what you do not know" (2:30). God knew that many humans would have protested that they had no idea how bad Hell was. The awesome description of Hell in 14:17 and in 22:19-22,
                                nullifies such a protest. Now we have a pretty good idea how terrible Hell is.

                            </p>
                        </div>
                    </div>

                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="18" name="18"></a>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۱۸">۱۴:۱۸</span>)&nbsp; مثال کسانی که به پروردگارشان ایمان ندارند: اعمالشان مانند خاکستری است در بادی شدید، در روزی طوفانی. آنها از آنچه کسب کرده‏‌اند هیچ نصیبشان نمی‌شود؛ چنین است حداکثر گمراهی.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="18" name="18"></a>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 18">14:18</span>]&nbsp; The allegory of those who disbelieve in their Lord: their works are like ashes in a violent wind, on a stormy day. They gain nothing from whatever they earn; such
                        is the farthest straying.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="19" name="19"></a>

                    <div class="footnote-subtitle">فقط قادر مطلق را پرستش کنید</div>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۱۹">۱۴:۱۹</span>)&nbsp; آیا درک نمی‌کنی که <strong>خدا</strong> آسمان‏ها و زمین را برای مقصود خاصی آفریده است؟ اگر او بخواهد، می‌تواند شما را از میان بردارد و خلقت جدیدی جانشین شما قرار دهد.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="19" name="19"></a>

                    <div class="footnote-subtitle">Worship Only the Omnipotent One</div>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 19">14:19</span>]&nbsp; Do you not realize that <strong>GOD</strong> has created the heavens and the earth for a specific purpose? If He wills, He can remove you, and substitute a new
                        creation in your place.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="20" name="20"></a>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۲۰">۱۴:۲۰</span>)&nbsp; این برای <strong>خدا</strong> دشوار نیست.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="20" name="20"></a>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 20">14:20</span>]&nbsp; This is not too difficult for <strong>GOD</strong>.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="21" name="21"></a>

                    <div class="footnote-subtitle">در روز قیامت</div>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۲۱">۱۴:۲۱</span>)&nbsp; هنگامی که همه در پیشگاه <strong>خدا</strong> حاضر شوند، پیروان به رهبران خواهند گفت، "ما از شما پیروی می‌کردیم. آیا می‌توانید فقط کمی از عذاب <strong>خدا</strong> را
                        از ما بردارید؟" آنها خواهند گفت، "اگر <strong>خدا</strong> ما را هدایت کرده بود، ما هم شما را هدایت می‌کردیم. اکنون دیگر دیر شده است، چه غمگین باشیم چه صبر پیشه کنیم، هیچ راه گریزی نداریم."</p>


                    <div class="footnote">
                        <div class="footnote-title">زیر نویس</div>
                        <div class="footnote-content">
                            <p>* ۱۴:۲۱ مکررا ً قرآن درباره روز قيامت به زمان گدشته صحبت ميکند. اين به اين خاطر است که آن از وقايع آينده است که خدا قبلا ً آن را مشاهده کرده است، و حتما به وقوع خواهد پيوست.</p>
                        </div>
                    </div>

                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="21" name="21"></a>

                    <div class="footnote-subtitle">On the Day of Resurrection</div>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 21">14:21</span>]&nbsp; When they all stand before <strong>GOD</strong>,* the followers will say to the leaders, "We used to follow you. Can you spare us even a little bit of <strong>GOD</strong>'s
                        retribution?" They will say, "Had <strong>GOD</strong> guided us, we would have guided you. Now it is too late, whether we grieve or resort to patience, there is no exit for us."</p>


                    <div class="footnote">
                        <div class="footnote-title">Footnote</div>
                        <div class="footnote-content">
                            <p>*14:21 Frequently, the Quran talks about the Hereafter in the past tense. This is because those are future events already witnessed by God, and will surely come to pass.

                            </p>
                        </div>
                    </div>

                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="22" name="22"></a>

                    <div class="footnote-subtitle">شیطان پیروانش را طرد می‌کند</div>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۲۲">۱۴:۲۲</span>)&nbsp; و بعد از اینکه قضاوت صادر شده بود، شیطان خواهد گفت، "<strong>خدا</strong> به شما وعده حقیقی داده است، و من به شما وعده دادم، اما من خلاف وعده کردم. من هیچ قدرتی بر شما
                        نداشتم؛ من فقط شما را دعوت کردم، و شما دعوت من را قبول کردید. بنابراین، من را سرزنش نکنید، و فقط خود را سرزنش کنید. نه شکایت من می‌تواند به شما کمک کند، و نه شکایت شما می‌تواند به من کمک کند. من باور ندارم به اینکه شما من را
                        شریک قرار داده‏‌اید. متجاوزین سزاوار عذاب دردناکی شده‏‌اند."</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="22" name="22"></a>

                    <div class="footnote-subtitle">Satan Disowns His Followers</div>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 22">14:22</span>]&nbsp; And the devil will say, after the judgment had been issued, "<strong>GOD</strong> has promised you the truthful promise, and I promised you, but I broke my promise.
                        I had no power over you; I simply invited you, and you accepted my invitation. Therefore, do not blame me, and blame only yourselves. My complaining cannot help you, nor can your complaining help me. I have disbelieved in your
                        idolizing me. The transgressors have incurred a painful retribution."</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="23" name="23"></a>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۲۳">۱۴:۲۳</span>)&nbsp; و اما کسانی که ایمان آورند و زندگی پرهیزکارانه‏‌ای را در پیش گیرند، به باغهایی با نهرهای جاری داخل خواهند شد. آنها برای همیشه در آنجا می‌مانند، بخواست پروردگارشان. درودشان
                        در آنجا: صلح است.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="23" name="23"></a>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 23">14:23</span>]&nbsp; As for those who believe and lead a righteous life, they will be admitted into gardens with flowing streams. They abide therein forever, in accordance with the
                        will of their Lord. Their greeting therein is: "Peace."</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="24" name="24"></a>

                    <div class="footnote-subtitle">حق در مقابل باطل</div>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۲۴">۱۴:۲۴</span>)&nbsp; آیا نمی‌بینی که <strong>خدا</strong> مثال کلمات خود را مانند درخت خوبی که ریشه آن استوار است و شاخه‏‌های آن سر به آسمان کشیده است، زده است؟</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="24" name="24"></a>

                    <div class="footnote-subtitle">Truth vs Falsehood</div>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 24">14:24</span>]&nbsp; Do you not see that <strong>GOD</strong> has cited the example of the good word as a good tree whose root is firmly fixed, and its branches are high in the sky?</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="25" name="25"></a>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۲۵">۱۴:۲۵</span>)&nbsp; آن محصول هر فصل خود را می‌دهد، همانطور که به واسطه پروردگارش طراحی شده است. <strong>خدا</strong> اینچنین برای مردم مثال می‌زند تا باشد که متوجه شوند.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="25" name="25"></a>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 25">14:25</span>]&nbsp; It produces its crop every season, as designed by its Lord. <strong>GOD</strong> thus cites the examples for the people, that they may take heed.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="26" name="26"></a>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۲۶">۱۴:۲۶</span>)&nbsp; و مثال کلمه بد مانند درخت بدی است که از سطح زمین بریده شده است؛ ریشه‏‌ای ندارد که آن را استوار نگه دارد.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="26" name="26"></a>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 26">14:26</span>]&nbsp; And the example of the bad word is that of a bad tree chopped at the soil level; it has no roots to keep it standing.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="27" name="27"></a>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۲۷">۱۴:۲۷</span>)&nbsp;
                        <strong>خدا</strong> کسانی را که ایمان داشته باشند، با کلمه‏‌ای تثبیت شده در این دنیا و در آخرت استوار می‌دارد. و <strong>خدا</strong> متجاوزین را گمراه می‌کند. همه چیز بر طبق خواست <strong>خدا</strong> است.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="27" name="27"></a>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 27">14:27</span>]&nbsp;
                        <strong>GOD</strong> strengthens those who believe with the proven word, in this life and in the Hereafter. And <strong>GOD</strong> sends the transgressors astray. Everything is in accordance with <strong>GOD</strong>'s will.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="28" name="28"></a>

                    <div class="footnote-subtitle">آنها خانواده خود را از حمایت خدا خارج می‌کنند</div>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۲۸">۱۴:۲۸</span>)&nbsp; آیا توجه کرده‏‌ای به کسانی که پاسخ‏شان در مقابل نعمت‏های <strong>خدا</strong>، بی‏ ایمانی بود، و در نتیجه بر خانواده خود بلا آوردند؟</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="28" name="28"></a>

                    <div class="footnote-subtitle">They Remove Their Families From God's Protection</div>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 28">14:28</span>]&nbsp; Have you noted those who responded to <strong>GOD</strong>'s blessings by disbelieving, and thus brought disaster upon their own families?</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="29" name="29"></a>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۲۹">۱۴:۲۹</span>)&nbsp; جهنم سرنوشت آنها است، جایی که در آن می‌سوزند؛ چه عاقبت بدی!</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="29" name="29"></a>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 29">14:29</span>]&nbsp; Hell is their destiny, wherein they burn; what a miserable end!</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="30" name="30"></a>

                    <div class="footnote-subtitle">شرک: مادر همه بدی‏ها</div>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۳۰">۱۴:۳۰</span>)&nbsp; آنها در مقابل <strong>خدا</strong> رقیب‏هایی قرار می‌دهند تا دیگران را از راه او منحرف کنند. بگو، "برای مدتی لذت ببرید؛ سرنوشت نهایی شما جهنم است."</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="30" name="30"></a>

                    <div class="footnote-subtitle">Idol Worship: The Mother of All Evil</div>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 30">14:30</span>]&nbsp; They set up rivals to rank with <strong>GOD</strong> and to divert others from His path. Say, "Enjoy for awhile; your final destiny is Hell."</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="31" name="31"></a>

                    <div class="footnote-subtitle">احکام بسیار مهم</div>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۳۱">۱۴:۳۱</span>)&nbsp; بندگان من را که ایمان آوردند، به دعای ارتباطی (نماز)، و (انفاق) از رزقی که ما به ایشان عطا کردیم، در پنهان و آشکار تشویق کن، قبل از اینکه روزی بیاید که نه بتوان معامله‏‌ای
                        انجام داد، و نه بتوان از خویشاوندان حمایت کرد.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="31" name="31"></a>

                    <div class="footnote-subtitle">Crucial Commandments</div>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 31">14:31</span>]&nbsp; Exhort My servants who believed to observe the Contact Prayers <em>(Salat)</em>, and to give <em>(to charity)</em> from our provisions to them, secretly and publicly,
                        before a day comes where there is neither trade, nor nepotism.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="32" name="32"></a>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۳۲">۱۴:۳۲</span>)&nbsp;
                        <strong>خدا</strong> آن یکتایی است که آسمان‏ها و زمین را خلق کرد و او باران را از آسمان پایین می‌فرستد تا همه نوع میوه‏‌ای جهت روزی شما تهیه کند. او کشتی‏ها را به امر خود روی دریا در خدمت شما قرار داده است. همچنین او رودخانه‏‌ها
                        را در خدمت شما قرار داده است.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="32" name="32"></a>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 32">14:32</span>]&nbsp;
                        <strong>GOD</strong> is the One who created the heavens and the earth, and He sends down from the sky water to produce all kinds of fruit for your sustenance. He has committed the ships to serve you on the sea in accordance
                        with His command. He has committed the rivers as well to serve you.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="33" name="33"></a>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۳۳">۱۴:۳۳</span>)&nbsp; او خورشید و ماه را بطور مداوم در خدمت شما قرار داده است. او شب و روز را در خدمت شما قرار داده است.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="33" name="33"></a>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 33">14:33</span>]&nbsp; He has committed the sun and the moon in your service, continuously. He has committed the night and the day to serve you.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="34" name="34"></a>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۳۴">۱۴:۳۴</span>)&nbsp; و او همه چیزهایی را که از او درخواست کنید، به شما می‌دهد. اگر بخواهید نعمتهای <strong>خدا</strong> را بشمارید، هرگز نمی‌توانید. به درستی که انسان متجاوز است، ناسپاس.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="34" name="34"></a>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 34">14:34</span>]&nbsp; And He gives you all kinds of things that you implore Him for. If you count <strong>GOD</strong>'s blessings, you can never encompass them. Indeed, the human being
                        is transgressing, unappreciative.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="35" name="35"></a>

                    <div class="footnote-subtitle">ابراهیم</div>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۳۵">۱۴:۳۵</span>)&nbsp; بیاد آورد که ابراهیم گفت، "پروردگار من، اینجا را سرزمینی امن قرار بده، و من و فرزندان من را از پرستش بُتها در امان بدار.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="35" name="35"></a>

                    <div class="footnote-subtitle">Abraham</div>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 35">14:35</span>]&nbsp; Recall that Abraham said, "My Lord, make this a peaceful land, and protect me and my children from worshiping idols.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="36" name="36"></a>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۳۶">۱۴:۳۶</span>)&nbsp; "پروردگار من، آنها بسیاری از مردم را گمراه کرده‏‌اند. و اما کسانی که از من پیروی می‌کنند، با من هستند. برای کسانی که از من سرپیچی می‌کنند، تو عفو کننده هستی، مهربانترین.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="36" name="36"></a>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 36">14:36</span>]&nbsp; "My Lord, they have misled so many people. As for those who follow me, they belong with me. As for those who disobey me, You are Forgiver, Most Merciful.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="37" name="37"></a>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۳۷">۱۴:۳۷</span>)&nbsp; "پروردگار ما، من عده‏‌ای از خانواده خود را در این سرزمین بدون گیاه مسکن داده‏‌ام، در خانه مقدس تو. پروردگار ما، آنها بجا آورندگان دعای ارتباطی (نماز) هستند، پس بگذار
                        مردم دسته دسته به آنها بپیوندند، و همه نوع میوه برایشان فراهم کن، تا باشد که سپاسگزار باشند.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="37" name="37"></a>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 37">14:37</span>]&nbsp; "Our Lord, I have settled part of my family in this plantless valley, at Your Sacred House. Our Lord, they are to observe the Contact Prayers <em>(Salat)</em>,
                        so let throngs of people converge upon them, and provide for them all kinds of fruits, that they may be appreciative.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="38" name="38"></a>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۳۸">۱۴:۳۸</span>)&nbsp; "پروردگار ما، تو به آنچه ما پنهان کنیم و آشکار، آگاه هستی-هیچ چیز از <strong>خدا</strong> پنهان نیست، نه در زمین، نه در آسمانها.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="38" name="38"></a>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 38">14:38</span>]&nbsp; "Our Lord, You know whatever we conceal and whatever we declare&mdash; nothing is hidden from <strong>GOD</strong> on earth, nor in the heavens.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="39" name="39"></a>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۳۹">۱۴:۳۹</span>)&nbsp; "ستایش <strong>خدا</strong> را که با وجود پیری من، اسماعیل و اسحاق را به من عطا کرد. پروردگار من دعاها را مستجاب می‌کند.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="39" name="39"></a>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 39">14:39</span>]&nbsp; "Praise be to <strong>GOD</strong> for granting me, despite my old age, Ismail and Isaac. My Lord answers the prayers.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="40" name="40"></a>

                    <div class="footnote-subtitle">دعاهای ارتباطی: هدیه خدا</div>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۴۰">۱۴:۴۰</span>)&nbsp; "پروردگار من، من را از نماز گزاران همیشگی قرار ده، و همچنین فرزندان من را. پروردگار ما، خواهش می‌کنم دعاهای من را مستجاب کن.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="40" name="40"></a>

                    <div class="footnote-subtitle">The Contact Prayers: Gift From God</div>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 40">14:40</span>]&nbsp; "My Lord, make me one who consistently observes the Contact Prayers <em>(Salat)</em>, and also my children. Our Lord, please answer my prayers.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="41" name="41"></a>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۴۱">۱۴:۴۱</span>)&nbsp; "پروردگار من، من و والدین من، و مؤمنان را ببخش، در آن روز که به حساب‏ها رسیدگی می‌شود."</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="41" name="41"></a>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 41">14:41</span>]&nbsp; "My Lord, forgive me and my parents, and the believers, on the day when the reckoning takes place."</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="42" name="42"></a>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۴۲">۱۴:۴۲</span>)&nbsp; هرگز مپندار که <strong>خدا</strong> از اعمال متجاوزین غافل است. او فقط به آنها فرصت می‌دهد، تا روزی که چشم‏ها از ترس خیره شوند.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="42" name="42"></a>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 42">14:42</span>]&nbsp; Do not ever think that <strong>GOD</strong> is unaware of what the transgressors are doing. He only respites them until a day where the eyes stare in horror.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="43" name="43"></a>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۴۳">۱۴:۴۳</span>)&nbsp; در حالی که آنها شتابان (از قبرها) بیرون می‌آیند، صورتشان بالا را نگاه خواهد کرد، چشم‏هایشان حتی مژه نخواهد زد، و افکارشان وحشت زده خواهد بود.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="43" name="43"></a>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 43">14:43</span>]&nbsp; As they rush <em>(out of the graves)</em>, their faces will be looking upward, their eyes will not even blink, and their minds will be horrified.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="44" name="44"></a>

                    <div class="footnote-subtitle">خدا احکامش را به واسطه رسولانش میفرستد</div>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۴۴">۱۴:۴۴</span>)&nbsp; باید هشدار بدهی به مردم از آن روز که عذاب بر آنها می‌آید. کسانی که متجاوز شدند، خواهند گفت، "پروردگار ما، فرصت دیگری به ما بده. آنوقت ما به دعوت تو پاسخ خواهیم داد، و
                        از رسولان پیروی خواهیم کرد." آیا شما قبلاً قسم نخوردید که همیشه جاودان خواهید ماند؟</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="44" name="44"></a>

                    <div class="footnote-subtitle">God Sends His Commands Through His Messengers</div>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 44">14:44</span>]&nbsp; You shall warn the people of the day when the retribution comes to them. Those who transgressed will say, "Our Lord, give us one more respite. We will then respond
                        to Your call and follow the messengers." Did you not swear in the past that you will last forever?</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="45" name="45"></a>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۴۵">۱۴:۴۵</span>)&nbsp; شما در منازل کسانی که قبل از شما می‌زیستند، زندگی کردید که به نفس خود ستم کردند، و شما بطور وضوح دیده‏‌اید که ما با آنها چه کردیم. ما مثال‏های زیادی برای شما زده‏‌ایم.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="45" name="45"></a>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 45">14:45</span>]&nbsp; You dwelled in the homes of those before you, who wronged their souls, and you have seen clearly what we did to them. We have set many precedents for you.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="46" name="46"></a>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۴۶">۱۴:۴۶</span>)&nbsp; آنها با نقشه‏‌هایشان توطئه کردند، و <strong>خدا</strong> کاملاً به توطئه‏‌های آنها آگاه است. به درستی که، توطئه‏‌هایشان برای نابود کردن کوه‏‌ها کافی بود.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="46" name="46"></a>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 46">14:46</span>]&nbsp; They schemed their schemes, and <strong>GOD</strong> is fully aware of their schemes. Indeed, their schemes were sufficient to erase mountains.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="47" name="47"></a>

                    <div class="footnote-subtitle">پیروزی برای رسولان خدا تضمین شده است</div>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۴۷">۱۴:۴۷</span>)&nbsp; هرگز مپندار که <strong>خدا</strong> نسبت به رسولانش خلاف وعده می‌کند. <strong>خدا</strong> بزرگوار است، انتقامگیر.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="47" name="47"></a>

                    <div class="footnote-subtitle">Guaranteed Victory for God's Messengers</div>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 47">14:47</span>]&nbsp; Do not think that <strong>GOD</strong> will ever break His promise to His messengers. <strong>GOD</strong> is Almighty, Avenger.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="48" name="48"></a>

                    <div class="footnote-subtitle">آسمانهای جدید و زمین جدید*</div>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۴۸">۱۴:۴۸</span>)&nbsp; آن روز خواهد آمد که زمین جدیدی جایگزین این زمین خواهد شد، و همچنین آسمان‏ها، و همه به پیشگاه <strong>خدا</strong> آورده خواهند شد، آن واحد، متعال.</p>


                    <div class="footnote">
                        <div class="footnote-title">زیر نویس</div>
                        <div class="footnote-content">
                            <p>* ۱۴:۴۸ اين پيشگويى همچنين در تورات آمده است ( اشعيا ۶۵:۱۷ و ۶۶:۲۲) و همچنين در انجيل: "آنچه ما منتظرش هستيم، آسمانهاى جديد و زمين جديد است، جاييکه بر طبق وعده او، قضاوت خدا انجام خواهد گرفت" پيتر ۳:۱۳).</p>
                        </div>
                    </div>

                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="48" name="48"></a>

                    <div class="footnote-subtitle">New Heavens and New Earth*</div>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 48">14:48</span>]&nbsp; The day will come when this earth will be substituted with a new earth, and also the heavens, and everyone will be brought before <strong>GOD</strong>, the One,
                        the Supreme.</p>


                    <div class="footnote">
                        <div class="footnote-title">Footnote</div>
                        <div class="footnote-content">
                            <p>*14:48 This prophecy is also found in the Old Testament (Isaiah 65:17 & 66:22) and the New Testament: "What we await are new heavens and a new earth where, according to his promise, the justice of God will reside." (2 Peter
                                3:13).

                            </p>
                        </div>
                    </div>

                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="49" name="49"></a>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۴۹">۱۴:۴۹</span>)&nbsp; و در آن روز مجرمان را بسته در غل و زنجیر خواهی دید.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="49" name="49"></a>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 49">14:49</span>]&nbsp; And you will see the guilty on that day chained in shackles.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="50" name="50"></a>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۵۰">۱۴:۵۰</span>)&nbsp; لباسشان از قیر خواهد بود، و آتش چهره‏‌شان را دربر خواهد گرفت.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="50" name="50"></a>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 50">14:50</span>]&nbsp; Their garments will be made of tar, and fire will overwhelm their faces.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="51" name="51"></a>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۵۱">۱۴:۵۱</span>)&nbsp; زیرا <strong>خدا</strong> جزای هر نفسی را به آنچه کسب کرده است خواهد داد؛ <strong>خدا</strong> باکفایت‏ترین حسابرس است.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="51" name="51"></a>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 51">14:51</span>]&nbsp; For <strong>GOD</strong> will pay each soul for whatever it earned; <strong>GOD</strong> is the most efficient reckoner.</p>


                </div>



                <div>&nbsp;</div>




                <div dir="rtl" class="lang-fa rtl">
                    <a id="52" name="52"></a>

                    <p>(<span title="ابراهیم (ابراهیم), آیه ۵۲">۱۴:۵۲</span>)&nbsp; این اعلامی است به مردم تا با این به آنها اخطار شود، و تا بدانند که او تنها خدای واحد است، و برای صاحبان خرد تا متوجه شوند.</p>


                </div>





                <div dir="ltr" class="lang-en ltr">
                    <a id="52" name="52"></a>

                    <p>[<span title="Abraham (Ibrah&#238;m), verse 52">14:52</span>]&nbsp; This is a proclamation for the people, to be warned herewith, and to let them know that He is only one god, and for those who possess intelligence to take heed.</p>


                </div>



                <div>&nbsp;</div>



            </div>
        </section>
        <div class="sura-stats">
            <div class="cumulative-freq">
                مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                <div>= ۱۴۸۷</div>
            </div>
            <div class="cumulative-sum">
                مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                <div>= ۸۶۸۷۳</div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>