<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->
        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۶۷: پادشاهی (الملک)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 67: Kingship (Al-Mulk)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="پادشاهی (الملک), آیه ۱">۶۷:۱</span>)&nbsp; بلندمرتبه‏‌ترین آن یکتایی است که همه سلطنت در دست او است، و او قادر مطلق است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="Kingship (Al-Mulk), verse 1">67:1</span>]&nbsp; Most exalted is the One in whose hands is all kingship, and He is Omnipotent.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <div class="footnote-subtitle">منظور از زندگی ما*</div>

                        <p>(<span title="پادشاهی (الملک), آیه ۲">۶۷:۲</span>)&nbsp; آن یکتایی که مرگ و زندگی را به این منظور آفرید تا در میان شما آنهایی را که بهتر عمل می‌کنند مشخص کند. او بزرگوار است، عفو کننده.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۶۷:۲ براى توضيحات بيشتر جهت دليل وجود اين دنيا، به مقدمه و ضميمه ۷ توجه کنيد.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <div class="footnote-subtitle">The Purpose of Our Life*</div>

                        <p>[<span title="Kingship (Al-Mulk), verse 2">67:2</span>]&nbsp; The One who created death and life for the purpose of distinguishing those among you who would do better.* He is the Almighty, the Forgiving.</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*67:2 See the Introduction and Appendix 7 for details of the purpose behind this world.

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="پادشاهی (الملک), آیه ۳">۶۷:۳</span>)&nbsp; او هفت جهان را طبقه طبقه خلق کرد. در خلقت بخشنده‏‌ترین هیچ خللی نمی‌بینی. خوب نگاه کن؛ آیا هیچ عیبی در آن می‌بینی؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="Kingship (Al-Mulk), verse 3">67:3</span>]&nbsp; He created seven universes in layers. You do not see any imperfection in the creation by the Most Gracious. Keep looking; do you see any flaw?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="پادشاهی (الملک), آیه ۴">۶۷:۴</span>)&nbsp; دوباره و دوباره نگاه کن؛ چشمان تو مبهوت و تسخیر شده باز خواهند گشت.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="Kingship (Al-Mulk), verse 4">67:4</span>]&nbsp; Look again and again; your eyes will come back stumped and conquered.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="پادشاهی (الملک), آیه ۵">۶۷:۵</span>)&nbsp; ما پایین‏ترین جهان را با چراغ‏ها زینت دادیم، و مرزهای آن را در مقابل شیاطین با سلاحهای پرتابی محافظت کردیم؛ ما برای آنها در جهنم عذاب فراهم کردیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="Kingship (Al-Mulk), verse 5">67:5</span>]&nbsp; We adorned the lowest universe with lamps, and guarded its borders with projectiles against the devils; we prepared for them a retribution in Hell.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="پادشاهی (الملک), آیه ۶">۶۷:۶</span>)&nbsp; برای کسانی که به پروردگارشان ایمان نیاوردند، عذاب جهنم. چه سرنوشت بدی.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="Kingship (Al-Mulk), verse 6">67:6</span>]&nbsp; For those who disbelieved in their Lord, the retribution of Gehenna. What a miserable destiny.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="پادشاهی (الملک), آیه ۷">۶۷:۷</span>)&nbsp; هنگامی که آنها در آن انداخته شوند، صدای غضب آن را در حالی که می‌سوزد می‌شنوند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="Kingship (Al-Mulk), verse 7">67:7</span>]&nbsp; When they get thrown therein, they hear its furor as it fumes.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="پادشاهی (الملک), آیه ۸">۶۷:۸</span>)&nbsp; نزدیک است تا از خشم منفجز شود. هرگاه گروهی در آن انداخته شوند، نگهبانانش از آنها سئوال خواهند کرد، "آیا هشدار دهنده دریافت نکردید؟"</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="Kingship (Al-Mulk), verse 8">67:8</span>]&nbsp; It almost explodes from rage. Whenever a group is thrown therein, its guards would ask them, "Did you not receive a warner?"</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <p>(<span title="پادشاهی (الملک), آیه ۹">۶۷:۹</span>)&nbsp; آنها جواب خواهند داد، "بله البته؛ هشدار دهند بر ما آمد، اما ما باور نکردیم و گفتیم، "<strong>خدا</strong> هیچ چیزی نازل نکرد. شما کاملاً گمراه هستید.""</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <p>[<span title="Kingship (Al-Mulk), verse 9">67:9</span>]&nbsp; They would answer, "Yes indeed; a warner did come to us, but we disbelieved and said, '<strong>GOD</strong> did not reveal anything. You are totally astray.'"</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <p>(<span title="پادشاهی (الملک), آیه ۱۰">۶۷:۱۰</span>)&nbsp; آنها همچنین گویند، "اگر ما شنیده بودیم یا فهمیده بودیم، در میان ساکنان جهنم نبودیم!"</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <p>[<span title="Kingship (Al-Mulk), verse 10">67:10</span>]&nbsp; They also say, "If we heard or understood, we would not be among the dwellers of Hell!"</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <p>(<span title="پادشاهی (الملک), آیه ۱۱">۶۷:۱۱</span>)&nbsp; بنابراین، آنها به گناهانشان اعتراف کردند. وای بر ساکنان جهنم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <p>[<span title="Kingship (Al-Mulk), verse 11">67:11</span>]&nbsp; Thus, they confessed their sins. Woe to the dwellers of Hell.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="12" name="12"></a>

                        <p>(<span title="پادشاهی (الملک), آیه ۱۲">۶۷:۱۲</span>)&nbsp; و اما کسانی که به هیبت پروردگارشان حرمت می‌نهند، هنگامی که در خلوت خود تنها هستند، عفو و پاداش فراوان دریافت کرده‏‌اند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="12" name="12"></a>

                        <p>[<span title="Kingship (Al-Mulk), verse 12">67:12</span>]&nbsp; As for those who reverence their Lord, when alone in their privacy, they have attained forgiveness and a great recompense.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="13" name="13"></a>

                        <p>(<span title="پادشاهی (الملک), آیه ۱۳">۶۷:۱۳</span>)&nbsp; چه سخنهای خود را سری نگهدارید، چه آشکار کنید، او از درونی‏ترین افکار کاملاً آگاه است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="13" name="13"></a>

                        <p>[<span title="Kingship (Al-Mulk), verse 13">67:13</span>]&nbsp; Whether you keep your utterances secret, or declare them, He is fully aware of the innermost thoughts.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="14" name="14"></a>

                        <p>(<span title="پادشاهی (الملک), آیه ۱۴">۶۷:۱۴</span>)&nbsp; آیا او نمی‌داند که چه خلق کرده است؟ او والا است، آگاه‏‌ترین.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="14" name="14"></a>

                        <p>[<span title="Kingship (Al-Mulk), verse 14">67:14</span>]&nbsp; Should He not know what He created? He is the Sublime, Most Cognizant.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="15" name="15"></a>

                        <p>(<span title="پادشاهی (الملک), آیه ۱۵">۶۷:۱۵</span>)&nbsp; او آن یکتایی است که زمین را در اختیار شما قرار داد. به گوشه و کنار آن گردش کنید، و از روزی‏های او بخورید. احضار نهایی به سوی او است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="15" name="15"></a>

                        <p>[<span title="Kingship (Al-Mulk), verse 15">67:15</span>]&nbsp; He is the One who put the Earth at your service. Roam its corners, and eat from His provisions. To Him is the final summoning.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="16" name="16"></a>

                        <p>(<span title="پادشاهی (الملک), آیه ۱۶">۶۷:۱۶</span>)&nbsp; آیا تضمین کرده‏‌اید آن یکتایی که در آسمان است به زمین ضربه نخواهد زد و باعث غلتیدن آن نخواهد شد؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="16" name="16"></a>

                        <p>[<span title="Kingship (Al-Mulk), verse 16">67:16</span>]&nbsp; Have you guaranteed that the One in heaven will not strike the earth and cause it to tumble?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="17" name="17"></a>

                        <p>(<span title="پادشاهی (الملک), آیه ۱۷">۶۷:۱۷</span>)&nbsp; آیا تضمین کرده‏‌اید آن یکتایی که در آسمان است، بر شما طوفانی وحشتناک نخواهد فرستاد؟ آیا آنوقت قدر اخطار من را خواهید دانست؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="17" name="17"></a>

                        <p>[<span title="Kingship (Al-Mulk), verse 17">67:17</span>]&nbsp; Have you guaranteed that the One in heaven will not send upon you a violent storm? Will you then appreciate the value of My warning?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="18" name="18"></a>

                        <p>(<span title="پادشاهی (الملک), آیه ۱۸">۶۷:۱۸</span>)&nbsp; دیگران قبل از ایشان باور نکرده‏‌اند؛ چه وحشتناک بود عذاب من!</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="18" name="18"></a>

                        <p>[<span title="Kingship (Al-Mulk), verse 18">67:18</span>]&nbsp; Others before them have disbelieved; how terrible was My requital!</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="19" name="19"></a>

                        <p>(<span title="پادشاهی (الملک), آیه ۱۹">۶۷:۱۹</span>)&nbsp; آیا آنها پرندگانی را که بر بالای سرشان به صف شده‏‌اند و بال گشوده‏‌اند، ندیده‏‌اند؟ بخشنده‏‌ترین آن یکتایی است که آنها را در هوا نگاه می‌دارد. او بر همه چیز بینا است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="19" name="19"></a>

                        <p>[<span title="Kingship (Al-Mulk), verse 19">67:19</span>]&nbsp; Have they not seen the birds above them lined up in columns and spreading their wings? The Most Gracious is the One who holds them in the air. He is Seer of all things.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="20" name="20"></a>

                        <p>(<span title="پادشاهی (الملک), آیه ۲۰">۶۷:۲۰</span>)&nbsp; کجا هستند سربازانی که بتوانند شما را در مقابل آن بخشنده‏‌ترین کمک کنند؟ به درستی که کافران فریب خورده‏‌اند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="20" name="20"></a>

                        <p>[<span title="Kingship (Al-Mulk), verse 20">67:20</span>]&nbsp; Where are those soldiers who can help you against the Most Gracious? Indeed, the disbelievers are deceived.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="21" name="21"></a>

                        <p>(<span title="پادشاهی (الملک), آیه ۲۱">۶۷:۲۱</span>)&nbsp; چه کسی می‌تواند روزی شما را فراهم کند، اگر او روزی خود را متوقف سازد؟ به درستی که آنها عمیقاً در تجاوز و تنفر فرو رفته‏‌اند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="21" name="21"></a>

                        <p>[<span title="Kingship (Al-Mulk), verse 21">67:21</span>]&nbsp; Who is there to provide for you, if He withholds His provisions? Indeed, they have plunged deep into transgression and aversion.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="22" name="22"></a>

                        <p>(<span title="پادشاهی (الملک), آیه ۲۲">۶۷:۲۲</span>)&nbsp; آیا کسی که سر به پایین و خمیده راه می‌رود، بهتر هدایت یافته است، یا کسی که در راه راست، مستقیم راه می‌رود؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="22" name="22"></a>

                        <p>[<span title="Kingship (Al-Mulk), verse 22">67:22</span>]&nbsp; Is one who walks while slumped over on his face better guided, or one who walks straight on the right path?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="23" name="23"></a>

                        <p>(<span title="پادشاهی (الملک), آیه ۲۳">۶۷:۲۳</span>)&nbsp; بگو، "او آن یکتایی است که شما را آغاز کرد، و به شما شنوایی، بینایی، و عقل عطا کرد. شما بندرت سپاسگزار هستید."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="23" name="23"></a>

                        <p>[<span title="Kingship (Al-Mulk), verse 23">67:23</span>]&nbsp; Say, "He is the One who initiated you, and granted you the hearing, the eyes, and the brains. Rarely are you appreciative."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="24" name="24"></a>

                        <p>(<span title="پادشاهی (الملک), آیه ۲۴">۶۷:۲۴</span>)&nbsp; بگو، "او آن یکتایی است که شما را در زمین قرار داد، و نزد او احضار خواهید شد."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="24" name="24"></a>

                        <p>[<span title="Kingship (Al-Mulk), verse 24">67:24</span>]&nbsp; Say, "He is the One who placed you on earth, and before Him you will be summoned."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="25" name="25"></a>

                        <p>(<span title="پادشاهی (الملک), آیه ۲۵">۶۷:۲۵</span>)&nbsp; آنها به اعتراض گویند: "آن پیشگویی کی انجام خواهد گرفت، اگر راست می‌گویی؟"</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="25" name="25"></a>

                        <p>[<span title="Kingship (Al-Mulk), verse 25">67:25</span>]&nbsp; They challenge: "When will that prophecy come to pass, if you are truthful?"</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="26" name="26"></a>

                        <p>(<span title="پادشاهی (الملک), آیه ۲۶">۶۷:۲۶</span>)&nbsp; بگو، "چنین دانشی نزد <strong>خدا</strong> است؛ من هشدار دهنده آشکاری بیش نیستم."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="26" name="26"></a>

                        <p>[<span title="Kingship (Al-Mulk), verse 26">67:26</span>]&nbsp; Say, "Such knowledge is with <strong>GOD</strong>; I am no more than a manifest warner."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="27" name="27"></a>

                        <p>(<span title="پادشاهی (الملک), آیه ۲۷">۶۷:۲۷</span>)&nbsp; هنگامی که آنها رخ دادن آن را ببینند، چهره کسانی که ایمان نیاوردند بدبخت خواهد شد، و اعلام خواهد شد: "این است آنچه مسخره می‌کردید."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="27" name="27"></a>

                        <p>[<span title="Kingship (Al-Mulk), verse 27">67:27</span>]&nbsp; When they see it happening, the faces of those who disbelieved will turn miserable, and it will be proclaimed: "This is what you used to mock."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="28" name="28"></a>

                        <p>(<span title="پادشاهی (الملک), آیه ۲۸">۶۷:۲۸</span>)&nbsp; بگو، "اگر <strong>خدا</strong> تصمیم به هلاکت من و کسانی که با من هستند بگیرد، یا رحمتش را بر ما ببارد، چه کسی است که کافران را از عذابی دردناک محافظت کند؟"</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="28" name="28"></a>

                        <p>[<span title="Kingship (Al-Mulk), verse 28">67:28</span>]&nbsp; Say, "Whether <strong>GOD</strong> decides to annihilate me and those with me, or to shower us with His mercy, who is there to protect the disbelievers from a painful
                            retribution?"</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="29" name="29"></a>

                        <p>(<span title="پادشاهی (الملک), آیه ۲۹">۶۷:۲۹</span>)&nbsp; بگو، "او بخشنده‏‌ترین است؛ ما به او ایمان داریم، و ما به او توکل می‌کنیم. شما مطمئناً خواهید فهمید که چه کسی واقعاً در گمراهی عمیق است."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="29" name="29"></a>

                        <p>[<span title="Kingship (Al-Mulk), verse 29">67:29</span>]&nbsp; Say, "He is the Most Gracious; we believe in Him, and we trust in Him. You will surely find out who is really far astray."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="30" name="30"></a>

                        <p>(<span title="پادشاهی (الملک), آیه ۳۰">۶۷:۳۰</span>)&nbsp; بگو، "اگر آب شما (به زمین) فرو رود، چه کسی آب گوارا برای شما تهیه می‌کند؟"</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="30" name="30"></a>

                        <p>[<span title="Kingship (Al-Mulk), verse 30">67:30</span>]&nbsp; Say, "What if your water sinks away, who will provide you with pure water?"</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۶۴۳</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۷۴۹۲</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>
</html>
