<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۷۲: جن ها (الجن)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 72: Jinns (Al-Jinn)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="جن ها (الجن), آیه ۱">۷۲:۱</span>)&nbsp; بگو، "به من وحی شد که گروهی از جن‏ها گوش دادند، سپس گفتند، "ما قرآنی شگفت‏انگیز شنیده‏‌ایم.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۲۸- ۷۲:۱ رسول نام برده شده در اينجا، از طريق رياضى اسمش "رشاد خليفه" است، که خدا زمان آخر شدن دنيا را براى او آشکار کرد ( ضميمه ۲۵). تعداد آيات از ۱:۱ تا ۷۲:۲۷، جاييکه رسول ذکر شده است، ۵۴۷۲ است، ۴x۷۲x۱۹. کلمه "رشد" در
                                    سوره ۷۲ چهار مرتبه تکرار شده است. مقدار عددى "رشد" ۵۰۴ است، و ۲۸+۵۰۴ (آيات سوره ۷۲)، ميشود ۵۳۲، يا ۲۸x۱۹. مقدار عددى "رشاد خليفه" ۷۰x۱۹ = ۱۳۳۰ = ۲۸ + ۷۲ + ۱۲۳۰ است. مجموع ارقام سوره ۷۲ و تعداد آياتش (۲۸)، ميشود ۱۹=۸+۲+۲+۷.
                                    همچنين اصطلاح مهم، "فقط به رسولى که او انتخاب کند" مقدار عدديش ميشود ۱۹۱۹ يا ۱۰۱x۱۹.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="Jinns (Al-Jinn), verse 1">72:1</span>]&nbsp; Say, "I was inspired that a group of jinns listened, then said, 'We have heard a wonderful Quran.*</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*72:1-28 The messenger here is named, mathematically, as "Rashad Khalifa," to whom God revealed the end of the world (Appendix 25). The number of verses from 1:1 to 72:27, where the messenger is mentioned, is 5472, 19x72x4.
                                    The word "Rashada" occurs 4 times in Sura 72. The value of "Rashada" is 504, and 504+28 (verses of Sura 72) is 532, 19x28. The value of "Rashad Khalifa" (1230)+72+28=1330 =19x70. The digits of Sura 72 and its number
                                    of verses (28) add up to 7+2+2+8=19. Also, the crucial expression, "only to a messenger that He chooses" has a value of 1919, 19x101.
                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="جن ها (الجن), آیه ۲">۷۲:۲</span>)&nbsp; " آن به پرهیزکاری هدایت می‌کند، و ما به آن ایمان آورده‏‌ایم؛ ما هرگز در کنار پروردگارمان معبودانی قرار نخواهیم داد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="Jinns (Al-Jinn), verse 2">72:2</span>]&nbsp; "'It guides to righteousness, and we have believed in it; we will never set up any idols besides our Lord.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="جن ها (الجن), آیه ۳">۷۲:۳</span>)&nbsp; ""بلندمرتبه‏‌ترین تنها پروردگار ما است. او نه هرگز جفتی داشته، و نه پسری.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="Jinns (Al-Jinn), verse 3">72:3</span>]&nbsp; "'The Most High is our only Lord. He never had a mate, nor a son.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="جن ها (الجن), آیه ۴">۷۲:۴</span>)&nbsp; ""نادانان در میان ما هستند که چنین گفتاری بی‏معنی راجع به <strong>خدا</strong> اداء می‌کردند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="Jinns (Al-Jinn), verse 4">72:4</span>]&nbsp; "'It is the foolish among us who used to utter such nonsense about <strong>GOD</strong>.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="جن ها (الجن), آیه ۵">۷۲:۵</span>)&nbsp; ""ما گمان کردیم که نه انسانها و نه جنها هرگز بتوانند درباره <strong>خدا</strong> دروغ بگویند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="Jinns (Al-Jinn), verse 5">72:5</span>]&nbsp; "'We thought that neither the humans, nor the jinns, could possibly utter lies about <strong>GOD</strong>.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="جن ها (الجن), آیه ۶">۷۲:۶</span>)&nbsp; ""انسانها به واسطه جن‏ها در جستجوی قدرت بودند، اما آنها فقط بدبختی فراوان برایشان ایجاد می‌کردند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="Jinns (Al-Jinn), verse 6">72:6</span>]&nbsp; "'Human beings used to seek power through jinn beings, but they only afflicted them with a lot of adversity.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="جن ها (الجن), آیه ۷">۷۲:۷</span>)&nbsp; ""آنها گمان کردند، همانطور که شما گمان کردید که <strong>خدا</strong> (رسول) دیگری نخواهد فرستاد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="Jinns (Al-Jinn), verse 7">72:7</span>]&nbsp; "'They thought, just like you thought, that <strong>GOD</strong> would not send another <em>(messenger)</em>.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="جن ها (الجن), آیه ۸">۷۲:۸</span>)&nbsp; ""ما به آسمان رسیدیم و آن را پر از نگهبانان قوی و سلاحهای پرتابی یافتیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="Jinns (Al-Jinn), verse 8">72:8</span>]&nbsp; "'We touched the heaven and found it filled with formidable guards and projectiles.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <p>(<span title="جن ها (الجن), آیه ۹">۷۲:۹</span>)&nbsp; ""ما آنجا می‌نشستیم تا جاسوسی کنیم. هر کس گوش دهد با سلاح پرتابی پرقدرتی دنبال می‌شود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <p>[<span title="Jinns (Al-Jinn), verse 9">72:9</span>]&nbsp; "'We used to sit there in order to spy. Anyone who listens is pursued by a powerful projectile.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <p>(<span title="جن ها (الجن), آیه ۱۰">۷۲:۱۰</span>)&nbsp; ""ما هیچ اطلاعی نداریم اگر قرار باشد برای ساکنان زمین پیش آمد بدی رخ دهد، یا اگر پروردگارشان بخواهد آنها را ببخشد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <p>[<span title="Jinns (Al-Jinn), verse 10">72:10</span>]&nbsp; "'We have no idea if something bad is intended for the inhabitants of Earth, or if their Lord wills to redeem them.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <p>(<span title="جن ها (الجن), آیه ۱۱">۷۲:۱۱</span>)&nbsp; ""بعضی از ما پرهیزکار هستیم، و بعضی‏ها کمتر پرهیزکار هستیم؛ ما از راههای مختلفی پیروی می‌کنیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <p>[<span title="Jinns (Al-Jinn), verse 11">72:11</span>]&nbsp; "'Some of us are righteous, and some are less than righteous; we follow various paths.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="12" name="12"></a>

                        <p>(<span title="جن ها (الجن), آیه ۱۲">۷۲:۱۲</span>)&nbsp; ""ما کاملاً می‌دانستیم که هرگز نمی‌توانیم از دست <strong>خدا</strong> در روی زمین فرار کنیم؛ ما هرگز نمی‌توانیم فرار کنیم و بگریزیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="12" name="12"></a>

                        <p>[<span title="Jinns (Al-Jinn), verse 12">72:12</span>]&nbsp; "'We knew full well that we can never run away from <strong>GOD</strong> on earth; we can never run away and escape.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="13" name="13"></a>

                        <p>(<span title="جن ها (الجن), آیه ۱۳">۷۲:۱۳</span>)&nbsp; ""هنگامی که ما هدایت را شنیدیم، به آن ایمان آوردیم. هر کسی به پروردگارش ایمان آورد، هرگز ترسی از بی‏عدالتی یا مصیبت نخواهد داشت.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="13" name="13"></a>

                        <p>[<span title="Jinns (Al-Jinn), verse 13">72:13</span>]&nbsp; "'When we heard the guidance, we believed therein. Anyone who believes in his Lord will never fear any injustice, nor any affliction.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="14" name="14"></a>

                        <p>(<span title="جن ها (الجن), آیه ۱۴">۷۲:۱۴</span>)&nbsp; ""در میان ما تسلیم شدگان هستند، و در میان ما سازش‏کاران هستند."" و اما کسانی که تسلیم شدند، به راه راست هستند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="14" name="14"></a>

                        <p>[<span title="Jinns (Al-Jinn), verse 14">72:14</span>]&nbsp; "'Among us are the submitters, and among us are the compromisers.'" As for those who submitted, they are on the right path.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="15" name="15"></a>

                        <p>(<span title="جن ها (الجن), آیه ۱۵">۷۲:۱۵</span>)&nbsp; و اما سازشکاران، سوخت جهنم خواهند بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="15" name="15"></a>

                        <p>[<span title="Jinns (Al-Jinn), verse 15">72:15</span>]&nbsp; As for the compromisers, they will be fuel for Gehenna.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="16" name="16"></a>

                        <p>(<span title="جن ها (الجن), آیه ۱۶">۷۲:۱۶</span>)&nbsp; اگر آنها در راه راست بمانند، ما آنها را با آب فراوان نعمت خواهیم داد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="16" name="16"></a>

                        <p>[<span title="Jinns (Al-Jinn), verse 16">72:16</span>]&nbsp; If they remain on the right path, we will bless them with abundant water.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="17" name="17"></a>

                        <p>(<span title="جن ها (الجن), آیه ۱۷">۷۲:۱۷</span>)&nbsp; ما مطمئناً همه آنها را امتحان خواهیم کرد. و اما کسی که به پیغام پروردگارش بی‏ اعتنایی کند، او، او را به عذابی که دائماً افزایش می‌یابد راهنمایی خواهد کرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="17" name="17"></a>

                        <p>[<span title="Jinns (Al-Jinn), verse 17">72:17</span>]&nbsp; We will surely test them all. As for him who disregards the message of his Lord, He will direct him to ever increasing retribution.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="18" name="18"></a>

                        <p>(<span title="جن ها (الجن), آیه ۱۸">۷۲:۱۸</span>)&nbsp; مکانهای عبادت از آن <strong>خدا</strong> هستند؛ کس دیگری را در کنار <strong>خدا</strong> نخوانید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="18" name="18"></a>

                        <p>[<span title="Jinns (Al-Jinn), verse 18">72:18</span>]&nbsp; The places of worship belong to <strong>GOD</strong>; do not call on anyone else beside <strong>GOD</strong>.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="19" name="19"></a>

                        <div class="footnote-subtitle">رسول میثاق خدا*</div>

                        <p>(<span title="جن ها (الجن), آیه ۱۹">۷۲:۱۹</span>)&nbsp; هنگامی که بنده <strong>خدا</strong> از تنها او طرفداری کرد، تقریباً همه آنها بر علیه او همدست شدند.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۲۸- ۷۲:۱ رسول نام برده شده در اينجا، از طريق رياضى اسمش "رشاد خليفه" است، که خدا زمان آخر شدن دنيا را براى او آشکار کرد ( ضميمه ۲۵). تعداد آيات از ۱:۱ تا ۷۲:۲۷، جاييکه رسول ذکر شده است، ۵۴۷۲ است، ۴x۷۲x۱۹. کلمه "رشد" در
                                    سوره ۷۲ چهار مرتبه تکرار شده است. مقدار عددى "رشد" ۵۰۴ است، و ۲۸+۵۰۴ (آيات سوره ۷۲)، ميشود ۵۳۲، يا ۲۸x۱۹. مقدار عددى "رشاد خليفه" ۷۰x۱۹ = ۱۳۳۰ = ۲۸ + ۷۲ + ۱۲۳۰ است. مجموع ارقام سوره ۷۲ و تعداد آياتش (۲۸)، ميشود ۱۹=۸+۲+۲+۷.
                                    همچنين اصطلاح مهم، "فقط به رسولى که او انتخاب کند" مقدار عدديش ميشود ۱۹۱۹ يا ۱۰۱x۱۹.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="19" name="19"></a>

                        <div class="footnote-subtitle">God's Messenger of the Covenant*</div>

                        <p>[<span title="Jinns (Al-Jinn), verse 19">72:19</span>]&nbsp; When <strong>GOD</strong>'s servant* advocated Him alone, almost all of them banded together to oppose him.</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*72:1-28 The messenger here is named, mathematically, as "Rashad Khalifa," to whom God revealed the end of the world (Appendix 25). The number of verses from 1:1 to 72:27, where the messenger is mentioned, is 5472, 19x72x4.
                                    The word "Rashada" occurs 4 times in Sura 72. The value of "Rashada" is 504, and 504+28 (verses of Sura 72) is 532, 19x28. The value of "Rashad Khalifa" (1230)+72+28=1330 =19x70. The digits of Sura 72 and its number
                                    of verses (28) add up to 7+2+2+8=19. Also, the crucial expression, "only to a messenger that He chooses" has a value of 1919, 19x101.

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="20" name="20"></a>

                        <p>(<span title="جن ها (الجن), آیه ۲۰">۷۲:۲۰</span>)&nbsp; بگو، "من فقط پروردگارم را پرستش می‌کنم؛ من هرگز در کنار او معبودانی قرار نمی‌دهم."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="20" name="20"></a>

                        <p>[<span title="Jinns (Al-Jinn), verse 20">72:20</span>]&nbsp; Say, "I worship only my Lord; I never set up any idols besides Him."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="21" name="21"></a>

                        <p>(<span title="جن ها (الجن), آیه ۲۱">۷۲:۲۱</span>)&nbsp; بگو، "من هیچ قدرتی جهت ضرر رسانیدن به شما، یا ارشاد شما ندارم."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="21" name="21"></a>

                        <p>[<span title="Jinns (Al-Jinn), verse 21">72:21</span>]&nbsp; Say, "I possess no power to harm you, nor to guide you."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="22" name="22"></a>

                        <p>(<span title="جن ها (الجن), آیه ۲۲">۷۲:۲۲</span>)&nbsp; بگو، "هیچکس نمی‌تواند من را در مقابل <strong>خدا</strong> حمایت کند، و نه می‌توانم هیچ پناهی غیر از او بیابم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="22" name="22"></a>

                        <p>[<span title="Jinns (Al-Jinn), verse 22">72:22</span>]&nbsp; Say, "No one can protect me from <strong>GOD</strong>, nor can I find any other refuge besides Him.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="23" name="23"></a>

                        <p>(<span title="جن ها (الجن), آیه ۲۳">۷۲:۲۳</span>)&nbsp; "من گفته‏‌ها و پیغامهای <strong>خدا</strong> را تحویل می‌دهم." کسانی که از <strong>خدا</strong> و رسولش سرپیچی می‌کنند، سزاوار آتش جهنم می‌شوند که در آن جاودان باشند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="23" name="23"></a>

                        <p>[<span title="Jinns (Al-Jinn), verse 23">72:23</span>]&nbsp; "I deliver <strong>GOD</strong>'s proclamations and messages." Those who disobey <strong>GOD</strong> and His messenger incur the fire of Hell, wherein they abide forever.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="24" name="24"></a>

                        <p>(<span title="جن ها (الجن), آیه ۲۴">۷۲:۲۴</span>)&nbsp; هنگامی که ببینند چه در انتظارشان است، متوجه خواهند شد که چه کسی واقعاً از نظر قدرت ضعیف‏تر است، و از نظر تعداد کمتر.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="24" name="24"></a>

                        <p>[<span title="Jinns (Al-Jinn), verse 24">72:24</span>]&nbsp; Once they see what is awaiting them, they will find out who is really weaker in power, and fewer in number.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="25" name="25"></a>

                        <p>(<span title="جن ها (الجن), آیه ۲۵">۷۲:۲۵</span>)&nbsp; بگو، "من نمی‌دانم آنچه به شما وعده داده شده است، زود رخ خواهد داد و یا اینکه پروردگار من آن را برای مدتی به تأخیر خواهد انداخت."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="25" name="25"></a>

                        <p>[<span title="Jinns (Al-Jinn), verse 25">72:25</span>]&nbsp; Say, "I do not know if what is promised to you will happen soon, or if my Lord will delay it for awhile."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="26" name="26"></a>

                        <p>(<span title="جن ها (الجن), آیه ۲۶">۷۲:۲۶</span>)&nbsp; او دانای آینده است؛ او آینده را برای هیچکس آشکار نمی‌کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="26" name="26"></a>

                        <p>[<span title="Jinns (Al-Jinn), verse 26">72:26</span>]&nbsp; He is the Knower of the future; He does not reveal the future to anyone.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="27" name="27"></a>

                        <p>(<span title="جن ها (الجن), آیه ۲۷">۷۲:۲۷</span>)&nbsp; فقط به رسولی که او انتخاب کند، اخباری خاص از گذشته و آینده آشکار می‌کند.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۲۸- ۷۲:۱ رسول نام برده شده در اينجا، از طريق رياضى اسمش "رشاد خليفه" است، که خدا زمان آخر شدن دنيا را براى او آشکار کرد ( ضميمه ۲۵). تعداد آيات از ۱:۱ تا ۷۲:۲۷، جاييکه رسول ذکر شده است، ۵۴۷۲ است، ۴x۷۲x۱۹. کلمه "رشد" در
                                    سوره ۷۲ چهار مرتبه تکرار شده است. مقدار عددى "رشد" ۵۰۴ است، و ۲۸+۵۰۴ (آيات سوره ۷۲)، ميشود ۵۳۲، يا ۲۸x۱۹. مقدار عددى "رشاد خليفه" ۷۰x۱۹ = ۱۳۳۰ = ۲۸ + ۷۲ + ۱۲۳۰ است. مجموع ارقام سوره ۷۲ و تعداد آياتش (۲۸)، ميشود ۱۹=۸+۲+۲+۷.
                                    همچنين اصطلاح مهم، "فقط به رسولى که او انتخاب کند" مقدار عدديش ميشود ۱۹۱۹ يا ۱۰۱x۱۹.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="27" name="27"></a>

                        <p>[<span title="Jinns (Al-Jinn), verse 27">72:27</span>]&nbsp; Only to a messenger that He chooses,* does He reveal from the past and the future, specific news.*</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*72:1-28 The messenger here is named, mathematically, as "Rashad Khalifa," to whom God revealed the end of the world (Appendix 25). The number of verses from 1:1 to 72:27, where the messenger is mentioned, is 5472, 19x72x4.
                                    The word "Rashada" occurs 4 times in Sura 72. The value of "Rashada" is 504, and 504+28 (verses of Sura 72) is 532, 19x28. The value of "Rashad Khalifa" (1230)+72+28=1330 =19x70. The digits of Sura 72 and its number
                                    of verses (28) add up to 7+2+2+8=19. Also, the crucial expression, "only to a messenger that He chooses" has a value of 1919, 19x101.
                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="28" name="28"></a>

                        <p>(<span title="جن ها (الجن), آیه ۲۸">۷۲:۲۸</span>)&nbsp; این به خاطر معلوم کردن آن است که آنها پیغامهای پروردگارشان را تحویل داده‏‌اند. او کاملاً به آنچه آنها دارند آگاه است. او تعداد همه چیز را شمرده است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="28" name="28"></a>

                        <p>[<span title="Jinns (Al-Jinn), verse 28">72:28</span>]&nbsp; This is to ascertain that they have delivered their Lord's messages. He is fully aware of what they have. He has counted the numbers of all things.</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۶۶۲</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۷۷۳۴</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>

</html>

