<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۶۲: جمعه (الجمعه)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 62: Friday (Al-Jumu'ah)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="جمعه (الجمعه), آیه ۱">۶۲:۱</span>)&nbsp; همه چیز در آسمانها و همه چیز در زمین به ستایش <strong>خدا</strong> مشغول است؛ پادشاه، مقدس‏ترین، بزرگوار، حکیم‏ترین.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="Friday (Al-Jumu'ah), verse 1">62:1</span>]&nbsp; Glorifying <strong>GOD</strong> is everything in the heavens and everything on earth; the King, the Most Sacred, the Almighty, the Most Wise.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="جمعه (الجمعه), آیه ۲">۶۲:۲</span>)&nbsp; او آن یکتایی است که بر کسانی که تابحال کتاب آسمانی نداشتند رسولی از میانشان فرستاد، تا آیات او را برایشان بخواند، آنها را پاک کند، و به آن‏ها کتاب آسمانی و حکمت بیاموزد. قبل
                            از این، آنها عمیقاً گمراه شده بودند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="Friday (Al-Jumu'ah), verse 2">62:2</span>]&nbsp; He is the One who sent to the gentiles a messenger from among them, to recite to them His revelations, purify them, and teach them the scripture and wisdom. Before
                            this, they had gone far astray.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="جمعه (الجمعه), آیه ۳">۶۲:۳</span>)&nbsp; و به بسیاری از نسلهای بعد از ایشان. او بزرگوار است، حکیم‏ترین.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="Friday (Al-Jumu'ah), verse 3">62:3</span>]&nbsp; And to many generations subsequent to them. He is the Almighty, Most Wise.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="جمعه (الجمعه), آیه ۴">۶۲:۴</span>)&nbsp; چنین است فضل <strong>خدا</strong> که به هر کس بخواهد عطا می‌کند. <strong>خدا</strong> دارای فضل بی‏ انتها است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="Friday (Al-Jumu'ah), verse 4">62:4</span>]&nbsp; Such is <strong>GOD</strong>'s grace that He bestows upon whomever He wills. <strong>GOD</strong> is Possessor of Infinite Grace.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="جمعه (الجمعه), آیه ۵">۶۲:۵</span>)&nbsp; مثال کسانی که به ایشان تورات داده شده بود و از آن پیروی نکردند، مانند الاغی است که آثار ادبی عظیمی را حمل کند. واقعاً بد است مثال مردمی که آیات <strong>خدا</strong> را رد کردند.
                            <strong>خدا</strong> مردم ستمکار را هدایت نمی‌کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="Friday (Al-Jumu'ah), verse 5">62:5</span>]&nbsp; The example of those who were given the Torah then failed to uphold it is like the donkey carrying great works of literature. Miserable indeed is the example of people
                            who rejected <strong>GOD</strong>'s revelations. <strong>GOD</strong> does not guide the wicked people.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="جمعه (الجمعه), آیه ۶">۶۲:۶</span>)&nbsp; بگو، "ای کسانی که یهودی هستید، اگر ادعا می‌کنید که از میان همه مردم شما برگزیده <strong>خدا</strong> هستید، پس باید آرزوی مرگ کنید اگر راست می‌گویید!"</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="Friday (Al-Jumu'ah), verse 6">62:6</span>]&nbsp; Say, "O you who are Jewish, if you claim that you are <strong>GOD</strong>'s chosen, to the exclusion of all other people, then you should long for death if you are
                            truthful!"</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="جمعه (الجمعه), آیه ۷">۶۲:۷</span>)&nbsp; آنها هرگز آرزوی آن را نخواهند کرد، به خاطر آنچه مرتکب شده‏‌اند. <strong>خدا</strong> کاملاً بر ستمکاران آگاه است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="Friday (Al-Jumu'ah), verse 7">62:7</span>]&nbsp; They will never long for it, because of what they have committed. <strong>GOD</strong> is fully aware of the wicked.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="جمعه (الجمعه), آیه ۸">۶۲:۸</span>)&nbsp; بگو، "مرگی که شما سعی دارید از آن فرار کنید، دیر یا زود بسراغ شما خواهد آمد. سپس شما به سوی دانای غیب و آشکار باز خواهید گشت، سپس او شما را از همه اعمالی که انجام داده‏‌اید،
                            آگاه خواهد ساخت.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="Friday (Al-Jumu'ah), verse 8">62:8</span>]&nbsp; Say, "The death that you are trying to evade will catch up with you sooner or later. Then you will be returned to the Knower of all secrets and declarations, then He
                            will inform you of everything you had done."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <div class="footnote-subtitle">فرمانهایی مهم به همه مؤمنان</div>

                        <p>(<span title="جمعه (الجمعه), آیه ۹">۶۲:۹</span>)&nbsp; ای کسانی که ایمان دارید، هنگامی که نماز دسته جمعی (نماز جمعه) در روز جمعه اعلام می‌شود، شما باید برای ذکر <strong>خدا</strong> بشتابید، و هرگونه مشغله‏‌ای را کنار بگذارید.
                            این برای شما بهتر است، اگر فقط می‌دانستید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <div class="footnote-subtitle">Important Commandments to All Believers</div>

                        <p>[<span title="Friday (Al-Jumu'ah), verse 9">62:9</span>]&nbsp; O you who believe, when the Congregational Prayer <em>(Salat Al-Jumu'ah)</em> is announced on Friday, you shall hasten to the commemoration of <strong>GOD</strong>,
                            and drop all business. This is better for you, if you only knew.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <p>(<span title="جمعه (الجمعه), آیه ۱۰">۶۲:۱۰</span>)&nbsp; هنگامی که نماز پایان یافت، در جستجوی نعمت‏های <strong>خدا</strong> می‌توانید در زمین پراکنده شوید، و پی‏درپی <strong>خدا</strong> را یاد کنید تا باشد که پیروز شوید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <p>[<span title="Friday (Al-Jumu'ah), verse 10">62:10</span>]&nbsp; Once the prayer is completed, you may spread through the land to seek <strong>GOD</strong>'s bounties, and continue to remember <strong>GOD</strong> frequently, that
                            you may succeed.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <p>(<span title="جمعه (الجمعه), آیه ۱۱">۶۲:۱۱</span>)&nbsp; هنگامی که بعضی از آنها با معامله تجارتی روبرو شوند، یا با سرگرمی، به سوی آن می‌شتابند و تو را ایستاده رها می‌کنند! بگو، "آنچه نزد <strong>خدا</strong> است بسیار بهتر از سرگرمی
                            یا تجارت است. <strong>خدا</strong> بهترین روزی دهنده است."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <p>[<span title="Friday (Al-Jumu'ah), verse 11">62:11</span>]&nbsp; When some of them come across a business deal, or some entertainment, they rush to it and leave you standing! Say, "What <strong>GOD</strong> possesses is far better
                            than the entertainment or the business. <strong>GOD</strong> is the best Provider."</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۵۶۸</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۷۱۴۱</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>
