<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۴۴: دود (الدخّان)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 44: Smoke (Al-Dukh&#227;n)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="دود (الدخّان), آیه ۱">۴۴:۱</span>)&nbsp; ح.م.
                        </p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 1">44:1</span>]&nbsp; H. M.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="دود (الدخّان), آیه ۲">۴۴:۲</span>)&nbsp; و این کتاب آسمانی روشنگر.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 2">44:2</span>]&nbsp; And this enlightening scripture.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="دود (الدخّان), آیه ۳">۴۴:۳</span>)&nbsp; ما آن را در شبی مبارک پایین فرستاده‏‌ایم، زیرا ما هستیم که هشدار می‌دهیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 3">44:3</span>]&nbsp; We have sent it down in a blessed night, for we are to warn.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="دود (الدخّان), آیه ۴">۴۴:۴</span>)&nbsp; در آن (کتاب آسمانی)، همه امور حکمت آشکار شده است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 4">44:4</span>]&nbsp; In it <em>(the scripture)</em>, every matter of wisdom is clarified.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="دود (الدخّان), آیه ۵">۴۴:۵</span>)&nbsp; امری است تعیین شده از قبل از طرف ما که رسولان را می‌فرستیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 5">44:5</span>]&nbsp; It is a predetermined command from us that we send messengers.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="دود (الدخّان), آیه ۶">۴۴:۶</span>)&nbsp; این رحمتی است از طرف پروردگارتان. او شنوا است، دانای مطلق.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 6">44:6</span>]&nbsp; This is a mercy from your Lord. He is the Hearer, the Omniscient.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="دود (الدخّان), آیه ۷">۴۴:۷</span>)&nbsp; پروردگار آسمانها و زمین و هر چه در بین آنها است. اگر فقط می‌توانستید یقین داشته باشید!</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 7">44:7</span>]&nbsp; Lord of the heavens and the earth, and everything between them. If only you could be certain!</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="دود (الدخّان), آیه ۸">۴۴:۸</span>)&nbsp; در کنار او خدای دیگری نیست. او زندگی و مرگ را کنترل می‌کند؛ پروردگار شما، و پروردگار اجداد شما.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 8">44:8</span>]&nbsp; There is no other god beside Him. He controls life and death; your Lord and the Lord of your ancestors.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <p>(<span title="دود (الدخّان), آیه ۹">۴۴:۹</span>)&nbsp; مسلماً، آنها پر از شک هستند، بی‏ اعتناء.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 9">44:9</span>]&nbsp; Indeed, they are doubtful, heedless.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <div class="footnote-subtitle">دود: پیشگویی عظیم*</div>

                        <p>(<span title="دود (الدخّان), آیه ۱۰">۴۴:۱۰</span>)&nbsp; بنابراین، مواظب آن روز باشید، هنگامی که آسمان دودی آشکار می‌آورد.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۴۴:۱۰ فقط دو نشانه ديگر هنوز بايد انجام گيرد، اين دود و يأجوج و مأجوج (ضميمه ۲۵).</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <div class="footnote-subtitle">The Smoke: A Major Prophecy*</div>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 10">44:10</span>]&nbsp; Therefore, watch for the day when the sky brings a profound smoke.*</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*44:10 Only two signs are yet to be fulfilled, this smoke and Gog and Magog (Appendix 25).

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <p>(<span title="دود (الدخّان), آیه ۱۱">۴۴:۱۱</span>)&nbsp; آن، مردم را دربر خواهد گرفت؛ این عذابی است دردناک.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 11">44:11</span>]&nbsp; It will envelop the people; this is a painful retribution.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="12" name="12"></a>

                        <p>(<span title="دود (الدخّان), آیه ۱۲">۴۴:۱۲</span>)&nbsp; "پروردگار ما، این عذاب را از ما بردار؛ ما مؤمن هستیم."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="12" name="12"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 12">44:12</span>]&nbsp; "Our Lord, relieve this retribution for us; we are believers."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="13" name="13"></a>

                        <div class="footnote-subtitle">رسول میثاق خدا*</div>

                        <p>(<span title="دود (الدخّان), آیه ۱۳">۴۴:۱۳</span>)&nbsp; حالا که بسیار دیر شده است بیاد می‌آورند! رسولی روشنگر بر آنها آمده بود.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۴۴:۱۳ مجموع شماره سوره و شماره آيه (۱۲+۴۴) ميشود ۵۷، ۱۹۲، و اين کد قرآنى بواسطه رسول ميثاق خدا اعلام گرديد. (ضميمه هاى ۱، ۲، و ۲۶).</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="13" name="13"></a>

                        <div class="footnote-subtitle">God's Messenger of the Covenant*</div>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 13">44:13</span>]&nbsp; Now that it is too late, they remember! An enlightening messenger had come to them.*</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*44:13 The sum of sura and verse numbers (44+13) is 57, 19x3, and this Quranic code was proclaimed by God's Messenger of the Covenant (Appendices 1, 2, & 26).

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="14" name="14"></a>

                        <p>(<span title="دود (الدخّان), آیه ۱۴">۴۴:۱۴</span>)&nbsp; اما آنها از او روی گرداندند، می‌گفتند، "بسیار تحصیل کرده، اما دیوانه!"</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="14" name="14"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 14">44:14</span>]&nbsp; But they turned away from him, saying, "Well educated, but crazy!"</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="15" name="15"></a>

                        <p>(<span title="دود (الدخّان), آیه ۱۵">۴۴:۱۵</span>)&nbsp; ما عذاب را برای مدتی بر خواهیم داشت؛ شما بزودی باز می‌گردید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="15" name="15"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 15">44:15</span>]&nbsp; We will relieve the retribution for awhile; you will soon revert.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="16" name="16"></a>

                        <p>(<span title="دود (الدخّان), آیه ۱۶">۴۴:۱۶</span>)&nbsp; آن روز که ما مصیبت بزرگ را وارد آوریم، انتقام خواهیم گرفت.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="16" name="16"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 16">44:16</span>]&nbsp; The day we strike the big stroke, we will avenge.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="17" name="17"></a>

                        <p>(<span title="دود (الدخّان), آیه ۱۷">۴۴:۱۷</span>)&nbsp; ما قبل از آنها مردم فرعون را امتحان کرده‏‌ایم؛ رسولی محترم نزدشان رفت.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="17" name="17"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 17">44:17</span>]&nbsp; We have tested before them the people of Pharaoh; an honorable messenger went to them.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="18" name="18"></a>

                        <p>(<span title="دود (الدخّان), آیه ۱۸">۴۴:۱۸</span>)&nbsp; اعلام می‌کرد: "به من گوش کنید، بندگان <strong>خدا</strong>. من رسول امینی هستم بر شما."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="18" name="18"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 18">44:18</span>]&nbsp; Proclaiming: "Listen to me, servants of <strong>GOD</strong>. I am an honest messenger to you."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="19" name="19"></a>

                        <p>(<span title="دود (الدخّان), آیه ۱۹">۴۴:۱۹</span>)&nbsp; و، "برعلیه <strong>خدا</strong> سرکشی نکنید. من برای شما مدارکی محکم می‌آورم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="19" name="19"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 19">44:19</span>]&nbsp; And, "Do not transgress against <strong>GOD</strong>. I bring to you powerful proofs.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="20" name="20"></a>

                        <p>(<span title="دود (الدخّان), آیه ۲۰">۴۴:۲۰</span>)&nbsp; "من به پروردگارم و پروردگار شما پناه می‌برم، اگر با من مخالفت کنید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="20" name="20"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 20">44:20</span>]&nbsp; "I seek refuge in my Lord and your Lord, if you oppose me.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="21" name="21"></a>

                        <p>(<span title="دود (الدخّان), آیه ۲۱">۴۴:۲۱</span>)&nbsp; "اگر نمی‌خواهید ایمان آورید، پس من را تنها بگذارید."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="21" name="21"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 21">44:21</span>]&nbsp; "If you do not wish to believe, then simply leave me alone."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="22" name="22"></a>

                        <p>(<span title="دود (الدخّان), آیه ۲۲">۴۴:۲۲</span>)&nbsp; در نتیجه، او پروردگارش را دعا کرد: "اینها مردم ستمکاری هستند."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="22" name="22"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 22">44:22</span>]&nbsp; Subsequently, he implored his Lord: "These are wicked people."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="23" name="23"></a>

                        <p>(<span title="دود (الدخّان), آیه ۲۳">۴۴:۲۳</span>)&nbsp; (خدا گفت،) "با بندگانم شبانه مسافرت کن؛ شما دنبال خواهید شد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="23" name="23"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 23">44:23</span>]&nbsp;
                            <em>(God said,)</em> "Travel with My servants during the night; you will be pursued.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="24" name="24"></a>

                        <p>(<span title="دود (الدخّان), آیه ۲۴">۴۴:۲۴</span>)&nbsp; "بسرعت از دریا بگذرید؛ سپاهیان آنها غرق خواهند شد."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="24" name="24"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 24">44:24</span>]&nbsp; "Cross the sea quickly; their troops will be drowned."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="25" name="25"></a>

                        <p>(<span title="دود (الدخّان), آیه ۲۵">۴۴:۲۵</span>)&nbsp; اینچنین، آنها باغها و چشمه‏‌های بسیاری را پشت سر گذاشتند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="25" name="25"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 25">44:25</span>]&nbsp; Thus, they left behind many gardens and springs.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="26" name="26"></a>

                        <p>(<span title="دود (الدخّان), آیه ۲۶">۴۴:۲۶</span>)&nbsp; زراعات و زندگی مجلل.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="26" name="26"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 26">44:26</span>]&nbsp; Crops and a luxurious life.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="27" name="27"></a>

                        <p>(<span title="دود (الدخّان), آیه ۲۷">۴۴:۲۷</span>)&nbsp; نعمت‏هایی که از آن لذت بردند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="27" name="27"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 27">44:27</span>]&nbsp; Blessings that they enjoyed.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="28" name="28"></a>

                        <p>(<span title="دود (الدخّان), آیه ۲۸">۴۴:۲۸</span>)&nbsp; ما باعث شدیم تا مردم دیگری همه اینها را به ارث ببرند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="28" name="28"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 28">44:28</span>]&nbsp; All these we caused to be inherited by other people.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="29" name="29"></a>

                        <p>(<span title="دود (الدخّان), آیه ۲۹">۴۴:۲۹</span>)&nbsp; نه آسمانها و نه زمین برایشان گریه کرد، و به ایشان مهلت داده نشد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="29" name="29"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 29">44:29</span>]&nbsp; Neither the heaven, nor the earth wept over them, and they were not respited.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="30" name="30"></a>

                        <p>(<span title="دود (الدخّان), آیه ۳۰">۴۴:۳۰</span>)&nbsp; در این ضمن، ما فرزندان اسراییل را از اذیت و آزار تحقیرآمیز نجات دادیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="30" name="30"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 30">44:30</span>]&nbsp; Meanwhile, we saved the Children of Israel from the humiliating persecution.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="31" name="31"></a>

                        <p>(<span title="دود (الدخّان), آیه ۳۱">۴۴:۳۱</span>)&nbsp; از فرعون؛ او یک مستبد بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="31" name="31"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 31">44:31</span>]&nbsp; From Pharaoh; he was a tyrant.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="32" name="32"></a>

                        <p>(<span title="دود (الدخّان), آیه ۳۲">۴۴:۳۲</span>)&nbsp; ما دانسته آنها را از میان همه مردم انتخاب کرده‏‌ایم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="32" name="32"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 32">44:32</span>]&nbsp; We have chosen them from among all the people, knowingly.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="33" name="33"></a>

                        <p>(<span title="دود (الدخّان), آیه ۳۳">۴۴:۳۳</span>)&nbsp; ما به آنها نشانه‏‌های فراوانی نشان دادیم که امتحان بزرگی در بر داشت.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="33" name="33"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 33">44:33</span>]&nbsp; We showed them so many proofs, which constituted a great test.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="34" name="34"></a>

                        <div class="footnote-subtitle">انتظار همان عواقب را داشته باشید</div>

                        <p>(<span title="دود (الدخّان), آیه ۳۴">۴۴:۳۴</span>)&nbsp; نسل‏های کنونی می‌گویند،</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="34" name="34"></a>

                        <div class="footnote-subtitle">Expect The Same Consequences</div>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 34">44:34</span>]&nbsp; The present generations say,</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="35" name="35"></a>

                        <p>(<span title="دود (الدخّان), آیه ۳۵">۴۴:۳۵</span>)&nbsp; "ما فقط یکبار می‌میریم؛ ما هرگز برانگیخته نخواهیم شد!</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="35" name="35"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 35">44:35</span>]&nbsp; "We only die the first death; we will never be resurrected!</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="36" name="36"></a>

                        <p>(<span title="دود (الدخّان), آیه ۳۶">۴۴:۳۶</span>)&nbsp; "اجداد ما را بازگردانید، اگر راست می‌گویید."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="36" name="36"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 36">44:36</span>]&nbsp; "Bring back our forefathers, if you are truthful."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="37" name="37"></a>

                        <p>(<span title="دود (الدخّان), آیه ۳۷">۴۴:۳۷</span>)&nbsp; آیا آنها بهتر از مردم تُبع و کسانی که قبل از ایشان بودند، هستند؟ ما آنها را به خاطر جنایاتشان هلاک کردیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="37" name="37"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 37">44:37</span>]&nbsp; Are they better than the people of Tubba' and others before them? We annihilated them for their crimes.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="38" name="38"></a>

                        <p>(<span title="دود (الدخّان), آیه ۳۸">۴۴:۳۸</span>)&nbsp; ما آسمانها و زمین و هر چه را در بین آنها است، برای سرگرمی خلق نکردیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="38" name="38"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 38">44:38</span>]&nbsp; We did not create the heavens and the earth, and everything between them, just to play.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="39" name="39"></a>

                        <p>(<span title="دود (الدخّان), آیه ۳۹">۴۴:۳۹</span>)&nbsp; ما آنها را به منظور خاصی خلق کردیم، اما اکثرشان نمی‌دانند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="39" name="39"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 39">44:39</span>]&nbsp; We created them for a specific purpose, but most of them do not know.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="40" name="40"></a>

                        <p>(<span title="دود (الدخّان), آیه ۴۰">۴۴:۴۰</span>)&nbsp; روز تصمیم در انتظار همه آنها است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="40" name="40"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 40">44:40</span>]&nbsp; The Day of Decision awaits them all.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="41" name="41"></a>

                        <p>(<span title="دود (الدخّان), آیه ۴۱">۴۴:۴۱</span>)&nbsp; آن روزی است که هیچ رفیقی نمی‌تواند بهیچوجه رفیق خود را کمک کند؛ هیچکس نمی‌تواند کمک شود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="41" name="41"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 41">44:41</span>]&nbsp; That is the day when no friend can help his friend in any way; no one can be helped.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="42" name="42"></a>

                        <p>(<span title="دود (الدخّان), آیه ۴۲">۴۴:۴۲</span>)&nbsp; فقط کسانی که از رحمت <strong>خدا</strong> برخوردار می‌شوند. او بزرگوار است، مهربانترین.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="42" name="42"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 42">44:42</span>]&nbsp; Only those who attain mercy from <strong>GOD</strong>. He is the Almighty, Most Merciful.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="43" name="43"></a>

                        <div class="footnote-subtitle">کافران</div>

                        <p>(<span title="دود (الدخّان), آیه ۴۳">۴۴:۴۳</span>)&nbsp; مطمئناً، درخت تلخی-</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="43" name="43"></a>

                        <div class="footnote-subtitle">The Disbelievers</div>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 43">44:43</span>]&nbsp; Surely, the tree of bitterness&mdash;</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="44" name="44"></a>

                        <p>(<span title="دود (الدخّان), آیه ۴۴">۴۴:۴۴</span>)&nbsp; برای گناهکاران غذا فراهم خواهد کرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="44" name="44"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 44">44:44</span>]&nbsp; will provide the food for the sinful.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="45" name="45"></a>

                        <p>(<span title="دود (الدخّان), آیه ۴۵">۴۴:۴۵</span>)&nbsp; مانند آبی قلیایی، در شکم‏ها خواهد جوشید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="45" name="45"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 45">44:45</span>]&nbsp; Like lye, it will boil in the stomachs.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="46" name="46"></a>

                        <p>(<span title="دود (الدخّان), آیه ۴۶">۴۴:۴۶</span>)&nbsp; مانند نوشابه‏‌های جوشان جهنمی.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="46" name="46"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 46">44:46</span>]&nbsp; Like the boiling of hellish drinks.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="47" name="47"></a>

                        <p>(<span title="دود (الدخّان), آیه ۴۷">۴۴:۴۷</span>)&nbsp; ببر او را و به وسط جهنم بیاندازش.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="47" name="47"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 47">44:47</span>]&nbsp; Take him and throw him into the center of Hell.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="48" name="48"></a>

                        <p>(<span title="دود (الدخّان), آیه ۴۸">۴۴:۴۸</span>)&nbsp; سپس از عذاب دوزخ بر سر او بریز.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="48" name="48"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 48">44:48</span>]&nbsp; Then pour upon his head the retribution of the Inferno.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="49" name="49"></a>

                        <p>(<span title="دود (الدخّان), آیه ۴۹">۴۴:۴۹</span>)&nbsp; "این را بچش؛ تو بسیار قدرتمند بودی، بسیار محترم."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="49" name="49"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 49">44:49</span>]&nbsp; "Taste this; you were so powerful, so honorable."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="50" name="50"></a>

                        <p>(<span title="دود (الدخّان), آیه ۵۰">۴۴:۵۰</span>)&nbsp; این است آنچه شما قبلاً به آن شک داشتید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="50" name="50"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 50">44:50</span>]&nbsp; This is what you used to doubt.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="51" name="51"></a>

                        <div class="footnote-subtitle">پرهیزکاران</div>

                        <p>(<span title="دود (الدخّان), آیه ۵۱">۴۴:۵۱</span>)&nbsp; پرهیزکاران در موقعیتی امن خواهند بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="51" name="51"></a>

                        <div class="footnote-subtitle">The Righteous</div>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 51">44:51</span>]&nbsp; The righteous will be in a secure position.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="52" name="52"></a>

                        <p>(<span title="دود (الدخّان), آیه ۵۲">۴۴:۵۲</span>)&nbsp; از باغها و چشمه‏‌ها لذت می‌برند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="52" name="52"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 52">44:52</span>]&nbsp; Enjoying gardens and springs.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="53" name="53"></a>

                        <p>(<span title="دود (الدخّان), آیه ۵۳">۴۴:۵۳</span>)&nbsp; مخمل و ساتن می‌پوشند؛ نزدیک یکدیگر.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="53" name="53"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 53">44:53</span>]&nbsp; Wearing velvet and satin; close to each other.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="54" name="54"></a>

                        <p>(<span title="دود (الدخّان), آیه ۵۴">۴۴:۵۴</span>)&nbsp; ما به ایشان همسران عالی عطا می‌کنیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="54" name="54"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 54">44:54</span>]&nbsp; We grant them wonderful spouses.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="55" name="55"></a>

                        <p>(<span title="دود (الدخّان), آیه ۵۵">۴۴:۵۵</span>)&nbsp; آنها در آنجا از همه نوع میوه‏‌ها لذت می‌برند، در صلح کامل.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="55" name="55"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 55">44:55</span>]&nbsp; They enjoy in it all kinds of fruits, in perfect peace.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="56" name="56"></a>

                        <div class="footnote-subtitle">پرهیزکاران در واقع نمی‌میرند*</div>

                        <p>(<span title="دود (الدخّان), آیه ۵۶">۴۴:۵۶</span>)&nbsp; آنها در آنجا هرگز مزه مرگ را نمی‌چشند-بجز اولین مرگ-و او آنها را از عذاب جهنم رها ساخته است.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۴۴:۵۶ همانطور که در ضميمه ۱۷ شرح داده شده است، پرهيزکاران در واقع نميميرند؛ آنها مستقيما ً به بهشتى ميروند که آدم و حوا روزى در آن زندگى ميکردند. اين جمله را با جمله کافران در ۴۰:۱۱ مقايسه کنيد.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="56" name="56"></a>

                        <div class="footnote-subtitle">The Righteous Do Not Really Die*</div>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 56">44:56</span>]&nbsp; They do not taste death therein&mdash; beyond the first death*&mdash;and He has spared them the retribution of Hell.</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*44:56 As detailed in Appendix 17, the righteous do not really die; they move on directly to the same Paradise where Adam and Eve once lived. Compare this statement with the disbelievers' statement in 40:11.

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="57" name="57"></a>

                        <p>(<span title="دود (الدخّان), آیه ۵۷">۴۴:۵۷</span>)&nbsp; چنین است نعمت پروردگارت. چنین است پیروزی بزرگ.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="57" name="57"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 57">44:57</span>]&nbsp; Such is the blessing from your Lord. Such is the great triumph.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="58" name="58"></a>

                        <p>(<span title="دود (الدخّان), آیه ۵۸">۴۴:۵۸</span>)&nbsp; ما اینچنین آن را به زبان تو روشن ساخته‏‌ایم، تا باشد که متوجه شوند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="58" name="58"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 58">44:58</span>]&nbsp; We have thus clarified it in your language, that they may take heed.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="59" name="59"></a>

                        <p>(<span title="دود (الدخّان), آیه ۵۹">۴۴:۵۹</span>)&nbsp; بنابراین، منتظر باش؛ آنها هم باید منتظر باشند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="59" name="59"></a>

                        <p>[<span title="Smoke (Al-Dukh&#227;n), verse 59">44:59</span>]&nbsp; Therefore, wait; they too will have to wait.</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۲۷۷</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۴۱۴۷</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
      