<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۸۹: پگاه (الفجر)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 89: Dawn (Al-Fajr)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="پگاه (الفجر), آیه ۱">۸۹:۱</span>)&nbsp; به سحر.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="Dawn (Al-Fajr), verse 1">89:1</span>]&nbsp; By the dawn.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="پگاه (الفجر), آیه ۲">۸۹:۲</span>)&nbsp; و به ده شب.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۸۹:۲ ده شب آخر ماه رمضان که بسيارى از مؤمنان در مساجد عاکف ميشوند(۲:۱۸۷).</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="Dawn (Al-Fajr), verse 2">89:2</span>]&nbsp; And the ten nights. *</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*89:2 Last ten nights of Ramadan, wherein many believers retreat to the masjids (2:187).</p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="پگاه (الفجر), آیه ۳">۸۹:۳</span>)&nbsp; به زوج و به فرد.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۸۹:۳ جهت نقش اعداد زوج و فرد به ضميمه ۱ توجه کنيد.</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="Dawn (Al-Fajr), verse 3">89:3</span>]&nbsp; By the even and the odd. *</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*89:3 See Appendix 1 for the role of the even numbers and the odd numbers.

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="پگاه (الفجر), آیه ۴">۸۹:۴</span>)&nbsp; به شبی که می‌گذرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="Dawn (Al-Fajr), verse 4">89:4</span>]&nbsp; By the night as it passes.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="پگاه (الفجر), آیه ۵">۸۹:۵</span>)&nbsp; سوگندی هیبت‏انگیز، برای کسی که صاحب خرد است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="Dawn (Al-Fajr), verse 5">89:5</span>]&nbsp; A profound oath, for one who possesses intelligence.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <p>(<span title="پگاه (الفجر), آیه ۶">۸۹:۶</span>)&nbsp; آیا توجه کرده‏‌ای که پروردگارت با عاد چه کرد؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <p>[<span title="Dawn (Al-Fajr), verse 6">89:6</span>]&nbsp; Have you noted what your Lord did to '&#195;d?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="پگاه (الفجر), آیه ۷">۸۹:۷</span>)&nbsp; اِرَم؛ شهری با ساختمانهای بلند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="Dawn (Al-Fajr), verse 7">89:7</span>]&nbsp; Erum; the town with tall buildings.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="پگاه (الفجر), آیه ۸">۸۹:۸</span>)&nbsp; مانند آن هیچ کجا نبود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="Dawn (Al-Fajr), verse 8">89:8</span>]&nbsp; There was nothing like it anywhere.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <p>(<span title="پگاه (الفجر), آیه ۹">۸۹:۹</span>)&nbsp; همچنین ثمود که در سرزمینشان سنگها را تراشیدند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <p>[<span title="Dawn (Al-Fajr), verse 9">89:9</span>]&nbsp; Also Tham&#251;d, who carved the rocks in their valley.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <p>(<span title="پگاه (الفجر), آیه ۱۰">۸۹:۱۰</span>)&nbsp; و فرعون که صاحب قدرت بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <p>[<span title="Dawn (Al-Fajr), verse 10">89:10</span>]&nbsp; And Pharaoh who possessed might.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <p>(<span title="پگاه (الفجر), آیه ۱۱">۸۹:۱۱</span>)&nbsp; همه آنها در زمین متجاوز شدند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <p>[<span title="Dawn (Al-Fajr), verse 11">89:11</span>]&nbsp; They all transgressed in the land.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="12" name="12"></a>

                        <p>(<span title="پگاه (الفجر), آیه ۱۲">۸۹:۱۲</span>)&nbsp; آنها پلیدی را در همه جا رواج دادند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="12" name="12"></a>

                        <p>[<span title="Dawn (Al-Fajr), verse 12">89:12</span>]&nbsp; They spread evil throughout.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="13" name="13"></a>

                        <p>(<span title="پگاه (الفجر), آیه ۱۳">۸۹:۱۳</span>)&nbsp; در نتیجه، پروردگارت بر سرشان عذابی کوبنده وارد آورد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="13" name="13"></a>

                        <p>[<span title="Dawn (Al-Fajr), verse 13">89:13</span>]&nbsp; Consequently, your Lord poured upon them a whipping retribution.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="14" name="14"></a>

                        <p>(<span title="پگاه (الفجر), آیه ۱۴">۸۹:۱۴</span>)&nbsp; پروردگارت همیشه مواظب است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="14" name="14"></a>

                        <p>[<span title="Dawn (Al-Fajr), verse 14">89:14</span>]&nbsp; Your Lord is ever watchful.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="15" name="15"></a>

                        <p>(<span title="پگاه (الفجر), آیه ۱۵">۸۹:۱۵</span>)&nbsp; هنگامی که انسان به واسطه پروردگارش با نعمت و شادی امتحان می‌شود، می‌گوید، "پروردگارم نسبت به من سخاوتمند است."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="15" name="15"></a>

                        <p>[<span title="Dawn (Al-Fajr), verse 15">89:15</span>]&nbsp; When the human being is tested by his Lord, through blessings and joy, he says, "My Lord is generous towards me."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="16" name="16"></a>

                        <p>(<span title="پگاه (الفجر), آیه ۱۶">۸۹:۱۶</span>)&nbsp; اما اگر او با کمبود روزی او را امتحان کند، می‌گوید، "پروردگارم من را خوار می‌کند."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="16" name="16"></a>

                        <p>[<span title="Dawn (Al-Fajr), verse 16">89:16</span>]&nbsp; But if He tests him through reduction in provisions, he says, "My Lord is humiliating me!"</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="17" name="17"></a>

                        <p>(<span title="پگاه (الفجر), آیه ۱۷">۸۹:۱۷</span>)&nbsp; اشتباه است! این شما هستید که آن را بر سر خود آوردید با در نظر نگرفتن یتیم.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="17" name="17"></a>

                        <p>[<span title="Dawn (Al-Fajr), verse 17">89:17</span>]&nbsp; Wrong! It is you who brought it on yourselves by not regarding the orphan.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="18" name="18"></a>

                        <p>(<span title="پگاه (الفجر), آیه ۱۸">۸۹:۱۸</span>)&nbsp; و حمایت نکردن از انفاق به فقیر.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="18" name="18"></a>

                        <p>[<span title="Dawn (Al-Fajr), verse 18">89:18</span>]&nbsp; And not advocating charity towards the poor.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="19" name="19"></a>

                        <p>(<span title="پگاه (الفجر), آیه ۱۹">۸۹:۱۹</span>)&nbsp; و مصرف کردن ارث یتیمان ناتوان.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="19" name="19"></a>

                        <p>[<span title="Dawn (Al-Fajr), verse 19">89:19</span>]&nbsp; And consuming the inheritance of helpless orphans.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="20" name="20"></a>

                        <p>(<span title="پگاه (الفجر), آیه ۲۰">۸۹:۲۰</span>)&nbsp; و علاقه بیش از حد به پول.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="20" name="20"></a>

                        <p>[<span title="Dawn (Al-Fajr), verse 20">89:20</span>]&nbsp; And loving the money too much.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="21" name="21"></a>

                        <p>(<span title="پگاه (الفجر), آیه ۲۱">۸۹:۲۱</span>)&nbsp; به درستی که، هنگامی که زمین خرد می‌شود، کاملاً خرد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="21" name="21"></a>

                        <p>[<span title="Dawn (Al-Fajr), verse 21">89:21</span>]&nbsp; Indeed, when the earth is crushed, utterly crushed.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="22" name="22"></a>

                        <p>(<span title="پگاه (الفجر), آیه ۲۲">۸۹:۲۲</span>)&nbsp; و پروردگارت می‌آید، با فرشتگان صف به صف.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="22" name="22"></a>

                        <p>[<span title="Dawn (Al-Fajr), verse 22">89:22</span>]&nbsp; And your Lord comes, together with the angels in row after row.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="23" name="23"></a>

                        <p>(<span title="پگاه (الفجر), آیه ۲۳">۸۹:۲۳</span>)&nbsp; در آن روز، جهنم پیش آورده خواهد شد. در آن روز، انسان بیاد خواهد آورد-اما چه بیاد آوردنی-بسیار دیر خواهد بود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="23" name="23"></a>

                        <p>[<span title="Dawn (Al-Fajr), verse 23">89:23</span>]&nbsp; On that day, Gehenna will be brought forth. On that day, the human being will remember&mdash;but what a remembrance&mdash;it will be too late.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="24" name="24"></a>

                        <p>(<span title="پگاه (الفجر), آیه ۲۴">۸۹:۲۴</span>)&nbsp; او خواهد گفت، "آه، ای کاش برای زندگی (ابدی) خود آماده شده بودم."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="24" name="24"></a>

                        <p>[<span title="Dawn (Al-Fajr), verse 24">89:24</span>]&nbsp; He will say, "Oh, I wish I prepared for my <em>(eternal)</em> life."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="25" name="25"></a>

                        <p>(<span title="پگاه (الفجر), آیه ۲۵">۸۹:۲۵</span>)&nbsp; در آن روز، هیچ عذابی نمی‌تواند بدتر از عذاب او باشد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="25" name="25"></a>

                        <p>[<span title="Dawn (Al-Fajr), verse 25">89:25</span>]&nbsp; On that day, no retribution could be worse than His retribution.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="26" name="26"></a>

                        <p>(<span title="پگاه (الفجر), آیه ۲۶">۸۹:۲۶</span>)&nbsp; و هیچ حبسی مؤثرتر از حبس او نیست.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="26" name="26"></a>

                        <p>[<span title="Dawn (Al-Fajr), verse 26">89:26</span>]&nbsp; And no confinement is as effective as His confinement.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="27" name="27"></a>

                        <p>(<span title="پگاه (الفجر), آیه ۲۷">۸۹:۲۷</span>)&nbsp; و اما تو ای نفس قانع.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="27" name="27"></a>

                        <p>[<span title="Dawn (Al-Fajr), verse 27">89:27</span>]&nbsp; As for you, O content soul.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="28" name="28"></a>

                        <p>(<span title="پگاه (الفجر), آیه ۲۸">۸۹:۲۸</span>)&nbsp; مراجعت کن به سوی پروردگارت، راضی و خشنود.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="28" name="28"></a>

                        <p>[<span title="Dawn (Al-Fajr), verse 28">89:28</span>]&nbsp; Return to your Lord, pleased and pleasing.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="29" name="29"></a>

                        <p>(<span title="پگاه (الفجر), آیه ۲۹">۸۹:۲۹</span>)&nbsp; خوش آمدی در زمره بندگان من.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="29" name="29"></a>

                        <p>[<span title="Dawn (Al-Fajr), verse 29">89:29</span>]&nbsp; Welcome into My servants.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="30" name="30"></a>

                        <p>(<span title="پگاه (الفجر), آیه ۳۰">۸۹:۳۰</span>)&nbsp; خوش آمدی به پردیس من.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="30" name="30"></a>

                        <p>[<span title="Dawn (Al-Fajr), verse 30">89:30</span>]&nbsp; Welcome into My Paradise.</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۶۸۶</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۸۰۶۱</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>

</html>

