<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quran - The Final Testament</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="book">
    

    <!-- Language switch buttons -->
    <div class="language-switch">
      <button onclick="switchLanguage('en')">English</button>
      <button onclick="switchLanguage('fa')">Farsi</button>
    </div>

    <div class="chapter-content">
      <!-- Paragraph 1 -->

        <div class="quran-main">
            <header class="page-description">


                <div dir="rtl" class="lang-fa rtl">
                    <h2>سوره ۶۱: صف (الصف)</h2>

                </div>



                <div dir="ltr" class="lang-en ltr">
                    <h2>Sura 61: The Column (Al-Suff)</h2>

                </div>




                <p class="basmallah">


                    <span class="rtl">به نام خدا، بخشنده‏‌ترین، مهربانترین</span><br />



                    <span class="ltr">In the name of God, Most Gracious, Most Merciful</span><br />


                </p>

            </header>

            <section class="section-wrap">
                <div class="container">




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="1" name="1"></a>

                        <p>(<span title="صف (الصف), آیه ۱">۶۱:۱</span>)&nbsp; همه چیز در آسمانها و همه چیز در زمین به ستایش <strong>خدا</strong> مشغول است. او بزرگوار است، حکیم‏ترین.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="1" name="1"></a>

                        <p>[<span title="The Column (Al-Suff), verse 1">61:1</span>]&nbsp; Glorifying <strong>GOD</strong> is everything in the heavens and everything on earth. He is the Almighty, Most Wise.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="2" name="2"></a>

                        <p>(<span title="صف (الصف), آیه ۲">۶۱:۲</span>)&nbsp; ای کسانی که ایمان دارید، چرا چیزی می‌گویید که خود به آن عمل نمی‌کنید؟</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="2" name="2"></a>

                        <p>[<span title="The Column (Al-Suff), verse 2">61:2</span>]&nbsp; O you who believe, why do you say what you do not do?</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="3" name="3"></a>

                        <p>(<span title="صف (الصف), آیه ۳">۶۱:۳</span>)&nbsp; ناپسندترین کار از نظر <strong>خدا</strong> آن است که چیزی بگویید که خود به آن عمل نکنید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="3" name="3"></a>

                        <p>[<span title="The Column (Al-Suff), verse 3">61:3</span>]&nbsp; Most abominable in the sight of <strong>GOD</strong> is that you say what you do not do.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="4" name="4"></a>

                        <p>(<span title="صف (الصف), آیه ۴">۶۱:۴</span>)&nbsp;
                            <strong>خدا</strong> کسانی را که در یک صف واحد مانند آجرهای یک دیوار در راه او می‌جنگند دوست دارد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="4" name="4"></a>

                        <p>[<span title="The Column (Al-Suff), verse 4">61:4</span>]&nbsp;
                            <strong>GOD</strong> loves those who fight in His cause united in one column, like the bricks in one wall.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="5" name="5"></a>

                        <p>(<span title="صف (الصف), آیه ۵">۶۱:۵</span>)&nbsp; بیاد آور که موسی به مردمش گفت، "ای مردم من، چرا من را آزار می‌دهید، در حالی که می‌دانید من رسول <strong>خدا</strong> هستم بر شما؟" هنگامی که آنها روی گرداندند، <strong>خدا</strong>                            قلب‏شان را منحرف ساخت. زیرا <strong>خدا</strong> مردم ستمکار را هدایت نمی‌کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="5" name="5"></a>

                        <p>[<span title="The Column (Al-Suff), verse 5">61:5</span>]&nbsp; Recall that Moses said to his people, "O my people, why do you hurt me, even though you know that I am <strong>GOD</strong>'s messenger to you?" When they deviated,
                            <strong>GOD</strong> diverted their hearts. For <strong>GOD</strong> does not guide the wicked people.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="6" name="6"></a>

                        <div class="footnote-subtitle">رسول بعد از عیسی</div>

                        <p>(<span title="صف (الصف), آیه ۶">۶۱:۶</span>)&nbsp; بیاد آور که عیسی، پسر مریم گفت، "ای فرزندان اسراییل، من رسول <strong>خدا</strong> هستم بر شما، تورات را تصدیق می‌کنم و مژده می‌دهم از رسولی که بعد از من خواهد آمد که اسمش حتی ستوده‏‌تر
                            (احمد) خواهد بود." سپس، هنگامی که او نشانه‏‌های روشن را به ایشان نشان داد، گفتند، "این شعبده‏‌ای است شگفت‏انگیز."</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="6" name="6"></a>

                        <div class="footnote-subtitle">Messenger After Jesus</div>

                        <p>[<span title="The Column (Al-Suff), verse 6">61:6</span>]&nbsp; Recall that Jesus, son of Mary, said, "O Children of Israel, I am <strong>GOD</strong>'s messenger to you, confirming the Torah and bringing good news of a messenger
                            to come after me whose name will be even more praised <em>(Ahmad)</em>." Then, when he showed them the clear proofs, they said, "This is profound magic."</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="7" name="7"></a>

                        <p>(<span title="صف (الصف), آیه ۷">۶۱:۷</span>)&nbsp; چه کسی پلیدتر از آن کسی است که در باره <strong>خدا</strong> دروغ بسازد، و به تسلیم شدن دعوت شده باشد؟ <strong>خدا</strong> مردم پلید را هدایت نمی‌کند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="7" name="7"></a>

                        <p>[<span title="The Column (Al-Suff), verse 7">61:7</span>]&nbsp; Who is more evil than one who fabricates lies about <strong>GOD</strong>, and he is being invited to Submission? <strong>GOD</strong> does not guide the evil people.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="8" name="8"></a>

                        <p>(<span title="صف (الصف), آیه ۸">۶۱:۸</span>)&nbsp; آنها آرزو دارند تا نور <strong>خدا</strong> را با دهانشان خاموش کنند. اما <strong>خدا</strong> اصرار دارد تا نورش را به حد اعلی رساند، برخلاف میل کافران.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="8" name="8"></a>

                        <p>[<span title="The Column (Al-Suff), verse 8">61:8</span>]&nbsp; They wish to put out <strong>GOD</strong>'s light with their mouths. But <strong>GOD</strong> insists upon perfecting His light, in spite of the disbelievers.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="9" name="9"></a>

                        <div class="footnote-subtitle">پیشگویی بزرگ</div>

                        <p>(<span title="صف (الصف), آیه ۹">۶۱:۹</span>)&nbsp; او رسولش را با هدایت و دین حقیقی فرستاده است، و آن را بر همه ادیان مسلط خواهد کرد، برخلاف میل مشرکان.</p>


                        <div class="footnote">
                            <div class="footnote-title">زیر نویس</div>
                            <div class="footnote-content">
                                <p>* ۶۱:۹ اسم مشخص اين رسول از طريق رياضى در قرآن ديکته شده است (ضميمه ۲).</p>
                            </div>
                        </div>

                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="9" name="9"></a>

                        <div class="footnote-subtitle">The Great Prophecy</div>

                        <p>[<span title="The Column (Al-Suff), verse 9">61:9</span>]&nbsp; He has sent His messenger* with the guidance and the true religion, and will make it dominate all religions, in spite of the idol worshipers.</p>


                        <div class="footnote">
                            <div class="footnote-title">Footnote</div>
                            <div class="footnote-content">
                                <p>*61:9 The specific name of this messenger is spelled out mathematically (Appendix 2).

                                </p>
                            </div>
                        </div>

                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="10" name="10"></a>

                        <div class="footnote-subtitle">بهترین معامله</div>

                        <p>(<span title="صف (الصف), آیه ۱۰">۶۱:۱۰</span>)&nbsp; ای کسانی که ایمان دارید، بگذارید شما را از معامله‏‌ای آگاه کنم که شما را از عذاب دردناک نجات خواهد داد.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="10" name="10"></a>

                        <div class="footnote-subtitle">The Best Deal</div>

                        <p>[<span title="The Column (Al-Suff), verse 10">61:10</span>]&nbsp; O you who believe, let Me inform you of a trade that will save you from painful retribution.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="11" name="11"></a>

                        <p>(<span title="صف (الصف), آیه ۱۱">۶۱:۱۱</span>)&nbsp; به <strong>خدا</strong> و رسولش ایمان آورید و در راه <strong>خدا</strong> با اموال و جان خود کوشش کنید. این بهترین معامله است برای شما، اگر فقط می‌دانستید.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="11" name="11"></a>

                        <p>[<span title="The Column (Al-Suff), verse 11">61:11</span>]&nbsp; Believe in <strong>GOD</strong> and His messenger and strive in the cause of <strong>GOD</strong> with your money and your lives. This is the best deal for you,
                            if you only knew.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="12" name="12"></a>

                        <p>(<span title="صف (الصف), آیه ۱۲">۶۱:۱۲</span>)&nbsp; در عوض، او گناهان شما را می‌بخشد، و شما را به باغهایی با نهرهای جاری داخل می‌کند، با قصرهای زیبا در باغهای عدن. این بزرگترین پیروزی است.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="12" name="12"></a>

                        <p>[<span title="The Column (Al-Suff), verse 12">61:12</span>]&nbsp; In return, He forgives your sins, and admits you into gardens with flowing streams, with beautiful mansions in the gardens of Eden. This is the greatest triumph.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="13" name="13"></a>

                        <p>(<span title="صف (الصف), آیه ۱۳">۶۱:۱۳</span>)&nbsp; بعلاوه، شما چیزی به دست می‌آورید که واقعاً آن را دوست دارید: حمایت از طرف <strong>خدا</strong> و پیروزی تضمین شده. به مؤمنان مژده بده.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="13" name="13"></a>

                        <p>[<span title="The Column (Al-Suff), verse 13">61:13</span>]&nbsp; Additionally, you get something you truly love: support from <strong>GOD</strong> and guaranteed victory. Give good news to the believers.</p>


                    </div>



                    <div>&nbsp;</div>




                    <div dir="rtl" class="lang-fa rtl">
                        <a id="14" name="14"></a>

                        <p>(<span title="صف (الصف), آیه ۱۴">۶۱:۱۴</span>)&nbsp; ای کسانی که ایمان دارید، حمایت کنندگان <strong>خدا</strong> باشید، مانند یاران عیسی، پسر مریم. هنگامی که او به ایشان گفت، "چه کسانی حمایت کنندگان من هستند در راه <strong>خدا</strong>،"
                            آنها گفتند، "ما حمایت کنندگان <strong>خدا</strong> هستیم." بنابراین، گروهی از بنی‏اسراییل ایمان آوردند، و گروه دیگر ایمان نیاوردند. ما کسانی را که ایمان آوردند، در مقابل دشمنان‏شان کمک کردیم، تا پیروز شدند.</p>


                    </div>





                    <div dir="ltr" class="lang-en ltr">
                        <a id="14" name="14"></a>

                        <p>[<span title="The Column (Al-Suff), verse 14">61:14</span>]&nbsp; O you who believe, be <strong>GOD</strong>'s supporters, like the disciples of Jesus, son of Mary. When he said to them, "Who are my supporters towards <strong>GOD</strong>,"
                            they said, "We are <strong>GOD</strong>'s supporters." Thus, a group from the Children of Israel believed, and another group disbelieved. We helped those who believed against their enemy, until they won.</p>


                    </div>



                    <div>&nbsp;</div>



                </div>
            </section>
            <div class="sura-stats">
                <div class="cumulative-freq">
                    مجموع تکرار کلمه <strong>خدا</strong> (الله) تا آخر این سوره<br/>
                    <div>= ۲۵۵۶</div>
                </div>
                <div class="cumulative-sum">
                    مجموع شماره آياتی که تا اینجا دارای کلمه <strong>خدا</strong> (الله) هستند
                    <div>= ۱۱۷۰۸۸</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>
<!-- // DEFINITIONS

base.html contains all the functionality specific code. There is layout code in this document. All other templates inherit from this document.

-->